:root {
  --icon-fg-color: #ffffff;
  --icon-bg-color: #000000;
  --icon-border: 1;
  --icon-padding: 20;
  --icon-radius: 60;
  --icon-border-style: dashed;
}

body {
  font-size: 14px;
  line-height: normal;
  display: flex;
  flex-direction: column;
  margin: 0;
  row-gap: 0.6em;
  column-gap: 0;
  padding: 0;
  background-color: #222222;
  color: #ffffff;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  row-gap: 1em;
  column-gap: 0;
}

.container {
  position: relative;
  --color-tab-active: #ee7;
  font-size: 48px;
}

svg {
  fill: var(--color-tab-active);
  stroke: hsl(from var(--color-tab-active) calc(h + 180) s l / 100);
  stroke-width: 30px;
}

fieldset {
  display: grid;
  grid-template: subgrid/subgrid;
  grid-column: 1/-1;
  grid-row: 1/-1;
  padding: 0;
}
h2 {
  position: fixed;
  inset: 0 auto auto 0.5ch;
  z-index: 1;
  margin: 0.5em;
  pointer-events: none;
  z-index: 0;
  position: static;
  grid-row: top;
  grid-column: left/right;
  inset: unset;
  padding: 0 0 0 1ch;
  place-self: center start;
  transition: opacity 180ms ease 0s;
  opacity: 1;
  margin: 0;
}
