:root {
  --icon-fg-color: #ffffff;
  --icon-bg-color: #000000;
  --icon-border: 1;
  --icon-padding: 20;
  --icon-radius: 60;
  --icon-border-style: dashed;
}

body {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  flex-direction: column;
  margin: 0.6em;
  gap: 0.6em;
  padding: 0;
  background-color: #222222;
  color: #ffffff;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 1em;
}

.container {
  position: relative;
  --color-tab-active: #ee7;
  font-size: 48px;
}

svg {
  fill: var(--color-tab-active);
}

.testbase {
  width: 200px;
  height: 200px;
  background: white;
  color: black;
}

.curve.topleft.stest {
  border-radius: var(--tl) var(--tr) var(--br) var(--bl) / var(--tl2) var(--tr2)
    var(--br2) var(--bl2);
  --tl: 100%;
  --tr: 100%;
  --br: 100%;
  --bl: 100%;
  --tl2: 0%;
  --tr2: 0%;
  --br2: 0%;
  --bl2: 0%;
}
.stest {
  /* border radius rotations */
  border-radius: var(--bdr-r0);
  --bdr-r0: var(--a) var(--b) var(--c) var(--d) / var(--A) var(--B) var(--C)
    var(--D);
  border-radius: var(--bdr-r1);
  --bdr-r1: var(--d) var(--a) var(--b) var(--c) / var(--D) var(--A) var(--B)
    var(--C);
  border-radius: var(--bdr-r2);
  --bdr-r2: var(--c) var(--d) var(--a) var(--b) / var(--C) var(--D) var(--A)
    var(--B);
  border-radius: var(--bdr-r3);
  --bdr-r3: var(--b) var(--c) var(--d) var(--a) / var(--B) var(--C) var(--D)
    var(--A);
  /* raw border radius components */
  --a: 20%;
  --b: 20%;
  --c: 20%;
  --d: 20%;
  --A: 100%;
  --B: 100%;
  --C: 100%;
  --D: 100%;

  /* pairs identical */
  --a: var(--aA);
  --b: var(--bB);
  --c: var(--cC);
  --d: var(--dD);
  --A: var(--aA);
  --B: var(--bB);
  --C: var(--cC);
  --D: var(--dD);
  --aA: 100%;
  --bB: 50%;
  --cC: 20%;
  --dD: 0%;

  /* all first the same */
  --a: var(--abcd);
  --b: var(--abcd);
  --c: var(--abcd);
  --d: var(--abcd);
  --A: var(--AA);
  --B: var(--BB);
  --C: var(--CC);
  --D: var(--DD);
  --AA: 100%;
  --BB: 50%;
  --CC: 20%;
  --DD: 0%;
  --abcd: 30%;

  /* all second the same */
  --a: var(--aa);
  --b: var(--bb);
  --c: var(--cc);
  --d: var(--dd);
  --A: var(--ABCD);
  --B: var(--ABCD);
  --C: var(--ABCD);
  --D: var(--ABCD);
  --aa: 100%;
  --bb: 50%;
  --cc: 20%;
  --dd: 0%;
  --ABCD: 30%;

  /* circular pairings */
  --A: var(--Ab);
  --b: var(--Ab);
  --B: var(--Bc);
  --c: var(--Bc);
  --C: var(--Cd);
  --d: var(--Cd);
  --D: var(--Da);
  --a: var(--Da);
  --Ab: 100%;
  --Bc: 10%;
  --Cd: 100%;
  --Da: 10%;

  color: #ffffff;
  background-color: white;
  width: 200px;
  height: 200px;
  border: 4px solid orchid;
  position: relative;
  box-sizing: border-box;
  width: 80vw;
  height: 80vh;
  display: grid;
  background-color: #8870de;
  grid-template-rows: 1fr 1fr 3fr 3fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 3fr 3fr 1fr 1fr;
  grid-template-areas:
    '. . a a a . '
    'D b b b C . '
    'D A p p C B'
    'D A p p C B'
    '. A d d d B '
    '. c c c . . ';
  /* grid-template-areas: */
  /*   ". . a a . . " */
  /*   ". . b b . . " */
  /*   "A D p p B C" */
  /*   "A D p p B C" */
  /*   ". . c c . . " */
  /*   ". . d d . . "; */
}
.stest * {
  box-sizing: border-box;
}
.stest .preview {
  --bdw: 4px;
  --u: 1%;
  --a: calc(var(--bdata-bd1_a) * var(--u));
  --b: calc(var(--bdata-bd1_b) * var(--u));
  --c: calc(var(--bdata-bd1_c) * var(--u));
  --d: calc(var(--bdata-bd1_d) * var(--u));
  --A: calc(var(--bdata-bd1_A) * var(--u));
  --B: calc(var(--bdata-bd1_B) * var(--u));
  --C: calc(var(--bdata-bd1_C) * var(--u));
  --D: calc(var(--bdata-bd1_D) * var(--u));
  grid-area: p;
  border: 1px dashed lightblue;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.stest .preview .line {
  --style-top: solid;
  --style-right: solid;
  --style-bottom: solid;
  --style-left: solid;
  --color-top: red;
  --color-right: green;
  --color-bottom: blue;
  --color-left: purple;
  position: relative;
  display: block;
  content: '';
  width: 160px;
  height: 160px;
  border: 2px solid orange;
  border-width: var(--bdw);
  border-style: var(--style-top) var(--style-right) var(--style-bottom)
    var(--style-left);
  border-color: var(--color-top) var(--color-right) var(--color-bottom)
    var(--color-left);

  border-radius: var(--a) var(--b) var(--c) var(--d) / var(--A) var(--B)
    var(--C) var(--D);
}
.stest .preview .point {
  position: absolute;
  display: block;
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  --top: calc((var(--bdw－) * 0.5) + var(--radius) * -1);
  --bottom: calc((var(--bdw－) * 0.5) + var(--radius) * -1);
  --left: calc((var(--bdw－) * 0.5) + var(--radius) * -1);
  --right: calc((var(--bdw－) * 0.5) + var(--radius) * -1);
  --radius: calc(var(--bdw) * 2);
  box-sizing: content-box;
  border: none !important;
  box-shadow:
    inset calc(var(--radius) * -0.5) calc(var(--radius) * -0.5) 0
      calc(var(--radius) * -0.25) #0006,
    inset calc(var(--radius) * 0.5) calc(var(--radius) * 0.5) 0
      calc(var(--radius) * -0.25) #fff8,
    calc(var(--radius) * 0) calc(var(--radius) * 0) 0 calc(var(--radius) * 0.25)
      #0008,
    var(--tracks,) 0 0 0 0 #0000;
  --track-right:
    calc(var(--radius) * 1.5) 0 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    calc(var(--radius) * 1.5) 0 0 calc(var(--radius) * -0.25) #0008;
  --track-left:
    calc(var(--radius) * -1.5) 0 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    calc(var(--radius) * -1.5) 0 0 calc(var(--radius) * -0.25) #0008;
  --track-top:
    0 calc(var(--radius) * -1.5) 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    0 calc(var(--radius) * -1.5) 0 calc(var(--radius) * -0.25) #0008;
  --track-bottom:
    0 calc(var(--radius) * 1.5) 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    0 calc(var(--radius) * 1.5) 0 calc(var(--radius) * -0.25) #0008;
  background-color: var(--color, #444c);
}

.stest .preview .bd1_a {
  content: 'a';
  --color: red;
  top: var(--top);
  left: calc(var(--a) - var(--radius));
  --tracks: var(--track-left) var(--track-right);
}
.stest .preview .bd1_b {
  content: 'b';
  --color: red;
  top: var(--top);
  right: calc(var(--b) - var(--radius));
  --tracks: var(--track-left) var(--track-right);
}
.stest .preview .bd1_B {
  content: 'B';
  --color: green;
  top: calc(var(--B) - var(--radius));
  right: var(--right);
  --tracks: var(--track-top) var(--track-bottom);
}
.stest .preview .bd1_C {
  content: 'C';
  --color: green;
  bottom: calc(var(--C) - var(--radius));
  right: var(--right);
  --tracks: var(--track-top) var(--track-bottom);
}
.stest .preview .bd1_c {
  content: 'c';
  --color: blue;
  bottom: var(--bottom);
  right: calc(var(--c) - var(--radius));
  --tracks: var(--track-left) var(--track-right);
}
.stest .preview .bd1_d {
  content: 'd';
  --color: blue;
  bottom: var(--bottom);
  left: calc(var(--d) - var(--radius));
  --tracks: var(--track-left) var(--track-right);
}
.stest .preview .bd1_D {
  content: 'D';
  --color: purple;
  bottom: calc(var(--D) - var(--radius));
  left: var(--left);
  --tracks: var(--track-top) var(--track-bottom);
}
.stest .preview .bd1_A {
  content: 'A';
  --color: purple;
  top: calc(var(--A) - var(--radius));
  left: var(--left);
  --tracks: var(--track-top) var(--track-bottom);
}

.stest .preview .coord {
  position: absolute;
  left: var(--bd1_d);
}
.stest .slider-wrapper[data-sink='bd1_a'] {
  grid-area: a;
  --slider-text: var(--bdata-str-bd1_a);
  --slider-value: var(--bdata-bd1_a);
}
.stest .slider-wrapper[data-sink='bd1_b'] {
  grid-area: b;
  --slider-text: var(--bdata-str-bd1_b);
  --slider-value: var(--bdata-bd1_b);
}
.stest .slider-wrapper[data-sink='bd1_c'] {
  grid-area: c;
  --slider-text: var(--bdata-str-bd1_c);
  --slider-value: var(--bdata-bd1_c);
}
.stest .slider-wrapper[data-sink='bd1_d'] {
  grid-area: d;
  --slider-text: var(--bdata-str-bd1_d);
  --slider-value: var(--bdata-bd1_d);
}
.stest .slider-wrapper[data-sink='bd1_A'] {
  grid-area: A;
  --slider-text: var(--bdata-str-bd1_A);
  --slider-value: var(--bdata-bd1_A);
}
.stest .slider-wrapper[data-sink='bd1_B'] {
  grid-area: B;
  --slider-text: var(--bdata-str-bd1_B);
  --slider-value: var(--bdata-bd1_B);
}
.stest .slider-wrapper[data-sink='bd1_C'] {
  grid-area: C;
  --slider-text: var(--bdata-str-bd1_C);
  --slider-value: var(--bdata-bd1_C);
}
.stest .slider-wrapper[data-sink='bd1_D'] {
  grid-area: D;
  --slider-text: var(--bdata-str-bd1_D);
  --slider-value: var(--bdata-bd1_D);
}
.slider-wrapper {
  --thumb-size: 2em;
  --thumb-ratio: 2;
}
.slider-wrapper:has(> input[type='range'].vertical) {
  container-type: size;
  contain: size;
}
.slider-wrapper > input[type='range'].vertical {
  transform: translateX(-50cqh) rotate(90deg) translateY(-50cqw);
  height: 100cqw;
  width: 100cqh;
  max-height: 100cqw;
  min-height: 100cqw;
  max-width: 100cqh;
  min-width: 100cqh;
}
.slider-wrapper > input[type='range'].vertical {
  transform: translateX(-50cqh) rotate(-90deg) translateY(50cqw);
}
.preview::after {
  border: none;
  background-color: #ccc;
  width: 100%;
  text-align: center;
  font-family: Menlo, monospace;
  font-size: small;
  letter-spacing: 0.02em;
  word-spacing: -0.2em;
  position: absolute;
  bottom: 0;
  content: var(--bdata-str-bd1_a) '% ' var(--bdata-str-bd1_b) '% '
    var(--bdata-str-bd1_c) '% ' var(--bdata-str-bd1_d) '% / '
    var(--bdata-str-bd1_A) '% ' var(--bdata-str-bd1_B) '% '
    var(--bdata-str-bd1_C) '% ' var(--bdata-str-bd1_D) '%';
}

.oval {
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 2px dashed white;
}
.oval::after {
  content: '';
  display: block;
  position: absolute;
  border-width: var(--ibdw＋);
  border-style: solid solid dotted dotted;
  width: calc(50% - var(--ibdw＋) * 0.5);
  height: calc(50% - var(--ibdw＋) * 0.5);
  outline: var(--ibdw＋) solid #fff8;
  outline-offset: var(--ibdw－);
  width: 50%;
  height: 50%;
  width: 100%;
  height: 100%;
}
.bd1_aA {
  border-color: red red purple purple;
  height: calc(var(--bdw) + var(--bdata-bd1_A) * 2%);
  width: calc(var(--bdw) + var(--bdata-bd1_a) * 2%);
  top: calc(var(--bdw) * -1);
  left: calc(var(--bdw) * -1);
}
.bd1_aA::after {
  border-color: transparent red purple transparent;
  top: 0;
  left: 0;
}
.bd1_bB {
  border-color: red green green red;
  height: calc(var(--bdw) + var(--bdata-bd1_B) * 2%);
  width: calc(var(--bdw) + var(--bdata-bd1_b) * 2%);
  top: calc(var(--bdw) * -1);
  right: calc(var(--bdw) * -1);
}
.bd1_bB::after {
  border-color: transparent transparent green red;
  top: 0;
  right: 0;
}
.bd1_cC {
  border-color: green blue blue green;
  height: calc(var(--bdw) + var(--bdata-bd1_C) * 2%);
  width: calc(var(--bdw) + var(--bdata-bd1_c) * 2%);
  bottom: calc(var(--bdw) * -1);
  right: calc(var(--bdw) * -1);
}
.bd1_cC::after {
  border-color: green transparent transparent red;
  bottom: 0;
  right: 0;
}
.bd1_dD {
  border-color: purple blue blue purple;
  height: calc(var(--bdw) + var(--bdata-bd1_D) * 2%);
  width: calc(var(--bdw) + var(--bdata-bd1_d) * 2%);
  bottom: calc(var(--bdw) * -1);
  left: calc(var(--bdw) * -1);
}
.bd1_dD::after {
  border-color: purple blue transparent transparent;
  bottom: 0;
  left: 0;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

input[type='range'][orient='vertical'] {
  writing-mode: bt-lr;
  appearance: slider-vertical;
}
input[type='range'] {
  --track-size: 1em;
  --track-foreground: #ffffff;
  --track-background: #da0000;
  --track-border-style: solid;
  --track-border-width: 0.16em;
  --track-border-color: #5a0000;

  --thumb-size: 2em;
  --thumb-ratio: 2;
  --thumb-foreground: #ffffff;
  --thumb-background: #d6b2b2;
  --thumb-border-style: solid;
  --thumb-border-width: 0.16em;
  --thumb-border-color: #5a0000;

  --tl: 0%;
  --tr: 100%;
  --br: 100%;
  --bl: 100%;
  --tl2: 1%;
  --tr2: 1%;
  --br2: 100%;
  --bl2: 1%;
  appearance: none;
  box-sizing: border-box;
  background: transparent;
  cursor: pointer;
  margin: 0;
}
input[type='range'].reversed {
  transform-origin: center center;
  transform: rotate(180deg);
}
input[type='range'].reversed {
  direction: rtl;
}
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  height: var(--track-size);
  width: 100%;
  color: var(--track-foreground);
  background: var(--track-background);
  border-style: var(--track-border-style);
  border-width: var(--track-border-width);
  border-color: var(--track-border-color);
  border-radius: var(--bdr-r1);
  --bdr-r1: var(--d) var(--a) var(--b) var(--c) / var(--D) var(--A) var(--B)
    var(--C);
}
input[type='range'][orient='vertical']::-webkit-slider-runnable-track,
input[type='range'][orient='vertical']::-moz-range-track {
  width: var(--track-size);
  height: 100%;
  border-radius: var(--bdr-r0);
  --bdr-r0: var(--a) var(--b) var(--c) var(--d) / var(--A) var(--B) var(--C)
    var(--D);
}

input[type='range']::-webkit-slider-thumb {
  margin-top: calc((var(--track-size) / 2) - (var(--thumb-size) / 2));
}
input[type='range']::-webkit-slider-thumb,
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  height: var(--thumb-size);
  width: calc(var(--thumb-size) * var(--thumb-ratio, 1));
  color: var(--thumb-foreground);
  background: var(--thumb-background);
  border-style: var(--thumb-border-style);
  border-width: var(--thumb-border-width);
  border-color: var(--thumb-border-color);
  border-radius: var(--bdr-r1);
  --bdr-r1: var(--d) var(--a) var(--b) var(--c) / var(--D) var(--A) var(--B)
    var(--C);
}

input[type='range'][orient='vertical']::-webkit-slider-thumb,
input[type='range'][orient='vertical']::-moz-range-thumb {
  width: var(--thumb-size);
  height: calc(var(--thumb-size) * var(--thumb-ratio, 1));
  border-radius: var(--bdr-r0);
  --bdr-r0: var(--a) var(--b) var(--c) var(--d) / var(--A) var(--B) var(--C)
    var(--D);
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-thumb,
input[type='range']:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

.slider-wrapper::after {
  --val-readout-size: 20px;
  --v: var(--slider-value, 0);
  pointer-events: none;
  content: var(--slider-text, '0');
  background-color: blue;
  width: var(--val-readout-size);
  height: var(--val-readout-size);
  position: absolute;
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 2px;
  box-sizing: border-box;
  font-size: 0.8em;
  left: calc(
    ((var(--v) / 100) * (100% - (var(--thumb-size) * var(--thumb-ratio))))
  );
}
.slider-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.slider-wrapper input[type='range'] {
  width: 100%;
  height: auto;
}
.slider-wrapper input[type='range'][orient='vertical'] {
  width: auto;
  height: 100%;
}

.slider-wrapper input[type='range'] {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr;
}

.slider-wrapper {
  position: sticky;
}

.stest .preview .bd1_a {
  border: 0.5px solid red;
  outline: 0.5px solid red;
  outline-offset: 0.5px;
}

.stest .preview {
  --a: calc(max(0, var(--bdata-bd1_a, 20)) * var(--u));
  --b: calc(max(0, var(--bdata-bd1_b, 20)) * var(--u));
  --c: calc(max(0, var(--bdata-bd1_c, 20)) * var(--u));
  --d: calc(max(0, var(--bdata-bd1_d, 20)) * var(--u));
  --A: calc(max(0, var(--bdata-bd1_A, 20)) * var(--u));
  --B: calc(max(0, var(--bdata-bd1_B, 20)) * var(--u));
  --C: calc(max(0, var(--bdata-bd1_C, 20)) * var(--u));
  --D: calc(max(0, var(--bdata-bd1_D, 20)) * var(--u));
  background-image:
    repeating-linear-gradient(-135deg, blue -1px 1px, #0000 -100% 25%),
    repeating-linear-gradient(135deg, green -1px 1px, #0000 -100% 25%),
    repeating-linear-gradient(45deg, red -1px 1px, #0000 -100% 25%),
    repeating-linear-gradient(-45deg, purple -1px 1px, #0000 -100% 25%);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: center;
}

.stest .preview {
  --bdata-bd1_a: 31;
  --bdata-bd1_b: 26;
  --bdata-bd1_c: 100;
  --bdata-bd1_d: 48;
  --bdata-bd1_A: 14;
  --bdata-bd1_B: 50;
  --bdata-bd1_C: 50;
  --bdata-bd1_D: 50;
}

.bd1_cC::after {
  border-color: green transparent transparent #00f;
}

.oval {
  box-shadow:
    inset 0 0 0 calc(var(--ibdw＋) * 0.5) #191919,
    0 0 0 calc(var(--ibdw＋) * 0.5) #191919;
  border-style: dashed;
  border-width: var(--ibdw＋);
  --ibdw＋: calc(var(--bdw) / 3);
  --ibdw－: calc(var(--ibdw＋) * -1);
}

.stest .preview .point {
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  --top: calc((var(--bdw－) * 0.5) + var(--radius) * -1);
  --bottom: calc((var(--bdw－) * 0.5) + var(--radius) * -1);
  --left: calc((var(--bdw－) * 0.5) + var(--radius) * -1);
  --right: calc((var(--bdw－) * 0.5) + var(--radius) * -1);
  --radius: 2.5px;
  box-sizing: border-box;
  box-shadow:
    inset 0 0 0 calc(var(--radius) * 0.25) #000,
    0 0 0 calc(var(--radius) * 0.25) #000;
  border: calc(var(--radius) * 0.25) solid #fff !important;
}

.stest .preview .line {
  box-sizing: content-box;
  box-shadow:
    inset 0 0 0 calc(var(--bdw) * 0.5) #191919,
    0 0 0 calc(var(--bdw) * 0.5) #191919;
}

.stest .preview .bd1_b {
  right: calc(var(--b) + calc(var(--radius) * -1.25));
}

.bd1_bB {
  height: calc(var(--ibdw＋) + var(--bdata-bd1_B) * 2%);
  width: calc(var(--ibdw＋) + var(--bdata-bd1_b) * 2%);
  top: var(--ibdw－);
  right: var(--ibdw－);
}

.bd1_aA {
  height: calc(var(--ibdw＋) + var(--bdata-bd1_A) * 2%);
  width: calc(var(--ibdw＋) + var(--bdata-bd1_a) * 2%);
  top: var(--ibdw－);
  left: var(--ibdw－);
}

.bd1_cC,
.bd1_dD {
  bottom: var(--ibdw－);
}

.bd1_dD {
  height: calc(var(--ibdw＋) + var(--bdata-bd1_D) * 2%);
  width: calc(var(--ibdw＋) + var(--bdata-bd1_d) * 2%);
  left: var(--ibdw－);
}

.bd1_cC {
  border-color: green green #00f #00f;
  box-shadow:
    inset 0 0 0 calc(var(--bdw) * 0.1) #191919,
    0 0 0 calc(var(--bdw) * 0.1) #191919;
  border-style: dashed;
  border-width: calc(var(--bdw) / 3);
  bottom: calc(calc(var(--bdw) / 3) * -1);
  right: calc(calc(var(--bdw) / 3) * -1);
  height: calc(var(--ibdw＋) + var(--bdata-bd1_C) * 2%);
  width: calc(var(--ibdw＋) + var(--bdata-bd1_c) * 2%);
  right: var(--ibdw－);
}
