:root {
  --icon-fg-color: #ffffff;
  --icon-bg-color: #000000;
  --icon-border: 1;
  --icon-padding: 20;
  --icon-radius: 60;
  --icon-border-style: dashed;
}

body {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  flex-direction: column;
  margin: 0.6em;
  gap: 0.6em;
  padding: 0;
  background-color: #222222;
  color: #ffffff;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 1em;
}

.container {
  position: relative;
  --color-tab-active: #ee7;
  font-size: 48px;
}

svg {
  fill: var(--color-tab-active);
}

.testbase {
  width: 200px;
  height: 200px;
  background: white;
  color: black;
}

.curve.topleft.stest {
  border-radius: var(--tl) var(--tr) var(--br) var(--bl) / var(--tl2) var(--tr2)
    var(--br2) var(--bl2);
  --tl: 100%;
  --tr: 100%;
  --br: 100%;
  --bl: 100%;
  --tl2: 0%;
  --tr2: 0%;
  --br2: 0%;
  --bl2: 0%;
}
:root:has(#link-none:checked) .stest {
  --ax: 20%;
  --bx: 20%;
  --cx: 20%;
  --dx: 20%;
  --ay: 100%;
  --by: 100%;
  --cy: 100%;
  --dy: 100%;
  --ay: var(--AA);
  --by: var(--BB);
  --cy: var(--CC);
  --dy: var(--DD);
  --AA: 100%;
  --BB: 50%;
  --CC: 20%;
  --DD: 0%;
  --ax: var(--aa);
  --bx: var(--bb);
  --cx: var(--cc);
  --dx: var(--dd);
  --aa: 100%;
  --bb: 50%;
  --cc: 20%;
  --dd: 0%;
}
:root:has(#link-corner-xy:checked) .stest {
  /* corner pairs identical (circular corners) */
  --ax: var(--ax＝ay);
  --ay: var(--ax＝ay);
  --bx: var(--bx＝by);
  --by: var(--bx＝by);
  --cx: var(--cx＝cy);
  --cy: var(--cx＝cy);
  --dx: var(--dx＝dy);
  --dy: var(--dx＝dy);
  --ax＝ay: 100%;
  --bx＝by: 10%;
  --cx＝cy: 100%;
  --dx＝dy: 10%;
}
:root:has(#link-all:checked) .stest {
  /* all 4 corners same x & y (equal circular corners) */
  --ax＝bx＝cx＝dx＝ay＝by＝cy＝dy: 50%;
}
:root:has(#link-all-x:checked) .stest {
  /* all 4 corners same x value */
  --ax: var(--ax＝bx＝cx＝dx);
  --bx: var(--ax＝bx＝cx＝dx);
  --cx: var(--ax＝bx＝cx＝dx);
  --dx: var(--ax＝bx＝cx＝dx);
  --ax＝bx＝cx＝dx: 30%;
}
:root:has(#link-all-y:checked) .stest {
  /* all 4 corners same y value */
  --ay: var(--ay＝by＝cy＝dy);
  --by: var(--ay＝by＝cy＝dy);
  --cy: var(--ay＝by＝cy＝dy);
  --dy: var(--ay＝by＝cy＝dy);
  --ay＝by＝cy＝dy: 30%;
}
:root:has(#link-circle:checked) .stest {
  /* circular pairings */
  --ax: var(--ax＝dy);
  --bx: var(--bx＝ay);
  --cx: var(--cx＝by);
  --dx: var(--dx＝cy);
  --ay: var(--bx＝ay);
  --by: var(--cx＝by);
  --cy: var(--dx＝cy);
  --dy: var(--ax＝dy);
  --ax＝dy: 100%;
  --bx＝ay: 10%;
  --cx＝dx: 100%;
  --dx＝ay: 10%;
}
:root:has(#rotate-0:checked) .stest,
.stest .bdr0 {
  border-radius: var(--bdr-r0);
}
:root:has(#rotate-1:checked) .stest,
.stest .bdr1 {
  border-radius: var(--bdr-r1);
}
:root:has(#rotate-2:checked) .stest,
.stest .bdr2 {
  border-radius: var(--bdr-r2);
}
:root:has(#rotate-3:checked) .stest,
.stest .bdr3 {
  border-radius: var(--bdr-r3);
}
.stest {
  /* border radius rotations */
  --bdr-r0: var(--ax) var(--bx) var(--cx) var(--dx) / var(--ay) var(--by)
    var(--cy) var(--dy);
  --bdr-r1: var(--dx) var(--ax) var(--bx) var(--cx) / var(--dy) var(--ay)
    var(--by) var(--cy);
  --bdr-r2: var(--cx) var(--dx) var(--ax) var(--bx) / var(--cy) var(--dy)
    var(--ay) var(--by);
  --bdr-r3: var(--bx) var(--cx) var(--dx) var(--ax) / var(--by) var(--cy)
    var(--dy) var(--ay);

  color: #ffffff;
  border: 4px solid orchid;
  position: relative;
  box-sizing: border-box;
  width: 80vw;
  height: 80vh;
  display: grid;
  background-color: #8870de;
  grid-template-rows: 1fr 1fr 3fr 3fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 3fr 3fr 1fr 1fr;
  grid-template-areas:
    '.  .  ax ax ax . '
    'dy bx bx bx cy . '
    'dy ay p  p  cy by'
    'dy ay p  p  cy by'
    '.  ay dx dx dx by '
    '.  cx cx cx .  . ';
  /* grid-template-areas: */
  /*   ". . a a . . " */
  /*   ". . b b . . " */
  /*   "A D p p B C" */
  /*   "A D p p B C" */
  /*   ". . c c . . " */
  /*   ". . d d . . "; */
}
.stest * {
  box-sizing: border-box;
}
.stest .preview {
  --bdw: 4px;
  --u: 1%;
  grid-area: p;
  border: 1px dashed lightblue;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  --ax: calc(max(0, var(--bdata-bd1_ax, 20)) * var(--u));
  --bx: calc(max(0, var(--bdata-bd1_bx, 20)) * var(--u));
  --cx: calc(max(0, var(--bdata-bd1_cx, 20)) * var(--u));
  --dx: calc(max(0, var(--bdata-bd1_dx, 20)) * var(--u));
  --ay: calc(max(0, var(--bdata-bd1_ayAy, 20)) * var(--u));
  --by: calc(max(0, var(--bdata-bd1_byBy, 20)) * var(--u));
  --cy: calc(max(0, var(--bdata-bd1_cyCy, 20)) * var(--u));
  --dy: calc(max(0, var(--bdata-bd1_dyDy, 20)) * var(--u));
  background-image:
    repeating-linear-gradient(-135deg, blue -1px 1px, #0000 -100% 25%),
    repeating-linear-gradient(135deg, green -1px 1px, #0000 -100% 25%),
    repeating-linear-gradient(45deg, red -1px 1px, #0000 -100% 25%),
    repeating-linear-gradient(-45deg, purple -1px 1px, #0000 -100% 25%);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: center;
}
.stest .preview .line {
  --style-top: solid;
  --style-right: solid;
  --style-bottom: solid;
  --style-left: solid;
  --color-top: red;
  --color-right: green;
  --color-bottom: blue;
  --color-left: purple;
  position: relative;
  display: block;
  content: '';
  width: 160px;
  height: 160px;
  border: 2px solid orange;
  border-width: var(--bdw);
  border-style: var(--style-top) var(--style-right) var(--style-bottom)
    var(--style-left);
  border-color: var(--color-top) var(--color-right) var(--color-bottom)
    var(--color-left);

  border-radius: var(--ax) var(--bx) var(--cx) var(--dx) / var(--ay) var(--by)
    var(--cy) var(--dy);
}
.stest .preview .point {
  position: absolute;
  display: block;
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  --top: calc((var(--bdw－) * 0.5) + var(--radius) * -1);
  --bottom: calc((var(--bdw－) * 0.5) + var(--radius) * -1);
  --left: calc((var(--bdw－) * 0.5) + var(--radius) * -1);
  --right: calc((var(--bdw－) * 0.5) + var(--radius) * -1);
  --radius: calc(var(--bdw) * 2);
  box-sizing: content-box;
  border: none !important;
  box-shadow:
    inset calc(var(--radius) * -0.5) calc(var(--radius) * -0.5) 0
      calc(var(--radius) * -0.25) #0006,
    inset calc(var(--radius) * 0.5) calc(var(--radius) * 0.5) 0
      calc(var(--radius) * -0.25) #fff8,
    calc(var(--radius) * 0) calc(var(--radius) * 0) 0 calc(var(--radius) * 0.25)
      #0008,
    var(--tracks,) 0 0 0 0 #0000;
  --track-right:
    calc(var(--radius) * 1.5) 0 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    calc(var(--radius) * 1.5) 0 0 calc(var(--radius) * -0.25) #0008;
  --track-left:
    calc(var(--radius) * -1.5) 0 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    calc(var(--radius) * -1.5) 0 0 calc(var(--radius) * -0.25) #0008;
  --track-top:
    0 calc(var(--radius) * -1.5) 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    0 calc(var(--radius) * -1.5) 0 calc(var(--radius) * -0.25) #0008;
  --track-bottom:
    0 calc(var(--radius) * 1.5) 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    0 calc(var(--radius) * 1.5) 0 calc(var(--radius) * -0.25) #0008;
  background-color: var(--color, #444c);
}

.stest .preview .bd1_ax {
  content: 'ax';
  --color: red;
  top: var(--top);
  left: calc(var(--ax) - var(--radius));
  --tracks: var(--track-left) var(--track-right);
}
.stest .preview .bd1_bx {
  content: 'bx';
  --color: red;
  top: var(--top);
  right: calc(var(--bx) - var(--radius));
  --tracks: var(--track-left) var(--track-right);
}
.stest .preview .bd1_by {
  content: 'by';
  --color: green;
  top: calc(var(--by) - var(--radius));
  right: var(--right);
  --tracks: var(--track-top) var(--track-bottom);
}
.stest .preview .bd1_cy {
  content: 'cy';
  --color: green;
  bottom: calc(var(--cy) - var(--radius));
  right: var(--right);
  --tracks: var(--track-top) var(--track-bottom);
}
.stest .preview .bd1_cx {
  content: 'cx';
  --color: blue;
  bottom: var(--bottom);
  right: calc(var(--cx) - var(--radius));
  --tracks: var(--track-left) var(--track-right);
}
.stest .preview .bd1_dx {
  content: 'dx';
  --color: blue;
  bottom: var(--bottom);
  left: calc(var(--dx) - var(--radius));
  --tracks: var(--track-left) var(--track-right);
}
.stest .preview .bd1_dy {
  content: 'dy';
  --color: purple;
  bottom: calc(var(--dy) - var(--radius));
  left: var(--left);
  --tracks: var(--track-top) var(--track-bottom);
}
.stest .preview .bd1_ay {
  content: 'ay';
  --color: purple;
  top: calc(var(--ay) - var(--radius));
  left: var(--left);
  --tracks: var(--track-top) var(--track-bottom);
}

.stest .preview .coord {
  position: absolute;
  left: var(--bd1_dx);
}
.stest .slider-wrapper[data-sink='bd1_ax'] {
  grid-area: ax;
  --slider-text: var(--bdata-str-bd1_ax);
  --slider-value: var(--bdata-bd1_ax);
}
.stest .slider-wrapper[data-sink='bd1_bx'] {
  grid-area: bx;
  --slider-text: var(--bdata-str-bd1_bx);
  --slider-value: var(--bdata-bd1_bx);
}
.stest .slider-wrapper[data-sink='bd1_cx'] {
  grid-area: cx;
  --slider-text: var(--bdata-str-bd1_cx);
  --slider-value: var(--bdata-bd1_cx);
}
.stest .slider-wrapper[data-sink='bd1_dx'] {
  grid-area: dx;
  --slider-text: var(--bdata-str-bd1_dx);
  --slider-value: var(--bdata-bd1_dx);
}
.stest .slider-wrapper[data-sink='bd1_ay'] {
  grid-area: ay;
  --slider-text: var(--bdata-str-bd1_ay);
  --slider-value: var(--bdata-bd1_ay);
}
.stest .slider-wrapper[data-sink='bd1_by'] {
  grid-area: by;
  --slider-text: var(--bdata-str-bd1_by);
  --slider-value: var(--bdata-bd1_by);
}
.stest .slider-wrapper[data-sink='bd1_cy'] {
  grid-area: cy;
  --slider-text: var(--bdata-str-bd1_cy);
  --slider-value: var(--bdata-bd1_cy);
}
.stest .slider-wrapper[data-sink='bd1_dy'] {
  grid-area: dy;
  --slider-text: var(--bdata-str-bd1_dy);
  --slider-value: var(--bdata-bd1_dy);
}
.slider-wrapper {
  --thumb-size: 2em;
  --thumb-ratio: 2;
}
.slider-wrapper:has(> input[type='range'].vertical) {
  container-type: size;
  contain: size;
}
.slider-wrapper > input[type='range'].vertical {
  transform: translateX(-50cqh) rotate(90deg) translateY(-50cqw);
  height: 100cqw;
  width: 100cqh;
  max-height: 100cqw;
  min-height: 100cqw;
  max-width: 100cqh;
  min-width: 100cqh;
}
.slider-wrapper > input[type='range'].vertical {
  transform: translateX(-50cqh) rotate(-90deg) translateY(50cqw);
}
.preview::after {
  border: none;
  background-color: #ccc;
  width: 100%;
  text-align: center;
  font-family: Menlo, monospace;
  font-size: small;
  letter-spacing: 0.02em;
  word-spacing: -0.2em;
  position: absolute;
  bottom: 0;
  content: var(--bdata-str-bd1_ax) '% ' var(--bdata-str-bd1_bx) '% '
    var(--bdata-str-bd1_cx) '% ' var(--bdata-str-bd1_dx) '% / '
    var(--bdata-str-bd1_ay) '% ' var(--bdata-str-bd1_by) '% '
    var(--bdata-str-bd1_cy) '% ' var(--bdata-str-bd1_dy) '%';
}

.oval {
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 2px dashed white;
  box-shadow:
    inset 0 0 0 calc(var(--ibdw＋) * 0.5) #191919,
    0 0 0 calc(var(--ibdw＋) * 0.5) #191919;
  border-style: dashed;
  border-width: var(--ibdw＋);
  --ibdw＋: calc(var(--bdw) / 3);
  --ibdw－: calc(var(--ibdw＋) * -1);
}
.oval > .radii {
  content: '';
  display: block;
  position: absolute;
  border-width: var(--ibdw＋);
  border-style: solid solid dotted dotted;
  /* width: calc(50% - var(--ibdw＋) * 0.5); */
  /* height: calc(50% - var(--ibdw＋) * 0.5); */
  outline: var(--ibdw＋) solid #fff8;
  outline-offset: var(--ibdw－);
  width: 50%;
  height: 50%;
}
.bd1_axy {
  border-color: red red purple purple;
  height: calc(var(--ibdw＋) + var(--bdata-bd1_ayAy) * 2%);
  width: calc(var(--ibdw＋) + var(--bdata-bd1_ax) * 2%);
  top: var(--ibdw－);
  left: var(--ibdw－);
}
.bd1_axy > .radii {
  border-color: transparent red purple transparent;
  top: 0;
  left: 0;
}
.bd1_bxy {
  border-color: red green green red;
  height: calc(var(--ibdw＋) + var(--bdata-bd1_byBy) * 2%);
  width: calc(var(--ibdw＋) + var(--bdata-bd1_bx) * 2%);
  top: var(--ibdw－);
  right: var(--ibdw－);
}
.bd1_bxy > .radii {
  border-color: transparent transparent green red;
  top: 0;
  right: 0;
}
.bd1_cxy {
  border-color: green green blue blue;
  height: calc(var(--ibdw＋) + var(--bdata-bd1_cyCy) * 2%);
  width: calc(var(--ibdw＋) + var(--bdata-bd1_cx) * 2%);
  right: var(--ibdw－);
  bottom: var(--ibdw－);
}
.bd1_cxy > .radii {
  bottom: 0;
  right: 0;
  border-color: green transparent transparent blue;
}
.bd1_dxy {
  border-color: purple blue blue purple;
  height: calc(var(--ibdw＋) + var(--bdata-bd1_dyDy) * 2%);
  width: calc(var(--ibdw＋) + var(--bdata-bd1_dx) * 2%);
  left: var(--ibdw－);
  bottom: var(--ibdw－);
}
.bd1_dxy::after {
  border-color: purple blue transparent transparent;
  bottom: 0;
  left: 0;
}

input[type='range'][orient='vertical'] {
  writing-mode: bt-lr;
  appearance: slider-vertical;
}
input[type='range'] {
  --track-size: 1em;
  --track-foreground: #ffffff;
  --track-background: #da0000;
  --track-border-style: solid;
  --track-border-width: 0.16em;
  --track-border-color: #5a0000;

  --thumb-size: 2em;
  --thumb-ratio: 2;
  --thumb-foreground: #ffffff;
  --thumb-background: #d6b2b2;
  --thumb-border-style: solid;
  --thumb-border-width: 0.16em;
  --thumb-border-color: #5a0000;

  --tl: 0%;
  --tr: 100%;
  --br: 100%;
  --bl: 100%;
  --tl2: 1%;
  --tr2: 1%;
  --br2: 100%;
  --bl2: 1%;
  appearance: none;
  box-sizing: border-box;
  background: transparent;
  cursor: pointer;
  margin: 0;
}
input[type='range'].reversed {
  transform-origin: center center;
  transform: rotate(180deg);
}
input[type='range'].reversed {
  direction: rtl;
}
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  height: var(--track-size);
  width: 100%;
  color: var(--track-foreground);
  background: var(--track-background);
  border-style: var(--track-border-style);
  border-width: var(--track-border-width);
  border-color: var(--track-border-color);
  border-radius: var(--bdr-r1);
  --bdr-r1: var(--dx) var(--ax) var(--bx) var(--cx) / var(--dy) var(--ay)
    var(--by) var(--cy);
}
input[type='range'][orient='vertical']::-webkit-slider-runnable-track,
input[type='range'][orient='vertical']::-moz-range-track {
  width: var(--track-size);
  height: 100%;
  border-radius: var(--bdr-r0);
  --bdr-r0: var(--ax) var(--bx) var(--cx) var(--dx) / var(--ay) var(--by)
    var(--cy) var(--dy);
}

input[type='range']::-webkit-slider-thumb {
  margin-top: calc((var(--track-size) / 2) - (var(--thumb-size) / 2));
}
input[type='range']::-webkit-slider-thumb,
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  height: var(--thumb-size);
  width: calc(var(--thumb-size) * var(--thumb-ratio, 1));
  color: var(--thumb-foreground);
  background: var(--thumb-background);
  border-style: var(--thumb-border-style);
  border-width: var(--thumb-border-width);
  border-color: var(--thumb-border-color);
  border-radius: var(--bdr-r1);
  --bdr-r1: var(--dx) var(--ax) var(--bx) var(--cx) / var(--dy) var(--ay)
    var(--by) var(--cy);
}

input[type='range'][orient='vertical']::-webkit-slider-thumb,
input[type='range'][orient='vertical']::-moz-range-thumb {
  width: var(--thumb-size);
  height: calc(var(--thumb-size) * var(--thumb-ratio, 1));
  border-radius: var(--bdr-r0);
  --bdr-r0: var(--ax) var(--bx) var(--cx) var(--dx) / var(--ay) var(--by)
    var(--cy) var(--dy);
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-thumb,
input[type='range']:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

.slider-wrapper::after {
  --val-readout-size: 20px;
  --v: var(--slider-value, 0);
  pointer-events: none;
  content: var(--slider-text, '0');
  background-color: blue;
  width: var(--val-readout-size);
  height: var(--val-readout-size);
  position: absolute;
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 2px;
  box-sizing: border-box;
  font-size: 0.8em;
  left: calc(
    ((var(--v) / 100) * (100% - (var(--thumb-size) * var(--thumb-ratio))))
  );
}
.slider-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.slider-wrapper input[type='range'] {
  width: 100%;
  height: auto;
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr;
}

.stest .preview {
  --bdata-bd1_ax: 31;
  --bdata-bd1_bx: 26;
  --bdata-bd1_cx: 100;
  --bdata-bd1_dx: 48;
  --bdata-bd1_ayAy: 14;
  --bdata-bd1_byBy: 50;
  --bdata-bd1_cyCy: 50;
  --bdata-bd1_dyDy: 50;
}
