:root {
  --icon-fg-color: #ffffff;
  --icon-bg-color: #000000;
  --icon-border: 1;
  --icon-padding: 20;
  --icon-radius: 60;
  --icon-border-style: dashed;
}

body {
  font-size: 14px;
  line-height: normal;
  display: flex;
  flex-direction: column;
  margin: 0;
  row-gap: 0.6em;
  column-gap: 0;
  padding: 0;
  background-color: #222222;
  color: #ffffff;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  row-gap: 1em;
  column-gap: 0;
}

h2 {
  position: fixed;
  inset: 0 auto auto 0.5ch;
  z-index: 1;
  margin: 0.5em;
}

.container {
  position: relative;
  --color-tab-active: #ee7;
  font-size: 48px;
}

svg {
  fill: var(--color-tab-active);
}

fieldset {
  display: contents;
}

.outline {
  --style-top: solid;
  --style-right: solid;
  --style-bottom: solid;
  --style-left: solid;
  --color-top: red;
  --color-right: green;
  --color-bottom: blue;
  --color-left: purple;
  display: block;
  content: '';
  width: 100%;
  height: auto;
  overflow: visible;
  border: 2px solid orange;
  border-width: var(--bdw);
  border-style: var(--style-top) var(--style-right) var(--style-bottom)
    var(--style-left);
  border-color: var(--color-top) var(--color-right) var(--color-bottom)
    var(--color-left);

  border-radius: var(--ax) var(--bx) var(--cx) var(--dx) / var(--ay) var(--by)
    var(--cy) var(--dy);
  position: fixed;
  position-anchor: --anchor-container-preview;
  inset: anchor(top) anchor(right) anchor(bottom) anchor(left);
  anchor-name: --anchor-preview-line;
}
.point {
  position: absolute;
  display: block;
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  --radius: calc(var(--bdw) * 2);
  box-sizing: content-box;
  border: none !important;
  box-shadow:
    inset calc(var(--radius) * -0.5) calc(var(--radius) * -0.5) 0
      calc(var(--radius) * -0.25) #0006,
    inset calc(var(--radius) * 0.5) calc(var(--radius) * 0.5) 0
      calc(var(--radius) * -0.25) #fff8,
    calc(var(--radius) * 0) calc(var(--radius) * 0) 0 calc(var(--radius) * 0.25)
      #0008,
    var(--tracks, 0 0 0 0 #0000);
  --track-right:
    calc(var(--radius) * 1.5) 0 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    calc(var(--radius) * 1.5) 0 0 calc(var(--radius) * -0.25) #0008;
  --track-left:
    calc(var(--radius) * -1.5) 0 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    calc(var(--radius) * -1.5) 0 0 calc(var(--radius) * -0.25) #0008;
  --track-top:
    0 calc(var(--radius) * -1.5) 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    0 calc(var(--radius) * -1.5) 0 calc(var(--radius) * -0.25) #0008;
  --track-bottom:
    0 calc(var(--radius) * 1.5) 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    0 calc(var(--radius) * 1.5) 0 calc(var(--radius) * -0.25) #0008;

  anchor-name: --anchor-thumb;
  anchor-scope: --anchor-thumb;
  --top: calc((var(--ibdw－) * 0.5) + var(--radius) * -1);
  --bottom: calc((var(--ibdw－) * 0.5) + var(--radius) * -1);
  --left: calc((var(--ibdw－) * 0.5) + var(--radius) * -1);
  --right: calc((var(--ibdw－) * 0.5) + var(--radius) * -1);
  background-color: var(--base-color, #444c);
  --color: var(--base-color);
}

.axy {
  --base-color: var(--color-top);
  --color: var(--base-color);
}
.bxy {
  --base-color: var(--color-right);
  --color: var(--base-color);
}
.cxy {
  --base-color: var(--color-bottom);
  --color: var(--base-color);
}
.dxy {
  --base-color: var(--color-left);
  --color: var(--base-color);
}

.ax {
  top: var(--top);
  left: calc(var(--ax) - var(--radius));
  --tracks: var(--track-left), var(--track-right);
}
.bx {
  top: var(--top);
  right: calc(var(--bx) - var(--radius));
  --tracks: var(--track-left), var(--track-right);
}
.by {
  top: calc(var(--by) - var(--radius));
  right: var(--right);
  --tracks: var(--track-top), var(--track-bottom);
}
.cy {
  bottom: calc(var(--cy) - var(--radius));
  right: var(--right);
  --tracks: var(--track-top), var(--track-bottom);
}
.cx {
  bottom: var(--bottom);
  right: calc(var(--cx) - var(--radius));
  --tracks: var(--track-left), var(--track-right);
}
.dx {
  bottom: var(--bottom);
  left: calc(var(--dx) - var(--radius));
  --tracks: var(--track-left), var(--track-right);
}
.dy {
  bottom: calc(var(--dy) - var(--radius));
  left: var(--left);
  --tracks: var(--track-top), var(--track-bottom);
}
.ay {
  top: calc(var(--ay) - var(--radius));
  left: var(--left);
  --tracks: var(--track-top), var(--track-bottom);
}

.coord {
  position: absolute;
  left: var(--dx);
}

.axy > .radii {
  border-color: #0000 var(--color-top) var(--color-right) #0000;
  top: 0;
  left: 0;
}
.bxy > .radii {
  border-color: transparent transparent var(--color-right) var(--color-top);
  top: 0;
  right: 0;
}
.cxy {
  border-color: var(--color-right) var(--color-right) var(--color-bottom)
    var(--color-bottom);
  height: calc(var(--ibdw＋) + var(--bdata-cy) * 2%);
  width: calc(var(--ibdw＋) + var(--bdata-cx) * 2%);
  right: var(--ibdw－);
  bottom: var(--ibdw－);
}
.cxy > .radii {
  bottom: 0;
  right: 0;
  border-color: var(--color-right) #0000 #0000 var(--color-bottom);
}
.dxy {
  border-color: var(--color-left) var(--color-bottom) var(--color-bottom)
    var(--color-left);
  height: calc(var(--ibdw＋) + var(--bdata-dy) * 2%);
  width: calc(var(--ibdw＋) + var(--bdata-dx) * 2%);
  left: var(--ibdw－);
  bottom: var(--ibdw－);
}
.dxy > .radii {
  border-color: var(--color-left) var(--color-bottom) #0000 #0000;
  bottom: 0;
  left: 0;
}

fieldset {
  display: grid;
  grid-template: subgrid/subgrid;
  grid-column: 1/-1;
  grid-row: 1/-1;
  padding: 0;
}
h2 {
  pointer-events: none;
  z-index: 0;
  position: static;
  grid-row: top;
  grid-column: left/right;
  inset: unset;
  padding: 0 0 0 1ch;
  place-self: center start;
  transition: opacity 180ms ease 0s;
  opacity: 1;
  margin: 0;
}
:root:has(:where(#ax, #bx):hover) h2 {
  opacity: 0.1;
  transition: opacity 80ms ease 0s;
}

fieldset {
  display: contents;
  /*   grid-template: subgrid/subgrid; */
  grid-column: 1/-1;
  grid-row: 1/-1;
  padding: 0;
  container-type: size;
}

h2 {
  pointer-events: none;
  z-index: 0;
  position: static;
  grid-row: top;
  grid-column: left/right;
  inset: unset;
  padding: 0 0 0 1ch;
  place-self: center start;
  transition: opacity 180ms ease 0s;
  opacity: 1;
  margin: 0;
}
