body {
  display: grid;
  grid-template-columns: auto 100vmin auto;
  grid-template-rows: auto 100vmin auto;
}
fieldset {
  display: contents;
  grid-column: 1/-1;
  grid-row: 1/-1;
  padding: 0;
  container-type: size;
}
h2 {
  pointer-events: none;
  z-index: 0;
  position: static;
  inset: unset;
  padding: 0 0 0 1ch;
  place-self: center start;
  transition: opacity 180ms ease 0s;
  opacity: 1;
  grid-row: middle;
  align-self: start;
  justify-self: start;
  grid-column: middle;
  margin: 1ch 0 0 3ch;
}

.curve.topleft .preview {
  border-radius: var(--tl) var(--tr) var(--br) var(--bl) / var(--tl2) var(--tr2)
    var(--br2) var(--bl2);
  --tl: 100%;
  --tr: 100%;
  --br: 100%;
  --bl: 100%;
  --tl2: 0%;
  --tr2: 0%;
  --br2: 0%;
  --bl2: 0%;
}
/*! all independent */
:root:has(#link-none:checked) .preview {
  --u: 1%;
  --ax: 20;
  --ay: 100;
  --bx: 20;
  --by: 100;
  --cx: 20;
  --cy: 100;
  --dx: 20;
  --dy: 100;
}
/*! corner pairs identical (circular corners) */
:root:has(#link-corner-xy:checked) .preview {
  --u: 1%;
  --ax＝ay: 100;
  --bx＝by: 10;
  --cx＝cy: 100;
  --dx＝dy: 10;
  --ax: var(--ax＝ay);
  --ay: var(--ax＝ay);
  --bx: var(--bx＝by);
  --by: var(--bx＝by);
  --cx: var(--cx＝cy);
  --cy: var(--cx＝cy);
  --dx: var(--dx＝dy);
  --dy: var(--dx＝dy);
}
/*! all 4 corners same x & y (equal circular corners) */
:root:has(#link-all:checked) .preview {
  --u: 1%;
  --ax＝bx＝cx＝dx＝ay＝by＝cy＝dy: 50;
}
/*! all 4 corners same x value */
:root:has(#link-all-x:checked) .preview {
  --u: 1%;
  --ax＝bx＝cx＝dx: 30%;
  --ax: var(--ax＝bx＝cx＝dx);
  --bx: var(--ax＝bx＝cx＝dx);
  --cx: var(--ax＝bx＝cx＝dx);
  --dx: var(--ax＝bx＝cx＝dx);
}
/*! all 4 corners same y value */
:root:has(#link-all-y:checked) .preview {
  --u: 1%;
  --ay＝by＝cy＝dy: 30;
  --ay: var(--ay＝by＝cy＝dy);
  --by: var(--ay＝by＝cy＝dy);
  --cy: var(--ay＝by＝cy＝dy);
  --dy: var(--ay＝by＝cy＝dy);
}
/*! circular pairings */
:root:has(#link-circle:checked) .preview {
  --u: 1%;
  --ax＝dy: 100;
  --bx＝ay: 10;
  --cx＝dx: 100;
  --dx＝ay: 10;
  --ax: var(--ax＝dy);
  --bx: var(--bx＝ay);
  --cx: var(--cx＝by);
  --dx: var(--dx＝cy);
  --ay: var(--bx＝ay);
  --by: var(--cx＝by);
  --cy: var(--dx＝cy);
  --dy: var(--ax＝dy);
}
:root:has(#rotate-0:checked) .preview {
  border-radius: var(--bdr-r0);
}
:root:has(#rotate-1:checked) .preview {
  border-radius: var(--bdr-r1);
}
:root:has(#rotate-2:checked) .preview {
  border-radius: var(--bdr-r2);
}
:root:has(#rotate-3:checked) .preview {
  border-radius: var(--bdr-r3);
}

:root:has(:where(#ax, #bx):hover) h2 {
  opacity: 0.1;
  transition: opacity 80ms ease 0s;
}

.preview {
  /* border radius rotations */
  --bdr-r0: var(--axl) var(--bxl) var(--cxl) var(--dxl) / var(--ayl) var(--byl)
    var(--cyl) var(--dyl);
  --bdr-r1: var(--dxl) var(--axl) var(--bxl) var(--cxl) / var(--dyl) var(--ayl)
    var(--byl) var(--cyl);
  --bdr-r2: var(--cxl) var(--dxl) var(--axl) var(--bxl) / var(--cyl) var(--dyl)
    var(--ayl) var(--byl);
  --bdr-r3: var(--bxl) var(--cxl) var(--dxl) var(--axl) / var(--byl) var(--cyl)
    var(--dyl) var(--ayl);
  --bdata-ax: 20;
  --bdata-bx: 40;
  --bdata-cx: 20;
  --bdata-dx: 40;
  --bdata-ay: 20;
  --bdata-by: 30;
  --bdata-cy: 20;
  --bdata-dy: 30;

  --bdw: 4px;
  --ibdw＋: calc(var(--bdw) / 3);
  --ibdw－: calc(var(--ibdw＋) * -1);

  color: #ffffff;
  display: grid;

  grid-auto-rows: auto;
  --u: 1%;
  background-color: #0000;
  position: relative;
  contain: size;
  container-type: size;
  aspect-ratio: 1;
  anchor-name: --anchor-container-preview;
  --ax: max(0, var(--bdata-ax-input, var(--bdata-ax, 20)));
  --bx: max(0, var(--bdata-bx-input, var(--bdata-bx, 20)));
  --cx: max(0, var(--bdata-cx-input, var(--bdata-cx, 20)));
  --dx: max(0, var(--bdata-dx-input, var(--bdata-dx, 20)));
  --ay: max(0, var(--bdata-ay-input, var(--bdata-ay, 20)));
  --by: max(0, var(--bdata-by-input, var(--bdata-by, 20)));
  --cy: max(0, var(--bdata-cy-input, var(--bdata-cy, 20)));
  --dy: max(0, var(--bdata-dy-input, var(--bdata-dy, 20)));
  --axl: calc(var(--ax) * var(--u));
  --bxl: calc(var(--bx) * var(--u));
  --cxl: calc(var(--cx) * var(--u));
  --dxl: calc(var(--dx) * var(--u));
  --ayl: calc(var(--ay) * var(--u));
  --byl: calc(var(--by) * var(--u));
  --cyl: calc(var(--cy) * var(--u));
  --dyl: calc(var(--dy) * var(--u));

  --c0: hsl(-45 100 60 / 1);

  --cay: hsl(from var(--c0) calc(h + 45) s l / alpha);
  --cax: hsl(from var(--cay) calc(h + 45) s l / alpha);
  --cbx: hsl(from var(--cax) calc(h + 45) s l / alpha);
  --cby: hsl(from var(--cbx) calc(h + 45) s l / alpha);
  --ccy: hsl(from var(--cby) calc(h + 45) s l / alpha);
  --ccx: hsl(from var(--ccy) calc(h + 45) s l / alpha);
  --cdx: hsl(from var(--ccx) calc(h + 45) s l / alpha);
  --cdy: hsl(from var(--cdx) calc(h + 45) s l / alpha);

  --ca: color-mix(in hsl, var(--cax), var(--cay));
  --cb: color-mix(in hsl, var(--cbx), var(--cby));
  --cc: color-mix(in hsl, var(--ccx), var(--ccy));
  --cd: color-mix(in hsl, var(--cdx), var(--cdy));

  --cabx: color-mix(in hsl, var(--cax), var(--cbx));
  --cbcy: color-mix(in hsl, var(--cby), var(--ccy));
  --ccdx: color-mix(in hsl, var(--ccx), var(--cdx));
  --cday: color-mix(in hsl, var(--cdy), var(--cay));

  --track-size: 1em;
  --track-foreground: #ffffff;
  --track-background: #da0000;
  --track-border-style: solid;
  --track-border-width: 0.16em;
  --track-border-color: #5a0000;

  --thumb-size: 2em;
  --thumb-ratio: 1;
  --thumb-foreground: #ffffff;
  --thumb-background: #d6b2b2;
  --thumb-border-style: solid;
  --thumb-border-width: 0.16em;
  --thumb-border-color: #5a0000;

  --progress-width: 1em;

  background-image: var(--bga), var(--bgb), var(--bgc), var(--bgd);
  --bga: repeating-linear-gradient(
    45deg,
    var(--ca) var(--blfrom) var(--blto),
    #0000 -100% var(--bend)
  );
  --bgb: repeating-linear-gradient(
    135deg,
    var(--cb) var(--blfrom) var(--blto),
    #0000 -100% var(--bend)
  );
  --bgc: repeating-linear-gradient(
    225deg,
    var(--cc) var(--blfrom) var(--blto),
    #0000 -100% var(--bend)
  );
  --bgd: repeating-linear-gradient(
    315deg,
    var(--cd) var(--blfrom) var(--blto),
    #0000 -100% var(--bend)
  );
  background-size: 100% 300%;
  background-repeat: no-repeat;
  background-position: center;
  --bend: 25%;
  --bloff: -1px;
  --blw: 2px;
  --blfrom: calc(var(--bloff) + var(--blw) * -0.5);
  --blto: calc(var(--bloff) + var(--blw) * 0.5);
  height: 100%;
  width: 100vmin;
  min-width: unset;
  grid-row: 2;
  grid-column: 2;
  /* prettier-ignore */
  grid-template-columns:
    [left] auto [
    ax-start
    ay-start] var(--thumb-size) [
    dx-start
    bx-start
    ay-end
    dy-start] var(--thumb-size) [
    dy-end
    cx-start
    middle-start] 1fr [
    bx-end
    middle-end
    by-start] var(--thumb-size) [
    cy-start
    ax-end
    by-end
    cx-end] var(--thumb-size) [
    dx-end
    cy-end] auto [right];
  /* prettier-ignore */
  grid-template-rows:
    [top] auto [
    ax-start
    cy-start] var(--thumb-size) [
    by-start
    ay-start
    ax-end
    bx-start] var(--thumb-size) [
    bx-end
    dy-start
    middle-start] 1fr [
    by-end
    middle-end
    cx-start] var(--thumb-size) [
    dx-start
    cy-end
    cx-end
    dy-end] var(--thumb-size) [
    dx-end
    ay-end] auto [bottom];
  max-width: 100vmin;
  max-height: 100vmin;
  margin: 0;
  padding: 0;
  gap: 0;
  box-sizing: unset;
  border: none;
}
.preview::after {
  border: none;
  text-align: center;
  font-family: Menlo, monospace;
  font-size: small;
  letter-spacing: 0.02em;
  word-spacing: -0.2em;
  content: 'border-radius: ' var(--bdata-str-ax) '% ' var(--bdata-str-bx) '% '
    var(--bdata-str-cx) '% ' var(--bdata-str-dx) '% / ' var(--bdata-str-ay) '% '
    var(--bdata-str-by) '% ' var(--bdata-str-cy) '% ' var(--bdata-str-dy) '%;';

  position: fixed;
  width: auto;
  padding: 0.2em 0.5ch;
  background-color: #19191940;
  position-anchor: --anchor-preview-line;
  inset: auto anchor(right) anchor(bottom) auto;
  margin: 0 1ch 1ch 0;
}

/*!{{{1 Oval */
.oval {
  pointer-events: none;
  border: 2px dashed white;
  --ibdw＋: calc(var(--bdw) / 3);
  --ibdw－: calc(var(--ibdw＋) * -1);
  border-color: var(--bdc-top) var(--bdc-right) var(--bdc-bottom)
    var(--bdc-left);
  height: calc(var(--y) * anchor-size(height) * 0.02);
  width: calc(var(--x) * anchor-size(width) * 0.02);
  position: absolute;
  position-anchor: --anchor-preview-line;
  border-radius: var(--bdr);
  border-style: var(--bds);
  border-width: var(--bdw);
  z-index: -1;
  box-sizing: border-box;
  --xl: calc(var(--x) * 1cqw);
  --yl: calc(var(--y) * 1cqh);
  display: flex;
  box-shadow: none;
  overflow: visible;
  background-clip: initial;
  mask-image: none;
  mask-clip: no-clip;
  background-image:
    radial-gradient(
      var(--yl) var(--xl) at bottom right,
      #0000 calc(98% - 1px),
      #f0f8 calc(98% - 0.5px) calc(99% + 0.5px),
      #0000 calc(99% + 1px) 100%
    ),
    radial-gradient(
      var(--xl) var(--yl) at center center,
      #0000 calc(98% - 1px),
      #00f8 calc(98% - 0.5px) calc(99% + 0.5px),
      #0000 calc(99% + 1px) 100%
    ),
    linear-gradient(#0000),
    radial-gradient(
      50% 50% at bottom right,
      #0000 calc(98% - 1px),
      #f008 calc(98% - 0.5px) calc(99% + 0.5px),
      #0000 calc(99% + 1px) 100%
    ),
    radial-gradient(
      50% 50% at center center,
      #0000 calc(98% - 1px),
      #0ff8 calc(98% - 0.5px) calc(99% + 0.5px),
      #0000 calc(99% + 1px) 100%
    ),
    linear-gradient(#0000);
  /* border-radius: calc(anchor-size(--anchor-preview, height)); */
  container-name: oval-size-container;
  container-type: size;
  contain: size;
  background-position: bottom right;
}

.shadow {
  border: 0 solid #191919;
  z-index: -1;
  box-shadow:
    inset 0 0 0 1.5px #000,
    0 0 0 0.5px #000;
  box-sizing: border-box;
}

.axy {
  --bdc-top: var(--cax);
  --bdc-right: var(--cbcy);
  --bdc-bottom: var(--ccdx);
  --bdc-left: var(--cay);
  --bds: dashed dotted dotted dashed;
  --bdw: var(--ibdw＋) 1px 1px var(--ibdw＋);
  --bdr: var(--xl) 0 0 0 / var(--yl) 0 0 0;
  --x: var(--ax);
  --y: var(--ay);
  --base-color: var(--cabx);
  --color: var(--base-color);
  /* inset: anchor(top, var(--ibdw－)) auto auto anchor(left, var(--ibdw－)); */
  inset: anchor(top) auto auto anchor(left);
}
.bxy {
  --x: var(--bx);
  --y: var(--by);
  --bdc-top: var(--cbx);
  --bdc-right: var(--cby);
  --bdc-bottom: var(--ccdx);
  --bdc-left: var(--cday);
  --bds: dashed dashed dotted dotted;
  --bdw: var(--ibdw＋) var(--ibdw＋) 1px 1px;
  --bdr: 0 var(--xl) 0 0 / 0 var(--yl) 0 0;
  --base-color: var(--cbcy);
  --color: var(--base-color);
  /* inset: anchor(top, var(--ibdw－)) anchor(right, var(--ibdw－)) auto auto; */
  inset: anchor(top) anchor(right) auto auto;
}
.cxy {
  --x: var(--cx);
  --y: var(--cy);
  --bdc-top: var(--cabx);
  --bdc-right: var(--ccy);
  --bdc-bottom: var(--ccx);
  --bdc-left: var(--cday);
  --bds: dotted dashed dashed dotted;
  --bdw: 1px var(--ibdw＋) var(--ibdw＋) 1px;
  --bdr: 0 0 var(--xl) 0 / 0 0 var(--yl) 0;
  --base-color: var(--ccdx);
  --color: var(--base-color);
  /* inset: auto anchor(right, var(--ibdw－)) anchor(bottom, var(--ibdw－)) auto; */
  inset: auto anchor(right) anchor(bottom) auto;
}
.dxy {
  --x: var(--dx);
  --y: var(--dy);
  --bdc-top: var(--cabx);
  --bdc-right: var(--cbcy);
  --bdc-bottom: var(--cdx);
  --bdc-left: var(--cdy);
  --bds: dotted dotted dashed dashed;
  --bdw: 1px 1px var(--ibdw＋) var(--ibdw＋);
  --bdr: 0 0 0 var(--xl) / 0 0 0 var(--yl);
  --base-color: var(--cday);
  --color: var(--base-color);
  /* inset: auto auto anchor(bottom, var(--ibdw－)) anchor(left, var(--ibdw－)); */
  inset: auto auto anchor(bottom) anchor(left);
}
/*!}}}1 END Oval */

/*!{{{1 Slider */
.slider {
  position: relative;
  justify-content: center;
  flex-direction: column;
  counter-reset: value var(--slider-value);

  anchor-name: --anchor-slider;
  anchor-scope: --anchor-slider;
  width: auto;
  height: auto;
  display: grid;
  grid-template: 1fr/1fr;
  --slider-value: var(--bdata-for-input, var(--bdata-for));
  --slider-text: var(--bdata-str-for-input, var(--bdata-str-for, '?'));
}
.slider:has(> input[type='range'].vertical) {
  container-name: vertical-slider;
  container-type: size;
  contain: size;
  overflow: hidden;
}
input[type='range'] {
  --tl: 0%;
  --tr: 100%;
  --br: 100%;
  --bl: 100%;
  --tl2: 1%;
  --tr2: 1%;
  --br2: 100%;
  --bl2: 1%;
  appearance: none;
  box-sizing: border-box;
  background: transparent;
  cursor: pointer;
  margin: 0;
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr;
  pointer-events: none;
  height: 100%;
  width: 100%;
  visibility: visible;
  transform-origin: center center;
  grid-row: 1/-1;
  grid-column: 1/-1;
  place-self: center;
  place-items: center;
}

input[type='range']::-moz-range-progress {
  z-index: -1;
  --c: #ff0;
  display: flex;
  height: var(--progress-width);
  width: auto;
  background-image: linear-gradient(175deg, #f08, #40f);
  mix-blend-mode: multiply;
  z-index: -1;
}

input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  height: var(--track-size);
  width: 80cqmin;
  color: var(--track-foreground);
  background: var(--track-background);
  border-style: var(--track-border-style);
  border-width: var(--track-border-width);
  --bdr-r1: var(--dxl) var(--axl) var(--bxl) var(--cxl) / var(--dyl) var(--ayl)
    var(--byl) var(--cyl);
  background: hsla(from var(--c-base) h 20 40 / 100%);
  border-color: hsla(from var(--c-base) h 20 60 / 100%);
  --c-base: var(--track-color-base, #da0000);
  border-radius: var(--bdr-r0);
  border: none;
  background-color: #0000;
  background-image: linear-gradient(#0002);
  outline: 0.5px solid #000;
  z-index: 1;
  opacity: 0.4;
  visibility: visible;
}
input[type='range']:hover::-webkit-slider-runnable-track,
input[type='range']:hover::-moz-range-track {
  outline: 1px solid yellow;
}

input[type='range']::-webkit-slider-thumb,
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  height: var(--thumb-size);
  width: calc(var(--thumb-size) * var(--thumb-ratio, 1));
  color: var(--thumb-foreground);
  background: var(--thumb-background);
  border-style: var(--thumb-border-style);
  border-width: var(--thumb-border-width);
  border-color: var(--thumb-border-color);
  border-radius: var(--bdr-r1);
  --bdr-r1: var(--dxl) var(--axl) var(--bxl) var(--cxl) / var(--dyl) var(--ayl)
    var(--byl) var(--cyl);
  z-index: 100;
  visibility: visible;
  pointer-events: all;
  cursor: grab;
  anchor-name: --anchor-thumb;
  background-color: #ddd;
  background-image:
    linear-gradient(
      175deg,
      #f086 calc(var(--ax) * 1%),
      #40f6 calc(var(--ay) * 1%)
    ),
    linear-gradient(
      115deg,
      #f086 calc(var(--bx) * 1%),
      #40f6 calc(var(--by) * 1%)
    );
  mix-blend-mode: unset;
  background-blend-mode: normal;
  transform: scale(1);
}
input[type='range']::-webkit-slider-thumb {
  margin-top: calc((var(--track-size) / 2) - (var(--thumb-size) / 2));
}

input[type='range']:hover::-webkit-slider-thumb,
input[type='range']:hover::-moz-range-thumb {
  outline: 4px solid yellow;
}
input[type='range'].vertical::-webkit-slider-thumb,
input[type='range'].vertical::-moz-range-thumb {
  transform: rotate(-90deg);
}

input[type='range']:focus {
  outline: none;
}
input[type='range']:focus::-webkit-slider-thumb,
input[type='range']:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
  anchor-name: --test-thumb;
}

input[type='range']:active::-webkit-slider-thumb,
input[type='range']:active::-moz-range-thumb {
  outline: 3px dashed aqua;
  cursor: grabbing;
}

:is(#ax, #ay)::-webkit-slider-thumb,
:is(#ax, #ay)::-moz-range-thumb {
  border-radius: var(--axl) 0 0 0 / var(--ayl) 0 0 0;
}

#ax::-webkit-slider-thumb,
#ax::-moz-range-thumb {
  border-radius: var(--axl) 0 0 0 / var(--axl) 0 0 0;
}
#ay::-webkit-slider-thumb,
#ay::-moz-range-thumb {
  border-radius: var(--ayl) 0 0 0 / var(--axl) 0 0 0;
}
#bx::-webkit-slider-thumb,
#bx::-moz-range-thumb,
#by::-webkit-slider-thumb,
#by::-moz-range-thumb {
  border-radius: 0 var(--bxl) 0 0 / 0 var(--byl) 0 0;
}
#cx::-webkit-slider-thumb,
#cx::-moz-range-thumb,
#cy::-webkit-slider-thumb,
#cy::-moz-range-thumb {
  border-radius: 0 0 var(--cxl) 0 / 0 0 var(--cyl) 0;
}
#dx::-webkit-slider-thumb,
#dx::-moz-range-thumb,
#dy::-webkit-slider-thumb,
#dy::-moz-range-thumb {
  border-radius: 0 0 0 var(--dxl) / 0 0 0 var(--dyl);
}

input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-moz-range-track {
  height: 100%;
  width: 100%;

  background-size: var(--i) var(--j);
  background-repeat: round round;
  background-image:
    conic-gradient(
      from var(--r, 0deg),
      var(--bc) 0 calc(var(--t) * 0.5),
      var(--c) calc(var(--t) * 0.5) calc(var(--t) * 1.5),
      var(--bc) calc(var(--t) * 1.5)
    ),
    radial-gradient(
      circle,
      var(--c2) calc(var(--i) * var(--ir) - 0.5px),
      var(--c) calc(var(--i) * var(--ir) + 0.5px)
    );
  background-position:
    1% 0%,
    0% 0%;

  mask-size: var(--i) var(--j);
  mask-repeat: round round;
  mask-image: conic-gradient(
    from var(--r, 0deg),
    var(--bc) 0 calc(var(--t) * 0.5),
    var(--mc) calc(var(--t) * 0.5) calc(var(--t) * 1.5),
    var(--bc) calc(var(--t) * 1.5)
  );
  mask-position:
    1% 0%,
    0% 0%;
}
input[type='range'].vertical {
  width: 100%;
  height: var(--thumb-size);
  min-width: 100cqh;
  max-height: unset;
  min-height: unset;
  max-width: unset;
  --track-border-width: 100%;
  transform: translateX(-50cqh) rotate(90deg) translateY(-50cqh);
}
input[type='range'].reversed {
  transform: rotate(0deg);
  transform-origin: center center;
  direction: rtl;
}
input[type='range'].vertical.reversed {
  transform: translateX(-50cqh) rotate(90deg) translateY(-50cqh);
}

.slider {
  --i: 30px;
  --j: 30px;
  --t: 90deg;
  --ir: 0.4;
  --c: #f004;
  --bc: #0000;
  --c2: #80f4;
  --mc: #fff;
  anchor-scope: --anchor-slider, --anchor-thumb;
}
.slider:has(> .vertical) {
  --r: 90deg;
  --c: #088;
  --bc: #000;
  --c2: #fff;
}
.slider:has(> .reversed) {
  --r: 180deg;
}
.slider:has(> .reversed.vertical) {
  --r: 270deg;
}

.slider::after {
  --v: var(--slider-value, 0);
  content: attr(for) '\0a' counter(value);
  color: white;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: unset;
  --val-readout-size: var(--thumb-size);
  box-sizing: content-box;
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  position-anchor: --anchor-slider;
  anchor-scope: --anchor-thumb;
  font-size: 0.8em;
  text-align: center;
  counter-reset: value var(--slider-value);
  inset: anchor(top) anchor(right) anchor(bottom) anchor(left);
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  pointer-events: none;
  height: 100%;
  width: 100%;
  display: contents;
  white-space: pre;
}

.slider > * {
  pointer-events: all;
}
.slider:has(> #ay) {
  grid-column: ay;
  grid-row: ay;
}
.slider:has(> #ax) {
  grid-column: ax;
  grid-row: ax;
}
.slider:has(> #by) {
  grid-column: by;
  grid-row: by;
}
.slider:has(> #bx) {
  grid-column: bx;
  grid-row: bx;
}
.slider:has(> #cy) {
  grid-column: cy;
  grid-row: cy;
}
.slider:has(> #cx) {
  grid-column: cx;
  grid-row: cx;
}
.slider:has(> #dy) {
  grid-column: dy;
  grid-row: dy;
}
.slider:has(> #dx) {
  grid-column: dx;
  grid-row: dx;
}
/*!}}}1 END Slider */

.outline {
  grid-row: middle;
  grid-column: middle;
  display: flex;
  content: '';
  width: auto;
  height: auto;
  margin: 5ch;
  overflow: visible;
  border: 2px solid orange;
  border-width: var(--bdw);
  border-style: solid;
  border-color: var(--cabx) var(--cbcy) var(--ccdx) var(--cday);
  border-radius: var(--axl) var(--bxl) var(--cxl) var(--dxl) / var(--ayl)
    var(--byl) var(--cyl) var(--dyl);
  anchor-name: --anchor-preview-line;
}
.point {
  position: absolute;
  --radius: calc(var(--bdw) * 2);
  box-sizing: content-box;
  border: none !important;
  box-shadow:
    inset calc(var(--radius) * -0.5) calc(var(--radius) * -0.5) 0
      calc(var(--radius) * -0.25) #0006,
    inset calc(var(--radius) * 0.5) calc(var(--radius) * 0.5) 0
      calc(var(--radius) * -0.25) #fff8,
    calc(var(--radius) * 0) calc(var(--radius) * 0) 0 calc(var(--radius) * 0.25)
      #0008,
    var(--tracks, 0 0 0 0 #0000);
  --track-right:
    calc(var(--radius) * 1.5) 0 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    calc(var(--radius) * 1.5) 0 0 calc(var(--radius) * -0.25) #0008;
  --track-left:
    calc(var(--radius) * -1.5) 0 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    calc(var(--radius) * -1.5) 0 0 calc(var(--radius) * -0.25) #0008;
  --track-top:
    0 calc(var(--radius) * -1.5) 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    0 calc(var(--radius) * -1.5) 0 calc(var(--radius) * -0.25) #0008;
  --track-bottom:
    0 calc(var(--radius) * 1.5) 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    0 calc(var(--radius) * 1.5) 0 calc(var(--radius) * -0.25) #0008;

  anchor-name: --anchor-thumb;
  anchor-scope: --anchor-thumb;
  /* --top: calc((var(--ibdw－) * 0.5) + var(--radius) * -1); */
  /* --bottom: calc((var(--ibdw－) * 0.5) + var(--radius) * -1); */
  /* --left: calc((var(--ibdw－) * 0.5) + var(--radius) * -1); */
  /* --right: calc((var(--ibdw－) * 0.5) + var(--radius) * -1); */

  background-color: var(--base-color, #444c);
  --color: var(--base-color);

  display: flex;
  width: var(--w);
  height: var(--h);
  --w: calc(var(--radius) * 2);
  --h: calc(var(--radius) * 2);
  font-size: calc(var(--h) * 0.7);
  justify-content: center;
  align-items: center;
}
.axy {
  anchor-name: --anchor-axy;
}

.bxy {
  anchor-name: --anchor-bxy;
}

.cxy {
  anchor-name: --anchor-cxy;
}

.dxy {
  anchor-name: --anchor-dxy;
}

.coord {
  position: absolute;
}
.ay {
  --tracks: var(--track-top), var(--track-bottom);
  anchor-name: --anchor-ay;
  inset: calc(anchor(--anchor-axy center) - var(--h) * 0.5)
    calc(anchor(--anchor-axy left) - var(--w) * 0.5);
}
.ax {
  --tracks: var(--track-left), var(--track-right);
  anchor-name: --anchor-ax;
  inset: calc(anchor(--anchor-axy top) - var(--h) * 0.5)
    calc(anchor(--anchor-axy center) - var(--w) * 0.5);
}
.bx {
  --tracks: var(--track-left), var(--track-right);
  anchor-name: --anchor-bx;
  inset: calc(anchor(--anchor-bxy top) - var(--h) * 0.5)
    calc(anchor(--anchor-bxy center) - var(--w) * 0.5);
}
.by {
  --tracks: var(--track-top), var(--track-bottom);
  anchor-name: --anchor-by;
  inset: calc(anchor(--anchor-bxy center) - var(--h) * 0.5) auto auto
    calc(anchor(--anchor-bxy right) - var(--w) * 0.5);
}
.cy {
  --tracks: var(--track-top), var(--track-bottom);
  anchor-name: --anchor-cx;
  inset: calc(anchor(--anchor-cxy center) - var(--h) * 0.5) auto auto
    calc(anchor(--anchor-cxy right) - var(--w) * 0.5);
}
.cx {
  --tracks: var(--track-left), var(--track-right);
  anchor-name: --anchor-cx;
  inset: calc(anchor(--anchor-cxy bottom) - var(--h) * 0.5)
    calc(anchor(--anchor-cxy center) - var(--w) * 0.5);
}
.dx {
  --tracks: var(--track-left), var(--track-right);
  anchor-name: --anchor-dx;
  inset: calc(anchor(--anchor-dxy bottom) - var(--h) * 0.5)
    calc(anchor(--anchor-dxy center) - var(--w) * 0.5);
}
.dy {
  --tracks: var(--track-top), var(--track-bottom);
  anchor-name: --anchor-dy;
  inset: calc(anchor(--anchor-dxy center) - var(--h) * 0.5) auto auto
    calc(anchor(--anchor-dxy left) - var(--w) * 0.5);
}

.oval {
  --xl: calc(var(--x) * 0.5cqh);
  --yl: calc(var(--y) * 0.5cqw);
  background-image:
    radial-gradient(
      50% 50% at center center,
      #0000 calc(99% - 1px),
      #0ff8 calc(99% - 0.5px) calc(99% + 0.5px),
      #0000 calc(99% + 1px) 100%
    ),
    linear-gradient(#0000);
}

.shadow {
  border: 10px solid #191919;
  --bdr: 50%;
}

.preview {
  /* grid-template-columns: [left] auto [ ax-start ay-start] var(--thumb-size) [ dx-start bx-start ay-end dy-start] var(--thumb-size) [ dy-end cx-start middle-start] 1fr [ bx-end middle-end by-start] var(--thumb-size) [ cy-start ax-end by-end cx-end] var(--thumb-size) [ dx-end cy-end] auto [right]; */
  /* grid-template-rows: [top] auto [ ax-start cy-start] var(--thumb-size) [ by-start ay-start ax-end bx-start] var(--thumb-size) [ bx-end dy-start middle-start] 1fr [ by-end middle-end cx-start] var(--thumb-size) [ dx-start cy-end cx-end dy-end] var(--thumb-size) [ dx-end ay-end] auto [bottom]; */
  grid-template-columns:
    [left] auto [ ay-start] var(--thumb-size)
    [ay-end dy-start] var(--thumb-size)
    [dy-end ax-start bx-start cx-start dx-start middle-start] 1fr [middle-end bx-end dx-end by-start] var(
      --thumb-size
    )
    [cy-start ax-end by-end] var(--thumb-size) [ cx-end cy-end] auto [right];
  grid-template-rows:
    [top] auto [ ax-start] var(--thumb-size)
    [ay-startcy-start ax-end bx-start] var(--thumb-size)
    [ by-start bx-end dy-start middle-start] 1fr [ by-end middle-end dx-start] var(
      --thumb-size
    )
    [ cx-start dx-end dy-end ay-end] var(--thumb-size)
    [ cx-end cy-end] auto [bottom];
}

input[type='range']::-moz-range-progress {
  mix-blend-mode: normal;
  background-repeat: no-repeat;
}

.axy,
.bxy,
.cxy,
.dxy {
  --bdr: 50%;
}
.oval.bxy.shadow {
}

#ay {
  --cbase: var(--cay);
  --v: var(--ay);
}
#ax {
  --cbase: var(--cax);
  --v: var(--ax);
  background-size: calc(100% - 10px) 100%;
  background-repeat: no-repeat;
  background-position: left 10px top 0;
}
#bx {
  --cbase: var(--cbx);
  --v: var(--bx);
}
#by {
  --cbase: var(--cby);
  --v: var(--by);
}
#cy {
  --cbase: var(--ccy);
  --v: var(--cy);
}
#cx {
  --cbase: var(--ccx);
  --v: var(--cx);
}
#dx {
  --cbase: var(--cdx);
  --v: var(--dx);
}
#dy {
  --cbase: var(--cdy);
  --v: var(--dy);
}
input[type='range']::-moz-range-progress {
  --cfrom: hsl(from var(--cbase) h calc(var(--v) * 0.8) calc(l * 0.8) / 100);
  --cvia: hsl(from var(--cbase) h 95 calc(l * 0.6) / 100);
  --cto: hsl(from var(--cbase) h calc(var(--v) * 0.01) calc(l * 0.4) / 100);

  background-image: linear-gradient(
    0deg,
    #0000 10%,
    var(--cfrom) 20%,
    var(--cvia) 40% 60%,
    var(--cto) 80%,
    #0000 90%
  );
  transform: scale(1);
  border: 1px solid #0000;
  border-radius: 10px;
  border-width: 0 0 0 0;
  padding: 0;
  margin: auto;
  place-self: center;
}
.oval.shadow {
  background-image:
    radial-gradient(
      50% 50% at center center,
      #0000 calc(99% - 1px),
      #0008 calc(99% - 0.5px) calc(99% + 0.5px),
      #0000 calc(99% + 1px) 100%
    ),
    linear-gradient(#0000);
}
