body {
  display: grid;
  grid-template-columns: auto 100vmin auto;
  grid-template-rows: auto 100vmin auto;
}

.curve.topleft .preview {
  border-radius: var(--tl) var(--tr) var(--br) var(--bl) / var(--tl2) var(--tr2)
    var(--br2) var(--bl2);
  --tl: 100%;
  --tr: 100%;
  --br: 100%;
  --bl: 100%;
  --tl2: 0%;
  --tr2: 0%;
  --br2: 0%;
  --bl2: 0%;
}
/*! all independent */
:root:has(#link-none:checked) .preview {
  --u: 1%;
  --ax: 20;
  --ay: 100;
  --bx: 20;
  --by: 100;
  --cx: 20;
  --cy: 100;
  --dx: 20;
  --dy: 100;
}
/*! corner pairs identical (circular corners) */
:root:has(#link-corner-xy:checked) .preview {
  --u: 1%;
  --ax＝ay: 100;
  --bx＝by: 10;
  --cx＝cy: 100;
  --dx＝dy: 10;
  --ax: var(--ax＝ay);
  --ay: var(--ax＝ay);
  --bx: var(--bx＝by);
  --by: var(--bx＝by);
  --cx: var(--cx＝cy);
  --cy: var(--cx＝cy);
  --dx: var(--dx＝dy);
  --dy: var(--dx＝dy);
}
/*! all 4 corners same x & y (equal circular corners) */
:root:has(#link-all:checked) .preview {
  --u: 1%;
  --ax＝bx＝cx＝dx＝ay＝by＝cy＝dy: 50;
}
/*! all 4 corners same x value */
:root:has(#link-all-x:checked) .preview {
  --u: 1%;
  --ax＝bx＝cx＝dx: 30%;
  --ax: var(--ax＝bx＝cx＝dx);
  --bx: var(--ax＝bx＝cx＝dx);
  --cx: var(--ax＝bx＝cx＝dx);
  --dx: var(--ax＝bx＝cx＝dx);
}
/*! all 4 corners same y value */
:root:has(#link-all-y:checked) .preview {
  --u: 1%;
  --ay＝by＝cy＝dy: 30;
  --ay: var(--ay＝by＝cy＝dy);
  --by: var(--ay＝by＝cy＝dy);
  --cy: var(--ay＝by＝cy＝dy);
  --dy: var(--ay＝by＝cy＝dy);
}
/*! circular pairings */
:root:has(#link-circle:checked) .preview {
  --u: 1%;
  --ax＝dy: 100;
  --bx＝ay: 10;
  --cx＝dx: 100;
  --dx＝ay: 10;
  --ax: var(--ax＝dy);
  --bx: var(--bx＝ay);
  --cx: var(--cx＝by);
  --dx: var(--dx＝cy);
  --ay: var(--bx＝ay);
  --by: var(--cx＝by);
  --cy: var(--dx＝cy);
  --dy: var(--ax＝dy);
}
:root:has(#rotate-0:checked) .preview {
  border-radius: var(--bdr-r0);
}
:root:has(#rotate-1:checked) .preview {
  border-radius: var(--bdr-r1);
}
:root:has(#rotate-2:checked) .preview {
  border-radius: var(--bdr-r2);
}
:root:has(#rotate-3:checked) .preview {
  border-radius: var(--bdr-r3);
}
.stest {
  /* border radius rotations */
  --bdr-r0: var(--axl) var(--bxl) var(--cxl) var(--dxl) / var(--ayl) var(--byl)
    var(--cyl) var(--dyl);
  --bdr-r1: var(--dxl) var(--axl) var(--bxl) var(--cxl) / var(--dyl) var(--ayl)
    var(--byl) var(--cyl);
  --bdr-r2: var(--cxl) var(--dxl) var(--axl) var(--bxl) / var(--cyl) var(--dyl)
    var(--ayl) var(--byl);
  --bdr-r3: var(--bxl) var(--cxl) var(--dxl) var(--axl) / var(--byl) var(--cyl)
    var(--dyl) var(--ayl);
  --bdata-ax: 20;
  --bdata-bx: 40;
  --bdata-cx: 20;
  --bdata-dx: 40;
  --bdata-ay: 20;
  --bdata-by: 30;
  --bdata-cy: 20;
  --bdata-dy: 30;
  --thumb-size: 2rem;

  --bdw: 4px;
  --ibdw＋: calc(var(--bdw) / 3);
  --ibdw－: calc(var(--ibdw＋) * -1);

  color: #ffffff;
  position: relative;
  box-sizing: border-box;
  width: 96vw;
  height: 92vh;
  display: grid;
  border: 4px double #603f67;
  border-color: #764d7e #603f67 #422747 #683c72;
  background-color: #191919;

  anchor-name: --anchor-base;
  grid-template-columns:
    [left] 10vw [ax-start bx-start cx-start dx-start ay-start] var(--thumb-size)
    [ay-end dy-start] var(--thumb-size) [dy-end] 1fr [by-start] var(
      --thumb-size
    )
    [by-end cy-start] var(--thumb-size)
    [cy-end ax-end bx-end cx-end dx-end] 10vw [right];
  grid-template-rows:
    [top] 10vh auto[ay-start by-start cy-start dy-start ax-start] var(
      --thumb-size
    )
    [ax-end bx-start] var(--thumb-size) [bx-end] 1fr [cx-start] var(
      --thumb-size
    )
    [cx-end dx-start] var(--thumb-size)
    [dx-end ay-end by-end cy-end dy-end] 10vh [right];
  grid-auto-rows: auto;
}
.stest * {
  box-sizing: border-box;
}

.preview {
  --u: 1%;
  border: 1px dashed lightblue;
  background-color: #0000;
  position: relative;
  contain: size;
  container-type: size;
  aspect-ratio: 1;
  anchor-name: --anchor-container-preview;
  --ax: max(0, var(--bdata-ax-input, var(--bdata-ax, 20)));
  --bx: max(0, var(--bdata-bx-input, var(--bdata-bx, 20)));
  --cx: max(0, var(--bdata-cx-input, var(--bdata-cx, 20)));
  --dx: max(0, var(--bdata-dx-input, var(--bdata-dx, 20)));
  --ay: max(0, var(--bdata-ay-input, var(--bdata-ay, 20)));
  --by: max(0, var(--bdata-by-input, var(--bdata-by, 20)));
  --cy: max(0, var(--bdata-cy-input, var(--bdata-cy, 20)));
  --dy: max(0, var(--bdata-dy-input, var(--bdata-dy, 20)));
  --axl: calc(var(--ax) * var(--u));
  --bxl: calc(var(--bx) * var(--u));
  --cxl: calc(var(--cx) * var(--u));
  --dxl: calc(var(--dx) * var(--u));
  --ayl: calc(var(--ay) * var(--u));
  --byl: calc(var(--by) * var(--u));
  --cyl: calc(var(--cy) * var(--u));
  --dyl: calc(var(--dy) * var(--u));
  --ca: hsl(0 100 60 / 1);
  --cb: hsl(from var(--ca) calc(h + 90) s l / alpha);
  --cc: hsl(from var(--cb) calc(h + 90) s l / alpha);
  --cd: hsl(from var(--cc) calc(h + 90) s l / alpha);
  --cax: hsl(from var(--ca) calc(h - 15) s l / alpha);
  --cay: hsl(from var(--ca) calc(h + 15) s l / alpha);
  --cbx: hsl(from var(--cb) calc(h - 15) s l / alpha);
  --cby: hsl(from var(--cb) calc(h + 15) s l / alpha);
  --ccx: hsl(from var(--cc) calc(h - 15) s l / alpha);
  --ccy: hsl(from var(--cc) calc(h + 15) s l / alpha);
  --cdx: hsl(from var(--cd) calc(h - 15) s l / alpha);
  --cdy: hsl(from var(--cd) calc(h + 15) s l / alpha);
  background-image: var(--ba), var(--bb), var(--bc), var(--bd);
  --ba: repeating-linear-gradient(
    45deg,
    var(--cax) var(--blfrom) var(--blto),
    #0000 -100% var(--bend)
  );
  --bb: repeating-linear-gradient(
    135deg,
    var(--cbx) var(--blfrom) var(--blto),
    #0000 -100% var(--bend)
  );
  --bc: repeating-linear-gradient(
    225deg,
    var(--ccx) var(--blfrom) var(--blto),
    #0000 -100% var(--bend)
  );
  --bd: repeating-linear-gradient(
    315deg,
    var(--cdx) var(--blfrom) var(--blto),
    #0000 -100% var(--bend)
  );
  background-size: 100% 300%;
  background-repeat: no-repeat;
  background-position: center;
  --bend: 25%;
  --bloff: -1px;
  --blw: 2px;
  --blfrom: calc(var(--bloff) + var(--blw) * -0.5);
  --blto: calc(var(--bloff) + var(--blw) * 0.5);
  height: 100%;
  width: 100vmin;
  min-width: unset;
  grid-row: 2;
  grid-column: 2;
  grid-template-columns:
    [left] auto [ax-start bx-start cx-start dx-start ay-start] var(--thumb-size)
    [ay-end dy-start] var(--thumb-size)
    [dy-end middle-start] 1fr [middle-end by-start] var(--thumb-size)
    [by-end cy-start] var(--thumb-size)
    [cy-end ax-end bx-end cx-end dx-end] auto [right];
  grid-template-rows:
    [top] 10vh auto[ay-start by-start cy-start dy-start ax-start] var(
      --thumb-size
    )
    [ax-end bx-start] var(--thumb-size)
    [bx-end middle-start] 1fr [middle-end cx-start] var(--thumb-size)
    [cx-end dx-start] var(--thumb-size)
    [dx-end ay-end by-end cy-end dy-end] 10vh [right];
  max-width: 100vmin;
  max-height: 100vmin;
}
.preview::after {
  border: none;
  text-align: center;
  font-family: Menlo, monospace;
  font-size: small;
  letter-spacing: 0.02em;
  word-spacing: -0.2em;
  content: 'border-radius: ' var(--bdata-str-ax) '% ' var(--bdata-str-bx) '% '
    var(--bdata-str-cx) '% ' var(--bdata-str-dx) '% / ' var(--bdata-str-ay) '% '
    var(--bdata-str-by) '% ' var(--bdata-str-cy) '% ' var(--bdata-str-dy) '%;';

  position: fixed;
  inset: anchor(top) anchor(right) auto auto;
  width: auto;
  padding: 0.2em 0.5ch;
  position-anchor: --anchor-base;
  background-color: #19191940;
}

.stest {
  margin: 0;
  padding: 0;
  gap: 0;
  box-sizing: unset;
  border: none;
  border-color: #764d7e #603f67 #422747 #683c72;
  container-type: size;
}

/*!{{{1 Oval */
.oval {
  pointer-events: none;
  display: block;
  border-radius: 50%;
  border: 2px dashed white;
  border-style: dashed;
  border-width: var(--ibdw＋);
  --ibdw＋: calc(var(--bdw) / 3);
  --ibdw－: calc(var(--ibdw＋) * -1);
  box-shadow:
    inset 0 0 0 calc(var(--bdw) * 0.5) #191919,
    0 0 0 calc(var(--bdw) * 0.5) #191919;
  border-color: var(--c-top) var(--c-right) var(--c-bottom) var(--c-left);
  height: calc(var(--ibdw＋) + var(--y) * 2%);
  width: calc(var(--ibdw＋) + var(--x) * 2%);
  position: absolute;
  position-anchor: --anchor-preview-line;
}
.axy {
  --c-top: var(--ca);
  --c-right: var(--ca);
  --c-bottom: var(--cb);
  --c-left: var(--cb);
  --x: var(ax);
  --y: var(--ay);
  --base-color: var(--color-top);
  --color: var(--base-color);
  inset: anchor(top, var(--ibdw－)) auto auto anchor(left, var(--ibdw－));
}
.axy > .radii {
  border-color: #0000 var(--color-top) var(--color-right) #0000;
  top: 0;
  left: 0;
}
.bxy {
  --c-top: var(--cb);
  --c-right: var(--cb);
  --c-bottom: var(--cc);
  --c-left: var(--cc);
  --x: var(--bx);
  --y: var(--by);
  --base-color: var(--color-right);
  --color: var(--base-color);
  inset: anchor(top, var(--ibdw－)) anchor(right, var(--ibdw－)) auto auto;
}
.bxy > .radii {
  border-color: transparent transparent var(--color-right) var(--color-top);
  top: 0;
  right: 0;
}
.cxy {
  --c-top: var(--cc);
  --c-right: var(--cc);
  --c-bottom: var(--cd);
  --c-left: var(--cd);
  --x: var(--cx);
  --y: var(--cy);
  --base-color: var(--color-bottom);
  --color: var(--base-color);
  inset: auto anchor(right, var(--ibdw－)) anchor(bottom, var(--ibdw－)) auto;
}
.dxy {
  --c-top: var(--cd);
  --c-right: var(--cd);
  --c-bottom: var(--ca);
  --c-left: var(--ca);
  --x: var(--dx);
  --y: var(--dy);
  --base-color: var(--color-left);
  --color: var(--base-color);
  inset: auto auto anchor(bottom, var(--ibdw－)) anchor(left, var(--ibdw－));
}
.dxy > .radii {
  border-color: var(--color-left) var(--color-bottom) #0000 #0000;
  bottom: 0;
  left: 0;
}

/* .cxy { */
/*   border-color: var(--color-right) var(--color-right) var(--color-bottom) */
/*     var(--color-bottom); */
/*   height: calc(var(--ibdw＋) + var(--bdata-cy) * 2%); */
/*   width: calc(var(--ibdw＋) + var(--bdata-cx) * 2%); */
/*   right: var(--ibdw－); */
/*   bottom: var(--ibdw－); */
/* } */
/* .dxy { */
/*   border-color: var(--color-left) var(--color-bottom) var(--color-bottom) */
/*     var(--color-left); */
/*   height: calc(var(--ibdw＋) + var(--bdata-dy) * 2%); */
/*   width: calc(var(--ibdw＋) + var(--bdata-dx) * 2%); */
/*   left: var(--ibdw－); */
/*   bottom: var(--ibdw－); */
/* } */

/*!}}}1 END Oval */

/*!{{{1 Slider */
.slider {
  --thumb-size: 1.4rem;
  --thumb-ratio: 1;
  position: relative;
  justify-content: center;
  flex-direction: column;
  counter-reset: value var(--slider-value);

  anchor-name: --anchor-slider;
  anchor-scope: --anchor-slider;
  width: auto;
  height: auto;
  outline: 0.5px dotted #fff;
  outline-offset: -0.5px;
  display: grid;
  grid-template: 1fr/1fr;
  --slider-value: var(--bdata-for-input, var(--bdata-for));
  --slider-text: var(--bdata-str-for-input, var(--bdata-str-for, '?'));
}
.slider:has(> input[type='range'].vertical) {
  container-name: vertical-slider;
  container-type: size;
  contain: size;
  overflow: hidden;
}
.slider > input[type='range'] {
  transform-origin: center center;
  grid-row: 1/-1;
  grid-column: 1/-1;
  place-self: center;
  place-items: center;
}
.slider > input[type='range'].vertical {
  width: 100%;
  height: var(--thumb-size);
  min-width: 100cqh;
  max-height: unset;
  min-height: unset;
  max-width: unset;
  --track-border-width: 100%;
  transform: translateX(-50cqh) rotate(90deg) translateY(-50cqw);
}
.slider > input[type='range'].reversed {
  transform: rotate(0deg);
  transform-origin: center center;
  direction: rtl;
}
.slider > input[type='range'].vertical {
  transform: translateX(-50cqh) rotate(90deg) translateY(-50cqh);
}
.slider > input[type='range'].vertical.reversed {
  transform: translateX(-50cqh) rotate(90deg) translateY(-50cqh);
}

input[type='range'] {
  --track-size: 1em;
  --track-foreground: #ffffff;
  --track-background: #da0000;
  --track-border-style: solid;
  --track-border-width: 0.16em;
  --track-border-color: #5a0000;

  --thumb-size: 1.6em;
  --thumb-ratio: var(--𝟭∕𝞅);
  --thumb-foreground: #ffffff;
  --thumb-background: #d6b2b2;
  --thumb-border-style: solid;
  --thumb-border-width: 0.16em;
  --thumb-border-color: #5a0000;

  --tl: 0%;
  --tr: 100%;
  --br: 100%;
  --bl: 100%;
  --tl2: 1%;
  --tr2: 1%;
  --br2: 100%;
  --bl2: 1%;
  appearance: none;
  box-sizing: border-box;
  background: transparent;
  cursor: pointer;
  margin: 0;
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr;
  pointer-events: none;
  height: 100%;
  width: 100%;
  visibility: visible;
}

input[type='range']::-moz-range-progress {
  --c: #ff0;
  display: flex;
  height: 100%;
  width: auto;
  background-image: linear-gradient(175deg, #f08, #40f);
  mix-blend-mode: multiply;
}

input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  height: var(--track-size);
  width: 80cqmin;
  color: var(--track-foreground);
  background: var(--track-background);
  border-style: var(--track-border-style);
  border-width: var(--track-border-width);
  --bdr-r1: var(--dxl) var(--axl) var(--bxl) var(--cxl) / var(--dyl) var(--ayl)
    var(--byl) var(--cyl);
  background: hsla(from var(--c-base) h 20 40 / 100%);
  border-color: hsla(from var(--c-base) h 20 60 / 100%);
  --c-base: var(--track-color-base, #da0000);
  border-radius: var(--bdr-r0);
  border: none;
  background-color: #0000;
  background-image: linear-gradient(#0002);
  outline: 0.5px solid #000;
  z-index: 1;
  opacity: 0.4;
  visibility: visible;
}
input[type='range']:hover::-webkit-slider-runnable-track,
input[type='range']:hover::-moz-range-track {
  outline: 1px solid yellow;
}

input[type='range']::-webkit-slider-thumb,
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  height: var(--thumb-size);
  width: calc(var(--thumb-size) * var(--thumb-ratio, 1));
  color: var(--thumb-foreground);
  background: var(--thumb-background);
  border-style: var(--thumb-border-style);
  border-width: var(--thumb-border-width);
  border-color: var(--thumb-border-color);
  border-radius: var(--bdr-r1);
  --bdr-r1: var(--dxl) var(--axl) var(--bxl) var(--cxl) / var(--dyl) var(--ayl)
    var(--byl) var(--cyl);
  z-index: 100;
  visibility: visible;
  pointer-events: all;
  anchor-name: --anchor-thumb;
}
input[type='range']::-webkit-slider-thumb {
  margin-top: calc((var(--track-size) / 2) - (var(--thumb-size) / 2));
}

input[type='range']:hover::-webkit-slider-thumb,
input[type='range']:hover::-moz-range-thumb {
  outline: 4px solid yellow;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-thumb,
input[type='range']:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
  anchor-name: --test-thumb;
}

input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-moz-range-track {
  height: 100%;
  width: 100%;

  background-size: var(--i) var(--j);
  background-repeat: round round;
  background-image:
    conic-gradient(
      from var(--r, 0deg),
      var(--bc) 0 calc(var(--t) * 0.5),
      var(--c) calc(var(--t) * 0.5) calc(var(--t) * 1.5),
      var(--bc) calc(var(--t) * 1.5)
    ),
    radial-gradient(
      circle,
      var(--c2) calc(var(--i) * var(--ir) - 0.5px),
      var(--c) calc(var(--i) * var(--ir) + 0.5px)
    );
  background-position:
    1% 0%,
    0% 0%;

  mask-size: var(--i) var(--j);
  mask-repeat: round round;
  mask-image: conic-gradient(
    from var(--r, 0deg),
    var(--bc) 0 calc(var(--t) * 0.5),
    var(--mc) calc(var(--t) * 0.5) calc(var(--t) * 1.5),
    var(--bc) calc(var(--t) * 1.5)
  );
  mask-position:
    1% 0%,
    0% 0%;
}

.slider {
  /*   outline: 1px solid var(--c); */
  --i: 30px;
  --j: 30px;
  --t: 90deg;
  --ir: 0.4;
  --c: #f004;
  --bc: #0000;
  --c2: #80f4;
  --mc: #fff;
}
.slider:has(> .vertical) {
  --r: 90deg;
  --c: #088;
  --bc: #000;
  --c2: #fff;
}
.slider:has(> .reversed) {
  --r: 180deg;
}
.slider:has(> .reversed.vertical) {
  --r: 270deg;
}

.slider {
  anchor-scope: --anchor-slider, --anchor-thumb;
}

.slider::after {
  --v: var(--slider-value, 0);
  content: attr(for) '\0a' counter(value);
  color: white;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: unset;
  --val-readout-size: var(--thumb-size);
  box-sizing: content-box;
  border: 0;
  padding: 0;
  margin: 0;
  position: fixed;
  position-anchor: --anchor-slider;
  anchor-scope: --anchor-thumb;
  font-size: 0.8em;
  text-align: center;
  counter-reset: value var(--slider-value);
  inset: anchor(top) anchor(right) anchor(bottom) anchor(left);
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  pointer-events: none;
  height: 100%;
  width: 100%;
  display: contents;
}

.slider > * {
  pointer-events: all;
}
.slider:has(> #ay) {
  grid-column: ay;
  grid-row: ay;
}
.slider:has(> #ax) {
  grid-column: ax;
  grid-row: ax;
}
.slider:has(> #by) {
  grid-column: by;
  grid-row: by;
}
.slider:has(> #bx) {
  grid-column: bx;
  grid-row: bx;
}
.slider:has(> #cy) {
  grid-column: cy;
  grid-row: cy;
}
.slider:has(> #cx) {
  grid-column: cx;
  grid-row: cx;
}
.slider:has(> #dy) {
  grid-column: dy;
  grid-row: dy;
}
.slider:has(> #dx) {
  grid-column: dx;
  grid-row: dx;
}
/*!}}}1 END Slider */

.outline {
  --style-top: solid;
  --style-right: solid;
  --style-bottom: solid;
  --style-left: solid;
  --color-top: red;
  --color-right: green;
  --color-bottom: blue;
  --color-left: purple;
  grid-row: middle;
  grid-column: middle;
  display: block;
  content: '';
  width: 100%;
  height: auto;
  overflow: visible;
  border: 2px solid orange;
  border-width: var(--bdw);
  border-style: var(--style-top) var(--style-right) var(--style-bottom)
    var(--style-left);
  border-color: var(--color-top) var(--color-right) var(--color-bottom)
    var(--color-left);

  border-radius: var(--axl) var(--bxl) var(--cxl) var(--dxl) / var(--ayl)
    var(--byl) var(--cyl) var(--dyl);
  anchor-name: --anchor-preview-line;
}
.point {
  position: absolute;
  display: block;
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  --radius: calc(var(--bdw) * 2);
  box-sizing: content-box;
  border: none !important;
  box-shadow:
    inset calc(var(--radius) * -0.5) calc(var(--radius) * -0.5) 0
      calc(var(--radius) * -0.25) #0006,
    inset calc(var(--radius) * 0.5) calc(var(--radius) * 0.5) 0
      calc(var(--radius) * -0.25) #fff8,
    calc(var(--radius) * 0) calc(var(--radius) * 0) 0 calc(var(--radius) * 0.25)
      #0008,
    var(--tracks, 0 0 0 0 #0000);
  --track-right:
    calc(var(--radius) * 1.5) 0 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    calc(var(--radius) * 1.5) 0 0 calc(var(--radius) * -0.25) #0008;
  --track-left:
    calc(var(--radius) * -1.5) 0 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    calc(var(--radius) * -1.5) 0 0 calc(var(--radius) * -0.25) #0008;
  --track-top:
    0 calc(var(--radius) * -1.5) 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    0 calc(var(--radius) * -1.5) 0 calc(var(--radius) * -0.25) #0008;
  --track-bottom:
    0 calc(var(--radius) * 1.5) 0 calc(var(--radius) * -0.5)
      rgba(from var(--color) r g b / 70%),
    0 calc(var(--radius) * 1.5) 0 calc(var(--radius) * -0.25) #0008;

  anchor-name: --anchor-thumb;
  anchor-scope: --anchor-thumb;
  --top: calc((var(--ibdw－) * 0.5) + var(--radius) * -1);
  --bottom: calc((var(--ibdw－) * 0.5) + var(--radius) * -1);
  --left: calc((var(--ibdw－) * 0.5) + var(--radius) * -1);
  --right: calc((var(--ibdw－) * 0.5) + var(--radius) * -1);
  background-color: var(--base-color, #444c);
  --color: var(--base-color);
}

.ax {
  inset: var(--top) auto auto calc(var(--axl) - var(--radius));
  --tracks: var(--track-left), var(--track-right);
}
.ay {
  inset: var(--top) auto auto calc(var(--ayl) - var(--radius));
  --tracks: var(--track-top), var(--track-bottom);
}
.bx {
  inset: var(--top) calc(var(--bxl) - var(--radius)) auto auto;
  --tracks: var(--track-left), var(--track-right);
}
.by {
  inset: var(--top) calc(var(--byl) - var(--radius)) auto auto;
  --tracks: var(--track-top), var(--track-bottom);
}
.cx {
  inset: auto calc(var(--cxl) - var(--radius)) var(--bottom) auto;
  --tracks: var(--track-left), var(--track-right);
}
.cy {
  inset: auto calc(var(--cyl) - var(--radius)) var(--bottom) auto;
  --tracks: var(--track-top), var(--track-bottom);
}
.dx {
  inset: auto auto var(--bottom) calc(var(--dxl) - var(--radius));
  --tracks: var(--track-left), var(--track-right);
}
.dy {
  inset: auto auto var(--bottom) calc(var(--dyl) - var(--radius));
  --tracks: var(--track-top), var(--track-bottom);
}

.coord {
  position: absolute;
  left: var(--dxl);
}

input[type='range']::-webkit-slider-thumb,
input[type='range']::-moz-range-thumb {
  background-color: #ddd;
  background-image:
    linear-gradient(
      175deg,
      #f086 calc(var(--ax) * 1%),
      #40f6 calc(var(--ay) * 1%)
    ),
    linear-gradient(
      115deg,
      #f086 calc(var(--bx) * 1%),
      #40f6 calc(var(--by) * 1%)
    );
  mix-blend-mode: unset;
  background-blend-mode: normal;
  transform: scale(1);
}

input[type='range']::-moz-range-progress {
  z-index: -1;
}

input[type='range'] {
  --thumb-size: 2em;
  --thumb-ratio: 1;
}

input[type='range'].vertical::-webkit-slider-thumb,
input[type='range'].vertical::-moz-range-thumb {
  transform: rotate(-90deg);
}
