:root {
  --icon-fg-color: #ffffff;
  --icon-bg-color: #000000;
  --icon-border: 1;
  --icon-padding: 20;
  --icon-radius: 4px;
  --icon-border-style: dashed;

  --section-border-width: 0.44em;
  --section-border: var(--section-border-width) solid #262626;
  --section-border-radius: 1em;
  --section-padding: 0.6em;

  --icon-doc: url('data:image/svg+xml,<svg fill="hsl(0 99 99)" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM112 256H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z"></path></svg>');
  --icon-download: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 style=%22fill: %23ffffff;%22  viewBox=%220 0 512 512%22%3E%3Cpath d=%22M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z%22%3E%3C/path%3E%3C/svg%3E');
  --icon-fill: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 512 512%22%3E%3Cpath d=%22M86.6 9.4C74.1-3.1 53.9-3.1 41.4 9.4s-12.5 32.8 0 45.3L122.7 136 30.6 228.1c-37.5 37.5-37.5 98.3 0 135.8L148.1 481.4c37.5 37.5 98.3 37.5 135.8 0L474.3 290.9c28.1-28.1 28.1-73.7 0-101.8L322.9 37.7c-28.1-28.1-73.7-28.1-101.8 0L168 90.7 86.6 9.4zM168 181.3l49.4 49.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L213.3 136l53.1-53.1c3.1-3.1 8.2-3.1 11.3 0L429.1 234.3c3.1 3.1 3.1 8.2 0 11.3L386.7 288H67.5c1.4-5.4 4.2-10.4 8.4-14.6L168 181.3z%22%3E%3C/path%3E%3C/svg%3E');
  --icon-line: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 512 512%22%3E%3Cpath d=%22M418.4 157.9c35.3-8.3 61.6-40 61.6-77.9c0-44.2-35.8-80-80-80c-43.4 0-78.7 34.5-80 77.5L136.2 151.1C121.7 136.8 101.9 128 80 128c-44.2 0-80 35.8-80 80s35.8 80 80 80c12.2 0 23.8-2.7 34.1-7.6L259.7 407.8c-2.4 7.6-3.7 15.8-3.7 24.2c0 44.2 35.8 80 80 80s80-35.8 80-80c0-27.7-14-52.1-35.4-66.4l37.8-207.7zM156.3 232.2c2.2-6.9 3.5-14.2 3.7-21.7l183.8-73.5c3.6 3.5 7.4 6.7 11.6 9.5L317.6 354.1c-5.5 1.3-10.8 3.1-15.8 5.5L156.3 232.2z%22%3E%3C/path%3E%3C/svg%3E');
  --icon-tick: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 style=%22fill: %2300aa00;stroke: %23000; stroke-width: 10;%22 viewBox=%220 0 448 512%22%3E%3Cpath d=%22M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z%22%3E%3C/path%3E%3C/svg%3E');
  --icon-copy: url('data:image/svg+xml,%3Csvg data-name=%22copy%22 xmlns=%22http://www.w3.org/2000/svg%22 style=%22fill: %23eeeeee;%22 height=%221em%22 viewBox=%220 0 448 512%22%3E%3Cpath d=%22M208 0H332.1c12.7 0 24.9 5.1 33.9 14.1l67.9 67.9c9 9 14.1 21.2 14.1 33.9V336c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V48c0-26.5 21.5-48 48-48zM48 128h80v64H64V448H256V416h64v48c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48z%22%3E%3C/path%3E%3C/svg%3E');
  --item-size: 3rem;
  --item-gap: calc(var(--item-size) * 0.22);

  font-size: clamp(10px, max(2vh, 2vw), min(4vh, 4vw, 20px));
  line-height: 14px;
}

body {
}

h1 {
  display: block;
}

.subsection {
  flex: 1 1 100%;
}

.autoWrap {
  display: contents;
}
div {
  display: flex;
}

.iconRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  stroke-width: var(--bound-val-stroke-width);
  stroke: red;
}
.wrappedSVG {
  font-size: var(--item-size);
}

/*╶───────────────────────────────────╴ section ╶───────╴*/

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--item-gap);
  border: var(--section-border);
  border-radius: var(--section-border-radius);
  padding: var(--section-padding);
  margin-right: max(10vw, 100px);

  --available: calc(
    100cqi - var(--gap) - (var(--padding) * 2) - (var(--border) * 2)
  );
  --item: calc(var(--sqi-gap) + var(--sqi-size));
  --mod: mod(var(--available), var(--item));
  --section-item-count: calc(100sqi);
}

section label {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
  background-position: right top;
  background-repeat: no-repeat;
  padding: 0 1.2em 0 0;
  line-height: 1.2em;
  background-image: var(--icon-copy);
  background-size: 0;
  transition-property: background, text-decoration;
  transition: 100ms ease;
}
section label:hover {
  text-decoration: underline;
  background-size: 0.8em;
  transition: 60ms ease;
  transition-property: background, text-decoration;
}
section label::before {
  content: unset;
  display: none;
  position: absolute;
  top: -1.4em;
  background-color: white;
  padding: 0 0.4em;
  width: max-content;
  border-radius: 1em;
  left: 50%;
  transform: translate(-50%);
}
section label.copied::before {
  content: 'copied';
  display: block;
  color: green;
  text-align: left;
  background-color: #111111f8;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 448 512%22%3E%3Cpath d=%22M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z%22%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;

  padding: 0.6em 2em 0.6em 5.6em;
  border-radius: 1.7em;
  border: 0.6px dashed #7c7c7c;
  box-shadow: 1px 1px 4px 1px #000;
}
section label.copyfail::before {
  content: 'copy failed';
  display: block;
  color: #f00;
  background-color: #111111f8;
  padding: 0.6em 2em 0.6em 5.6em;
  border-radius: 1.7em;
  border: 0.6px dashed #7c7c7c;
  box-shadow: 1px 1px 4px 1px #f00;
}

/**** fieldset ****/
/*╶────────────────────────────────────────────────────────╴ section ╶───────╴*/

fieldset {
  border: var(--section-border);
  border-radius: var(--section-border-radius);
  padding: var(--section-padding);
  display: flex;
  align-items: center;
}

fieldset::before {
  content: '';
  width: 70px;
  height: auto;
  background-image: var(--icon-doc);
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1;
  filter: brightness(0.5) hue-rotate(210deg) saturate(5);
}

fieldset label {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: 0;
  row-gap: 0.4em;
  align-items: stretch;
  font-family: monospace;
  min-width: 200px;
  flex: 1 1 min-content;
}
fieldset label::before {
  content: attr(data-sink-value);
  font-family: monospace;
  width: 2em;
}

fieldset datalist {
  place-items: center;
  grid-template-columns:
    [sm] repeat(9, calc(((100% - (var(--offset) * 2)) / 8)))
    [em];
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  --offset: 10px;
  --wmark: calc(((100% - (var(--offset) * 2)) / 8));
  position: relative;
  top: -1.3em;
  width: 100%;
  font-size: 0.8em;
  line-height: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-sizing: border-box;
  z-index: -1;
  background-image: linear-gradient(to bottom, #0000, #000 20%, #0000 60%);
}

/**** option ****/
/*╶────────────────────────────────────────────────────────╴ section ╶───────╴*/

option {
  display: flex;
  justify-content: center;
  position: relative;
  left: 10px;
  flex-direction: column;
  width: auto;
  flex: 2 1 auto;
  border-radius: 0 0 0 80px / 20px 50px;
  background-repeat: no-repeat;
  background-size:
    4em 3em,
    10em 3em;
  background-position: center;
  background-color: transparent;
  align-items: center;
}

option:first-of-type {
  flex: 1 1 auto;
  align-items: start;
}

option:last-of-type {
  flex: 1 1 auto;
  align-items: end;
}

option::before,
option::after {
  display: block;
  text-align: center;
  min-width: 20px;
  width: 2em;
  margin: 0 0.75em;
}
option::before {
  content: '|';
}

option::after {
  content: attr(value);
  text-align: center;
  background-image:
    radial-gradient(
      circle at -60% -24%,
      #ffbb19de 34%,
      #fff0 50%,
      #fff0 90%,
      #a099 95%,
      #000d 98%
    ),
    radial-gradient(
      farthest-corner at 90% -70%,
      #0000,
      #0004 2%,
      #f00,
      #ffa700 61%,
      #be9f9f,
      #9e5050 90%,
      #3f0505 100%
    );
  height: 1.5em;
  line-height: 1.3em;
  padding-top: 0.4em;
  border-radius: 10% 70% / 70% 10%;
  filter: drop-shadow(0 0 4px #000) grayscale(1);
}

option:nth-child(2n)::after {
  font-size: 0.9em;
  line-height: 1em;
  color: #d2d2ff;
}

h1 {
  display: block;
  width: 100%;
  margin: 0.2em 0.2em 0 0.2em;
  font-size: 1.23em;
  font-family: Menlo, fixed-width;
  font-weight: normal;
  letter-spacing: 0.04em;
  line-height: 1.23em;
}

.iconRow input {
  height: 1px;
  font-size: 1px;
  width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: var(--icon-bg-color);
  opacity: 0;
}
.iconRow:hover input {
  opacity: 0.9;
}

.iconRow .svgActions textarea {
  width: 1px;
  height: 1px;
  visibility: collapse;
}

/*╶────────────────────────────────────────────────────────╴ section ╶───────╴*/

/**** svg ****/

svg {
  width: 1em;
  height: 1em;
  max-height: 1em;
  fill: var(--icon-fg-color, #ffffff);
  box-sizing: border-box;
}

.svgListing {
  margin: 0;
  display: flex;
  width: auto;
  margin-right: calc((var(--item-size) * 3) + (var(--item-gap) * 1));
}
.svgListing svg {
  /*! background-image:
    radial-gradient(circle at center, #000000d1, #000),
    repeating-conic-gradient(
      #5c5c5c, #fff 9deg, #c00000 9deg, #f00 18deg); */
  background-color: var(--icon-bg-color, #000000);
  background-clip: padding-box, border-box;
  background-repeat: no-repeat;
  background-size:
    auto,
    150% 150%;
  background-position:
    center,
    80% 30%;
  padding: calc(0.01em * (var(--icon-padding, 16) - var(--icon-border, 3)));
  border-radius: calc(0.005em * var(--icon-radius, 3));
  border-style: var(--icon-border-style, solid);
  border-width: 0;
  border-color: transparent;
  box-shadow:
    1px 1px 0 0.6px #fff3,
    0 1px 0 0.6px #96009633,
    -1px 1px 0 0.6px #2c00ff33,
    -1px 0 0 0.6px #f0f3,
    -1px -1px 0 0.6px #2d274933,
    0 -1px 0 0.6px #f0f3,
    1px -1px 0 0.6px #1b009c33,
    1px 0 0 0.6px #a32ba333;
}

.pathColors svg path {
  fill: var(--icon-fg-color, #ffffff);
}

.pathColors svg > g > path,
.pathColors svg > path {
  stroke-width: 0;
  stroke: #eee;
}
.pathColors svg path:only-of-type {
  fill: #ccc;
}
.pathColors svg g:nth-of-type(1) path {
  fill: red;
}
.pathColors svg g:nth-of-type(2) path {
  fill: green;
}
.pathColors svg g:nth-of-type(3) path {
  fill: blue;
}
.pathColors svg g:nth-of-type(4) path {
  fill: orange;
}
.pathColors svg g:nth-of-type(5) path {
  fill: purple;
}

/*╶────────────────────────────────────────────────────────╴ section ╶───────╴*/
section label {
  background-position: left center;
  padding: 0 0 0 1.2em;
  font-size: 1em;
  align-content: start;
}

.iconRow {
  position: relative;
  overflow: visible;
  width: fit-content;
  height: fit-content;
}
.iconRow > .inner {
  display: inline-flex;
  visibility: hidden;
  transition-property: visibility;
  transition-delay: 0ms;
  transition-duration: 80ms;
  transition-timing-function: ease;
}
.iconRow:hover > .inner {
  display: flex;
  visibility: visible;
  z-index: 10;
  transition-property: visibility, opacity;
  transition-delay: 250ms, 250ms;
  transition-duration: 0ms, 80ms;
  transition-timing-function: ease;
}

.svgActions {
  display: flex;
  gap: 0.2em;
  flex-direction: column;
  width: fit-content;
  font-family: Menlo, fixed-width;
  align-items: first baseline;
  position: absolute;
  top: -50%;
  left: -0.6em;
  height: fit-content;
  z-index: -1;
  background-color: #111111f8;
  padding: 0.6em 2em 0.6em 5.6em;
  border-radius: 1.7em;
  border: 0.6px dashed #7c7c7c;
  box-shadow: 1px 1px 4px 1px #000;
  opacity: 0;
  transition-property: opacity;
  transition-delay: 0ms;
  transition-duration: 80ms;
  transition-timing-function: ease;
}
.iconRow:hover .inner .svgActions,
.svgActions:hover {
  z-index: 1;
  opacity: 1;
  transition-property: opacity;
  transition-delay: 250ms;
  transition-duration: 80ms;
  transition-timing-function: ease;
  pointer-events: all;
}
.iconRow:hover .inner .svgActions + .wrappedSVG,
.wrappedSVG:hover {
  z-index: 2;
}
.iconRow:hover .wrappedSVG > svg {
  filter: brightness(1.6) drop-shadow(0 0 2px #fff);
  /*! box-shadow: 0 0 3px 0 #fff; */
  background-size:
    auto,
    300% 300%;
  box-shadow:
    1px 1px 0 0.6px #2c00ffab,
    0 1px 0 0.6px #f0fa,
    -1px 1px 0 0.6px #2c00ffab,
    -1px 0 0 0.6px #f0fa,
    -1px -1px 0 0.6px #2c00ffab,
    0 -1px 0 0.6px #f0fa,
    1px -1px 0 0.6px #2c00ffab,
    1px 0 0 0.6px #f0fa;
}

.wrappedSVG {
  visibility: visible;
  cursor: crosshair;
}

.copySVG,
.copyURL,
.copyCSSbackground,
.copyCSScontent {
  cursor: pointer;
}

/* 
body > section:nth-child(5) > div:nth-child(45) > div:nth-child(2) {
  width: 200px;
  height: 100px;
  background: #111d;
  position: absolute;
  top: -0.4em;
  left: -0.4em;
  z-index: 1;
  border-bottom: ;
  border-radius: calc(0.005em * var(--icon-radius, 3));
}
 */

svg {
  box-shadow:
    1px 1px 0 0.6px #0003,
    0 1px 0 0.6px #96009633,
    -1px 1px 0 0.6px #2c00ff33,
    -1px 0 0 0.6px #f0f3,
    -1px -1px 0 0.6px #2d274933,
    0 -1px 0 0.6px #f0f3,
    1px -1px 0 0.6px #1b009c33,
    1px 0 0 0.6px #a32ba333;
  border-width: 0px;
  background-clip: padding-box, border-box;
  border-color: transparent;
  background-repeat: no-repeat;
  background-size:
    auto,
    150% 150%;
  background-position:
    center,
    80% 30%;
}

svg path:only-of-type {
  fill: #ccc;
}
.iconRow:hover .wrappedSVG > svg {
  filter: brightness(1.6) drop-shadow(0 0 1px #fff);
  background-size:
    auto,
    300% 300%;
  box-shadow:
    1px 1px 0 0.6px #fff3,
    1px 1px 0 0.6px #2c00ffab,
    0 1px 0 0.6px #f0fa,
    -1px 1px 0 0.6px #2c00ffab,
    -1px 0 0 0.6px #f0fa,
    -1px -1px 0 0.6px #2c00ffab,
    0 -1px 0 0.6px #f0fa,
    1px -1px 0 0.6px #2c00ffab,
    1px 0 0 0.6px #f0fa;
}

.wrappedSVG {
  cursor: crosshair;
}
.unused {
  box-shadow:
    1px 1px 0 0.6px #fff3,
    0 1px 0 0.6px #96009633,
    -1px 1px 0 0.6px #2c00ff33,
    -1px 0 0 0.6px #f0f3,
    -1px -1px 0 0.6px #2d274933,
    0 -1px 0 0.6px #f0f3,
    1px -1px 0 0.6px #1b009c33,
    1px 0 0 0.6px #a32ba333;
  border-width: 0;
  background-image:
    radial-gradient(circle at center, #000000d1, #000),
    repeating-conic-gradient(#5c5c5c, #fff 9deg, #c00000 9deg, #f00 18deg);
  background-clip: padding-box, border-box;
  border-color: transparent;
  background-repeat: no-repeat;
  background-size:
    auto,
    150% 150%;
  background-position:
    center,
    80% 30%;
}

section {
  container-type: inline-size;
}
section:hover {
  z-index: 1;
}
#droptarget {
  min-height: 20vh;
  width: 30%;
  max-width: 260px;
  aspect-ratio: var(--𝞅);
  border: 0.4em dashed #666;
  border-radius: 0.5em;
  background-image:
    linear-gradient(-33deg, blue 30%, red 70%), var(--down2), var(--topleft),
    var(--topright), var(--botleft), var(--botright),
    linear-gradient(80deg, #ffffff70, #0004, #fff, #0004, #ffffff70),
    linear-gradient(0, #0000, #0000);
  background-repeat: no-repeat;
  background-position:
    center,
    center center,
    top 0.5em left 0.5em,
    top 0.5em right 0.5em,
    bottom 0.5em left 0.5em,
    bottom 0.5em right 0.5em,
    center;
  background-size: 100%, 20%, 40%, 40%, 40%, 40%, 100%;
  background-blend-mode: soft-light, normal, normal, normal, normal, normal;

  margin: 0.6em;
  box-shadow:
    1px 1px 4px 1px darkred inset,
    -1px -1px 6px 1px #021685 inset,
    0 0 12px -2px #000;
}

.svgCombiner svg {
  font-size: 8em;
  border: none;
  box-shadow: none;
  background: none;
  border-radius: 0;
  align-self: center;
  flex: 1 auto;
}
.svgCombiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.4em;
  border: 3px solid #262626;
  border-radius: 6px;
  padding: 0.2em 0.6em;
}
.sourceOverlay > svg {
  font-size: 4em;
}
.svgCombiner label {
  background: none;
}
.controlgroup {
  position: relative;
}
.overlay,
.composite {
  flex-direction: column;
  row-gap: 0.4em;
}
.composite > span:first-of-type {
  align-self: center;
  text-decoration: underline;
  font-size: 1em;
}
.composite > :is(.outline, .fill) > span {
  display: flex;
  /*   position: absolute; */
  bottom: 0;
  /*   opacity: 0; */
  justify-content: start;
  align-items: baseline;
  line-height: 1;
}
.composite > :is(.outline, .fill):hover > span {
  opacity: 0.6;
}
.controlgroup > label {
  padding: 0;
}
.composite > :is(.outline, .fill) {
  column-gap: 0.2em;
}

.composite > :is(.outline, .fill) > label {
  line-height: 1;
}

.composite > :is(.outline, .fill) > .control {
  flex-direction: column;
  justify-content: stretch;
  align-items: end;
  overflow: clip;
  border: 1px solid transparent;
  border-radius: 10px 10px 2px 2px;
  background-clip: border-box;
}
.composite > :is(.outline, .fill) > .control:hover {
  text-decoration: none;
}
.composite > :is(.outline, .fill) > .control > input[type='radio'] {
  display: none;
}
.composite > :is(.outline, .fill) > .control > span:first-of-type {
  border: 2px solid #0000;
  align-self: stretch;
  text-align: center;
  font-size: 0.7em;
}

.composite > :is(.outline, .fill) > .control:has(> :checked) > span {
  color: #000;
  text-shadow: none;
  font-weight: bold;
  border: 2px solid #bbb;
  border-radius: 10px 10px 0 0;
  background-color: #bbb;
}
.composite > :is(.outline, .fill) > .control > .preview {
  aspect-ratio: var(--𝞅∕𝟮);
  width: 100px;
  height: auto;
  border: 1px dashed #666;
  border-radius: 2px;
  font-size: 20px;
  background-image:
    repeating-linear-gradient(230deg, #0002, #fff2 8px, #0002 12px),
    repeating-linear-gradient(-60deg, #b00 0 10%, #00f 50%, #b00);
  background-clip: content-box;
  background-size: 10% 200%;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.composite > :is(.outline, .fill) > .control:hover > .preview {
  border: 1px dashed #bbb;
}
.composite > :is(.outline, .fill) > .control > .preview > svg {
  font-size: 60px;
}
.composite > :is(.outline, .fill) > .control:has(> :checked) > .preview {
  border: 1px solid #bbb;
  border-radius: 0 0 2px 2px;
}

.controlgroup > .title {
  flex-direction: column;
  margin: auto 0;
  text-align: center;
}
.controlgroup > .title > svg {
  font-size: 2.4em;
  margin-top: auto;
}
.controlgroup > .title > span {
  font-size: 0.7em;
  align-self: center;
  margin-bottom: -2em;
  padding-bottom: 2em;
  color: #ccc;
}
.sourceOverlay > .title,
.sourceBase > .title {
  flex-direction: column-reverse;
  margin: auto 0;
  align-items: center;
  row-gap: 0.2em;
}
.sourceOverlay > .title > svg {
  font-size: 4em;
  border: 2px dotted #444;
  border-radius: 2px;
}
.combineList {
  flex-direction: column;
  width: 100%;
  align-items: start;
}

.sourceBase {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.4em;
  border: 3px solid #262626;
  border-radius: 6px;
  padding: 0.2em 0.6em;
}

.sourceBase svg {
  font-size: 8em;
  border: none;
  box-shadow: none;
  background: none;
  border-radius: 0;
  align-self: center;
  flex: 1 auto;
}

.splitList {
  flex-direction: column;
  width: 100%;
  align-items: start;
}

.sourceSplit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.4em;
  border: 3px solid #262626;
  border-radius: 6px;
  padding: 0.2em 0.6em;
}

.sourceSplit > .title > svg {
  font-size: 4em;
  border: 2px dotted #444;
  border-radius: 2px;
}

.svgSplitter svg {
  font-size: 8em;
  border: none;
  box-shadow: none;
  background: none;
  border-radius: 0;
  align-self: center;
  flex: 1 auto;
}

.svgSplitter .title {
  flex-direction: column-reverse;
}

.sourceOverlay > .title,
.sourceBase > .title {
  flex-direction: column-reverse;
  margin: auto 0.2em;
  align-items: center;
  row-gap: 0.2em;
}
.sourceOverlay .controlgroup > .title {
  padding-top: 1lh;
}

.controlgroup > .title > svg {
  font-size: 1.4em;
  margin-bottom: 0.2em;
}
.sourceOverlay > .title > svg {
  font-size: 3.2em;
}
.sourceOverlay > .title,
.sourceBase > .title {
  margin: auto 0.2em;
}
.controlgroup > .title {
  margin: auto 0.4em;
}

/*{{{1 SVGs*/
#droptarget {
  --down2: url('data:image/svg+xml,%3Csvg style=%22fill: %23000000;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 384 512%22%3E%3Cpath d=%22M64 464c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16H224v80c0 17.7 14.3 32 32 32h80V448c0 8.8-7.2 16-16 16H64zM64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V154.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0H64zm97 289c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0L79 303c-9.4 9.4-9.4 24.6 0 33.9l48 48c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-31-31 31-31zM257 255c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l31 31-31 31c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l48-48c9.4-9.4 9.4-24.6 0-33.9l-48-48z%22%3E%3C/path%3E%3C/svg%3E');

  --topleft: url('data:image/svg+xml,%3Csvg style=%22fill: %23000000;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 640 512%22%3E%3Cpath d=%22 M9.4 9.4C21.9-3.1 42.1-3.1 54.6 9.4L160 114.7V96c0-17.7 14.3-32 32-32s32 14.3 32 32v96c0 4.3-.9 8.5-2.4 12.2c-1.6 3.7-3.8 7.3-6.9 10.3l-.1 .1c-3.1 3-6.6 5.3-10.3 6.9c-3.8 1.6-7.9 2.4-12.2 2.4H96c-17.7 0-32-14.3-32-32s14.3-32 32-32h18.7L9.4 54.6C-3.1 42.1-3.1 21.9 9.4 9.4z %22%3E%3C/path%3E%3C/svg%3E');

  --botleft: url('data:image/svg+xml,%3Csvg style=%22fill: %23000000;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 640 512%22%3E%3Cpath d=%22 M114.7 352H96c-17.7 0-32-14.3-32-32s14.3-32 32-32h96 0l.1 0c8.8 0 16.7 3.6 22.5 9.3l.1 .1c3 3.1 5.3 6.6 6.9 10.3c1.6 3.8 2.4 7.9 2.4 12.2v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V397.3L54.6 502.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L114.7 352z %22%3E%3C/path%3E%3C/svg%3E');

  --topright: url('data:image/svg+xml,%3Csvg style=%22fill: %23000000;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 640 512%22%3E%3Cpath d=%22 M416 96c0-17.7 14.3-32 32-32s32 14.3 32 32v18.7L585.4 9.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3L525.3 160H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H448c-8.8 0-16.8-3.6-22.6-9.3l-.1-.1c-3-3.1-5.3-6.6-6.9-10.3s-2.4-7.8-2.4-12.2l0-.1v0V96z %22%3E%3C/path%3E%3C/svg%3E');

  --botright: url('data:image/svg+xml,%3Csvg style=%22fill: %23000000;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 640 512%22%3E%3Cpath d=%22 M525.3 352L630.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L480 397.3V416c0 17.7-14.3 32-32 32s-32-14.3-32-32V320v0c0 0 0-.1 0-.1c0-4.3 .9-8.4 2.4-12.2c1.6-3.8 3.9-7.3 6.9-10.4c5.8-5.8 13.7-9.3 22.5-9.4c0 0 .1 0 .1 0h0 96c17.7 0 32 14.3 32 32s-14.3 32-32 32H525.3z %22%3E%3C/path%3E%3C/svg%3E');
}

.autoWrap {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.svgListing {
  align-content: first baseline;
  min-height: unset;
}
.svgListing h1 {
  width: unset;
  flex: 1 100%;
}
.svgListing svg {
  box-shadow: none;
  border: none;
  background: none;
  max-height: 0.8em;
  width: 0.8em;
  height: 0.8em;
  padding: unset;
  border-radius: unset;
}

.iconRow {
  outline: none;
}
.iconRow .wrappedSVG {
  align-self: start;
  justify-self: start;
  border-radius: var(--icon-radius);
  padding: calc(0.01em * (var(--icon-padding, 16) - var(--icon-border, 3)));
  background-color: var(--icon-bg-color, #000000);
  box-shadow: unset;
}
.iconRow:hover .wrappedSVG {
  filter: unset;
  background-size: unset;
  box-shadow:
    1px 1px 0 0.6px #2c00ffab,
    0 1px 0 0.6px #f0fa,
    -1px 1px 0 0.6px #2c00ffab,
    -1px 0 0 0.6px #f0fa,
    -1px -1px 0 0.6px #2c00ffab,
    0 -1px 0 0.6px #f0fa,
    1px -1px 0 0.6px #2c00ffab,
    1px 0 0 0.6px #f0fa;
}
.iconRow:hover .wrappedSVG > svg {
  background-size: unset;
  box-shadow: unset;
  filter: brightness(1.6);
}

.outer {
  contain: unset;
  container: unset;
  contain-intrinsic-size: unset;
  contain-intrinsic-block-size: unset;
}

.inner {
  width: unset;
  max-height: unset;
  margin: unset;
  outline: none;
}

.inner:hover {
  outline: 1px dashed blue;
}

.inner::before {
  width: unset;
}

.svgActions {
  position: absolute;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  gap: unset;
  row-gap: unset;
  --icon-inset: 0.8em;
  padding: var(--icon-inset) var(--icon-inset) var(--icon-inset)
    calc(var(--item-size) + (var(--icon-inset) * 1.5));
  margin: calc(var(--icon-inset) * -1);
  border-radius: calc(var(--icon-radius) + var(--icon-inset));
  width: calc((var(--item-size) * 3) + (var(--item-gap) * 2));
  box-sizing: content-box;
}
.iconRow:hover .svgActions,
.svgActions:hover {
  transition-delay: 0ms;
}
.svgActions > :where(.down, .copy) {
  cursor: pointer;
  flex: auto;
  align-self: stretch;
  text-align: left;

  transition-property: background, text-decoration;

  border: 0.6px dashed transparent;
  margin-bottom: -0.3em;

  background-image: var(--icon), var(--icon-tick);
  margin: 0;
  background-repeat: no-repeat;
  border-radius: 0;
  padding: 0.2em 0.8em 0.2em 3em;
  transition:
    background-size 100ms ease-out,
    background-position 200ms ease;
  background-position:
    center left 1.4em,
    center left 1.2em;
  background-size: 1em, 0;
  text-wrap: nowrap;
  justify-content: start;
  font-size: 0.9em;
}

.svgActions > :where(.down, .copy)::before {
  background-color: white;
}

.svgActions > :where(.down, .copy):hover {
  background-size: 1em, 0;
  transition: 60ms ease;
  transition-property: background, text-decoration;

  box-shadow: 1px 1px 4px 1px #000;
  background-position:
    center right 1.6em,
    center right 0.3em;
}

.svgActions > :where(.down, .copy):hover:active {
  transition: 30ms ease;
  background-size: 0.9em;
}

.svgActions > :where(.down, .copy):active {
  transition: 40ms ease;
  background-size: 0.9em;
}

.svgActions > .down {
  --icon: url('data:image/svg+xml,%3Cdiv class=%22wrappedSVG%22%3E%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 512 512%22%3E%3Cpath d=%22M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z%22%3E%3C/path%3E%3C/svg%3E%3C/div%3E');
}
.svgActions > .copy {
  --icon: url('data:image/svg+xml,%3Csvg data-name=%22copy%22 xmlns=%22http://www.w3.org/2000/svg%22 style=%22fill: %23eeeeee;%22 height=%221em%22 viewBox=%220 0 448 512%22%3E%3Cpath d=%22M208 0H332.1c12.7 0 24.9 5.1 33.9 14.1l67.9 67.9c9 9 14.1 21.2 14.1 33.9V336c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V48c0-26.5 21.5-48 48-48zM48 128h80v64H64V448H256V416h64v48c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48z%22%3E%3C/path%3E%3C/svg%3E');
}
.svgActions > :where(.down, .copy).copied,
.svgActions > :where(.down, .copy).copied:hover {
  background-position:
    center left 1.4em,
    center left 1.2em;
  background-size: 0, 1.1em;
  transition:
    background-size 200ms cubic-bezier(0.23, 1.15, 0.89, 1.44),
    background-position 200ms ease;
}
.svgActions > :where(.down, .copy).copied::before {
  display: none;
}

/* vim: set signcolumn=auto foldmethod=marker nolist nowrap conceallevel=2: */
