#coordstart > circle {
  --r: 1.8;
  r: calc(var(--r) * 1px);
  stroke-width: 0.5;
  stroke: orange;
  fill: #0001;
  --stroke-dashcount: 8;
  stroke-dasharray: calc(var(--r) * (pi / var(--stroke-dashcount)) * 1px);
  stroke-dashoffset: calc(
    (
        (var(--r) * (pi / -4)) +
          (var(--r) * (pi / var(--stroke-dashcount) * 0.5))
      ) *
      1px
  );
}
#coordstart > path:nth-child(3) {
  fill: orange;
  stroke: orangered;
  stroke-width: 0;
  d: path(
    '\
    M 0 0 \
    L 0.9 2.8 \
    L 1 3.1 \
    A 1.8 1.6 45 0 1 3.1 1 \
    L 2.8 0.9 \
    Z \
    M 2.3 0.5 \
    L 2.8 1 \
    A 1.6 1.6 45 1 1 1 2.8 \
    L 0.5 2.3 \
    A 1.8 1.66 45 1 0 2.3 0.5 \
    Z'
  ) !important;
  /* d: 'path("M 0 0 L 0.5 3 L 1 3 A 2 2 0 0 1 3 1 L 3 0.5 Z M 3 0.5 L 3 1 A 2 2 0 0 1 1 3 L 0.5 3 A 2 2 0 1 0 3 0.5 Z");'; */
}
:not(marker) > path {
  marker-end: inherit;
  marker-mid: inherit;
  marker-start: inherit;
}
circle.winding {
  stroke: black;
  fill: red;
  stroke-width: 10;
  stroke-dasharray: 32;
  stroke-dashoffset: 0;
}

#coordstart,
#coordmid,
#coordend {
  fill-opacity: 1;
  stroke: #0000;
  fill: #0000;
}
#coordstart2 {
  fill: #000;
}

.skel {
  marker-start: url(#coordstart2);
  marker-mid: url(#coordmid);
  marker-end: url(#coordend);
  fill: #f000;
  stroke: #f00;
  stroke-width: 0.1px;
}
