:root {
  --icon-fg-color: #ffffff;
  --icon-bg-color: #000000;
  --icon-border: 1;
  --icon-padding: 20;
  --icon-radius: 4px;
  --icon-inset: 0.8em;
  --icon-border-style: dashed;
  --icon-border-color: #7c7c7c;
  --icon-border-width: 0.6px;
  --section-border-width: 0.44em;
  --section-border: var(--section-border-width) solid #262626;
  --section-border-radius: 1em;
  --section-padding: 0.6em;
  --icon-doc: url('data:image/svg+xml,%3Csvg fill=%22hsl(0 99 99)%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 384 512%223E\
    %3Cpath d=%22M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM112 256H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z%22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --icon-down: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 style=%22fill: %23ffffff;%22  viewBox=%220 0 512 512%22%3E\
    %3Cpath d=%22M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z%22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --icon-fill: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 512 512%22%3E\
    %3Cpath d=%22M86.6 9.4C74.1-3.1 53.9-3.1 41.4 9.4s-12.5 32.8 0 45.3L122.7 136 30.6 228.1c-37.5 37.5-37.5 98.3 0 135.8L148.1 481.4c37.5 37.5 98.3 37.5 135.8 0L474.3 290.9c28.1-28.1 28.1-73.7 0-101.8L322.9 37.7c-28.1-28.1-73.7-28.1-101.8 0L168 90.7 86.6 9.4zM168 181.3l49.4 49.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L213.3 136l53.1-53.1c3.1-3.1 8.2-3.1 11.3 0L429.1 234.3c3.1 3.1 3.1 8.2 0 11.3L386.7 288H67.5c1.4-5.4 4.2-10.4 8.4-14.6L168 181.3z%22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --icon-line: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 512 512%22%3E\
    %3Cpath d=%22M418.4 157.9c35.3-8.3 61.6-40 61.6-77.9c0-44.2-35.8-80-80-80c-43.4 0-78.7 34.5-80 77.5L136.2 151.1C121.7 136.8 101.9 128 80 128c-44.2 0-80 35.8-80 80s35.8 80 80 80c12.2 0 23.8-2.7 34.1-7.6L259.7 407.8c-2.4 7.6-3.7 15.8-3.7 24.2c0 44.2 35.8 80 80 80s80-35.8 80-80c0-27.7-14-52.1-35.4-66.4l37.8-207.7zM156.3 232.2c2.2-6.9 3.5-14.2 3.7-21.7l183.8-73.5c3.6 3.5 7.4 6.7 11.6 9.5L317.6 354.1c-5.5 1.3-10.8 3.1-15.8 5.5L156.3 232.2z%22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --icon-copy: url('data:image/svg+xml,%3Csvg data-name=%22copy%22 xmlns=%22http://www.w3.org/2000/svg%22 style=%22fill: %23eeeeee;%22 height=%221em%22 viewBox=%220 0 448 512%22%3E\
    %3Cpath d=%22M208 0H332.1c12.7 0 24.9 5.1 33.9 14.1l67.9 67.9c9 9 14.1 21.2 14.1 33.9V336c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V48c0-26.5 21.5-48 48-48zM48 128h80v64H64V448H256V416h64v48c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48z%22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --icon-tick: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 style=%22fill: %2300aa00;stroke: %23000; stroke-width: 10;%22 viewBox=%220 0 448 512%22%3E\
    %3Cpath d=%22M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z%22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --item-size: 3rem;
  --item-gap: calc(var(--item-size) * 0.22);
  font-size: clamp(10px, max(2vh, 2vw), min(4vh, 4vw, 20px));
  line-height: 14px;
}

body {
  --icon-bg-preview: linear-gradient(45deg, #fff, #ccca, #fff);
}

fieldset::before {
  height: 100%;
  display: flex;
  width: 70px;
  mask-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 384 512%22%3E%3Cpath d=%22M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128z%22%3E%3C/path%3E%3C/svg%3E');
  background-image: var(--icon-bg-preview);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-origin: content-box;
  mask-clip: content-box;
  background-color: #0000;
  mask-size: contain;
  margin: 0 2ch 0 1ch;
}

h2 {
  display: block;
  width: 100%;
  margin: 0.2em 0.2em 0;
  font-size: 1.23em;
  font-family: Menlo, fixed-width;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.23em;
}

.subsection {
  flex: 1 1 100%;
}

div {
  display: flex;
}

fieldset,
section {
  border: var(--section-border);
  border-radius: var(--section-border-radius);
  padding: var(--section-padding);
  display: flex;
}

section {
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--item-gap);
  margin-right: max(10vw, 100px);
  --available: calc(
    100cqi - var(--gap) - (var(--padding) * 2) - (var(--border) * 2)
  );
  --item: calc(var(--sqi-gap) + var(--sqi-size));
  --mod: mod(var(--available), var(--item));
  --section-item-count: calc(100sqi);
  container-type: inline-size;
}

fieldset {
  align-items: center;
}

fieldset::before {
  content: '';
  width: 70px;
  height: auto;
  background-image: var(--icon-doc);
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1;
  filter: brightness(0.5) hue-rotate(210deg) saturate(5);
}

fieldset label {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: 0;
  row-gap: 0.4em;
  align-items: stretch;
  font-family: monospace;
  min-width: 200px;
  flex: 1 1 min-content;
}

fieldset label::before {
  content: attr(data-sink-value);
  font-family: monospace;
  width: 2em;
}

fieldset datalist,
option {
  display: flex;
  position: relative;
}

fieldset datalist {
  place-items: center;
  grid-template-columns:
    [sm]repeat(9, calc(((100% - (var(--offset) * 2)) / 8)))
    [em];
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  --offset: 10px;
  --wmark: calc(((100% - (var(--offset) * 2)) / 8));
  top: -1.3em;
  width: 100%;
  font-size: 0.8em;
  line-height: 1.2em;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-sizing: border-box;
  z-index: -1;
  background-image: linear-gradient(to bottom, #0000, #000 20%, #0000 60%);
}

option {
  justify-content: center;
  left: 10px;
  flex-direction: column;
  width: auto;
  flex: 2 1 auto;
  border-radius: 0 0 0 80px/20px 50px;
  background-repeat: no-repeat;
  background-size:
    4em 3em,
    10em 3em;
  background-position: center;
  background-color: transparent;
  align-items: center;
}

option:first-of-type {
  flex: 1 1 auto;
  align-items: start;
}

option:last-of-type {
  flex: 1 1 auto;
  align-items: end;
}

option::before {
  text-align: center;
}

option::after,
option::before {
  display: block;
  min-width: 20px;
  width: 2em;
  margin: 0 0.75em;
}

option::before {
  content: '|';
}

option::after {
  content: attr(value);
  text-align: center;
  background-image:
    radial-gradient(
      circle at -60% -24%,
      #ffbb19de 34%,
      #fff0 50%,
      #fff0 90%,
      #a099 95%,
      #000d 98%
    ),
    radial-gradient(
      farthest-corner at 90% -70%,
      #0000,
      #0004 2%,
      red,
      #ffa700 61%,
      #be9f9f,
      #9e5050 90%,
      #3f0505 100%
    );
  height: 1.5em;
  line-height: 1.3em;
  padding-top: 0.4em;
  border-radius: 10% 70%/70% 10%;
  filter: drop-shadow(0 0 4px #000) grayscale(1);
}

option:nth-child(2n)::after {
  font-size: 0.9em;
  line-height: 1em;
  color: #d2d2ff;
}

svg {
  width: 1em;
  height: 1em;
  max-height: 1em;
  box-sizing: border-box;
}

.svgListing {
  margin: 0;
  display: flex;
  width: auto;
  margin-right: calc((var(--item-size) * 3) + (var(--item-gap) * 1));
}

.svgListing svg {
  background-color: var(--icon-bg-color, #000000);
  background-clip: padding-box, border-box;
  background-repeat: no-repeat;
  background-size:
    auto,
    150% 150%;
  background-position:
    center,
    80% 30%;
  padding: calc(0.01em * (var(--icon-padding, 16) - var(--icon-border, 3)));
  border-radius: calc(0.005em * var(--icon-radius, 3));
  border-style: var(--icon-border-style, solid);
  border-width: 0;
  border-color: transparent;
}

.pathColors svg path,
svg {
  fill: var(--icon-fg-color, #ffffff);
}

.pathColors svg > g > path,
.pathColors svg > path {
  stroke-width: 0;
  stroke: #eee;
}

.pathColors svg g:nth-of-type(1) path {
  fill: red;
}

.pathColors svg g:nth-of-type(2) path {
  fill: green;
}

.pathColors svg g:nth-of-type(3) path {
  fill: #00f;
}

.pathColors svg g:nth-of-type(4) path {
  fill: orange;
}

.pathColors svg g:nth-of-type(5) path {
  fill: purple;
}

section:hover {
  z-index: 1;
}

section label {
  background-position: left center;
  padding: 0 0 0 1.2em;
  font-size: 1em;
  align-content: start;
}
/*!{{{1 SVG */
svg {
  border-width: 0;
  background-clip: padding-box, border-box;
  border-color: transparent;
  background-repeat: no-repeat;
  background-size:
    auto,
    150% 150%;
  background-position:
    center,
    80% 30%;
}

/*!{{{*/
/*! {{{1Drop target */
#droptarget {
  min-height: 20vh;
  width: 30%;
  max-width: 260px;
  aspect-ratio: var(--𝞅);
  border: 0.4em dashed #666;
  border-radius: 0.5em;
  background-image:
    linear-gradient(-33deg, blue 30%, red 70%), var(--down2), var(--topleft),
    var(--topright), var(--botleft), var(--botright),
    linear-gradient(80deg, #ffffff70, #0004, #fff, #0004, #ffffff70),
    linear-gradient(0, #0000, #0000);
  background-repeat: no-repeat;
  background-position:
    center,
    center center,
    top 0.5em left 0.5em,
    top 0.5em right 0.5em,
    bottom 0.5em left 0.5em,
    bottom 0.5em right 0.5em,
    center;
  background-size: 100%, 20%, 40%, 40%, 40%, 40%, 100%;
  background-blend-mode: soft-light, normal, normal, normal, normal, normal;
  margin: 0.6em;
  box-shadow:
    1px 1px 4px 1px #8b0000 inset,
    -1px -1px 6px 1px #021685 inset,
    0 0 12px -2px #000;
}
/*! {{{ */
/*!{{{1 SVG Combiner Controls */
.svgCombiner svg {
  font-size: 1em;
  border: 0;
  box-shadow: none;
  background: 0 0;
  border-radius: 0;
  align-self: center;
  flex: 1 auto;
}

.svgCombiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.4em;
  border: 3px solid #262626;
  border-radius: 6px;
  padding: 0.2em 0.6em;
}

.sourceOverlay > svg {
  font-size: 4em;
}

.svgCombiner label {
  background: 0 0;
}

.controlgroup {
  position: relative;
}

.composite,
.overlay {
  flex-direction: column;
  row-gap: 0.4em;
}

.composite > span:first-of-type {
  align-self: center;
  text-decoration: underline;
  font-size: 1em;
}

.composite > :is(.outline, .fill) > span {
  display: flex;
  bottom: 0;
  justify-content: start;
  align-items: baseline;
  line-height: 1;
}

.composite > :is(.outline, .fill):hover > span {
  opacity: 0.6;
}

.controlgroup > label {
  padding: 0;
}

.composite > :is(.outline, .fill) {
  column-gap: 0.2em;
}

.composite > :is(.outline, .fill) > label {
  line-height: 1;
}

.composite > :is(.outline, .fill) > .control {
  flex-direction: column;
  justify-content: stretch;
  align-items: end;
  overflow: clip;
  border: 1px solid transparent;
  border-radius: 10px 10px 2px 2px;
  background-clip: border-box;
}

.composite > :is(.outline, .fill) > .control:hover {
  text-decoration: none;
}

.composite > :is(.outline, .fill) > .control > input[type='radio'] {
  display: none;
}

.composite > :is(.outline, .fill) > .control > span:first-of-type {
  border: 2px solid #0000;
  align-self: stretch;
  text-align: center;
  font-size: 0.7em;
}

.composite > :is(.outline, .fill) > .control:has(> :checked) > span {
  color: #000;
  text-shadow: none;
  font-weight: 700;
  border: 2px solid #bbb;
  border-radius: 10px 10px 0 0;
  background-color: #bbb;
}

.composite > :is(.outline, .fill) > .control > .preview {
  aspect-ratio: var(--𝞅∕𝟮);
  width: 100px;
  height: auto;
  border: 1px dashed #666;
  border-radius: 2px;
  font-size: 20px;
  background-image:
    repeating-linear-gradient(230deg, #0002, #fff2 8px, #0002 12px),
    repeating-linear-gradient(-60deg, #b00 0 10%, #00f 50%, #b00);
  background-clip: content-box;
  background-size: 10% 200%;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.composite > :is(.outline, .fill) > .control:hover > .preview {
  border: 1px dashed #bbb;
}

.composite > :is(.outline, .fill) > .control > .preview > svg {
  font-size: 60px;
}

.composite > :is(.outline, .fill) > .control:has(> :checked) > .preview {
  border: 1px solid #bbb;
  border-radius: 0 0 2px 2px;
}

.controlgroup > .title {
  flex-direction: column;
  text-align: center;
}

.controlgroup > .title > svg {
  margin-top: auto;
}

.controlgroup > .title > span {
  font-size: 0.7em;
  align-self: center;
  margin-bottom: -2em;
  padding-bottom: 2em;
  color: #ccc;
}

.sourceOverlay > .title > svg,
.sourceSplit > .title > svg {
  border: 2px dotted #444;
  border-radius: 2px;
}

.sourceSplit > .title > svg {
  font-size: 4em;
}

.combineList {
  flex-direction: column;
  width: 100%;
  align-items: start;
}

.combineList label:has(> [type='radio']) {
  background-image:
    var(--bg-2, var(--bg-null)), var(--bg-1, var(--bg-null)),
    var(--bg-bg, var(--bg-null));
  background-position:
    var(--bg-2-pos, var(--bg0-pos)), var(--bg-1-pos, var(--bg0-pos)),
    var(--bg-bg-pos, var(--bg0-pos));
  background-size:
    var(--bg-2-size, var(--bg0-size)), var(--bg-1-size, var(--bg0-size)),
    var(--bg-bg-size, var(--bg0-size));
  --bg-1: var(--combine-base);
  --bg-1-size: contain;
  --bg-1-pos: 50% 50%;
  --bg-2: var(--combine-overlay1);
  --bg-2-size: 40%;
  --bg-2-pos: 50% 90%;
}
.combineList {
  --bg-bg:
    linear-gradient(45deg, #0002, 50%, #0008, 90%, #000a),
    linear-gradient(-45deg, #0006, #000a, #4448),
    linear-gradient(#000, #222, #444);
  --bg-bg-size: 100% 100%, 100% 100%, 100% 100%;
  --bg-bg-pos: 0 0, 0 0, 0 0;
  --bg0: linear-gradient(#0000);
  --bg0-size: 0;
  --bg0-pos: 0 0;
  --combine-base: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 fill=%22%23ffffff%22 height=%221em%22 viewBox=%220 0 384 512%22%3E%3Cpath d=%22M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128z%22%3E%3C/path%3E%3C/svg%3E');
  --combine-overlay1: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 640 640%22%3E%3Cpath d=%22M129.9 292.5C143.2 199.5 223.3 128 320 128C373 128 421 149.5 455.8 184.2C456 184.4 456.2 184.6 456.4 184.8L464 192L416.1 192C398.4 192 384.1 206.3 384.1 224C384.1 241.7 398.4 256 416.1 256L544.1 256C561.8 256 576.1 241.7 576.1 224L576.1 96C576.1 78.3 561.8 64 544.1 64C526.4 64 512.1 78.3 512.1 96L512.1 149.4L500.8 138.7C454.5 92.6 390.5 64 320 64C191 64 84.3 159.4 66.6 283.5C64.1 301 76.2 317.2 93.7 319.7C111.2 322.2 127.4 310 129.9 292.6zM573.4 356.5C575.9 339 563.7 322.8 546.3 320.3C528.9 317.8 512.6 330 510.1 347.4C496.8 440.4 416.7 511.9 320 511.9C267 511.9 219 490.4 184.2 455.7C184 455.5 183.8 455.3 183.6 455.1L176 447.9L223.9 447.9C241.6 447.9 255.9 433.6 255.9 415.9C255.9 398.2 241.6 383.9 223.9 383.9L96 384C87.5 384 79.3 387.4 73.3 393.5C67.3 399.6 63.9 407.7 64 416.3L65 543.3C65.1 561 79.6 575.2 97.3 575C115 574.8 129.2 560.4 129 542.7L128.6 491.2L139.3 501.3C185.6 547.4 249.5 576 320 576C449 576 555.7 480.6 573.4 356.5z%22%3E%3C/path%3E%3C/svg%3E');
}
.sourceBase {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.4em;
  border: 3px solid #262626;
  border-radius: 6px;
  padding: 0.2em 0.6em;
}

.sourceBase svg,
.svgSplitter svg {
  font-size: 1em;
  border: 0;
  box-shadow: none;
  background: 0 0;
  border-radius: 0;
  align-self: center;
  flex: 1 auto;
}

.splitList {
  flex-direction: column;
  width: 100%;
  align-items: start;
}

.sourceSplit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.4em;
  border: 3px solid #262626;
  border-radius: 6px;
  padding: 0.2em 0.6em;
}

.svgSplitter .title {
  flex-direction: column-reverse;
}

.sourceBase > .title,
.sourceOverlay > .title {
  flex-direction: column-reverse;
  align-items: center;
  row-gap: 0.2em;
  margin: auto 0.2em;
}

.sourceOverlay .controlgroup > .title {
  padding-top: 1lh;
}

.controlgroup > .title > svg {
  font-size: 1.4em;
  margin-bottom: 0.2em;
}

.sourceOverlay > .title > svg {
  font-size: 3.2em;
}

.controlgroup > .title {
  margin: auto 0.4em;
}

.controlgroup.overlap > .controlgroup ~ .controlgroup > .control > span {
  display: none;
}

.controlgroup .control:has(> [type='radio']:checked) {
  box-shadow: inset 0 0 2px 2px #888;
}

.controlgroup.overlap > span {
  grid-column: 1/-1;
  grid-row: 1;
  place-self: start;
}

.controlgroup.overlap {
  display: grid;
  grid-template-columns: 50fr 100fr 100fr 100fr 100fr;
  column-gap: 0.5ch;
  grid-template-rows: auto 1fr 1fr;
  place-items: center;
  grid-column: 2/-1;
}

section {
  margin: 0;
}

.controlgroup .control > [type='radio'] {
  display: none;
}

.controlgroup.fill,
.controlgroup.outline {
  display: contents;
}

.svgCombiner {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: 1/-1;
}

.combineList {
  display: grid;
  grid-template-columns: 10fr 100fr 10fr;
  grid-auto-rows: 1fr;
}

.svgCombiner.sourceBase .title {
  grid-column: 1;
}
/*!{{{ /SVG Combiner Controls */
/*!{{{1 SVGs*/
#droptarget {
  --down2: url('data:image/svg+xml,%3Csvg style=%22fill: %23000000;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 384 512%22%3E\
    %3Cpath d=%22M64 464c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16H224v80c0 17.7 14.3 32 32 32h80V448c0 8.8-7.2 16-16 16H64zM64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V154.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0H64zm97 289c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0L79 303c-9.4 9.4-9.4 24.6 0 33.9l48 48c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-31-31 31-31zM257 255c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l31 31-31 31c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l48-48c9.4-9.4 9.4-24.6 0-33.9l-48-48z%22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --topleft: url('data:image/svg+xml,%3Csvg style=%22fill: %23000000;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 640 512%22%3E\
    %3Cpath d=%22 M9.4 9.4C21.9-3.1 42.1-3.1 54.6 9.4L160 114.7V96c0-17.7 14.3-32 32-32s32 14.3 32 32v96c0 4.3-.9 8.5-2.4 12.2c-1.6 3.7-3.8 7.3-6.9 10.3l-.1 .1c-3.1 3-6.6 5.3-10.3 6.9c-3.8 1.6-7.9 2.4-12.2 2.4H96c-17.7 0-32-14.3-32-32s14.3-32 32-32h18.7L9.4 54.6C-3.1 42.1-3.1 21.9 9.4 9.4z %22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --botleft: url('data:image/svg+xml,%3Csvg style=%22fill: %23000000;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 640 512%22%3E\
    %3Cpath d=%22 M114.7 352H96c-17.7 0-32-14.3-32-32s14.3-32 32-32h96 0l.1 0c8.8 0 16.7 3.6 22.5 9.3l.1 .1c3 3.1 5.3 6.6 6.9 10.3c1.6 3.8 2.4 7.9 2.4 12.2v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V397.3L54.6 502.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L114.7 352z %22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --topright: url('data:image/svg+xml,%3Csvg style=%22fill: %23000000;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 640 512%22%3E\
    %3Cpath d=%22 M416 96c0-17.7 14.3-32 32-32s32 14.3 32 32v18.7L585.4 9.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3L525.3 160H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H448c-8.8 0-16.8-3.6-22.6-9.3l-.1-.1c-3-3.1-5.3-6.6-6.9-10.3s-2.4-7.8-2.4-12.2l0-.1v0V96z %22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --botright: url('data:image/svg+xml,%3Csvg style=%22fill: %23000000;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 640 512%22%3E\
    %3Cpath d=%22 M525.3 352L630.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L480 397.3V416c0 17.7-14.3 32-32 32s-32-14.3-32-32V320v0c0 0 0-.1 0-.1c0-4.3 .9-8.4 2.4-12.2c1.6-3.8 3.9-7.3 6.9-10.4c5.8-5.8 13.7-9.3 22.5-9.4c0 0 .1 0 .1 0h0 96c17.7 0 32 14.3 32 32s-14.3 32-32 32H525.3z %22%3E\
    %3C/path%3E\
    %3C/svg%3E');
}

.svgListing {
  align-content: first baseline;
  min-height: unset;
}

.svgListing h2 {
  width: unset;
  flex: 1 100%;
}

.svgListing svg {
  box-shadow: none;
  border: 0;
  background: 0 0;
  max-height: 0.8em;
  width: 0.8em;
  height: 0.8em;
  padding: unset;
  border-radius: unset;
}

.iconRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  stroke-width: var(--bound-val-stroke-width);
  stroke: red;
  position: relative;
  overflow: visible;
  width: fit-content;
  height: fit-content;
  outline: 0;
}

.iconRow .wrappedSVG {
  visibility: visible;
  cursor: crosshair;
  font-size: var(--item-size);
  align-self: start;
  justify-self: start;
  border-radius: var(--icon-radius);
  padding: calc(0.01em * (var(--icon-padding, 16) - var(--icon-border, 3)));
  background-color: var(--icon-bg-color, #000000);
  box-shadow: unset;
}

.iconRow:hover .wrappedSVG {
  filter: unset;
  background-size: unset;
}

.iconRow:hover .wrappedSVG > svg {
  background-size: unset;
  box-shadow: unset;
  filter: brightness(1.6);
}

.iconRow:hover .wrappedSVG:has(> [viewBox='0 0 640 640'])::after {
  transform: scale(1.4) translate(4px, -4px);
}

.wrappedSVG:has(> [viewBox='0 0 640 640'])::after {
  font-size: 8px;
  border: 0;
  color: #f0f;
  line-height: normal;
  display: flex;
  position: absolute;
  top: -2px;
  right: 2px;
  padding: 0.1em 0.6ch;
  letter-spacing: -0.08ch;
  font-family: Menlo, monospace;
  content: '□';
}

.outer {
  contain: unset;
  container: unset;
  contain-intrinsic-size: unset;
  contain-intrinsic-block-size: unset;
}

.inner {
  width: unset;
  max-height: unset;
  margin: unset;
  outline: 0;
}

.inner:hover {
  outline: 1px dashed #00f;
}

.inner::before {
  content: '';
  width: calc(100% + var(--icon-inset) * 2.4);
  height: calc(100% + var(--icon-inset) * 2.4);
  display: block;
  position: absolute;
  top: calc(var(--icon-inset) * -1.2);
  left: calc(var(--icon-inset) * -1.2);
  background-color: #111111f8;
  border: var(--icon-border-width) var(--icon-border-style)
    var(--icon-border-color);
  border-radius: calc(var(--icon-radius) + var(--icon-inset));
  box-shadow: 1px 1px 4px 1px #000;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.inner:hover::before {
  visibility: visible;
}
/*!{{{1 Copy SVG menu */
.svgActions {
  top: -50%;
  z-index: -1;
  --icon-inset: 0.8em;
  --pad-nearside: 3;
  --pad-farside: 1.5;
  display: flex;
  flex-direction: column;
  font-family: Menlo, fixed-width;
  align-items: first baseline;
  background-color: #111111f8;
  border: var(--icon-border-width) var(--icon-border-style)
    var(--icon-border-color);
  box-shadow: 1px 1px 4px 1px #000;
  pointer-events: none;
  opacity: 0;
  transition-property: opacity 80ms ease 0ms;
  gap: unset;
  row-gap: unset;
  margin: calc(var(--icon-inset) * -1);
  border-radius: calc(var(--icon-radius) + var(--icon-inset));
  box-sizing: content-box;
  height: fit-content;
  width: calc((var(--item-size) * 3) + (var(--item-gap) * 2));
  position: absolute;
  right: unset;
  left: unset;
}

.svgActions.above {
  top: unset;
  bottom: calc(var(--item-size) + var(--item-gap));
  padding: calc(var(--icon-inset) * var(--pad-farside)) var(--icon-inset)
    calc(var(--icon-inset) * var(--pad-nearside)) var(--icon-inset);
}

.svgActions,
.svgActions.below {
  top: calc(var(--item-size) + var(--item-gap));
  bottom: unset;
  padding: calc(var(--icon-inset) * var(--pad-nearside)) var(--icon-inset)
    calc(var(--icon-inset) * var(--pad-farside)) var(--icon-inset);
}

:is(.iconRow:hover, .inner:hover) :is(.svgActions, .wrappedSVG.duplicate) {
  transition-delay: 0ms;
}

:is(.iconRow:hover, .inner:hover) :is(.svgActions, .wrappedSVG.duplicate),
:is(.svgActions, .wrappedSVG.duplicate):hover {
  z-index: 1;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 80ms;
  transition-timing-function: ease;
  pointer-events: all;
}

.wrappedSVG:hover,
:is(.iconRow:hover, .inner:hover) .svgActions + .wrappedSVG {
  z-index: 2;
}

.iconRow:hover .wrappedSVG > svg {
  filter: brightness(1.6);
  background-size:
    auto,
    300% 300%;
}

.iconRow:hover :is(.svgActions, .wrappedSVG.duplicate),
:is(.svgActions, .wrappedSVG.duplicate):hover {
  transition-delay: 0ms;
}

.svgActions > :where(.down, .copy, [data-copyas]),
.svgActions > :where(.down, .copy, [data-copyas]):hover {
  background-size: 1em, 0;
  transition-property: background, text-decoration;
  background-position:
    center left 1.4em,
    center left 1.2em;
}

.svgActions > :where(.down, .copy, [data-copyas]) {
  cursor: pointer;
  flex: auto;
  align-self: stretch;
  text-align: left;
  border: var(--icon-border-width) var(--icon-border-style) #0000;
  background-image: var(--icon), var(--icon-tick);
  margin: 0;
  background-repeat: no-repeat;
  border-radius: 0;
  padding: 0.2em 0.8em 0.2em 3em;
  transition:
    background-size 100ms ease-out,
    background-position 200ms ease;
  text-wrap: nowrap;
  justify-content: start;
  font-size: 0.9em;
}

.svgActions > :where(.down, .copy, [data-copyas])::before {
  background-color: #fff;
}

.svgActions > :where(.down, .copy, [data-copyas]):hover {
  transition: 60ms ease;
  box-shadow: 1px 1px 4px 1px #000;
}

.svgActions > :where(.down, .copy, [data-copyas]):hover:active {
  transition: 30ms ease;
}

.svgActions > :where(.down, .copy, [data-copyas]):active {
  transition: 40ms ease;
}

.svgActions > .down {
  --icon: var(--icon-down);
}

.svgActions > :where(.copy, [data-copyas]) {
  --icon: var(--icon-copy);
}

.svgActions > :where(.down, .copy, [data-copyas]).copied,
.svgActions > :where(.down, .copy, [data-copyas]).copied:hover {
  background-position:
    center left 1.4em,
    center left 1.2em;
  background-size: 0, 1.1em;
  transition:
    background-size 200ms cubic-bezier(0.23, 1.15, 0.89, 1.44),
    background-position 200ms ease;
}

.svgActions > :where(.down, .copy, [data-copyas]).copied::before {
  display: none;
}
/*!}}}*/
/*!{{{1 Testing */
.hover {
  z-index: 1;
  opacity: 1;
}

.inner:has(> .hover)::before {
  visibility: visible;
}

.inner:has(> .hover) .wrappedSVG {
  filter: unset;
  background-size: unset;
  z-index: 2;
}
/*!}}}*/
/*!{{{1 Unused */
.unused {
  box-shadow:
    1px 1px 0 0.6px #fff3,
    0 1px 0 0.6px #96009633,
    -1px 1px 0 0.6px #2c00ff33,
    -1px 0 0 0.6px #f0f3,
    -1px -1px 0 0.6px #2d274933,
    0-1px 0 0.6px #f0f3,
    1px -1px 0 0.6px #1b009c33,
    1px 0 0 0.6px #a32ba333;
  border-width: 0;
  background-image:
    radial-gradient(circle at center, #000000d1, #000),
    repeating-conic-gradient(#5c5c5c, #fff 9deg, #c00000 9deg, red 18deg);
  background-clip: padding-box, border-box;
  border-color: transparent;
  background-repeat: no-repeat;
  background-size:
    auto,
    150% 150%;
  background-position:
    center,
    80% 30%;
}
/*!{{{1  New */

/*!{{{1 Debug */
.svgListing:not(:has(> h2))::before {
  outline: 3px double #00f;
  outline-offset: 1px;
}
:root:has(#toggle_debug:checked) .svgListing > h2 {
  outline: 3px dashed #f0f;
  outline-offset: 1px;
}

:root:has(#toggle_debug:checked) .svgListing > .iconRow:first-of-type {
  outline: 1px solid red;
}

:root:has(#toggle_debug:checked) .svgListing > .iconRow:last-of-type {
  outline: 1.5px solid #ff0;
}

:root:has(#toggle_debug:checked) .inner:hover > *,
:root:has(#toggle_debug:checked) :is(.iconRow:hover, .outer:hover) .inner > * {
  outline: 1px dashed #aa0;
}
/*!}}}1*/

.combineList {
  --combine-base: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 fill=%22%23ffffff%22 height=%221em%22 viewBox=%220 0 384 512%22%3E%3Cpath d=%22M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128z%22%3E%3C/path%3E%3C/svg%3E');
  --combine-overlay1: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 640 640%22%3E%3Cpath d=%22M129.9 292.5C143.2 199.5 223.3 128 320 128C373 128 421 149.5 455.8 184.2C456 184.4 456.2 184.6 456.4 184.8L464 192L416.1 192C398.4 192 384.1 206.3 384.1 224C384.1 241.7 398.4 256 416.1 256L544.1 256C561.8 256 576.1 241.7 576.1 224L576.1 96C576.1 78.3 561.8 64 544.1 64C526.4 64 512.1 78.3 512.1 96L512.1 149.4L500.8 138.7C454.5 92.6 390.5 64 320 64C191 64 84.3 159.4 66.6 283.5C64.1 301 76.2 317.2 93.7 319.7C111.2 322.2 127.4 310 129.9 292.6zM573.4 356.5C575.9 339 563.7 322.8 546.3 320.3C528.9 317.8 512.6 330 510.1 347.4C496.8 440.4 416.7 511.9 320 511.9C267 511.9 219 490.4 184.2 455.7C184 455.5 183.8 455.3 183.6 455.1L176 447.9L223.9 447.9C241.6 447.9 255.9 433.6 255.9 415.9C255.9 398.2 241.6 383.9 223.9 383.9L96 384C87.5 384 79.3 387.4 73.3 393.5C67.3 399.6 63.9 407.7 64 416.3L65 543.3C65.1 561 79.6 575.2 97.3 575C115 574.8 129.2 560.4 129 542.7L128.6 491.2L139.3 501.3C185.6 547.4 249.5 576 320 576C449 576 555.7 480.6 573.4 356.5z%22%3E%3C/path%3E%3C/svg%3E');
}
