:root {
  --icon-fg-color: #dddddd;
  --icon-bg-color: #000000;
  --icon-border: 1;
  --icon-padding: 20;
  --icon-radius: 4px;
  --icon-inset: 0.8em;
  --icon-border-style: dashed;
  --icon-border-color: #7c7c7c;
  --icon-border-width: 0.6px;
  --section-border-width: 0.44em;
  --section-border: var(--section-border-width) solid #262626;
  --section-border-radius: 1em;
  --section-padding: 0.6em;
  --icon-doc: url('data:image/svg+xml,%3Csvg fill=%22hsl(0 99 99)%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 384 512%223E\
    %3Cpath d=%22M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM112 256H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z%22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --icon-down: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 style=%22fill: %23ffffff;%22  viewBox=%220 0 512 512%22%3E\
    %3Cpath d=%22M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z%22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --icon-fill: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 512 512%22%3E\
    %3Cpath d=%22M86.6 9.4C74.1-3.1 53.9-3.1 41.4 9.4s-12.5 32.8 0 45.3L122.7 136 30.6 228.1c-37.5 37.5-37.5 98.3 0 135.8L148.1 481.4c37.5 37.5 98.3 37.5 135.8 0L474.3 290.9c28.1-28.1 28.1-73.7 0-101.8L322.9 37.7c-28.1-28.1-73.7-28.1-101.8 0L168 90.7 86.6 9.4zM168 181.3l49.4 49.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L213.3 136l53.1-53.1c3.1-3.1 8.2-3.1 11.3 0L429.1 234.3c3.1 3.1 3.1 8.2 0 11.3L386.7 288H67.5c1.4-5.4 4.2-10.4 8.4-14.6L168 181.3z%22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --icon-line: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 512 512%22%3E\
    %3Cpath d=%22M418.4 157.9c35.3-8.3 61.6-40 61.6-77.9c0-44.2-35.8-80-80-80c-43.4 0-78.7 34.5-80 77.5L136.2 151.1C121.7 136.8 101.9 128 80 128c-44.2 0-80 35.8-80 80s35.8 80 80 80c12.2 0 23.8-2.7 34.1-7.6L259.7 407.8c-2.4 7.6-3.7 15.8-3.7 24.2c0 44.2 35.8 80 80 80s80-35.8 80-80c0-27.7-14-52.1-35.4-66.4l37.8-207.7zM156.3 232.2c2.2-6.9 3.5-14.2 3.7-21.7l183.8-73.5c3.6 3.5 7.4 6.7 11.6 9.5L317.6 354.1c-5.5 1.3-10.8 3.1-15.8 5.5L156.3 232.2z%22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --icon-copy: url('data:image/svg+xml,%3Csvg data-name=%22copy%22 xmlns=%22http://www.w3.org/2000/svg%22 style=%22fill: %23eeeeee;%22 height=%221em%22 viewBox=%220 0 448 512%22%3E\
    %3Cpath d=%22M208 0H332.1c12.7 0 24.9 5.1 33.9 14.1l67.9 67.9c9 9 14.1 21.2 14.1 33.9V336c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V48c0-26.5 21.5-48 48-48zM48 128h80v64H64V448H256V416h64v48c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48z%22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --icon-tick: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 style=%22fill: %2300aa00;stroke: %23000; stroke-width: 10;%22 viewBox=%220 0 448 512%22%3E\
    %3Cpath d=%22M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z%22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  --icon-error: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 style=%22fill: %2300aa00;stroke: %23000; stroke-width: 10;%22 viewBox=%220 0 512 512%22%3E%3Cpath d=%22M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z%22%3E\
  %3C/path%3E\
  %3C/svg%3E');
  --item-size: 3rem;
  --item-gap: calc(var(--item-size) * 0.22);
  font-size: clamp(10px, max(2vh, 2vw), min(4vh, 4vw, 20px));
  line-height: 14px;
}

body {
  --icon-bg-preview: linear-gradient(45deg, #fff, #ccca, #fff);
  --n-item: ;
  overflow: hidden scroll;
  inset: auto;
  grid-auto-flow: row dense;
  --leftmargin: 0.6em;
  --n-items: round(
    down,
    (
      (100vw - var(--rightgutter) - var(--leftmargin)) /
        (var(--item-size) + var(--item-gap))
    ),
    1
  );
  --rightgutter: 11vw;
  --width: round(
    down,
    calc((100vw - var(--leftmargin))),
    calc(var(--item-size) + var(--row-gap))
  );
  background-color: #111;
  display: grid;
  grid-auto-rows: auto;
  width: 100vw;
  --item-size: 3rem;
  margin: 0;
  row-gap: 0;
  --row-gap: calc(var(--item-gap) * 1);
  grid-template-columns: 5vw [icons-start] auto [icons-end] 5vw;
  --column-gap: calc(var(--item-size) * 0.5);
  --grid-template-columns: repeat(
    auto-fit,
    [icon-start] minmax(min(var(--item-size), 100%), 1fr) [icon-end]
  );
  column-gap: 0;
}

body section {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-row: auto;
}

fieldset::before {
  mask-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 384 512%22%3E%3Cpath d=%22M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128z%22%3E%3C/path%3E%3C/svg%3E');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-origin: content-box;
  mask-clip: content-box;
  background-color: #0000;
  mask-size: contain;
  margin: 0 2ch 0 1ch;
  content: '';
  width: 70px;
  height: auto;
  background-image: var(--icon-doc);
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1;
  filter: brightness(0.5) hue-rotate(210deg) saturate(5);
}

h2 {
  display: block;
  width: 100%;
  margin: 0.2em 0.2em 0;
  font-size: 1.23em;
  font-family: Menlo, fixed-width;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.23em;
}

h2,
h3,
h4,
h5,
h6,
li,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: inherit;
  list-style-type: none;
}

div {
  display: flex;
}

fieldset {
  grid-column: 1/-1;
  border: var(--section-border);
  border-radius: var(--section-border-radius);
  padding: var(--section-padding);
  display: flex;
}

section {
  border-radius: var(--section-border-radius);
  padding: var(--section-padding);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--item-gap);
  margin-right: max(10vw, 100px);
  --available: calc(
    100cqi - var(--gap) - (var(--padding) * 2) - (var(--border) * 2)
  );
  --item: calc(var(--sqi-gap) + var(--sqi-size));
  --mod: mod(var(--available), var(--item));
  --section-item-count: calc(100sqi);
  grid-column: 1/-1;
  background-color: #0000;
  border: 0;
  box-shadow: none;
  bottom: 0;
  top: 0;
  z-index: unset;
  margin: 0 max(10vw, 100px) 0 0;
  height: auto;
}
section:hover {
  z-index: 1;
}

section label {
  background-position: left center;
  padding: 0 0 0 1.2em;
  font-size: 1em;
  align-content: start;
}

button {
  appearance: none;
  border: none;
  background: none;
  color: currentColor;
  padding: 0;
  margin: 0;
  display: flex;
}
.subsection {
  grid-column: -2;
  display: grid;
  outline: 1px dashed #aaaa;
}

fieldset {
  align-items: center;
}

fieldset label {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: 0;
  row-gap: 0.4em;
  align-items: stretch;
  font-family: monospace;
  min-width: 200px;
  flex: 1 1 min-content;
}

fieldset label::before {
  content: attr(data-sink-value);
  font-family: monospace;
  width: 2em;
}

svg {
  width: 1em;
  height: 1em;
  max-height: 1em;
  box-sizing: border-box;
  border-width: 0;
  background-clip: padding-box, border-box;
  border-color: transparent;
  background-repeat: no-repeat;
  background-size:
    auto,
    150% 150%;
  background-position:
    center,
    80% 30%;
}

.svgListing {
  width: auto;
  margin-right: calc((var(--item-size) * 3) + (var(--item-gap) * 1));
  align-content: first baseline;
  min-height: unset;
  display: grid;
  background-color: #0000;
  border: 0;
  box-shadow: none;
  bottom: 0;
  top: 0;
  z-index: unset;
  height: auto;
  grid-template-columns: subgrid;
  grid-column: 3/-2;
  column-gap: inherit;
  row-gap: inherit;
  margin: 0;
  padding: 0;
}

.svgListing h2 {
  text-align: end;
  align-items: end;
  align-content: end;
  border-inline-width: 0;
  padding-inline: 2ch;
  grid-row: auto;
  font-style: italic;
  letter-spacing: 0.2ch;
  grid-column: 1/-1;
  display: flex;
  max-width: 100vw;
  margin-left: auto;
  flex: 1 0 100%;
  justify-content: end;
  border-radius: var(--section-border-radius) 0 0 0;
  background-color: #191919;
  border: none;
  padding: 0.4em 0;
  margin: 0;
  box-shadow:
    -1px -1px 1px -1px #fff,
    inset 0 0 5px 0 #000;
  width: 100%;
}

.svgListing svg {
  background-color: var(--icon-bg-color, #000000);
  background-clip: padding-box, border-box;
  background-repeat: no-repeat;
  background-size:
    auto,
    150% 150%;
  background-position:
    center,
    80% 30%;
  border-style: var(--icon-border-style, solid);
  border-width: 0;
  border-color: transparent;
  box-shadow: none;
  border: 0;
  background: 0 0;
  padding: unset;
  border-radius: unset;
  max-height: 1em;
  height: 3em;
  width: auto;
  font-size: 3em;
}

.svgListing.imported {
  grid-column: -2/-1;
  grid-template-columns: 1fr 1fr;
}

.svgListing.imported > .iconRow {
  --item-size: 6rem;
  inset: unset;
  outline: unset;
}

.pathColors svg path,
svg {
  fill: var(--icon-fg-color, #ffffff);
}

.pathColors svg > g > path,
.pathColors svg > path {
  stroke-width: 0;
  stroke: #eee;
}

.pathColors svg g:nth-of-type(1) path {
  fill: red;
}

.pathColors svg g:nth-of-type(2) path {
  fill: green;
}

.pathColors svg g:nth-of-type(3) path {
  fill: #00f;
}

.pathColors svg g:nth-of-type(4) path {
  fill: orange;
}

.pathColors svg g:nth-of-type(5) path {
  fill: purple;
}

/*!{{{1 Copy SVG menu */
.svgActions {
  top: -50%;
  z-index: -1;
  --icon-inset: 0.8em;
  --pad-nearside: 3;
  --pad-farside: 1.5;
  display: flex;
  flex-direction: column;
  font-family: Menlo, fixed-width;
  align-items: first baseline;
  background-color: #111111f8;
  border: var(--icon-border-width) var(--icon-border-style)
    var(--icon-border-color);
  box-shadow: 1px 1px 4px 1px #000;
  pointer-events: none;
  opacity: 0;
  transition-property: opacity 80ms ease 0ms;
  gap: unset;
  row-gap: unset;
  margin: calc(var(--icon-inset) * -1);
  border-radius: calc(var(--icon-radius) + var(--icon-inset));
  box-sizing: content-box;
  height: fit-content;
  width: calc((var(--item-size) * 3) + (var(--item-gap) * 2));
  position: absolute;
  right: unset;
  left: unset;
  place-content: center;
  place-items: center;
  grid-area: 1/-1/1/-1;
  place-self: start center;
}

.svgActions {
  top: calc(var(--item-size) + var(--item-gap));
  bottom: unset;
  padding: calc(var(--icon-inset) * var(--pad-nearside)) var(--icon-inset)
    calc(var(--icon-inset) * var(--pad-farside)) var(--icon-inset);
}

.svgActions :where(.down, .copy, [data-copyas]) {
  background-size: 1em, 0;
  transition-property: background, text-decoration;
  background-position:
    center left 1.4em,
    center left 1.2em;
  cursor: pointer;
  flex: auto;
  align-self: stretch;
  text-align: left;
  border: var(--icon-border-width) var(--icon-border-style) #0000;
  background-image: var(--icon), var(--icon-tick);
  margin: 0;
  background-repeat: no-repeat;
  border-radius: 0;
  padding: 0.2em 0.8em 0.2em 3em;
  transition:
    background-size 100ms ease-out,
    background-position 200ms ease;
  text-wrap: nowrap;
  justify-content: start;
  font-size: 0.9em;
}

.svgActions :where(.down, .copy, [data-copyas])::before {
  background-color: #fff;
}

.svgActions :where(.down, .copy, [data-copyas]):hover {
  transition: 60ms ease;
  box-shadow: 1px 1px 4px 1px #000;
}

.svgActions :where(.down, .copy, [data-copyas]):hover:active {
  transition: 30ms ease;
}

.svgActions :where(.down, .copy, [data-copyas]):active {
  transition: 40ms ease;
}

.svgActions .down {
  --icon: var(--icon-down);
}

.svgActions :where(.copy, [data-copyas]) {
  --icon: var(--icon-copy);
}

.svgActions :where(.copy, [data-copyas^='im-']) {
  --icon: var(--icon-copy-image);
}

.svgActions :where(.down, .copy, [data-copyas]).copied,
.svgActions :where(.down, .copy, [data-copyas]).copied:hover {
  background-position:
    center left 1.4em,
    center left 1.2em;
  background-size: 0, 1.1em;
  transition:
    background-size 200ms cubic-bezier(0.23, 1.15, 0.89, 1.44),
    background-position 200ms ease;
}

.svgActions :where(.down, .copy, [data-copyas]).copied::before {
  display: none;
}

.svgActions :where(.down, .copy, [data-copyas]).copyfail,
.svgActions :where(.down, .copy, [data-copyas]).copyfail:hover {
  background-position:
    center left 1.4em,
    center left 1.2em;
  background-size: 0, 1.1em;
  transition:
    background-size 200ms cubic-bezier(0.23, 1.15, 0.89, 1.44),
    background-position 200ms ease;
  background-image: var(--icon), var(--icon-error);
}
.svgActions {
  padding: calc(var(--icon-inset) * var(--pad-nearside) + var(--item-size))
    var(--icon-inset) calc(var(--icon-inset) * var(--pad-farside))
    var(--icon-inset);
  width: fit-content;
}

.svgActions {
  display: grid;
  grid-column: 1/-1;
  grid-row: 1/-1;
  position: absolute;
  inset: auto;
  grid-template-columns: subgrid;
}

.svgActions :where(.down, .copy, [data-copyas]) {
  background-size: 0.9em, 0;
  background-position:
    bottom 0.2em left 1.4em,
    center left 1.2em;
}

.svgActions {
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-auto-columns: auto;
}
/*!}}}*/

[data-copyas] {
  /*! outline: 0.5px solid #aa0; */
  grid-column-end: span 2;
}
[data-copyas='svg'] {
  grid-column-start: 1;
  grid-row: 1;
}
[data-copyas='url'] {
  grid-column-start: 3;
  grid-row: 1;
}
[data-copyas='tnt'] {
  grid-column-start: 3;
}
[data-copyas='sym'] {
  grid-column-start: 1;
}
[data-copyas='u64'] {
  grid-column-start: 4;
  grid-row: 2;
}
[data-copyas='b64'] {
  grid-column-start: 2;
  grid-row: 2;
}
[data-copyas='bgr'] {
  grid-column-start: 1;
}
[data-copyas='bgi'] {
  grid-column-start: 3;
}
[data-copyas='msk'] {
  grid-column-start: 1;
}
[data-copyas='msi'] {
  grid-column-start: 1;
}
[data-copyas='msv'] {
  grid-column-start: 2;
}

[data-copyas='im-svg'] {
  grid-column-start: 1;
}
[data-copyas='im-png'] {
  grid-column-start: 2;
}

.svgActions {
  position: fixed;
  position-anchor: --anchor-svgactions;
  z-index: calc(Infinity);
  opacity: 1;
  inset: calc(
      var(--icon-inset) * var(--pad-nearside) * 0.5 +
        anchor(bottom, calc(Infinity * 1px))
    )
    anchor(right, calc(Infinity * 1px)) auto anchor(left, calc(Infinity * 1px));
  padding: calc(var(--icon-inset) * var(--pad-nearside) * 0.5) var(--icon-inset)
    calc(var(--icon-inset) * var(--pad-farside)) var(--icon-inset);
}
.svgActions::after {
  content: var(--anchor-svgactions);
}
.svgActions button::after {
  content: attr(data-copyas);
}
.svgListing {
  gap: 0;
}
.svgListing svg {
  --icon-inset: 0.1em;
  --pad-nearside: 3;
  --pad-farside: 1.5;
  z-index: 0;
  height: var(--item-size);
  width: auto;
  aspect-ratio: 1;
  border-radius: calc(var(--icon-radius) + var(--icon-inset));
  padding: var(--icon-inset);
  margin: calc(var(--icon-inset) * -1);
  box-sizing: unset;
}
.svgListing svg:hover {
  anchor-name: --anchor-svgactions;
  --anchor-svgactions: attr(data-name);
  z-index: 1;
  width: calc((var(--item-size) * 3) + (var(--item-gap) * 2));
  display: flex;
  font-family: Menlo, fixed-width;
  background-color: #111111f8;
  border: var(--icon-border-width) var(--icon-border-style)
    var(--icon-border-color);
  box-shadow: 1px 1px 4px 1px #000;
}

.svgActions button::after {
  content: attr(data-copyas);
}
.svgListing button {
  display: flex;
}
.svgListing sbutton:hover {
  outline: 1px solid #666;
}
.svgListing svg:hover {
  anchor-name: --anchor-svglisting;
  border: var(--icon-border-width) var(--icon-border-style) transparent;
  transition: anchor-name 0s linear 10s allow-discrete;
}

.svgActions {
  --icon-inset: 0.8em;
  --pad-nearside: 3;
  --pad-farside: 1.5;
  font-family: Menlo, fixed-width;
  background-color: #111111f8;
  border: var(--icon-border-width) var(--icon-border-style)
    var(--icon-border-color);
  border-radius: calc(var(--icon-radius) + var(--icon-inset));
  box-shadow: 1px 1px 4px 1px #000;
  margin: calc(var(--icon-inset) * -1);
  height: fit-content;
  width: calc((var(--item-size) * 3) + (var(--item-gap) * 2));
  place-self: center;
  padding: calc(var(--item-size)) var(--icon-inset)
    calc(var(--icon-inset) * var(--pad-farside)) var(--icon-inset);

  position-visibility: anchors-valid;

  position-anchor: --anchor-svglisting;
  position: fixed;

  position-area: block-start span-inline-start;

  transition-property: translate, opacity, display, overlay;
  transition-duration: 0.45s;
  transition-behavior: allow-discrete;

  opacity: 0;
  display: none;
  translate: 10px 0;
}
.svgActions:popover-open {
  opacity: 1;
  display: flex;
  translate: 0 0;

  @starting-style {
    opacity: 0;
    translate: 0 -20px;
  }
}
:where([interestfor='svgActions-menu'], [commandfor='svgActions-menu']):hover {
  anchor-name: --anchor-svglisting;
}
.svgActions button::after {
  content: attr(data-copyas);
  color: #eee;
}
svg {
  paint-order: stroke fill;
  /*! paint-order: fill stroke; */
  /*! stroke: red; */
  /*! stroke-width: 40; */
}

.svgListing button {
  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.svgListing svg {
  aspect-ratio: unset;
  border-radius: unset;
  padding: unset;
  margin: unset;
  box-sizing: unset;
  height: 100%;
  width: 100%;
  justify-self: center;
  align-self: center;
  max-height: var(--item-size);
  max-width: var(--item-size);
}

.svgListing svg {
  box-shadow: unset;
  border-radius: unset;
  max-height: unset;
  height: var(--item-size);
  font-size: unset;
}

.svgListing {
  grid-template-rows: auto var(--item-size);
  grid-auto-rows: var(--item-size);
  row-gap: var(--item-gap);
}

.svgListing::before {
  content: attr(data-name);
  grid-column: 1/-1;
  background-color: #222;
  line-height: normal;
  text-align: end;
  align-items: center;
  justify-content: end;
  padding: 0.2em 1ch;
}

.svgActions li {
  display: contents;
}

.svgActions > li > button::after {
  color: red;
}

.svgActions > button {
  color: yellow;
}

.svgListing::before {
  content: attr(data-name);
  grid-column: 1/-1;
  background-color: #222;
  display: flex;
  text-align: end;
  align-items: center;
  justify-content: end;
  padding: 0.2em 1ch;
  width: 100%;
  margin: 0.2em 0.2em 0;
  font-size: 1.23em;
  font-family: Menlo, fixed-width;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.23em;
}
.svgActions li {
  display: contents;
}
.svgActions > li > button::after {
  color: red;
}
.svgActions > button {
  color: yellow;
}

.svgListing {
  grid-template-columns: var(--grid-template-columns);
  grid-column: icons;
  row-gap: var(--row-gap);
  column-gap: var(--column-gap);
  margin-bottom: var(--row-gap);
}
.svgListing::before {
  content: attr(data-name);
  grid-column: 1/-1;
  background-color: #222;
  display: flex;
  text-align: end;
  align-items: center;
  justify-content: end;
  width: 100%;
  font-size: 1.23em;
  font-family: Menlo, fixed-width;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.23em;
  padding: 0;
  margin: 0;
}
.svgListing svg,
.svgListing button {
  grid-column: auto;
  grid-row: auto;
}
.svgListing {
  grid-template-columns: var(--grid-template-columns);
  grid-column: icons;
  row-gap: var(--row-gap);
  column-gap: var(--column-gap);
  margin-bottom: var(--row-gap);
}
