input[type='range'] {
  position: relative;
  border-radius: 1em;
  background: transparent;
  cursor: pointer;
  width: calc(100% - 1.5em);
  margin: 0;
  padding: 0 0.75em;
}

input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-moz-range-track {
  background: repeating-linear-gradient(
    10deg,
    #222,
    #777 0.4em 0.6em,
    #222 1em
  );
  border-radius: 55px;
  border: 1px solid #6d6d6d;
  border-width: 3px 2px 3px 2px;
  border-color: #444 #666 #666 #333;
  border-style: ridge;
  box-shadow: 0 0 2px 1px #000, 0 0 1px 0 #000 inset;
}

input[type='range']::-webkit-slider-thumb,
input[type='range']::-moz-range-thumb {
  width: 0.6em;
  padding: 0.1em 0.3em;
  margin: 0;
  background: radial-gradient(
      circle at top left,
      #fcfcfc33 13%,
      #ffffff45 35%,
      #2e2e2e0f 62%,
      #fff4 84%,
      #fff3
    ),
    linear-gradient(70deg, red 0, blue 50% 59%, red);
  border-style: groove ridge ridge groove;
  box-shadow: 0 0 2.4px 0 black, 0 0 6px 0.4px black, 0 0 2px 2px #0009 inset;
  border-radius: 0.4em;
  border-width: 1.6px;
  cursor: pointer;
}

input[type='range']:active,
input[type='range']:active::-webkit-slider-thumb,
input[type='range']:active::-moz-range-thumb {
  cursor: grabbing;
}

input[type='range']::-webkit-slider-progress,
input[type='range']::-moz-range-progress {
  border-radius: 0.4em;
  background-color: #009fff6e;
  border-width: 3px 2px 3px 2px;
  border-style: solid;
  border-color: transparent;
  background-clip: content-box;
  box-shadow: 0 0 1px 0 #ffffff82 inset;
}

input[type='range'] label::before,
input[type='range'] output {
  position: absolute;
  display: flex;
  left: calc(var(--bound-val-stroke-width, 0) * 1px);
  content: var(--bound-str-stroke-width);
  width: 2em;
  height: 2em;
}

input[type='range'].metal::-webkit-slider-thumb,
input[type='range'].metal::-moz-range-thumb {
  border-radius: 60px 4px 31px 31px / 10px 9px 75px 75px;
  background: linear-gradient(-45deg, #fff3, #0006, #0003),
    linear-gradient(70deg, red 0, blue 50% 59%, red),
    linear-gradient(-370deg, #ff7800 0, white 50% 59%, #2315d3);
  padding: 0.12em 0.14em;
  box-shadow: 0 0 0.4px 1px black, 0 0 4px 0.4px black,
    0.4px 0.4px 1px 0.4px #000d inset;
  border-style: double;
  border-width: 0.22em;
  border-color: #0000000d;
  background-clip: padding-box, padding-box, border-box;
  background-size: 36% 15%, 86% 70%, 160% 160%;
  background-position: -300% 70%, 30%, -90% -340%;
}

input[type='range'].glass::-webkit-slider-thumb,
input[type='range'].glass::-moz-range-thumb {
  background: linear-gradient(-45deg, #fff3, #0006, #0003),
    linear-gradient(70deg, red 0, blue 50% 59%, red),
    linear-gradient(10deg, #ff780022 0%, #fff7 54% 58%, #2315d333 68%);
  padding: 0.12em 0.14em;
  box-shadow: 0 0 0.4px 1px black, 0 0 4px 0.4px black,
    0.4px 0.4px 1px 0.4px #000d inset;
  border-radius: 60px 4px 31px 31px / 10px 9px 75px 75px;
  border-style: double;
  border-width: 0.24em;
  border-color: #0000000d;
  background-clip: padding-box, padding-box, border-box;
  background-size: 36% 15%, 86% 70%, 160% 160%;
  background-position: -300% 70%, 30%, 0% -340%;
}
