[submodule ".vim/pack/default/start/vim-fugitive"]
	path = .vim/pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/default/start/vim-gitgutter"]
	path = .vim/pack/default/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/default/start/vim-javascript"]
	path = .vim/pack/default/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/default/start/vim-jsx-pretty"]
	path = .vim/pack/default/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule ".vim/pack/default/start/vim-prettier"]
	path = .vim/pack/default/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
