*.swo
*.swp
*.swn
*.swm
*.swl
*.swk
*.tern-project
.DS_Store

.vim/swap/*
.vim/undo/*
.vim/backup/*
.vim/autoload/*
.vim/bundle/*
.vim/*.session
.vim/*.Session
.vim/.netrwhist
.vim/session/*
.vim/Session/*
*.session.vim*
*.Session.vim*
.vim/pack/default/start/tags*
.vim/pack/default/opt/tags*

bin/test/*
bin/HandBrakeCLI

res/vm/fix/*
res/_old/*
res/data/*
res/icons/osx/*.svg

.vim/node_modules/*

.config/*
.config/coc/extensions/node_modules/*

res/node_modules/*

