*.swo
*.swp
*.swn
*.tern-project
.DS_Store

.vim/swap/*
.vim/undo/*
.vim/backup/*
.vim/autoload/*
.vim/bundle/*
.vim/*.session
.vim/*.Session
.vim/.netrwhist
.vim/session/*
.vim/Session/*
*.session.vim*

bin/test/*
bin/HandBrakeCLI

res/_old/*
res/data/*

.vim/node_modules/*

.config/*
.config/coc/extensions/node_modules/*

res/node_modules/*

