label {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
label > :where([type='range'], progress) + div {
  margin-left: 1ch;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 0.4em;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
