:root {
  --icon-fg-color: #ffffff;
  --icon-bg-color: #000000;
  --icon-border: 1;
  --icon-padding: 20;
  --icon-radius: 60;
  --icon-border-style: dashed;
}

body {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  flex-direction: column;
  margin: 0.6em;
  gap: 0.6em;
  padding: 0;
  background-color: #222222;
  color: #ffffff;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 1em;
}

.container {
  position: relative;
  --color-tab-active: #ee7;
  font-size: 48px;
}

svg {
  fill: var(--color-tab-active);
}

.testbase {
  width: 200px;
  height: 200px;
  background: white;
  color: black;
}

.curve.topleft.stest {
  border-radius: var(--tl) var(--tr) var(--br) var(--bl) / var(--tl2) var(--tr2)
    var(--br2) var(--bl2);
  --tl: 100%;
  --tr: 100%;
  --br: 100%;
  --bl: 100%;
  --tl2: 0%;
  --tr2: 0%;
  --br2: 0%;
  --bl2: 0%;
}
.stest {
  /* border radius rotations */
  border-radius: var(--bdr-r0);
  --bdr-r0: var(--a) var(--b) var(--c) var(--d) / var(--A) var(--B) var(--C)
    var(--D);
  border-radius: var(--bdr-r1);
  --bdr-r1: var(--d) var(--a) var(--b) var(--c) / var(--D) var(--A) var(--B)
    var(--C);
  border-radius: var(--bdr-r2);
  --bdr-r2: var(--c) var(--d) var(--a) var(--b) / var(--C) var(--D) var(--A)
    var(--B);
  border-radius: var(--bdr-r3);
  --bdr-r3: var(--b) var(--c) var(--d) var(--a) / var(--B) var(--C) var(--D)
    var(--A);
  /* raw border radius components */
  --a: 20%;
  --b: 20%;
  --c: 20%;
  --d: 20%;
  --A: 100%;
  --B: 100%;
  --C: 100%;
  --D: 100%;

  /* pairs identical */
  --a: var(--aA);
  --b: var(--bB);
  --c: var(--cC);
  --d: var(--dD);
  --A: var(--aA);
  --B: var(--bB);
  --C: var(--cC);
  --D: var(--dD);
  --aA: 100%;
  --bB: 50%;
  --cC: 20%;
  --dD: 0%;

  /* all first the same */
  --a: var(--abcd);
  --b: var(--abcd);
  --c: var(--abcd);
  --d: var(--abcd);
  --A: var(--AA);
  --B: var(--BB);
  --C: var(--CC);
  --D: var(--DD);
  --AA: 100%;
  --BB: 50%;
  --CC: 20%;
  --DD: 0%;
  --abcd: 30%;

  /* all second the same */
  --a: var(--aa);
  --b: var(--bb);
  --c: var(--cc);
  --d: var(--dd);
  --A: var(--ABCD);
  --B: var(--ABCD);
  --C: var(--ABCD);
  --D: var(--ABCD);
  --aa: 100%;
  --bb: 50%;
  --cc: 20%;
  --dd: 0%;
  --ABCD: 30%;

  /* circular pairings */
  --A: var(--Ab);
  --b: var(--Ab);
  --B: var(--Bc);
  --c: var(--Bc);
  --C: var(--Cd);
  --d: var(--Cd);
  --D: var(--Da);
  --a: var(--Da);
  --Ab: 100%;
  --Bc: 10%;
  --Cd: 100%;
  --Da: 10%;

  background-color: white;
  width: 200px;
  height: 200px;
  border: 4px solid orchid;
  position: relative;
  box-sizing: border-box;
}
.stest {
  width: 80vw;
  height: 80vh;
  display: grid;
  background-color: #8870de;
  grid-template-rows: 1fr 1fr 3fr 3fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 3fr 3fr 1fr 1fr;
  grid-template-areas:
    '. . a a a . '
    'D b b b C . '
    'D A p p C B'
    'D A p p C B'
    '. A d d d B '
    '. c c c . . ';
  /* grid-template-areas: */
  /*   ". . a a . . " */
  /*   ". . b b . . " */
  /*   "A D p p B C" */
  /*   "A D p p B C" */
  /*   ". . c c . . " */
  /*   ". . d d . . "; */
}
.stest * {
  box-sizing: border-box;
}
.stest .preview {
  --bdw: 4px;
  --u: 1%;
  --a: calc(var(--bdata-bd1_a) * var(--u));
  --b: calc(var(--bdata-bd1_b) * var(--u));
  --c: calc(var(--bdata-bd1_c) * var(--u));
  --d: calc(var(--bdata-bd1_d) * var(--u));
  --A: calc(var(--bdata-bd1_A) * var(--u));
  --B: calc(var(--bdata-bd1_B) * var(--u));
  --C: calc(var(--bdata-bd1_C) * var(--u));
  --D: calc(var(--bdata-bd1_D) * var(--u));
  grid-area: p;
  border: 1px dashed lightblue;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.stest .preview .line {
  --style-top: solid;
  --style-right: solid;
  --style-bottom: solid;
  --style-left: solid;
  --color-top: red;
  --color-right: green;
  --color-bottom: blue;
  --color-left: purple;
  position: relative;
  display: block;
  content: '';
  width: 160px;
  height: 160px;
  border: 2px solid orange;
  border-width: var(--bdw);
  border-style: var(--style-top) var(--style-right) var(--style-bottom)
    var(--style-left);
  border-color: var(--color-top) var(--color-right) var(--color-bottom)
    var(--color-left);

  border-radius: var(--a) var(--b) var(--c) var(--d) / var(--A) var(--B)
    var(--C) var(--D);
}
.stest .preview .point {
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  --top: 0;
  --bottom: 0;
  --left: 0;
  --right: 0;
}
.stest .preview .bd1_a {
  content: 'a';
  top: var(--top);
  left: var(--a);
  background-color: white;
  border: 1px solid red;
}
.stest .preview .bd1_b {
  content: 'b';
  top: var(--top);
  right: var(--b);
  background-color: red;
  border: 1px solid black;
}
.stest .preview .bd1_B {
  content: 'tr';
  top: var(--B);
  right: var(--right);
  background-color: white;
  border: 1px solid green;
}
.stest .preview .bd1_C {
  content: 'tr';
  bottom: var(--C);
  right: var(--right);
  background-color: green;
  border: 1px solid black;
}
.stest .preview .bd1_c {
  content: 'c';
  bottom: var(--bottom);
  right: var(--c);
  background-color: white;
  border: 1px solid blue;
}
.stest .preview .bd1_d {
  content: 'd';
  bottom: var(--bottom);
  left: var(--d);
  background-color: blue;
  border: 1px solid black;
}
.stest .preview .bd1_D {
  content: 'D';
  bottom: var(--D);
  left: var(--left);
  background-color: white;
  border: 1px solid purple;
}
.stest .preview .bd1_A {
  content: 'A';
  top: var(--A);
  left: var(--left);
  background-color: purple;
  border: 1px solid white;
}
.stest .preview .coord {
  position: absolute;
  left: var(--bd1_d);
}
.stest .slider-wrapper[data-sink='bd1_a'] {
  grid-area: a;
  --slider-text: var(--bdata-str-bd1_a);
  --slider-value: var(--bdata-bd1_a);
}
.stest .slider-wrapper[data-sink='bd1_b'] {
  grid-area: b;
  --slider-text: var(--bdata-str-bd1_b);
  --slider-value: var(--bdata-bd1_b);
}
.stest .slider-wrapper[data-sink='bd1_c'] {
  grid-area: c;
  --slider-text: var(--bdata-str-bd1_c);
  --slider-value: var(--bdata-bd1_c);
}
.stest .slider-wrapper[data-sink='bd1_d'] {
  grid-area: d;
  --slider-text: var(--bdata-str-bd1_d);
  --slider-value: var(--bdata-bd1_d);
}
.stest .slider-wrapper[data-sink='bd1_A'] {
  grid-area: A;
  --slider-text: var(--bdata-str-bd1_A);
  --slider-value: var(--bdata-bd1_A);
}
.stest .slider-wrapper[data-sink='bd1_B'] {
  grid-area: B;
  --slider-text: var(--bdata-str-bd1_B);
  --slider-value: var(--bdata-bd1_B);
}
.stest .slider-wrapper[data-sink='bd1_C'] {
  grid-area: C;
  --slider-text: var(--bdata-str-bd1_C);
  --slider-value: var(--bdata-bd1_C);
}
.stest .slider-wrapper[data-sink='bd1_D'] {
  grid-area: D;
  --slider-text: var(--bdata-str-bd1_D);
  --slider-value: var(--bdata-bd1_D);
}
.slider-wrapper {
  --thumb-size: 2em;
  --thumb-ratio: 2;
}
.preview::after {
  border: none;
  background-color: #ccc;
  width: 100%;
  text-align: center;
  font-family: Menlo, monospace;
  font-size: small;
  letter-spacing: 0.02em;
  word-spacing: -0.2em;
  position: absolute;
  bottom: 0;
  content: var(--bdata-str-bd1_a) '% ' var(--bdata-str-bd1_b) '% '
    var(--bdata-str-bd1_c) '% ' var(--bdata-str-bd1_d) '% / '
    var(--bdata-str-bd1_A) '% ' var(--bdata-str-bd1_B) '% '
    var(--bdata-str-bd1_C) '% ' var(--bdata-str-bd1_D) '%';
}

.oval {
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 2px dashed white;
}
.oval::after {
  content: '';
  display: block;
  border-width: 1px;
  border-style: dotted;
  position: absolute;
  width: 50%;
  height: 50%;
}
.bd1_aA {
  border-color: red red purple purple;
  height: calc(var(--bdw) + var(--bdata-bd1_A) * 2%);
  width: calc(var(--bdw) + var(--bdata-bd1_a) * 2%);
  top: calc(var(--bdw) * -1);
  left: calc(var(--bdw) * -1);
}
.bd1_aA::after {
  border-color: transparent red purple transparent;
  top: 0;
  left: 0;
}
.bd1_bB {
  border-color: red green green red;
  height: calc(var(--bdw) + var(--bdata-bd1_B) * 2%);
  width: calc(var(--bdw) + var(--bdata-bd1_b) * 2%);
  top: calc(var(--bdw) * -1);
  right: calc(var(--bdw) * -1);
}
.bd1_bB::after {
  border-color: transparent transparent green red;
  top: 0;
  right: 0;
}
.bd1_cC {
  border-color: green blue blue green;
  height: calc(var(--bdw) + var(--bdata-bd1_C) * 2%);
  width: calc(var(--bdw) + var(--bdata-bd1_c) * 2%);
  bottom: calc(var(--bdw) * -1);
  right: calc(var(--bdw) * -1);
}
.bd1_cC::after {
  border-color: green transparent transparent red;
  bottom: 0;
  right: 0;
}
.bd1_dD {
  border-color: purple blue blue purple;
  height: calc(var(--bdw) + var(--bdata-bd1_D) * 2%);
  width: calc(var(--bdw) + var(--bdata-bd1_d) * 2%);
  bottom: calc(var(--bdw) * -1);
  left: calc(var(--bdw) * -1);
}
.bd1_dD::after {
  border-color: purple blue transparent transparent;
  bottom: 0;
  left: 0;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

input[type='range'][orient='vertical'] {
  writing-mode: bt-lr;
  appearance: slider-vertical;
}
input[type='range'] {
  --track-size: 1em;
  --track-foreground: #ffffff;
  --track-background: #da0000;
  --track-border-style: solid;
  --track-border-width: 0.16em;
  --track-border-color: #5a0000;

  --thumb-size: 2em;
  --thumb-ratio: 2;
  --thumb-foreground: #ffffff;
  --thumb-background: #d6b2b2;
  --thumb-border-style: solid;
  --thumb-border-width: 0.16em;
  --thumb-border-color: #5a0000;

  --tl: 0%;
  --tr: 100%;
  --br: 100%;
  --bl: 100%;
  --tl2: 1%;
  --tr2: 1%;
  --br2: 100%;
  --bl2: 1%;
  appearance: none;
  box-sizing: border-box;
  background: transparent;
  cursor: pointer;
  margin: 0;
}
input[type='range'][orient='vertical'].reversed {
  transform-origin: center center;
  transform: rotate(180deg);
}
input[type='range'].reversed {
  direction: rtl;
}
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  height: var(--track-size);
  width: 100%;
  color: var(--track-foreground);
  background: var(--track-background);
  border-style: var(--track-border-style);
  border-width: var(--track-border-width);
  border-color: var(--track-border-color);
  border-radius: var(--bdr-r1);
  --bdr-r1: var(--d) var(--a) var(--b) var(--c) / var(--D) var(--A) var(--B)
    var(--C);
}
input[type='range'][orient='vertical']::-webkit-slider-runnable-track,
input[type='range'][orient='vertical']::-moz-range-track {
  width: var(--track-size);
  height: 100%;
  border-radius: var(--bdr-r0);
  --bdr-r0: var(--a) var(--b) var(--c) var(--d) / var(--A) var(--B) var(--C)
    var(--D);
}

input[type='range']::-webkit-slider-thumb {
  margin-top: calc((var(--track-size) / 2) - (var(--thumb-size) / 2));
}
input[type='range']::-webkit-slider-thumb,
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  height: var(--thumb-size);
  width: calc(var(--thumb-size) * var(--thumb-ratio, 1));
  color: var(--thumb-foreground);
  background: var(--thumb-background);
  border-style: var(--thumb-border-style);
  border-width: var(--thumb-border-width);
  border-color: var(--thumb-border-color);
  border-radius: var(--bdr-r1);
  --bdr-r1: var(--d) var(--a) var(--b) var(--c) / var(--D) var(--A) var(--B)
    var(--C);
}

input[type='range'][orient='vertical']::-webkit-slider-thumb,
input[type='range'][orient='vertical']::-moz-range-thumb {
  width: var(--thumb-size);
  height: calc(var(--thumb-size) * var(--thumb-ratio, 1));
  border-radius: var(--bdr-r0);
  --bdr-r0: var(--a) var(--b) var(--c) var(--d) / var(--A) var(--B) var(--C)
    var(--D);
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-thumb,
input[type='range']:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

.slider-wrapper::after {
  --val-readout-size: 20px;
  --v: var(--slider-value, 0);
  pointer-events: none;
  content: var(--slider-text, '0');
  background-color: blue;
  width: var(--val-readout-size);
  height: var(--val-readout-size);
  position: absolute;
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 2px;
  box-sizing: border-box;
  font-size: 0.8em;
  left: calc(
    ((var(--v) / 100) * (100% - (var(--thumb-size) * var(--thumb-ratio))))
  );
}
.slider-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.slider-wrapper input[type='range'] {
  width: 100%;
  height: auto;
}
.slider-wrapper input[type='range'][orient='vertical'] {
  width: auto;
  height: 100%;
}

:root {
  --svg-export: url('data:image/svg+xml,\
    %3Csvg xmlns=%22http://www.w3.org/2000/svg%22\
      style=%22fill: %23ffffff;%22\
      height=%221em%22 viewBox=%220 0 576 512%22%3E\
      %3Cpath d=%22\
        M290.8 48.6\
          l78.4 29.7\
        L288 109.5 206.8 78.3\
          l78.4-29.7\
          c1.8-.7 3.8-.7 5.7 0z\
        M136 92.5\
        V204.7c-1.3 .4-2.6 .8-3.9 1.3\
          l-96 36.4\
        C14.4 250.6 0 271.5 0 294.7\
        V413.9\
          c0 22.2 13.1 42.3 33.5 51.3\
          l96 42.2\
          c14.4 6.3 30.7 6.3 45.1 0\
        L288 457.5\
          l113.5 49.9\
          c14.4 6.3 30.7 6.3 45.1 0\
          l96-42.2\
          c20.3-8.9 33.5-29.1 33.5-51.3\
        V294.7\
          c0-23.3-14.4-44.1-36.1-52.4\
          l-96-36.4\
          c-1.3-.5-2.6-.9-3.9-1.3\
        V92.5\
          c0-23.3-14.4-44.1-36.1-52.4\
          l-96-36.4\
          c-12.8-4.8-26.9-4.8-39.7 0\
          l-96 36.4\
        C150.4 48.4 136 69.3 136 92.5z\
        M392 210.6\
          l-82.4 31.2\
        V152.6\
        L392 121\
          v89.6z\
        M154.8 250.9\
          l78.4 29.7\
        L152 311.7 70.8 280.6\
          l78.4-29.7\
          c1.8-.7 3.8-.7 5.7 0z\
          m18.8 204.4\
        V354.8\
        L256 323.2\
          v95.9\
          l-82.4 36.2z\
        M421.2 250.9\
          c1.8-.7 3.8-.7 5.7 0\
          l78.4 29.7\
        L424 311.7\
          l-81.2-31.1 78.4-29.7z\
        M523.2 421.2\
          l-77.6 34.1\
        V354.8\
        L528 323.2\
          v90.7\
          c0 3.2-1.9 6-4.8 7.3z\
        %22%3E%3C/path%3E\
      %3C/svg%3E');

  --svg-load: url('data:image/svg+xml,%3Csvg style=%22fill: %23ffffff;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 576 512%22%3E%3Cpath d=%22M384 480h48c11.4 0 21.9-6 27.6-15.9l112-192c5.8-9.9 5.8-22.1 .1-32.1S555.5 224 544 224H144c-11.4 0-21.9 6-27.6 15.9L48 357.1V96c0-8.8 7.2-16 16-16H181.5c4.2 0 8.3 1.7 11.3 4.7l26.5 26.5c21 21 49.5 32.8 79.2 32.8H416c8.8 0 16 7.2 16 16v32h48V160c0-35.3-28.7-64-64-64H298.5c-17 0-33.3-6.7-45.3-18.7L226.7 50.7c-12-12-28.3-18.7-45.3-18.7H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H87.7 384z%22%3E%3C/path%3E%3C/svg%3E');

  --svg-reset: url('data:image/svg+xml,%3Csvg style=%22fill: %23ffffff;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 512 512%22%3E%3Cpath d=%22M224 32H64C46.3 32 32 46.3 32 64v64c0 17.7 14.3 32 32 32H441.4c4.2 0 8.3-1.7 11.3-4.7l48-48c6.2-6.2 6.2-16.4 0-22.6l-48-48c-3-3-7.1-4.7-11.3-4.7H288c0-17.7-14.3-32-32-32s-32 14.3-32 32zM480 256c0-17.7-14.3-32-32-32H288V192H224v32H70.6c-4.2 0-8.3 1.7-11.3 4.7l-48 48c-6.2 6.2-6.2 16.4 0 22.6l48 48c3 3 7.1 4.7 11.3 4.7H448c17.7 0 32-14.3 32-32V256zM288 480V384H224v96c0 17.7 14.3 32 32 32s32-14.3 32-32z%22%3E%3C/path%3E%3C/svg%3E');
  --svg-redo: url('data:image/svg+xml,%3Csvg style=%22fill: %23ffffff;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 512 512%22%3E%3Cpath d=%22M386.3 160H336c-17.7 0-32 14.3-32 32s14.3 32 32 32H464c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32s-32 14.3-32 32v51.2L414.4 97.6c-87.5-87.5-229.3-87.5-316.8 0s-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3s163.8-62.5 226.3 0L386.3 160z%22%3E%3C/path%3E%3C/svg%3E');
  --svg-undo: url('data:image/svg+xml,%3Csvg style=%22fill: %23ffffff;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 512 512%22%3E%3Cpath d=%22M125.7 160H176c17.7 0 32 14.3 32 32s-14.3 32-32 32H48c-17.7 0-32-14.3-32-32V64c0-17.7 14.3-32 32-32s32 14.3 32 32v51.2L97.6 97.6c87.5-87.5 229.3-87.5 316.8 0s87.5 229.3 0 316.8s-229.3 87.5-316.8 0c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0c62.5 62.5 163.8 62.5 226.3 0s62.5-163.8 0-226.3s-163.8-62.5-226.3 0L125.7 160z%22%3E%3C/path%3E%3C/svg%3E');
}

.container:has(.fancy) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.6em;
  column-gap: 0.6em;
  justify-content: center;
}

.fancy {
  width: auto;
  aspect-ratio: var(--𝞅);
  height: 2em;
  color: #000;
  background-color: currentColor;
}
.fancy.hozizontal {
  aspect-ratio: va(--𝟭∕𝞅);
}
.fancy:nth-of-type(6n) {
  color: #353;
}
.fancy:nth-of-type(6n + 1) {
  color: #355;
}
.fancy:nth-of-type(6n + 2) {
  color: #553;
}
.fancy:nth-of-type(6n + 3) {
  color: #535;
}
.fancy:nth-of-type(6n + 4) {
  color: #335;
}
.fancy:nth-of-type(6n + 5) {
  color: #533;
}

.fancy:nth-of-type(1) {
  outline: 2px dotted #0f0d;
  outline-offset: -1px;
  box-shadow: inset 0 0 0 1px #f00;
}
.fancy:nth-of-type(2) {
  overflow-clip-margin: 1px;
  outline: 4px dashed #f00 !important;
  outline-offset: -2px !important;
  box-shadow: inset 0 0 3px 1px #000, inset 0 0 0 2px #f00, 0 0 3px 1px #000,
    0 0 0 2px #f00 !important;
}

.fancy:nth-of-type(3) {
  outline: 1.5px dotted #0f4 !important;
  outline-offset: -2px !important;
  box-shadow: inset 0 0 0 3px #44f !important;
}
.fancy:nth-of-type(4) {
  box-shadow: inset 0 0 0 1px #d0d, 0 0 0 1px #d0d !important;
  outline: 1.5px dashed #dddd00 !important;
  outline-offset: -2px;
}
.fancy:nth-of-type(5) {
  outline: 2px dashed #d0d !important;
  box-shadow: 0 0 0 1px #d0d !important;
  outline-offset: -2px;
}
.fancy:nth-of-type(6) {
  overflow-clip-margin: 2px;
  overflow: clip;
  color: #000;
}
.fancy:nth-of-type(6)::after {
  overflow-clip-margin: 1px;
  overflow: clip;
  outline-offset: -2px;
  box-shadow: inset 0 0 1px 1px #040, inset 1px 1px 1px 2px #00f,
    inset -1px -1px 1px 2px #f00, 1px -1px 1px 0 #0f0, -1px 1px 1px 0 #ff0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  outline: 10px dashed currentColor;
}

.fancy:nth-of-type(7) {
  background-image: linear-gradient(5deg, #000, #000c 50%, #000),
    repeating-radial-gradient(
      circle at center,
      #ff5 10%,
      #f55 30%,
      #6a55ff85 40% 50%
    ),
    repeating-conic-gradient(#f0f 2deg, #f00 6deg 8deg, #00f 10deg, #f0f 14deg);
  background-clip: content-box, padding-box, border-box;
  border: var(--bdw) solid transparent;
  box-sizing: border-box;
  background-size: auto, 23px 44px,
    calc(100% + (var(--bdw) * 2)) calc(100% + (var(--bdw) * 2));
  background-position: center, 50% 50%, center;
  padding: 5px 5px;
  background-repeat: no-repeat, repeat, no-repeat;
  background-blend-mode: hard-light, normal, normal;
  box-shadow: inset 0 0 1px 1px #000b, 0 0 2px 1px #000b;
  --bdw: 5px;
}
.fancy:nth-of-type(7)::after {
  content: 'CSS';
  font-size: 18px;
  color: #fff;
  inset: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000,
    10px 8px 0 #f00, -6px 10px 0 #ff0, 8px -10px 0 #0ff, -10px -8px 0 #f0f;
  font-family: noitapixel;
  letter-spacing: 0.02em;
  word-spacing: 0.4em;
  filter: drop-shadow(6px 4px 0 #ff04) drop-shadow(-8px 5px 0 #f0f4)
    drop-shadow(-8px -5px 0 #00f4) drop-shadow(8px -7px 0 #0f04);
}
