/*!{{{1 Global fallbacks */
:root {
  --𝞅: calc((1 + sqrt(5)) / 2);
  --𝟭∕𝞅: 1 / var(--𝞅);
  --𝞅∕𝟮: var(--𝞅) / 2;
  --𝝷: atan(var(--𝞅));
}
/*!{{{1 @property */
@property --𝞅 {
  syntax: '<number>';
  inherits: true;
  initial-value: 1.618;
}
@property --𝟭∕𝞅 {
  syntax: '<number>';
  inherits: true;
  initial-value: 1 / var(--𝞅);
}
@property --𝞅∕𝟮 {
  syntax: '<number>';
  inherits: true;
  initial-value: var(--𝞅) / 2;
}
@property --𝝷 {
  syntax: '<angle>';
  inherits: true;
  initial-value: atan(var(--𝞅));
}
@property --_100vw {
  syntax: '<length>';
  inherits: true;
  initial-value: 100vw;
}
@property --_100vh {
  syntax: '<length>';
  inherits: true;
  initial-value: 100vh;
}
:root {
  /* Unitless */
  /* --𝞅: 1.618; */
  --𝞅: calc((1 + sqrt(5)) / 2);
  --𝞅⁻¹: calc(1 / var(--𝞅));
  --𝞅∕𝟤: calc(var(--𝞅) / 2);
  --𝝿: calc(pi);
  --𝞽️: calc(pi * 2);
  /* Unit 1 */
  --Urad: 1rad;
  --Udeg: 1deg;
  --Upx: 1px;
  --Uem: 1em;
  --Urem: 1rem;
  /* Radians */
  --𝝿ᴿ: calc(pi * 1rad);
  --𝞽ᴿ: calc(pi * 2rad);
  /* Constants */
  --e: calc(e);
  --e⁻¹: calc(1 / e);
  --√𝟤: calc(sqrt(2));
  --√𝟤⁻¹: calc(1 / var(--√𝟤));

  /* Null placeholders */
  --Ø‥text-shadow: 0 0 #0000;

  /* Metrics */
  --w: tan(atan2(var(--_100vw), 1px)); /* screen width */
  --h: tan(atan2(var(--_100vh), 1px)); /* screen height*/
  /* The result is an integer without unit  */

  --icon-border: 1;
  --icon-padding: 20;
  --icon-radius: 60;
  --icon-border-style: dashed;
}

body::before {
  counter-reset:
    screenw var(--w),
    screenh var(--h);
  content: counter(screenw) '×' counter(screenh);
}

body {
  font-size: 14px;
  line-height: normal;
  display: flex;
  flex-direction: column;
  margin: 0.6em;
  gap: 0.6em;
  padding: 0;
  background-color: #222222;
  color: #ffffff;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 1em;
}

.container {
  position: relative;
  --color-tab-active: #ee7;
  font-size: 48px;
}

svg {
  fill: var(--color-tab-active);
}

.horizontal {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1;
  align-content: center;
  justify-content: center;
  border: 0 solid #0000;
}

.vertical {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1;
  align-content: center;
  justify-content: center;
}

.demo :where(h1, h2, h3, h4, h5, h6) {
  background-color: #121212;
  color: #eee;
  padding: 0.4em;
  border-top: 0.1em solid #65005f;
}
.demo section > h2 {
  position: sticky;
  top: 0;
}

:where(body, h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
  margin-block-end: 0;
}
.screen {
  min-height: 100vh;
}

.text-outline-thin {
  --＋: 0.8px;
  --－: calc(var(--＋) * -1);
  --＝: 0;
  --🔸: 0.2px #000f;
  --text-outline-thin:
    var(--Ø‥text-shadow), var(--＋) var(--＝) var(--🔸),
    var(--＋) var(--＋) var(--🔸), var(--＝) var(--＋) var(--🔸),
    var(--－) var(--＋) var(--🔸), var(--－) var(--＝) var(--🔸),
    var(--－) var(--－) var(--🔸), var(--＝) var(--－) var(--🔸),
    var(--＋) var(--－) var(--🔸);
  text-shadow: var(--text-outline-thin);
}
.text-outline-thick {
  --＋: 1.4px;
  --－: calc(var(--＋) * -1);
  --＝: 0;
  --🔸: 1.2px #000f;
  --text-outline-thick:
    var(--Ø‥text-shadow), var(--＋) var(--＝) var(--🔸),
    var(--＋) var(--＋) var(--🔸), var(--＝) var(--＋) var(--🔸),
    var(--－) var(--＋) var(--🔸), var(--－) var(--＝) var(--🔸),
    var(--－) var(--－) var(--🔸), var(--＝) var(--－) var(--🔸),
    var(--＋) var(--－) var(--🔸);
  text-shadow: var(--text-outline-thick);
}
.text-outline-thick2 {
  --＋: 1.4px;
  --🔸: 1.8px #000f;
  text-shadow: var(--text-outline-base, var(--Ø‥text-shadow));
}

@property --text-outline-thick {
  syntax: '*';
  inherits: true;
  initial-value: 0 0 #0000;
}
@property --text-outline-base {
  syntax: '*';
  inherits: true;
  initial-value: 0 0 #0000;
}
@property --＝ {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}
@property --－ {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}
@property --＋ {
  syntax: '<length>';
  inherits: false;
  initial-value: 0;
}
@property --🔸 {
  syntax: '*';
  inherits: false;
  initial-value: '';
}

:root {
  --＝: 0;
  --－: calc(var(--＋) * -1);
  --text-outline-base:
    var(--Ø‥text-shadow), var(--＋) var(--＝) var(--🔸),
    var(--－) var(--＝) var(--🔸), var(--＝) var(--＋) var(--🔸),
    var(--＝) var(--－) var(--🔸), var(--Ø‥text-shadow);
  --➕: 1px;
  --➖: calc(var(--➕) * -1);
  --🟰: 0;
  --🔸: min(4px, var(--➕) * var(--✖️)) #000f;
  --text-outline-thick:
    var(--➕) var(--🟰) var(--🔸), var(--➕➕) var(--➕➕) var(--🔸),
    var(--🟰) var(--➕) var(--🔸), var(--➖➖) var(--➕➕) var(--🔸),
    var(--➖) var(--🟰) var(--🔸), var(--➖➖) var(--➖➖) var(--🔸),
    var(--🟰) var(--➖) var(--🔸), var(--➕➕) var(--➖➖) var(--🔸);
  text-shadow: var(--text-outline-thick);
  --➕➕: calc(var(--➕) * var(--✖️));
  --➖➖: calc(var(--➖) * var(--✖️));
  --✖️: 0.6;
  --✖: 0.6;
}
