.huewheel {
  --c-border: #000;
  --w×-border: 0.2;
  --size: 100px;

  --num-colors: 6;
  --b-h: 0deg;
  --b-s: 50%;
  --b-l: 50%;
  --b-a: 100%;
  --step: calc(360deg / var(--num-colors));
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border: calc(var(--size) * var(--w×-border)) solid var(--c-border);
  border-radius: 50%;
  background-image:
    radial-gradient(
      circle at center,
      #000 0 calc(var(--w×-border) * 100%),
      #0000,
      #000
    ),
    conic-gradient(var(--steps));

  --s1: hsl(
      calc(var(--b-h) + var(--step) * 0) var(--b-s) var(--b-l) / var(--b-a)
    )
    calc(0 * var(--step));
  --s2:
    var(--s1),
    hsl(calc(var(--b-h) + var(--step) * 1) var(--b-s) var(--b-l) / var(--b-a))
      calc(1 * var(--step));
  --s3:
    var(--s2),
    hsl(calc(var(--b-h) + var(--step) * 2) var(--b-s) var(--b-l) / var(--b-a))
      calc(2 * var(--step));
  --s4:
    var(--s3),
    hsl(calc(var(--b-h) + var(--step) * 3) var(--b-s) var(--b-l) / var(--b-a))
      calc(3 * var(--step));
  --s5:
    var(--s4),
    hsl(calc(var(--b-h) + var(--step) * 4) var(--b-s) var(--b-l) / var(--b-a))
      calc(4 * var(--step));
  --s6:
    var(--s5),
    hsl(calc(var(--b-h) + var(--step) * 5) var(--b-s) var(--b-l) / var(--b-a))
      calc(5 * var(--step));
  --steps: var(--s6);

  rotate: calc(720deg / var(--num-colors));
  transition-property: rotate 3s ease 0s;
}

/* .huewheel::after { */
/*   content: ''; */
/*   position: absolute; */
/*   top: 70%; */
/*   left: 50%; */
/*   border-radius: 50%; */
/*   background: #000; */
/*   width: 3%; */
/*   height: 3%; */
/*   transform: translate(-90%, -30%); */

/*   border: 10px solid black; */
/*   border-width: calc(var(--size) * 0.3); */
/* } */

/* .huewheel:hover { */
/*   rotate: calc(720deg / var(--num-colors)); */

/*   transition-duration: 10s; */
/*   transition-timing-function: cubic-bezier; */
/*   transition-property: rotate; */
/* } */
/* .huewheel::before { */
/*   content: ''; */
/*   position: absolute; */
/*   top: 50%; */
/*   left: 50%; */
/*   width: 70%; */
/*   height: 70%; */
/*   border-radius: 50%; */
/*   transform: translate(-50%, -50%) rotate(calc(-270deg / var(--num-colors))); */
/* } */
/* border-image: conic-gradient( */
/*   #f00 calc(0 * var(--step)), */
/*   #ff0 calc(1 * var(--step)), */
/*   #0f0 calc(2 * var(--step)), */
/*   #0ff calc(3 * var(--step)), */
/*   #00f calc(4 * var(--step)), */
/*   #f0f calc(5 * var(--step)), */
/*   #f00 calc(6 * var(--step)) */
/* ); */
/* border-image: conic-gradient( */
/*   #f00 calc(0 * var(--step)), */
/*   #ff0 calc(1 * var(--step)), */
/*   #0f0 calc(2 * var(--step)), */
/*   #0ff calc(3 * var(--step)), */
/*   #00f calc(4 * var(--step)), */
/*   #f0f calc(5 * var(--step)), */
/*   #f00 calc(6 * var(--step)) */
/* border-image-outset: 110px; */
/* border-image-repeat: 2px; */
/* ); */
