.container {
  position: relative;

  width: 33vw;
}

section.six {
  flex-direction: row;
}
section.six > .container {
  width: min(40vw, 33vh);
}
section.arcs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
section.arcs > .container {
  width: auto;
}
section.three {
  flex-direction: row;
}
section.three > .container {
  width: 30vw;
}
