.huewheel {
  --hue-offset: 0deg;
  --saturation: 80%;
  --lightness: 50%;

  --c-bd-fill: #000;
  --c-bd-line: #888;
  --w×-bd-rim: 0.04;
  --w×-bd-mid: 0.03;
  --w×-bd-hub: 0.66;
  --bd-midpoint: calc(var(--r) * 0.66);
  --b-h: 0deg;
  --b-s: 50%;
  --b-l: 50%;
  --b-a: 100%;
  --h-off: 0deg;
  --step-count: 6;
  --step: calc(360deg / var(--step-count));

  width: 100%;
  height: auto;
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 50%;
  mask-image:
    radial-gradient(circle at center, #fff var(--r), #fff0 var(--r)),
    radial-gradient(circle at center, #fff var(--r), #fff0 var(--r));
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-origin: padding-box;
  mask-clip: padding-box;
  mask-position: center center;
  background-size: 100% 100%;
  background-origin: padding-box;
  background-clip: padding-box, content-box, padding-box;
  background-repeat: no-repeat;
  background-position: center center;
  padding: calc((100% - var(--bd-midpoint)) * 0.33);
  --bdwm: 8px;
  --r: 70.71%;
  --bdwr: calc(var(--r) * var(--w×-bd-rim));
  --bdwh: calc(var(--r) * var(--w×-bd-hub));
  --bdo: 2px;
  /* h2 = a2 + b2 */
  /* --dbg1: 60%; */
  --wheel-part-hub:
    var(--c-bd-fill) 0 calc(var(--bdwh) - var(--bdo)),
    var(--c-bd-line) calc(var(--bdwh) - var(--bdo)) var(--bdwh);
  --wheel-part-single: ,rgb(from var(--c-bd-line) r g b / 0) var(--bdwh)
    calc(var(--r) - var(--bdwr));
  --wheel-part-rim:
    ,var(--c-bd-line) calc(var(--r) - var(--bdwr))
      calc(var(--r) - var(--bdwr) + var(--bdo)),
    var(--c-bd-fill) calc(var(--r) - var(--bdwr)) calc(var(--r) - var(--bdo)),
    var(--c-bd-line) calc(var(--r) - var(--bdo)) var(--r);
  --wheel-part-outside: ,rgb(from var(--c-bd-line) r g b / 0) var(--r) 100%;
  --wheel-parts: radial-gradient(
    circle at center,
    var(--wheel-part-hub) var(--wheel-part-single)
      var(--wheel-part-rim) var(--wheel-part-outside)
    ),
    var(--wheel-colors-single);
  --wheel-colors-single: linear-gradient(#0000), conic-gradient(from calc(var(--h-off) + var(--hue-offset)), var(--steps));

  background-image: var(--wheel-parts);

  --s1: hsl(
      calc(var(--b-h) + var(--step) * 0) var(--b-s) var(--b-l) / var(--b-a)
    )
    calc(var(--step) * 0) /* calc(var(--step) * 1) */;
  --s2:
    var(--s1),
    hsl(calc(var(--b-h) + var(--step) * 1) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 1) /* calc(var(--step) * 2) */;
  --s3:
    var(--s2),
    hsl(calc(var(--b-h) + var(--step) * 2) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 2) /* calc(var(--step) * 3) */;
  --s4:
    var(--s3),
    hsl(calc(var(--b-h) + var(--step) * 3) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 3) /* calc(var(--step) * 4) */;
  --s5:
    var(--s4),
    hsl(calc(var(--b-h) + var(--step) * 4) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 4) /* calc(var(--step) * 5) */;
  --s6:
    var(--s5),
    hsl(calc(var(--b-h) + var(--step) * 5) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 5) /* calc(var(--step) * 6) */;
  --s7:
    var(--s6),
    hsl(var(--b-h) var(--b-s) var(--b-l) / var(--b-a)) calc(var(--step) * 6)
      /* calc(var(--step) * 6) */;
  --steps: var(--s7);
}
.huewheel.three {
  --step: 120deg;
  --s1: hsl(
      calc(var(--b-h) + var(--step) * 0) var(--b-s) var(--b-l) / var(--b-a)
    )
    calc(var(--step) * 0) /* calc(var(--step) * 1) */;
  --s2:
    var(--s1),
    hsl(calc(var(--b-h) + var(--step) * 1) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 1) /* calc(var(--step) * 2) */;
  --s3:
    var(--s2),
    hsl(calc(var(--b-h) + var(--step) * 2) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 2) /* calc(var(--step) * 3) */;
  --s4:
    var(--s3),
    hsl(var(--b-h) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 3) /* calc(var(--step) * 4) */;
  --steps: var(--s4);
}
.huewheel:where(.red,.green,.blue) {
  --hue-arc: 120deg;
  --h-off: -120deg;
  --step-count: 2;
  --step-hue: calc(var(--hue-arc) / var(--step-count));
  --step-circ: calc(240deg / var(--step-count));
  --s1: hsl(
      calc(var(--b-h) + var(--step-hue) * 0) var(--b-s) var(--b-l) / var(--b-a)
    )
    0 /* calc(var(--step) * 1) */;
  --s2: var(--s1),
    hsl(
      calc(var(--b-h) + var(--step-hue) * 1) var(--b-s) var(--b-l) / var(--b-a)
    )
    calc(var(--step-circ) * 1) /* calc(var(--step) * 1) */;
  --s3: var(--s2),
    hsl(
      calc(var(--b-h) + var(--step-hue) * 2) var(--b-s) var(--b-l) / var(--b-a)
    )
    calc(var(--step-circ) * 1) /* calc(var(--step) * 1) */;
  --s4:
    var(--s3),
    hsl(var(--b-h) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step-circ) * 2) /* calc(var(--step) * 4) */;
  --s5: var(--s4), #0000 calc(var(--step-circ) * 2);
  --steps: var(--s5);
}
.huewheel.red {
  --b-h: -60deg;
}
.huewheel.green {
  --b-h: 60deg;
}
.huewheel.blue {
  --b-h: 180deg;
}
.huewheel.split {
  --hue-offset-inner: var(--hue-offset, 0deg);
  --hue-offset-outer: var(--hue-offset, 0deg);
  --saturation-inner: var(--saturation, 80%);
  --saturation-outer: var(--saturation, 80%);
  --lightness-inner: var(--lightness, 50%);
  --lightness-outer: var(--lightness, 50%);

  --w×-bd-hub: 0.3;
  --wheel-part-inner: ,rgb(from var(--c-bd-line) r g b / 0) var(--bdwh) calc(var(--bd-midpoint) - var(--bdwm) * 0.5);
  --wheel-part-midline:
    ,var(--c-bd-line) calc(var(--bd-midpoint) - var(--bdwm) * 0.5) calc(var(--bd-midpoint) - var(--bdwm) * 0.5 + var(--bdo))
    ,var(--c-bd-fill) calc(var(--bd-midpoint) - var(--bdwm) * 0.5 + var(--bdo)) calc(var(--bd-midpoint) + (var(--bdwm) * 0.5) - var(--bdo))
    ,var(--c-bd-line) calc(var(--bd-midpoint) + (var(--bdwm) * 0.5) - var(--bdo)) calc(var(--bd-midpoint) + var(--bdwm) * 0.5);
  --wheel-part-outer: ,rgb(from var(--c-bd-line) r g b / 0) calc(var(--bd-midpoint) + calc(var(--bdwm) * 0.5))
    calc(var(--r) - var(--bdwr));
  --wheel-parts: radial-gradient(
    circle at center,
    var(--wheel-part-hub) var(--wheel-part-inner) var(--wheel-part-midline)
      var(--wheel-part-outer) var(--wheel-part-rim) var(--wheel-part-outside)
    ), var(--wheel-colors-split);
  --wheel-colors-split:
    conic-gradient(from calc(var(--h-off) + var(--hue-offset-inner)), var(--steps)),
    conic-gradient(from calc(var(--h-off) + var(--hue-offset-outer)), var(--steps));
}

