.huewheel {
  --c-bd-fill: #000;
  --c-bd-line: #888;
  --w×-bd-rim: 0.14;
  --w×-bd-mid: 0.14;
  --w×-bd-hub: 0.2;
  --bd-midpoint: calc(var(--r) * 0.5);
  --b-h: 0deg;
  --b-s: 50%;
  --b-l: 50%;
  --b-a: 100%;
  --step-count: 6;
  --step: calc(360deg / var(--step-count));
  box-sizing: border-box;
  width: 100%;
  padding: 25%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  mask-image:
    radial-gradient(circle at center, #fff var(--r), #fff0 var(--r)),
    radial-gradient(circle at center, #fff var(--r), #fff0 var(--r));
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-origin: padding-box, content-box;
  mask-clip: padding-box, content-box;
  mask-position: center center;
  background-size: 100% 100%;
  background-origin: padding-box;
  background-clip: padding-box, content-box, padding-box;
  background-repeat: no-repeat;
  background-position: center center;
  --r: 70.71%;
  --bdwr: calc(var(--r) * var(--w×-bd-rim));
  --bdwm: calc(var(--r) * var(--w×-bd-mid));
  --bdwh: calc(var(--r) * var(--w×-bd-hub));
  --bdo: 2px;
  /* h2 = a2 + b2 */
  /* --dbg1: 60%; */
  --wheel-part-hub:
    var(--c-bd-fill) 0 calc(var(--bdwh) - var(--bdo)),
    var(--c-bd-line) calc(var(--bdwh) - var(--bdo)) var(--bdwh);
  --wheel-part-single: ,rgb(from var(--c-bd-line) r g b / 0) var(--bdwh)
    calc(var(--r) - var(--bdwr));
  --wheel-part-rim:
    ,var(--c-bd-line) calc(var(--r) - var(--bdwr))
      calc(var(--r) - var(--bdwr) + var(--bdo)),
    var(--c-bd-fill) calc(var(--r) - var(--bdwr)) calc(var(--r) - var(--bdo)),
    var(--c-bd-line) calc(var(--r) - var(--bdo)) var(--r);
  --wheel-part-outside: ,rgb(from var(--c-bd-fill) r g b / 0) var(--r) 100%;
  --wheel-parts: radial-gradient(
    circle at center,
    var(--wheel-part-hub) var(--wheel-part-single)
      var(--wheel-part-rim) var(--wheel-part-outside)
    ),
    var(--wheel-colors-single);
  --wheel-colors-single: linear-gradient(#0000), conic-gradient(from calc(var(--step) * -0.5), var(--steps));
  --wheel-colors-split: conic-gradient(from calc(var(--step) * -2.5), var(--steps)),
    conic-gradient(from calc(var(--step) * -0.5), var(--steps));

  background-image: var(--wheel-parts);

  --s1: hsl(
      calc(var(--b-h) + var(--step) * 0) var(--b-s) var(--b-l) / var(--b-a)
    )
    calc(var(--step) * 0) /* calc(var(--step) * 1) */;
  --s2:
    var(--s1),
    hsl(calc(var(--b-h) + var(--step) * 1) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 1) /* calc(var(--step) * 2) */;
  --s3:
    var(--s2),
    hsl(calc(var(--b-h) + var(--step) * 2) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 2) /* calc(var(--step) * 3) */;
  --s4:
    var(--s3),
    hsl(calc(var(--b-h) + var(--step) * 3) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 3) /* calc(var(--step) * 4) */;
  --s5:
    var(--s4),
    hsl(calc(var(--b-h) + var(--step) * 4) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 4) /* calc(var(--step) * 5) */;
  --s6:
    var(--s5),
    hsl(calc(var(--b-h) + var(--step) * 5) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 5) /* calc(var(--step) * 6) */;
  --s7:
    var(--s6),
    hsl(var(--b-h) var(--b-s) var(--b-l) / var(--b-a)) calc(var(--step) * 6)
      /* calc(var(--step) * 6) */;
  --steps: var(--s7);

  rotate: calc(720deg / var(--step-count));
  transition-property: rotate 3s ease 0s;
}
.huewheel.split {
  --wheel-part-inner: ,rgb(from var(--c-bd-line) r g b / 0) var(--bdwh)
    calc(var(--r) - var(--bdwm));
  --wheel-part-midline: 
    ,var(--c-bd-line) calc(var(--bd-midpoint) - var(--bdwm))
      calc(var(--bd-midpoint) - var(--bdwm) + var(--bdo)),
    var(--c-bd-fill) calc(var(--bd-midpoint) - var(--bdwm)) calc(var(--bd-midpoint) - var(--bdo)),
    var(--c-bd-line) calc(var(--bd-midpoint) - var(--bdo)) var(--bd-midpoint);
  --wheel-part-outer: ,rgb(from var(--c-bd-line) r g b / 0) var(--bdwm)
    calc(var(--r) - var(--bdwr));
  --wheel-parts: radial-gradient(
    circle at center,
    var(--wheel-part-hub) var(--wheel-part-inner) var(--wheel-part-midline)
      var(--wheel-part-outer) var(--wheel-part-rim) var(--wheel-part-outside)
    ), var(--wheel-colors-split);
}

/* .huewheel::after { */
/*   content: ''; */
/*   position: absolute; */
/*   top: 70%; */
/*   left: 50%; */
/*   border-radius: 50%; */
/*   background: #000; */
/*   width: 3%; */
/*   height: 3%; */
/*   transform: translate(-90%, -30%); */

/*   border: 10px solid black; */
/*   border-width: calc(var(--size) * 0.3); */
/* } */

/* .huewheel:hover { */
/*   rotate: calc(720deg / var(--num-colors)); */

/*   transition-duration: 10s; */
/*   transition-timing-function: cubic-bezier; */
/*   transition-property: rotate; */
/* } */
/* .huewheel::before { */
/*   content: ''; */
/*   position: absolute; */
/*   top: 50%; */
/*   left: 50%; */
/*   width: 70%; */
/*   height: 70%; */
/*   border-radius: 50%; */
/*   transform: translate(-50%, -50%) rotate(calc(-270deg / var(--num-colors))); */
/* } */
/* border-image: conic-gradient( */
/*   #f00 calc(0 * var(--step)), */
/*   #ff0 calc(1 * var(--step)), */
/*   #0f0 calc(2 * var(--step)), */
/*   #0ff calc(3 * var(--step)), */
/*   #00f calc(4 * var(--step)), */
/*   #f0f calc(5 * var(--step)), */
/*   #f00 calc(6 * var(--step)) */
/* ); */
/* border-image: conic-gradient( */
/*   #f00 calc(0 * var(--step)), */
/*   #ff0 calc(1 * var(--step)), */
/*   #0f0 calc(2 * var(--step)), */
/*   #0ff calc(3 * var(--step)), */
/*   #00f calc(4 * var(--step)), */
/*   #f0f calc(5 * var(--step)), */
/*   #f00 calc(6 * var(--step)) */
/* border-image-outset: 110px; */
/* border-image-repeat: 2px; */
/* ); */
