

:root {
  font-size: 16px;
  --font-ratio: calc(1em / 1ch);
  --font-to-test: 'Menlo';

  --color-fg-base: #eaeaea;
  --color-bg-base: #0B0B0B;

  --color-radio-bd: #9e0000;
  --color-radio-bd2: #d30000;
  --color-radio-checked-bg: #bf000078;

  --color-bd-red: #720000;
  --ddw: #720000;

  --grid-color: #a1a1a1;
  
  --font-size-1: 16px;
  --font-size-2: 32px;
  --font-size-3: 64px;
  --font-size-4: 96px;
  --font-size-5: 128px;
  --grid-thickness-thick: max(0.08em, 1px);
  --grid-thickness-thin: max(0.01em, 1px);
  --grid-thickness-none: 0px;
  --grid-thickness: var(--grid-thickness-thin);
}
::selection {
  color: #7d1818;
  background: #ffececeb;
}

html {
  overscroll-behavior: none;
  background-color: var(--color-bg-base);
  color: #ff4242;
  font-family: 'Menlo', 'AdobeBlank';
}

body {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

pre {
  overflow-x: scroll;
  padding: 1em;
  white-space: break-spaces;
}

fieldset {
  display: flex;
  flex-direction: row;
  border: 0.4em double var(--color-bd-red);
  border-radius: 1em / 5em;
  margin: 0 auto;
  gap: 0.4em;
  padding: 0.5em;
}
[id="s1"]:checked ~ * dd {
  font-size: var(--font-size-1);
}
[id="s2"]:checked ~ * dd {
  font-size: var(--font-size-2);
}
[id="s3"]:checked ~ * dd {
  font-size: var(--font-size-3);
}
[id="s4"]:checked ~ * dd {
  font-size: var(--font-size-4);
}
[id="s5"]:checked ~ * dd {
  font-size: var(--font-size-5);
}

[id="g1"] ~ * dd::after {
  --grid-thickness: var(--grid-thickness-none);
}
[id="g1"]:checked ~ * dd::after {
  --grid-thickness: var(--grid-thickness-thin);
}

[id="d1"] ~ * dd::after {
  --active-theme: var(--theme-light);
}
[id="d1"]:checked ~ * dd::after {
  --active-theme: var(--theme-dark);
}

dd::after {
  position: absolute;
  width: auto;
  height: auto;
  content: '';
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  
  --w-sz: var(--base);
  --h-sz: var(--base);
  --h-gap: var(--grid-row-gap);
  --w-gap: var(--grid-col-gap);
  --w-repeat: calc(var(--w-sz) + var(--w-gap));
  --h-repeat: calc(var(--h-sz) + var(--h-gap));
  
  --thinnest-noq: var(--vvvthin-noq); /*-/ not opaque /-*/
  --vvvthin-noq: 0;                     /*  vvvthin */
  --vvthin-noq: 0.1px;                 /*  vvthin  */
  --thinnest: var(--vthin);        /*-/-- opaque --/-*/
  --vthin: 0.29px;                   /*  vthin   */
  --thin: 0.85px;                   /*  thin    */
  --medium: 1.22px;                /*  medium  */
  
  --thickness: var(--thinnest-noq);

  background-position: 
    calc(var(--l-pad) - 0px) calc(var(--t-pad) - 0px),
    calc(var(--l-pad) + var(--w-sz) - 0px) calc(var(--t-pad) + var(--h-sz) - 0px); 
  background-size: var(--w-repeat) var(--h-repeat);
  background-image:
    repeating-linear-gradient(to left,
      transparent 0 0,
      red 0 var(--thickness),
      transparent 0.4px 0.4px,
      transparent 100%
    )
    ,repeating-linear-gradient(to right,
      transparent 0 0,
      red 0 var(--thickness),
      transparent 0.4px 0.4px,
      transparent 100%
    )
    ,repeating-linear-gradient(to top,
      transparent 0 0,
      red 0 var(--thickness),
      transparent 0.4px 0.4px,
      transparent 100%
    )
    ,repeating-linear-gradient(to bottom,
      transparent 0 0,
      red 0 var(--thickness),
      transparent 0.4px 0.4px,
      transparent 100%
    )
    ,linear-gradient(#0000,#0000);
}

p {
  color: #720000;
  margin: 0em 0 0.4em 0;
  text-align: start;
  border-bottom: 1px dotted #720000;
}
dt {
  color: #720000;
  margin: 0em 3em 0.4em 0;
  text-align: end;
  border-bottom: 1px dotted #720000;
  user-select: none;
  pointer-events: none;
  text-shadow: 0.04em 0.02em 0.0em #de0000;
  overflow-x: scroll;
}
dd {
  --base: 16px;
  --grid-row-gap: 8px;
  --grid-col-gap: 8px;
  --t-pad: 20px;
  --l-pad: 20px;

  position: relative;
  display: grid;
  grid-row-gap: var(--grid-row-gap);
  grid-column-gap: var(--grid-col-gap);
  grid-auto-rows: var(--base);
  grid-template-columns: repeat(16, var(--base));
  

  margin: 1em;
  padding: var(--t-pad) var(--l-pad);
  font-family: 'Menlo', 'AdobeBlank';
  white-space: normal;  
  overflow-x: scroll;
  overflow-y: visible;
  width: auto;
}
.tall {
  line-height: 2em;
}

dd b {
  display: block;
  grid-column: 1 / span 1;
}

dd a {
  white-space: break-spaces;
  background-color: #3f1122;
  padding: 0em;
  background-color: #2e0202;
  left: 0em;
  top: 0em;
  box-sizing: border-box;
  display: grid;
  width: fit-content;
  aspect-ratio: 1;
  font-size: 1em;
  height: 1em;
  overflow-x: clip;
  overflow-y: visible;
}
}

dd > a > q {
  display: block;
  grid-row: 1/1;
  grid-column: 1/1;
}
dd > a > q:first-child {
  font-family: 'Menlo', 'LastResort';
  color: cyan;
}
dd > a > q:nth-child(2) {
  font-family: 'Menlo', 'LastResort';
  color: greenyellow;
}
dd > a > q:last-child {
  font-family: 'Menlo', 'AdobeBlank';
  color: rebeccapurple;
  background-color: #ffffff61;
  width: 88%;
  border: 4px solid red;
  aspect-ratio: 1;
  border-radius: 50%;
  line-height: 1em;
  background-image: linear-gradient(to top right, transparent, transparent 46%, red 46%, red 55%, transparent 56%);
  box-sizing: content-box;
}
dd q::after, dd q::before {
  display: none;
}

div:has(button:hover) {
  background-color: cyan;
} 
dd:has(a) {
  display: grid;
}


input[type=checkbox],
input[type=radio] {
  --size: 1.2em;
  appearance: none;
  border-radius: calc(var(--size) / 2);
  width: var(--size);
  background-color: black;
  border-style: solid;
  border-width: calc(var(--size) / 5);
  background: black;
  border-color: #9F0000;
  aspect-ratio: 1;
  background-color: #97000033;
  position: relative;
  transition: border 100ms ease;
}
input[type=checkbox] {
  border-radius: calc(var(--size) / 10);
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: #970000a6;
  border-color: var(--color-radio-bd2);
  border-style: double;
  border-width: calc(var(--size) / 2);
  transition: border 100ms ease;
}

/* Sets of controls */
.toggles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.8em;
  margin: 1em;
  user-select: none;
}
.toggles label,
label.toggle {
  bottom: 0.06em;
  font-size: 1em;
  background-color: #4a000078;
  padding: 0.1em 0.8em 0.1em 0.8em;
  position: relative;
  display: inline-flex;
  margin-left: 1.4em;
  border-width: 0.12em;
  border-radius: 0.8em;
  border-color: var(--color-radio-bd);
  border-style: solid;
  align-items: center;
  align-content: baseline;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0.1em 0.8em 0.1em 0.1em;
  margin-left: 0em;
}
.toggles label::before,
label.toggle::before {
  border-style: solid;
  border-width: calc(var(--size) / 5);
  border-color: #9F0000;
  aspect-ratio: 1;
  border-radius: var(--size);
  --size: 1.3em;
  background-color: #00000070;
  content: '';
  height: var(--size);
  width: var(--size);
  position: relative;
  box-sizing: border-box;
  display: inline;
  margin-right: 0.7em;
}
.toggles label::after,
label.toggle::after {
  margin-left: 0.5em;
  content: '';
}

[id="f1"] ~ * [for="f1"]::after,
[id="f1"]:checked ~ * [for="f1"]::after {
  margin-left: 0.5em;
}
[id="f1"]:checked ~ * [for="f1"]::before,
[id="f2"]:checked ~ * [for="f2"]::before,
[id="s1"]:checked ~ * [for="s1"]::before,
[id="s2"]:checked ~ * [for="s2"]::before,
[id="s3"]:checked ~ * [for="s3"]::before,
[id="s4"]:checked ~ * [for="s4"]::before,
[id="s5"]:checked ~ * [for="s5"]::before,
[id="g1"]:checked ~ * [for="g1"]::before,
[id="d1"]:checked ~ * [for="d1"]::before {
  background-color: #2e0000a6;
  border-color: var(--color-radio-bd2);
  border-style: double;
  border-width: calc(var(--size) / 2);
}
[id="f1"]:checked ~ * [for="f1"],
[id="f2"]:checked ~ * [for="f2"],
[id="s1"]:checked ~ * [for="s1"],
[id="s2"]:checked ~ * [for="s2"],
[id="s3"]:checked ~ * [for="s3"],
[id="s4"]:checked ~ * [for="s4"],
[id="s5"]:checked ~ * [for="s5"],
[id="g1"]:checked ~ * [for="g1"],
[id="d1"]:checked ~ * [for="d1"] {
  background-color: var(--color-radio-checked-bg);
}

/* Font */
dd {
  font-family: 'Menlo', 'LastResort';
  font-size: var(--demo-font-size);
}
[id="f1"] ~ * [for="f1"]::after,
[id="f1"]:checked ~ * [for="f1"]::after {
  content: 'Menlo ❱❱ Blank';
}
[id="f1"]:checked ~ * dd {
  font-family: 'Menlo', 'AdobeBlank';
}
[id="f2"] ~ * [for="f2"]::after,
[id="f2"]:checked ~ * [for="f2"]::after {
  content: 'Menlo ❱❱ LastResort ❱❱ Blank';
}
[id="f2"]:checked ~ * dd {
  font-family: 'Menlo', 'LastResort', 'AdobeBlank';
}


.fontSize {
  margin-left: 1em;
}
.fontSize::after {
  content: '28px';
}

.inline-content {
  display: block;
  line-height: 1em;
}



