scriptencoding utf-8
"
" %FILE:TC% filetype plugin (after)
"
" Related:
"     $VIMHOME/after/syntax/%FILE:LC%.vim
"     $VIMHOME/syntax/%FILE:LC%.vim
"     $VIMHOME/ftplugin/%FILE:LC%.vim
"     $VIMRUNTIME/ftplugin/%FILE:LC%.vim
"     $VIMRUNTIME/syntax/%FILE:LC%.vim


%CUR%


" vim: nowrap sw=2 sts=2 ts=2 et fdm=marker:
