if exists("b:current_syntax")
  finish
endif

"
" Syntax etc. for '%FILE%' files
"
" au BufWritePost <buffer> syn on
"
" See Also:
"     $VIMHOME/ftplugin/%FILE:LC%.vim
"     $VIMRUNTIME/ftplugin/%FILE:LC%.vim
"     $VIMRUNTIME/syntax/%FILE:LC%.vim

let s:cpo_save = &cpo
set cpo&vim


let b:current_syntax = "%FILE%"

let &cpo = s:cpo_save
unlet s:cpo_save

" vim: nowrap sw=2 sts=2 ts=2 et fdm=marker:

