
To test
:split anoTher_Bet-ter Test.test.test


FILE      %FILE%
FILE:LC   %FILE:LC%   FILE:SLC  %FILE:SLC%
FILE:UC   %FILE:UC%   FILE:SUC  %FILE:SUC%
FILE:TC   %FILE:TC%   FILE:STC  %FILE:STC%
FILE:SC   %FILE:SC%   FILE:SSC  %FILE:SSC%
FILE:KC   %FILE:KC%
FILE:CC   %FILE:CC%
FILE:PC   %FILE:PC%

DATE      %DATE%
TIME      %TIME%
