import styled, {type DataAttributes} from 'styled-components';
import type { CSSProperties, PropsWithChildren } from 'react';

export const _%FILE% = ({
  children,
  style,
  className,
  dataName = "%FILE%",
}: {
  style?: CSSProperties;
  className?: string;
  dataName?: string;
} & PropsWithChildren) => {
  return (
    <div style={style} className={className} data-name={dataName}>
      {children}
    </StyledDiv>
  );
};

const %FILE% = styled(_%FILE%)`
  display: flex;
`;

