.huewheel {
  --hue-offset: 0deg;
  --saturation: 80%;
  --lightness: 50%;

  --c-bd-fill: #000;
  --c-bd-line: #888;
  --w×-bd-rim: 0.04;
  --w×-bd-mid: 0.03;
  --w×-bd-hub: 0.66;
  --bd-midpoint: calc(var(--r) * 0.66);
  --b-h: 0deg;
  --b-s: 50%;
  --b-l: 50%;
  --b-a: 100%;
  --h-off: 0deg;
  --step-count: 6;
  --step: calc(360deg / var(--step-count));

  width: 100%;
  height: auto;
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 50%;
  mask-image:
    radial-gradient(circle at center, #fff var(--r), #fff0 var(--r)),
    radial-gradient(circle at center, #fff var(--r), #fff0 var(--r));
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-origin: padding-box;
  mask-clip: padding-box;
  mask-position: center center;
  background-size: 100% 100%;
  background-origin: padding-box;
  background-clip: padding-box, content-box, padding-box;
  background-repeat: no-repeat;
  background-position: center center;
  padding: calc((100% - var(--bd-midpoint)) * 0.33);
  --bdwm: 8px;
  --r: 70.71%;
  --bdwr: calc(var(--r) * var(--w×-bd-rim));
  --bdwh: calc(var(--r) * var(--w×-bd-hub));
  --bdo: 2px;
  /* h2 = a2 + b2 */
  /* --dbg1: 60%; */
  --wheel-part-hub:
    var(--c-bd-fill) 0 calc(var(--bdwh) - var(--bdo)),
    var(--c-bd-line) calc(var(--bdwh) - var(--bdo)) var(--bdwh);
  --wheel-part-single: ,rgb(from var(--c-bd-line) r g b / 0) var(--bdwh)
    calc(var(--r) - var(--bdwr));
  --wheel-part-rim:
    ,var(--c-bd-line) calc(var(--r) - var(--bdwr))
      calc(var(--r) - var(--bdwr) + var(--bdo)),
    var(--c-bd-fill) calc(var(--r) - var(--bdwr)) calc(var(--r) - var(--bdo)),
    var(--c-bd-line) calc(var(--r) - var(--bdo)) var(--r);
  --wheel-part-outside: ,rgb(from var(--c-bd-line) r g b / 0) var(--r) 100%;
  --wheel-parts: radial-gradient(
    circle at center,
    var(--wheel-part-hub) var(--wheel-part-single)
      var(--wheel-part-rim) var(--wheel-part-outside)
    ),
    var(--wheel-colors-single);
  --wheel-colors-single: linear-gradient(#0000), conic-gradient(from var(--hue-offset), var(--steps));

  background-image: var(--wheel-parts);

  --s1: hsl(
      calc(var(--b-h) + var(--step) * 0) var(--b-s) var(--b-l) / var(--b-a)
    )
    calc(var(--step) * 0) /* calc(var(--step) * 1) */;
  --s2:
    var(--s1),
    hsl(calc(var(--b-h) + var(--step) * 1) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 1) /* calc(var(--step) * 2) */;
  --s3:
    var(--s2),
    hsl(calc(var(--b-h) + var(--step) * 2) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 2) /* calc(var(--step) * 3) */;
  --s4:
    var(--s3),
    hsl(calc(var(--b-h) + var(--step) * 3) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 3) /* calc(var(--step) * 4) */;
  --s5:
    var(--s4),
    hsl(calc(var(--b-h) + var(--step) * 4) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 4) /* calc(var(--step) * 5) */;
  --s6:
    var(--s5),
    hsl(calc(var(--b-h) + var(--step) * 5) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 5) /* calc(var(--step) * 6) */;
  --s7:
    var(--s6),
    hsl(var(--b-h) var(--b-s) var(--b-l) / var(--b-a)) calc(var(--step) * 6)
      /* calc(var(--step) * 6) */;
  --steps: var(--s7);
}
.huewheel.after {
  display: block;
}

.huewheel.lines {
  --lw: 0.5deg;
  --g0: #0000;
  --l1:        #000f calc(var(--step) * 0 - var(--lw)) calc(var(--step) * 0 + var(--lw));
  --g1: var(--l1), #0000 calc(var(--step) * 0 + var(--lw)) calc(var(--step) * 1 - var(--lw));
  --l2: var(--g1), #000f calc(var(--step) * 1 - var(--lw)) calc(var(--step) * 1 + var(--lw));
  --g2: var(--l2), #0000 calc(var(--step) * 1 + var(--lw)) calc(var(--step) * 2 - var(--lw));
  --l3: var(--g2), #000f calc(var(--step) * 2 - var(--lw)) calc(var(--step) * 2 + var(--lw));
  --g3: var(--l3), #0000 calc(var(--step) * 2 + var(--lw)) calc(var(--step) * 3 - var(--lw));
  --l4: var(--g3), #000f calc(var(--step) * 3 - var(--lw)) calc(var(--step) * 3 + var(--lw));
  --g4: var(--l4), #0000 calc(var(--step) * 3 + var(--lw)) calc(var(--step) * 4 - var(--lw));
  --l5: var(--g4), #000f calc(var(--step) * 4 - var(--lw)) calc(var(--step) * 4 + var(--lw));
  --g5: var(--l5), #0000 calc(var(--step) * 4 + var(--lw)) calc(var(--step) * 5 - var(--lw));
  --l6: var(--g5), #000f calc(var(--step) * 5 - var(--lw)) calc(var(--step) * 5 + var(--lw));
  --g6: var(--l6), #0000 calc(var(--step) * 5 + var(--lw)) calc(var(--step) * 6 - var(--lw));

  --stepsl: var(--g6);
}
.huewheel.three {
  --step: 120deg;
  --s1: hsl(
      calc(var(--b-h) + var(--step) * 0) var(--b-s) var(--b-l) / var(--b-a)
    )
    calc(var(--step) * 0) /* calc(var(--step) * 1) */;
  --s2:
    var(--s1),
    hsl(calc(var(--b-h) + var(--step) * 1) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 1) /* calc(var(--step) * 2) */;
  --s3:
    var(--s2),
    hsl(calc(var(--b-h) + var(--step) * 2) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 2) /* calc(var(--step) * 3) */;
  --s4:
    var(--s3),
    hsl(var(--b-h) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step) * 3) /* calc(var(--step) * 4) */;
  --steps: var(--s4);
}
.huewheel:where(.red,.green,.blue,.yellow,.cyan,.magenta) {
  --hue-arc: 120deg;
  --step-hue: calc(var(--hue-arc) / 2);
  --step-circ: 180deg;
  --sc1: hsl(
      calc(var(--bc-h) + var(--step-hue) * 0) var(--b-s) var(--b-l) / var(--b-a)
    )
    0 /* calc(var(--step) * 1) */;
  --sc2: var(--sc1),
    hsl(
      calc(var(--bc-h) + var(--step-hue) * 1) var(--b-s) var(--b-l) / var(--b-a)
    )
    calc(var(--step-circ) * 1) /* calc(var(--step) * 1) */;
  --sc3: var(--sc2),
    hsl(
      calc(var(--bc-h) + var(--step-hue) * 2) var(--b-s) var(--b-l) / var(--b-a)
    )
    calc(var(--step-circ) * 2) /* calc(var(--step) * 1) */;
  --sc4:
    var(--sc3),
    hsl(var(--bc-h) var(--b-s) var(--b-l) / var(--b-a))
      calc(var(--step-circ) * 2) /* calc(var(--step) * 4) */;
  --sc5: var(--sc4), #0000 calc(var(--step-circ) * 2);
  --stepsc: var(--sc5);
  --wheel-colors-single: linear-gradient(#0000), conic-gradient(from calc(-180deg + var(--hue-offset)), var(--stepsc));
}
/*
 *    0 : red
 *   60 : yellow
 *  120 : green
 *  180 : cyan
 *  240 : blue
 *  300 : magenta
 *  */
.huewheel.red {
  --bc-h: 0deg;
}
.huewheel.yellow {
  --bc-h: 60deg;
}
.huewheel.green {
  --bc-h: 120deg;
}
.huewheel.cyan {
  --bc-h: 180deg;
}
.huewheel.blue {
  --bc-h: 240deg;
}
.huewheel.magenta {
  --bc-h: 300deg;
}
.huewheel.split {
  --hue-offset-inner: var(--hue-offset, 0deg);
  --hue-offset-outer: var(--hue-offset, 0deg);
  --saturation-inner: var(--saturation, 80%);
  --saturation-outer: var(--saturation, 80%);
  --lightness-inner: var(--lightness, 50%);
  --lightness-outer: var(--lightness, 50%);

  --w×-bd-hub: 0.3;
  --wheel-part-inner: ,rgb(from var(--c-bd-line) r g b / 0) var(--bdwh) calc(var(--bd-midpoint) - var(--bdwm) * 0.5);
  --wheel-part-midline:
    ,var(--c-bd-line) calc(var(--bd-midpoint) - var(--bdwm) * 0.5) calc(var(--bd-midpoint) - var(--bdwm) * 0.5 + var(--bdo))
    ,var(--c-bd-fill) calc(var(--bd-midpoint) - var(--bdwm) * 0.5 + var(--bdo)) calc(var(--bd-midpoint) + (var(--bdwm) * 0.5) - var(--bdo))
    ,var(--c-bd-line) calc(var(--bd-midpoint) + (var(--bdwm) * 0.5) - var(--bdo)) calc(var(--bd-midpoint) + var(--bdwm) * 0.5);
  --wheel-part-outer: ,rgb(from var(--c-bd-line) r g b / 0) calc(var(--bd-midpoint) + calc(var(--bdwm) * 0.5))
    calc(var(--r) - var(--bdwr));
  --wheel-parts: radial-gradient(
    circle at center,
    var(--wheel-part-hub) var(--wheel-part-inner) var(--wheel-part-midline)
      var(--wheel-part-outer) var(--wheel-part-rim) var(--wheel-part-outside)
    ), var(--wheel-colors-split);
  --wheel-colors-split:
    conic-gradient(from var(--hue-offset-inner), var(--steps)),
    conic-gradient(from var(--hue-offset-outer), var(--steps));
}

.huewheel.split:where(.red,.green,.blue,.yellow,.cyan,.magenta) {
  --wheel-colors-split:
    conic-gradient(from var(--hue-offset-inner), var(--steps)),
    conic-gradient(from calc(240deg + var(--bc-h) + var(--hue-offset-outer)), var(--stepsc));
}
