.precession {
  position: relative;
  width: 35vmax;
  height: 35vmax;
  background-color: #000;
  margin: 0 auto;
  --n: 19;
  background-image:
    conic-gradient(from -0.25deg at 50% 50%, #f00 0.5deg, #0000 0.75deg 360deg),
    conic-gradient(
      from calc(-0.25deg + ((var(--n) + (19 * 476)) * 0.33rad)) at 50% 50%,
      #0ff 0.5deg,
      #0000 0.75deg 360deg
    ),
    conic-gradient(
      from calc(-0.25deg + ((var(--n) + (19 * 1)) * 0.33rad)) at 50% 50%,
      #a0a 0.5deg,
      #0000 0.75deg 360deg
    ),
    conic-gradient(
      from calc(-0.25deg + ((var(--n) + (19 * 0)) * 0.33rad)) at 50% 50%,
      #f0f 0.5deg,
      #0000 0.75deg 360deg
    ),
    conic-gradient(
      from calc(-0.25deg + ((var(--n) + (19 * 2)) * 0.33rad)) at 50% 50%,
      #808 0.5deg,
      #0000 0.75deg 360deg
    ),
    conic-gradient(
      from calc(-0.25deg + ((var(--n) + (19 * 3)) * 0.33rad)) at 50% 50%,
      #804 0.5deg,
      #0000 0.75deg 360deg
    ),
    conic-gradient(
      from calc(-0.25deg + ((var(--n) + (19 * 238)) * 0.33rad)) at 50% 50%,
      #00a 0.5deg,
      #0000 0.75deg 360deg
    ),
    radial-gradient(farthest-corner circle at 50% 50%, #0000 0 55%, #000 55%),
    repeating-conic-gradient(
      from calc(0.33rad * 19 * 4) at 50% 50%,
      #0000 0 0.3rad,
      #ff0a 0.32rad 0.33rad,
      #0000 0.33rad
    ),
    radial-gradient(farthest-corner circle at 50% 50%, #0000 0 44%, #000 44%),
    repeating-conic-gradient(
      from calc(0.33rad * 19 * 3) at 50% 50%,
      #0000 0 0.28rad,
      #fa0a 0.32rad 0.33rad,
      #0000 0.33rad
    ),
    radial-gradient(farthest-corner circle at 50% 50%, #0000 0 33%, #000 33%),
    repeating-conic-gradient(
      from calc(0.33rad * 19 * 2) at 50% 50%,
      #0000 0 0.26rad,
      #f80a 0.32rad 0.33rad,
      #0000 0.33rad
    ),
    radial-gradient(farthest-corner circle at 50% 50%, #0000 0 22%, #000 22%),
    repeating-conic-gradient(
      from calc(0.33rad * 19 * 1) at 50% 50%,
      #0000 0 0.24rad,
      #f40a 0.32rad 0.33rad,
      #0000 0.33rad
    ),
    radial-gradient(farthest-corner circle at 50% 50%, #0000 0 11%, #000 11%),
    repeating-conic-gradient(
      from 0 at 50% 50%,
      #0000 0 0.22rad,
      #f00 0.32rad 0.33rad,
      #0000 0.33rad
    ),
    linear-gradient(#0000);
}

.precession > [data-n]::after {
  content: attr(data-n);
  font-size: 10px;
  position: absolute;
  top: calc(50% - sin(90deg + var(--c) * 0.33rad) * 100px);
  left: calc(50% - cos(90deg + var(--c) * 0.33rad) * 100px);
  --c: var;
}

.precession > [data-n]:nth-child(n) {
  --nth-child: calc(
    var(--n1, 0) + var(--n2, 0) + var(--n4, 0) + var(--n8, 0) + var(--n16, 0) +
      var(--n32, 0) + var(--n64, 0) + var(--n128, 0) + var(--n256, 0) +
      var(--n512, 0) + var(--n1024, 0)
  );
}
.precession > [data-n]:nth-child(odd):nth-last-child(-n + 1) {
  --n1: 1;
}
.precession
  > [data-n]:nth-child(2n):not(:nth-child(4n)):nth-last-child(-n + 2) {
  --n2: 2;
}
.precession
  > [data-n]:nth-child(4n):not(:nth-child(8n)):nth-last-child(-n + 4) {
  --n4: 4;
}
.precession
  > [data-n]:nth-child(8n):not(:nth-child(16n)):nth-last-child(-n + 8) {
  --n8: 8;
}
.precession
  > [data-n]:nth-child(16n):not(:nth-child(32n)):nth-last-child(-n + 16) {
  --n16: 16;
}
.precession
  > [data-n]:nth-child(32n):not(:nth-child(64n)):nth-last-child(-n + 32) {
  --n32: 32;
}
.precession
  > [data-n]:nth-child(64n):not(:nth-child(128n)):nth-last-child(-n + 64) {
  --n64: 64;
}
.precession
  > [data-n]:nth-child(128n):not(:nth-child(256n)):nth-last-child(-n + 128) {
  --n128: 128;
}
.precession
  > [data-n]:nth-child(256n):not(:nth-child(512n)):nth-last-child(-n + 256) {
  --n256: 256;
}
.precession
  > [data-n]:nth-child(512n):not(:nth-child(1024n)):nth-last-child(-n + 512) {
  --n512: 512;
}
.precession
  > [data-n]:nth-child(1024n):not(:nth-child(2048n)):nth-last-child(-n + 1024) {
  --n1024: 1024;
}
