@property --f {
  syntax: '<filter-value-list>';
  inherits: true;
  initial-value: none;
}
:root {
  --filter-pixelate: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22%3E\
    %3Cfilter id=%22filter-pixelate%22 x=%220%22 y=%220%22 width=%22100%25%22 height=%22100%25%22\
      filterUnits=%22objectBoundingBox%22 primitiveUnits=%22objectBoundingBox%22%3E\
      %3CfeFlood x=%224%22 y=%224%22 height=%222%22 width=%222%22/%3E\
      %3CfeComposite width=%2210%22 height=%2210%22/%3E\
      %3CfeTile result=%22a%22/%3E\
      %3CfeComposite in=%22SourceGraphic%22 in2=%22a%22 operator=%22in%22/%3E\
      %3CfeMorphology operator=%22dilate%22 radius=%225%22/%3E\
    %3C/filter%3E\
  %3C/svg%3E#filter-pixelate');
}
:root {
  --filter-pixelate1: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22%3E\
    %3Cfilter id=%22filter-pixelate1%22 x=%220%22 y=%220%22 width=%22100%25%22 height=%22100%25%22\
      filterUnits=%22objectBoundingBox%22 primitiveUnits=%22objectBoundingBox%22%3E\
      %3CfeFlood x=%220%22 y=%220%22 height=%221%22 width=%221%22/%3E\
      %3CfeComposite width=%2210%22 height=%2210%22/%3E\
      %3CfeTile x=%221%22 y=%221%22 width=%22100%25%22 height=%22100%25%22 result=%22a%22/%3E\
      %3CfeComposite in=%22SourceGraphic%22 in2=%22a%22 operator=%22in%22/%3E\
      %3CfeMorphology operator=%22dilate%22 radius=%224 4%22/%3E\
    %3C/filter%3E\
  %3C/svg%3E#filter-pixelate1');

  --filter-pixelate2: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22%3E\
    %3Cfilter id=%22filter-pixelate2%22 x=%220%22 y=%220%22 width=%22100%25%22 height=%22100%25%22\
      filterUnits=%22objectBoundingBox%22 primitiveUnits=%22objectBoundingBox%22%3E\
      %3CfeFlood x=%224%22 y=%224%22 height=%222%22 width=%222%22/%3E\
      %3CfeComposite width=%2210%22 height=%2210%22/%3E\
      %3CfeTile result=%22a%22/%3E\
      %3CfeComposite in=%22SourceGraphic%22 in2=%22a%22 operator=%22in%22/%3E\
      %3CfeMorphology operator=%22dilate%22 radius=%225%22/%3E\
    %3C/filter%3E\
  %3C/svg%3E#filter-pixelate2');

  --filter-pixelate3: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22%3E\
    %3Cfilter id=%22filter-pixelate3%22 x=%22-10%%22 y=%22-10%%22 width=%22120%%22 height=%22120%%22\
      filterUnits=%22objectBoundingBox%22 primitiveUnits=%22objectBoundingBox%22%3E\
      %3CfeFlood x=%220 %22 y=%220 %22 height=%221 %22 width=%221 %22/%3E\
      %3CfeComposite x=%22-0.5%22 y=%22-0.5%22  width=%221.0%22 height=%221.0%22/%3E\
      %3CfeTile x=%220%22 y=%220%22 width=%22100%25%22 height=%22100%25%22 result=%22a%22/%3E\
      %3CfeComposite in=%22SourceGraphic%22 in2=%22a%22 operator=%22in%22/%3E\
      %3CfeMorphology operator=%22dilate%22 radius=%220%22/%3E\
    %3C/filter%3E\
  %3C/svg%3E#filter-pixelate3');

  --filter-tinydots: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22%3E\
    %3Cfilter id=%22filter-tinydots%22 x=%22-10%%22 y=%22-10%%22 width=%22120%%22 height=%22120%%22\
      filterUnits=%22objectBoundingBox%22 primitiveUnits=%22objectBoundingBox%22%3E\
      %3CfeFlood x=%220 %22 y=%220 %22 height=%221 %22 width=%221 %22/%3E\
      %3CfeComposite x=%220.5%22 y=%22-0.5%22  width=%221.0%22 height=%221.0%22/%3E\
      %3CfeTile x=%220%22 y=%220%22 width=%22100%25%22 height=%22100%25%22 result=%22a%22/%3E\
      %3CfeComposite in=%22SourceGraphic%22 in2=%22a%22 operator=%22in%22/%3E\
      %3CfeMorphology operator=%22dilate%22 radius=%220%22/%3E\
    %3C/filter%3E\
  %3C/svg%3E#filter-tinydots');
}

/* TODO 
 *
 * outline (all sides, sensible behaviour with transparency around edges)
 *
 * multi-shadow (based off original shape, not chained)
 *
 *
 * */
