#search {
  --search-bd-color: #78694d;
  --search-bd-color-hover: #a79064;
  --search-fg-color: #e9e9e9;
  --search-hd-color: #855b08;
}
#search .oo-ui-popupWidget {
  --popup-bg-color: #111;
  --popup-bd-color: var(--search-bd-color, #78694d);
  --popup-fg-color: #eee;
}

#search .mw-advancedSearch-fieldContainer {
  background: linear-gradient(45deg, #0002, #0004, #0002);
  border: 1px solid var(--search-bd-color);
  border-top: 0;
  margin-top: -1px;
}

#search
  .mw-advancedSearch-fieldContainer
  .oo-ui-labelElement
  > .oo-ui-fieldsetLayout-header
  > .oo-ui-labelElement-label {
  background: #000;
  color: var(--search-fg-color);
  padding: 0.3em 1em;
  border: 1px solid var(--search-bd-color);
  border-radius: 1em;
}

#search .suggestions {
  display: block;
}

#search
  :where(
    .oo-ui-actionFieldLayout-button,
    .oo-ui-fieldLayout-field,
    .oo-ui-actionFieldLayout-input
  ) {
  display: contents;
}

#search .editCheckboxes,
#search .oo-ui-actionFieldLayout-button,
#search .oo-ui-actionFieldLayout-input,
#search .oo-ui-fieldLayout-body,
#search .oo-ui-fieldLayout-field,
#search .oo-ui-fieldsetLayout-group,
#search .oo-ui-fieldsetLayout-header,
#search
  .oo-ui-layout.oo-ui-fieldLayout.oo-ui-fieldLayout-align-top.oo-ui-actionFieldLayout {
  display: inline-flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
}

#search .oo-ui-layout.oo-ui-labelElement.oo-ui-fieldsetLayout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#search .oo-ui-labelElement-label {
  padding: 0;
}

#search .mw-advancedSearch-fieldContainer fieldset {
  border: 4px solid transparent;
  border-top-style: double;
  border-top-width: 0.5em;
  border-top-color: var(--bd-darker);
  margin-left: -4px;
  margin-right: -4px;
  margin-top: 1.8em;
}

#mw-advancedSearch-expandable-options
  .oo-ui-fieldLayout.oo-ui-labelElement
  > .oo-ui-fieldLayout-body {
  flex-direction: row;
  flex-wrap: wrap;
  flex: auto;
  justify-content: stretch;
  align-items: unset;
}

#mw-advancedSearch-expandable-options
  .oo-ui-fieldLayout.oo-ui-labelElement
  > .oo-ui-fieldLayout-body
  > .oo-ui-fieldLayout-header {
  flex: 0 1 auto;
}

#search .oo-ui-icon-menu,
#search .mw-ui-icon-menu::before {
  filter: invert(1);
}

#mw-indicator-mw-helplink a {
  background-image: url('data:image/svg+xml,\
    %3Csvg xmlns=%22http://www.w3.org/2000/svg%22\
      width=%2220%22 height=%2220%22%3E\
      %3Cpath d=%22\
        M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0m1 16H9v-2h2z\
        m2.71-7.6a2.6 2.6 0 0 1-.33.74 3.2 3.2 0 0 1-.48.55\
        l-.54.48c-.21.18-.41.35-.58.52a2.5 2.5 0 0 0-.47.56\
        A2.3 2.3 0 0 0 11 12a3.8 3.8 0 0 0-.11 1H9.08\
        a9 9 0 0 1 .07-1.25 3.3 3.3 0 0 1 .25-.9 2.8 2.8 0 0 1 .41-.67 4 4 0 0 1 .58-.58\
        c.17-.16.34-.3.51-.44\
        a3 3 0 0 0 .43-.44 1.8 1.8 0 0 0 .3-.55 2 2 0 0 0 .11-.72 2.1 2.1 0 0 0-.17-.86 1.7 1.7 0 0 0-1-.9 1.7 1.7 0 0 0-.5-.1 1.77 1.77 0 0 0-1.53.68 3 3 0 0 0-.5 1.82\
        H6.16\
        a4.7 4.7 0 0 1 .28-1.68 3.6 3.6 0 0 1 .8-1.29 3.9 3.9 0 0 1 1.28-.83\
        A4.6 4.6 0 0 1 10.18 4\
        a4.4 4.4 0 0 1 1.44.23 3.5 3.5 0 0 1 1.15.65 3.1 3.1 0 0 1 .78 1.06 3.5 3.5 0 0 1 .29 1.45 3.4 3.4 0 0 1-.13 1.01%22/%3E\
        %3C/svg%3E');
}

/*** tag multi selection ***/
#search
  .oo-ui-tagMultiselectWidget-handle
  .oo-ui-tagMultiselectWidget-group
  > input {
  color: var(--search-fg-color);
  font-family: monospace;
  letter-spacing: 0.08em;
  width: auto !important;
}
#search .oo-ui-tagMultiselectWidget-handle {
  width: 100%;
  cursor: text;
}
#search .oo-ui-tagMultiselectWidget {
  border: 1px solid var(--search-bd-color);
  display: flex;
  overflow: hidden;
  flex: auto;
}

#search .oo-ui-tagMultiselectWidget:hover {
  border: 1px solid var(--search-bd-color-hover);
}

#search .oo-ui-tagItemWidget,
#search
  .oo-ui-tagItemWidget.oo-ui-widget-enabled:not(.oo-ui-tagItemWidget-fixed) {
  background-color: #000;
  color: var(--search-fg-color);
  font-family: monospace;
  border-radius: 3px 0.6em;
  border: 1px solid var(--pi-border-color);
}

#search .oo-ui-tagItemWidget .oo-ui-icon-close {
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,%3Csvg\
    xmlns=%22http://www.w3.org/2000/svg%22\
    width=%221em%22\
    height=%221em%22\
    style=%22fill:%23dd1111;%22\
    viewBox=%220 0 384 512%22\
    %3E%3Cpath d=%22\
      M342.6 150.6\
      c12.5-12.5 12.5-32.8 0-45.3\
      s-32.8-12.5-45.3 0\
      L192 210.7 86.6 105.4\
      c-12.5-12.5-32.8-12.5-45.3 0\
      s-12.5 32.8 0 45.3\
      L146.7 256 41.4 361.4\
      c-12.5 12.5-12.5 32.8 0 45.3\
      s32.8 12.5 45.3 0\
      L192 301.3 297.4 406.6\
      c12.5 12.5 32.8 12.5 45.3 0\
      s12.5-32.8 0-45.3\
      L237.3 256 342.6 150.6\
      z%22%3E\
    %3C/path%3E%3C/svg%3E');
  background-position: center;
  background-size: contain;
  margin-top: -1px;
  opacity: 0.6;
  border: 1px solid #dd111100;
  border-radius: 50%;
  height: 1em;
  width: auto;
  aspect-ratio: 1;
  scale: 0.6;
  position: static;
}

#search .oo-ui-tagItemWidget:hover .oo-ui-icon-close {
  background-color: #000a;
  border-color: #dd1111ff;
  box-shadow: 0 0 0 1px #000;
  scale: 0.8;
}

#search .oo-ui-tagItemWidget .oo-ui-icon-close:hover {
  opacity: 1;
  scale: 1;
}

#search
  .oo-ui-tagItemWidget.oo-ui-widget-enabled:not(.oo-ui-tagItemWidget-fixed):has(
    a.new
  ) {
  border: 1px solid #fcb23255;
  padding-right: 0.1em;
}
/*** tag multi selection ***/

#search
  .oo-ui-buttonElement-frameless.oo-ui-iconElement
  > .oo-ui-buttonElement-button {
  background-color: #0000;
}

#search .oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget {
  color: var(--search-fg-color);
}

#search .oo-ui-tagMultiselectWidget-focus:has(input[aria-expanded='true']),
#search
  .oo-ui-tagMultiselectWidget-focus:has(input[aria-expanded='true'])
  .oo-ui-tagMultiselectWidget-handle,
#search .oo-ui-textInputWidget .oo-ui-inputWidget-input[aria-expanded='true'] {
  border-radius: 2px 10px 0 0;
  transition: border-radius 80ms ease;
  box-shadow: none;
}

#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button[aria-expanded='false'],
#search
  .oo-ui-widget-enabled.oo-ui-buttonWidget
  > .oo-ui-buttonElement-button[aria-expanded='false']:hover {
  border-radius: 2px 10px;
}

#search
  .mw-advancedSearch-container
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button {
  color: #000;
  line-height: 1;
  border: 0 solid #000;
  background-color: #000;
  font-size: 1.1em;
  padding: 0;
}

#search
  .mw-advancedSearch-expandablePane-button.oo-ui-widget-enabled.oo-ui-buttonWidget
  > .oo-ui-buttonElement-button:hover {
  color: #000;
  border-radius: 2px 10px 0 0;
  box-shadow: 0 0 1px 1px #000;
}

#search
  .mw-advancedSearch-expandablePane-button
  .oo-ui-tagItemWidget.oo-ui-widget-enabled:not(.oo-ui-tagItemWidget-fixed) {
  background-color: #111;
  color: #eee;
  border-radius: 2px 10px;
}

#search
  .mw-advancedSearch-expandablePane-button
  .mw-advancedSearch-searchPreview-tagList
  .mw-advancedSearch-searchPreview-content {
  font-weight: 700;
  font-family: monospace;
}

#search
  .mw-advancedSearch-expandablePane-button
  .mw-advancedSearch-searchPreview-tagList
  .oo-ui-labelElement-label
  > span:not(.mw-advancedSearch-searchPreview-content) {
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1;
  color: #ccc;
  font-style: italic;
}

#search
  .mw-advancedSearch-expandablePane-button
  .mw-advancedSearch-searchPreview-label {
  display: block;
  background-color: var(--search-hd-color);
  padding: 0.2em 0.8em;
  border-radius: 2px 10px;
  height: 100%;
}

#search .oo-ui-widget.oo-ui-widget-enabled.mw-advancedSearch-searchPreview {
  line-height: 0;
}

#search
  .mw-advancedSearch-expandablePane-namespaces
  .mw-advancedSearch-namespace-selection {
  background: 0 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), #222 0.5em);
}

#search .oo-ui-tagMultiselectWidget-handle .oo-ui-tagMultiselectWidget-group {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 0.3em;
  row-gap: 0.3em;
  margin-top: 4px;
}

#search
  .oo-ui-widget-enabled.oo-ui-draggableElement.oo-ui-draggableElement-handle.oo-ui-tagItemWidget {
  line-height: 1;
  margin: 0;
  box-sizing: content-box;
  display: flex;
  padding-right: 0;
}

#search .oo-ui-labelElement-label {
  line-height: 1.5;
}

#search
  .oo-ui-buttonElement-frameless.oo-ui-iconElement
  > .oo-ui-buttonElement-button {
  padding: 0;
  min-height: unset;
  min-width: unset;
  margin: 0;
  position: static;
  width: auto;
  display: flex;
}

#search .oo-ui-tagMultiselectWidget-group > .oo-ui-tagItemWidget:first-child {
  margin-left: 0 !important;
}

#search .oo-ui-tagItemWidget {
  max-width: 100%;
}

#search .oo-ui-fieldLayout {
  display: flex;
}

#mw-advancedSearch-expandable-options .oo-ui-labelElement-label {
  margin-top: 0;
  font-family: monospace;
  letter-spacing: 0.02em;
}

#advancedSearchField-phrase::before {
  content: '❝';
  position: absolute;
  top: 2px;
  color: var(--search-bd-color);
  left: unset;
}

#advancedSearchField-phrase::after {
  content: '❞';
  position: absolute;
  bottom: 4px;
  color: var(--search-bd-color);
  right: 20px;
  left: unset;
  top: unset;
}

#search .oo-ui-fieldsetLayout-header {
  align-items: end;
  padding-right: 30px;
  margin-bottom: -0.4em;
  border-color: var(--search-bd-color);
}
#search .oo-ui-fieldsetLayout-header > .oo-ui-labelElement-label {
  padding: 0.1em 1em 0;
  margin: 0;
  height: auto;
  line-height: 1.6;
  border-width: 0.2em 0.2em 0.16em;
  border-radius: 0 0 6em 6em/0 0 20em 20em;
  border-style: ridge groove groove ridge;
  font-size: 1em;
  box-shadow: 0 1px 3px 1px #0008;
  border-color: var(--search-bd-color);
}

#search .oo-ui-fieldsetLayout,
#search .oo-ui-fieldsetLayout-header {
  border-color: var(--search-bd-color);
}

#search
  .oo-ui-fieldLayout.oo-ui-labelElement.oo-ui-fieldLayout-align-left
  > .oo-ui-fieldLayout-body
  > .oo-ui-fieldLayout-field,
#search
  .oo-ui-fieldLayout.oo-ui-labelElement.oo-ui-fieldLayout-align-right
  > .oo-ui-fieldLayout-body
  > .oo-ui-fieldLayout-field {
  flex: 100%;
}

#search .oo-ui-tagMultiselectWidget-handle {
  margin-right: 0;
}

#search .oo-ui-tagItemWidget.oo-ui-widget-enabled > .oo-ui-buttonElement {
  display: block;
  right: 8px;
}

#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive.oo-ui-buttonElement-active
  > .oo-ui-buttonElement-button,
#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive.oo-ui-buttonElement-pressed
  > .oo-ui-buttonElement-button,
#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive.oo-ui-popupToolGroup-active
  > .oo-ui-buttonElement-button,
#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive
  > .oo-ui-buttonElement-button:active,
#search .oo-ui-dropdownWidget.oo-ui-widget-enabled:active {
  background-color: #fa03;
  border-width: 1px;
}

#search .oo-ui-tagItemWidget.oo-ui-widget-enabled > .oo-ui-buttonElement {
  position: static;
  display: flex;
  flex: auto;
  width: 1.5em;
}

#search .oo-ui-icon-info {
  min-height: unset;
  width: 1em;
  height: auto;
  aspect-ratio: 1;
  left: 0;
  position: static;
  display: flex;
  filter: invert(1);
  background-position: 50% 50%;
  opacity: 0.3;
}

#search .oo-ui-fieldLayout-body:hover .oo-ui-icon-info,
#search .oo-ui-fieldLayout-body:hover:not(:focus-within) .oo-ui-icon-info,
#search a:focus-visible .oo-ui-icon-info {
  opacity: 1;
}

#search
  .mw-advancedSearch-expandablePane-button
  .mw-advancedSearch-searchPreview-label,
#search .oo-ui-widget.oo-ui-widget-enabled.mw-advancedSearch-searchPreview {
  cursor: pointer;
}

#search
  .mw-advancedSearch-expandablePane-button.oo-ui-widget-enabled.oo-ui-buttonWidget
  > .oo-ui-buttonElement-button:hover {
  background-color: #855b0811;
  border-color: #ebbd49 #a7740b #a7740b #ebbd49;
  border-width: 0;
}

#search
  .mw-advancedSearch-expandablePane-button.oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button {
  box-shadow: 0 0 1px 1px #000;
}

#search .oo-ui-tagItemWidget {
  padding: 0 0.8em;
}

#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button[aria-expanded='true'] {
  background-color: #855b08;
  border-radius: 0.1em 0.6em 0 0;
}

#search .mw-advancedSearch-searchPreview-tagList {
  padding: 0.4em 0.6em;
}

#search .oo-ui-tagItemWidget.oo-ui-widget-disabled {
  color: silver;
  border-color: #855b08;
  text-shadow: 0 1px 1px #000;
}

#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button[aria-expanded='true']
  .oo-ui-indicatorElement-indicator.oo-ui-indicator-down {
  transform: scale(1, -1) translateY(-30px);
  transform-origin: bottom;
}

#search .oo-ui-tagMultiselectWidget-handle {
  border: 0;
}

#search
  .oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline
  > .oo-ui-fieldLayout-body
  > .oo-ui-fieldLayout-field {
  justify-content: end;
}

#search .oo-ui-tagMultiselectWidget-input {
  flex-direction: column;
  align-self: start;
  justify-self: end;
  flex: 0 1 auto;
  display: inline-block;
  width: 100%;
  border-radius: 0.1em 0.6em;
  margin: 0;
}

#search .oo-ui-tagMultiselectWidget {
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 0.1em 0.6em;
  width: 100%;
}

#search .oo-ui-tagMultiselectWidget-handle .oo-ui-tagMultiselectWidget-group {
  margin-bottom: 4px;
}

#search
  .mw-advancedSearch-expandablePane-namespaces
  .mw-advancedSearch-namespace-selection {
  background-image: none;
  border: 0;
}

#search .oo-ui-fieldLayout {
  flex-direction: row;
  align-items: end;
}

#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button {
  min-height: unset;
}

#search .oo-ui-labelElement-label {
  margin: 0;
}

#search .oo-ui-fieldLayout-help {
  line-height: 1;
  display: flex;
  position: initial;
  width: auto;
  aspect-ratio: 1;
  height: 1.6em;
  align-items: center;
  justify-content: center;
}

#search #mw-search-top-table .oo-ui-fieldLayout-header,
#search
  .oo-ui-fieldLayout-help
  .oo-ui-labelElement-label.oo-ui-labelElement-invisible {
  display: none;
}

#search
  .oo-ui-fieldLayout.oo-ui-labelElement.oo-ui-fieldLayout-align-left
  > .oo-ui-fieldLayout-body
  > .oo-ui-fieldLayout-help,
#search
  .oo-ui-fieldLayout.oo-ui-labelElement.oo-ui-fieldLayout-align-right
  > .oo-ui-fieldLayout-body
  > .oo-ui-fieldLayout-help {
  margin-right: -4px;
  position: relative;
  bottom: -7px;
  z-index: 1;
  margin-left: auto;
  background-color: #0006;
  border-radius: 50%;
}

#advancedSearchField-phrase::before {
  right: 32px;
}

#search .mw-advancedSearch-expandablePane-options,
#search .mw-advancedSearch-expandablePane-namespaces {
  border-radius: 0.1em 0.6em;
}

#search .mw-advancedSearch-namespace-border {
  border-color: #222;
}

#search
  .oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined {
  background-color: transparent;
}

#search .oo-ui-inputWidget-input {
  flex: auto;
}

#search .mw-advancedSearch-container {
  border-radius: 0.1em 0.6em;
}

#search .mw-advancedSearch-namespace-selection-header {
  display: flex;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0;
  padding-right: 10px;
  margin-bottom: -0.4em;
  padding-top: 4px;
}

#search .mw-advancedSearch-namespacePresets,
.mw-advancedSearch-namespace-selection-header {
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
}

#search .mw-advancedSearch-namespace-selection-header > .oo-ui-labelElement {
  float: unset;
  clear: unset;
  display: contents;
}

#search
  .oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline
  > .oo-ui-fieldLayout-body {
  display: flex;
  flex-wrap: nowrap;
  flex: auto;
  width: fit-content;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}

#search
  .oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline
  > .oo-ui-fieldLayout-body
  > .oo-ui-fieldLayout-field {
  display: flex;
  align-items: end;
}

#search
  .mw-advancedSearch-expandablePane-button
  .mw-advancedSearch-searchPreview-label {
  width: auto;
  margin-right: 0;
}

#search
  .mw-advancedSearch-expandablePane-namespaces
  .oo-ui-tagMultiselectWidget {
  width: auto;
  border-radius: 0.6em;
}

#search
  .oo-ui-fieldLayout.oo-ui-labelElement
  > .oo-ui-fieldLayout-body
  > .oo-ui-fieldLayout-header {
  padding-bottom: 0;
}

#search .oo-ui-tagItemWidget.oo-ui-widget-disabled {
  background-color: #000;
}

#search .mw-advancedSearch-searchPreview,
#search .mw-advancedSearch-searchPreview-tagList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2em;
  padding-bottom: 0;
  justify-content: center;
}

#search .oo-ui-fieldsetLayout:first-child {
  margin-top: 0.2em;
}

#search .mw-advancedSearch-searchPreview > :first-child,
#search .mw-advancedSearch-namespacesPreview > :first-child {
  width: 100%;
}

#search
  .mw-advancedSearch-container
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button,
#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button {
  font-weight: 500;
}

#search .mw-advancedSearch-expandablePane-namespaces .oo-ui-labelElement-label {
  font-size: 0.86em;
  line-height: 1.8;
}

#searchText {
  width: auto;
  flex: auto;
}

#search .oo-ui-fieldLayout-field {
  display: flex;
  flex-direction: row;
}

#search .oo-ui-widget.oo-ui-widget-enabled.mw-advancedSearch-namespacesPreview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2em;
  padding-bottom: 0.4em;
  justify-content: center;
}

#search
  .oo-ui-fieldLayout.oo-ui-fieldLayout-align-top
  > .oo-ui-fieldLayout-body
  > .oo-ui-fieldLayout-field,
#search
  .oo-ui-fieldLayout.oo-ui-fieldLayout-align-top
  > .oo-ui-fieldLayout-body
  > .oo-ui-fieldLayout-header {
  width: 100%;
}

#search .oo-ui-textInputWidget > .oo-ui-indicatorElement-indicator,
#search .oo-ui-textInputWidget-labelPosition-after > .oo-ui-labelElement-label {
  right: 5px;
}

#search
  .oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline
  > .oo-ui-fieldLayout-body
  > .oo-ui-fieldLayout-field {
  width: min-content;
}

#mw-search-top-table button > span {
  font-weight: 700;
}

#mw-search-top-table button {
  height: calc(100% - 0.2em);
  margin: 0.1em 0;
}

#search .oo-ui-iconElement-icon.oo-ui-icon-search {
  filter: invert(0.8);
}

#search .mw-advancedSearch-searchPreview-tagList:empty {
  display: none;
}

#search
  .mw-advancedSearch-expandablePane-button
  .mw-advancedSearch-searchPreview-label {
  padding: 0.4em 0.8em;
  border-radius: 0.1rem 0.6rem;
}

#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button[aria-expanded='true'] {
  background-color: #855b0811;
  border-color: #ebbd49 #a7740b #a7740b #ebbd49;
  border-width: 0;
}

#search .oo-ui-indicatorElement-indicator {
  min-width: 24px;
  min-height: 23px;
  height: auto;
  aspect-ratio: 1;
  bottom: 0;
  margin: auto 0;
}

#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button[aria-expanded='true']
  .oo-ui-indicatorElement-indicator.oo-ui-indicator-down {
  transform: scale(1, -1);
  transform-origin: center;
}

#search .oo-ui-tagItemWidget.oo-ui-widget-enabled > .oo-ui-buttonElement {
  /* flex: auto; */
  flex: 0 1.5em;
}

#search
  .oo-ui-tagItemWidget.oo-ui-widget-enabled
  > .oo-ui-buttonElement:last-child {
  margin-right: auto;
  width: fit-content;
}

#search .mw-advancedSearch-container .oo-ui-indicatorElement-indicator {
  bottom: unset;
  top: 4px;
}

#search .oo-ui-indicatorElement-indicator {
  min-width: 18px;
  min-height: 20px;
}

#search
  .oo-ui-tagItemWidget.oo-ui-widget-enabled
  > .oo-ui-buttonElement:last-child {
  margin-right: auto;
  width: fit-content;
}
#search
  .mw-advancedSearch-expandablePane-button.oo-ui-widget.oo-ui-widget-enabled.oo-ui-buttonElement.oo-ui-buttonElement-framed.oo-ui-indicatorElement.oo-ui-labelElement.oo-ui-buttonWidget {
  bottom: unset;
}
#search .mw-advancedSearch-container .oo-ui-indicatorElement-indicator {
  bottom: unset;
  top: 4px;
}

#searchText .oo-ui-indicatorElement-indicator.oo-ui-indicator-clear {
  filter: invert(1);
}

#search .oo-ui-indicatorElement-indicator {
  min-width: 18px;
  min-height: 20px;
  height: auto;
  aspect-ratio: 1;
  bottom: 0;
  margin: auto 0;
}

#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button[aria-expanded='true']
  .oo-ui-indicatorElement-indicator.oo-ui-indicator-down {
  transform: scale(1, -1);
  transform-origin: center;
}

#search
  .mw-advancedSearch-expandablePane-button.oo-ui-widget.oo-ui-widget-enabled.oo-ui-buttonElement.oo-ui-buttonElement-framed.oo-ui-indicatorElement.oo-ui-labelElement.oo-ui-buttonWidget {
  bottom: unset;
}

#search .mw-advancedSearch-container .oo-ui-indicatorElement-indicator {
  bottom: unset;
  top: 4px;
}

#search .oo-ui-tagMultiselectWidget,
#search .oo-ui-tagMultiselectWidget.oo-ui-widget-enabled,
#search .oo-ui-tagMultiselectWidget .oo-ui-tagMultiselectWidget-handle,
#search
  .oo-ui-tagMultiselectWidget.oo-ui-widget-enabled
  .oo-ui-tagMultiselectWidget-handle,
#search .oo-ui-textInputWidget .oo-ui-inputWidget-input {
  background-color: #070707;
  border-radius: 0.1em 0.6em;
}

#search .oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input {
  border: 1px solid var(--search-bd-color);
}

#search
  .oo-ui-textInputWidget.oo-ui-widget-enabled:hover
  .oo-ui-inputWidget-input {
  border-color: var(--search-bd-color-hover);
}

#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive
  > .oo-ui-buttonElement-button,
#search
  .oo-ui-dropdownWidget-handle.oo-ui-dropdownInputWidget.oo-ui-widget-enabled
  select {
  color: #1f1603;
  background-color: #e99b00;
  border-color: #ffaf26 #b17d21 #6d4c13 #a06600;
  border-width: 1px 2px 2px 1px;
  border-radius: 3px 10px;
  transition: all 180ms ease;
  filter: hue-rotate(0deg);
}

#search .oo-ui-popupWidget-popup {
  background-color: var(--popup-bg-color, #111);
  border-color: var(--popup-bd-color, #78694d);
  color: var(--popup-fg-color, #eee);
  border-radius: 2rem/0.6rem;
  box-shadow: 1px 1px 4px 1px #000a;
}

#search .oo-ui-popupWidget-body {
  color: var(--popup-fg-color, #eee);
  margin: 0.8em 1em;
}
#search .oo-ui-popupWidget-anchored .oo-ui-popupWidget-anchor::before,
#search .oo-ui-popupWidget-anchored .oo-ui-popupWidget-anchor::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
}
#search .oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor::before {
  border-width: 11px;
  border-top: 0;
  border-bottom-color: var(--popup-bd-color, #78694d);
  bottom: -9px;
  left: -11px;
}

#search .oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor::after {
  border-bottom-color: var(--popup-bg-color, #111);
  filter: drop-shadow(0 -2px 0 var(--popup-bd-color, #78694d));
  border-width: 11px;
  border-top: 0;
  bottom: -11px;
  left: -11px;
}

/*** dropdowns ***/
/*** dropdown - input ***/
#search .oo-ui-dropdownInputWidget {
  border-radius: 4px 12px;
  filter: unset;
  box-shadow: none;
}

#search .oo-ui-dropdownInputWidget select {
  filter: unset;
  background-color: #5d0909fa;
}
#search .oo-ui-dropdownInputWidget.oo-ui-widget-enabled {
  background-color: #0000;
  border: 0;
}
#search .oo-ui-dropdownInputWidget.oo-ui-widget-enabled:hover {
  background-color: #0000;
}

#search .oo-ui-dropdownInputWidget.oo-ui-widget-enabled select,
#search .oo-ui-dropdownInputWidget.oo-ui-widget-enabled select:hover {
  background-color: #69002f;
  color: #fff;
  border-color: #a2a9b1;
}
#search .oo-ui-dropdownInputWidget.oo-ui-widget-enabled::after {
  content: '▾' !important;
  font-size: 24px !important;
  background: 0 0 !important;
  width: 0.7em !important;
  text-align: center !important;
  position: absolute;
  right: 8px;
  top: 2px;
  line-height: 26px;
  pointer-events: none;
  display: none !important;
}
#search .oo-ui-dropdownInputWidget.oo-ui-widget-enabled select {
  padding: 5px 2.14285714em 5px 12px;
}
#search .oo-ui-dropdownInputWidget.oo-ui-widget-enabled:hover select {
  border-width: 1px 2px 2px 1px;
  border-radius: 3px 10px;
  transition: all 180ms ease;
  color: #ffdb91;
  padding: 5px 2.14285714em 5px 12px;
  margin: 0;
  background-color: #0005;
  border-color: #9995;
  box-shadow: 0 0 2px 0#fff5e2;
}
/*** dropdown - input ***/

/*** dropdown - select ***/
#search .oo-ui-dropdownWidget-handle {
  filter: none;
  box-shadow: none;
  background-color: #111;
}
#search .oo-ui-dropdownWidget-handle:hover {
  color: #1f1603;
}

#search .oo-ui-dropdownWidget.oo-ui-widget-enabled {
  border-radius: 3px 10px;
  transition: all 180ms ease;
  background-color: #a7740b11;
  border: 1px outset #a7740b;
  padding: 0;
  margin: 0;
  color: #ffdb91;
  outline: 0;
}
#search .oo-ui-dropdownWidget.oo-ui-widget-enabled:active {
  color: #1f1603;
  background-color: #fa0;
  border-color: #a06600 #ffaf26 #b17d21 #6d4c13;
  border-width: 1px 2px 2px 1px;
  border-radius: 3px 10px;
  transition: all 80ms ease;
}

#search .oo-ui-dropdownWidget-handle:hover,
#search
  .oo-ui-dropdownWidget.oo-ui-widget-enabled:hover
  .oo-ui-dropdownWidget-handle {
  border-width: 1px 2px 2px 1px;
  border-radius: 3px 10px;
  transition: all 180ms ease;
}

#search .oo-ui-dropdownWidget {
  background-color: #111;
  border: 1px solid #78694d;
  box-shadow: -2px 1px 2px 0#000, 2px 1px 2px 0#000;
  border-radius: 0 0 2px 10px;
}

#search .oo-ui-dropdownWidget,
#search .oo-ui-dropdownWidget-handle {
  filter: none;
  box-shadow: none;
  color: #fcb232;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: all 180ms ease;
}

#search .oo-ui-dropdownWidget-handle {
  min-height: 28px;
  border: 1px outset #a7740b;
  border-radius: 2px;
  padding: 5px 2.14285714em 5px 12px;
}
#search
  .oo-ui-dropdownWidget.oo-ui-widget-enabled
  .oo-ui-dropdownWidget-handle {
  box-shadow: none;
  padding: 5px 2.14285714em 5px 12px;
  border: none;
  margin: 0;
  color: #ffdb91;
  border-width: 0.08em 0.14em;
  border-radius: 0.1em 0.6em;
  background-color: #0005;
}
#search .oo-ui-dropdownWidget-handle:hover,
#search
  .oo-ui-dropdownWidget.oo-ui-widget-enabled:hover
  .oo-ui-dropdownWidget-handle {
  background-color: #0005;
}
#search
  .oo-ui-dropdownWidget.oo-ui-widget-enabled:hover
  .oo-ui-dropdownWidget-handle {
  color: #ffdb91;
  padding: 5px 2.14285714em 5px 12px;
  margin: 0;
}
#search
  .oo-ui-dropdownWidget.oo-ui-widget-enabled.oo-ui-dropdownWidget-open
  .oo-ui-dropdownWidget-handle,
#search
  .oo-ui-dropdownWidget.oo-ui-dropdownWidget-open
  .oo-ui-dropdownWidget-handle {
  background-color: #222;
  color: var(--fpheader-color);
}

/* @media screen and (max-width: 480px) { */
.oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle {
  color: inherit;
  background-color: transparent;
  border: 0 solid transparent;
  box-shadow: none;
  border-radius: 0 0.6em;
}
/* } */

/*** dropdown - select ***/

/*** dropdown - ui autocomplete ***/
#search .ui-autocomplete {
  background-color: #111;
  border: 1px solid #78694d;
  box-shadow: -2px 1px 2px 0#000, 2px 1px 2px 0#000;
  border-radius: 0 0 2px 10px;
}
#search .oo-ui-labelElement-label-highlight,
#search .ui-autocomplete,
#search .ui-autocomplete > li a {
  color: #fcb232;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: all 180ms ease;
}

#search .ui-autocomplete > li:hover > a.ui-state-focus,
#search a:hover .oo-ui-labelElement-label-highlight {
  color: #fcb232;
  letter-spacing: 0.1em;
  text-decoration: 1px solid underline #fcb232;
  transition: all 180ms ease;
}
/*** dropdown - ui autocomplete ***/

/*** menuOptionWidget ***/
#search .oo-ui-menuOptionWidget {
  border-bottom: 1px solid #222;
  transition: all 180ms ease;
}
#search .oo-ui-menuOptionWidget:hover {
  background-color: #1a1a1a;
  box-shadow: 0 0 3px -1px #fa0 inset;
  transition: all 180ms ease;
}

#search .oo-ui-menuOptionWidget:last-of-type {
  border-bottom: none;
  border-radius: 0 0 1px 9px;
  transition: all 180ms ease;
}
#search .oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget {
  font-size: 0.94em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  color: #eee;
}

#search .oo-ui-menuOptionWidget.oo-ui-optionWidget-selected {
  background-color: #333;
  box-shadow: -2px 0 3px -1.3px #999, 2px 1px 1.6px 0#000 inset,
    -0.8px -1px 0.4px 0#666 inset;
}

#search
  .oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget:first-child {
  padding-top: 0.2em;
  margin-top: 0.4em;
}

#search
  .oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget:last-child {
  padding-bottom: 0.2em;
  margin-bottom: 0.4em;
}

#search
  .oo-ui-menuOptionWidget.oo-ui-optionWidget-pressed.oo-ui-menuOptionWidget.oo-ui-optionWidget-highlighted,
#search
  .oo-ui-menuOptionWidget.oo-ui-optionWidget-selected.oo-ui-menuOptionWidget.oo-ui-optionWidget-highlighted {
  color: var(--fpheader-color);
}
#search .oo-ui-menuOptionWidget.oo-ui-optionWidget-highlighted,
#search .ui-autocomplete > li > a.ui-state-focus {
  background-color: var(--color-spell-background);
}
/*** menuOptionWidget ***/

/*** itemMenuOption ***/
#search
  .mw-rcfilters-ui-cell.mw-rcfilters-ui-itemMenuOptionWidget-excludeLabel {
  text-align: center;
  padding: 0.2em;
  color: red;
}

#search
  .mw-rcfilters-ui-itemMenuOptionWidget-excludeLabel
  .oo-ui-labelElement-label {
  color: #dc0d0d;
}

#search .mw-rcfilters-ui-itemMenuOptionWidget-highlightButton {
  padding-left: 0.2em;
}
#search .mw-rcfilters-ui-itemMenuOptionWidget-label {
  align-items: center;
  justify-content: space-between;
}

#search
  .mw-rcfilters-ui-itemMenuOptionWidget:not(:last-child):not(
    .mw-rcfilters-ui-itemMenuOptionWidget-identifier-talk
  ) {
  border-block: 0.5px solid var(--bd-darker);
}

#search .mw-rcfilters-ui-itemMenuOptionWidget-label-desc {
  flex: 6;
  text-align: end;
}
/*** itemMenuOption ***/

/*** menuSelectWidget **/
#search .oo-ui-menuSelectWidget {
  transition: all 180ms ease;
  color: #fff;
  background-color: #111;
  border: 1px solid #78694d;
  box-shadow: -2px 1px 2px 0#000, 2px 1px 2px 0#000;
  border-radius: 0 0 2px 10px;
}

#search .mw-rcfilters-ui-menuSelectWidget-footer {
  border-top: 1px solid #564c3b;
}
/*** menuSelectWidget **/
/*** dropdowns ***/

.oo-ui-tagMultiselectWidget-handle {
  cursor: text;
}
#search .oo-ui-tagMultiselectWidget:hover {
  border: 1px solid var(--search-bd-color-hover);
}
#search {
  --search-bd-color-hover: #a79064;
}

#search .oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input {
  border: 1px solid var(--search-bd-color);
}

#search
  .oo-ui-textInputWidget.oo-ui-widget-enabled:hover
  .oo-ui-inputWidget-input {
  border-color: var(--search-bd-color-hover);
}

#search .oo-ui-tagItemWidget .oo-ui-icon-close {
  height: 0.8em;
  opacity: 0.8;
  scale: 0.9;
  margin-top: 0;
}

#search .oo-ui-tagItemWidget .oo-ui-icon-close:hover,
#search .oo-ui-tagItemWidget:hover .oo-ui-icon-close {
  scale: 0.9;
}

#search
  .oo-ui-widget-enabled.oo-ui-draggableElement.oo-ui-draggableElement-handle.oo-ui-tagItemWidget {
  padding-right: 0;
  column-gap: 0.2em;
}

#search
  .mw-advancedSearch-expandablePane-button
  .oo-ui-tagItemWidget.oo-ui-widget-enabled:not(.oo-ui-tagItemWidget-fixed),
#search .oo-ui-tagItemWidget,
#search
  .oo-ui-tagItemWidget.oo-ui-widget-enabled:not(.oo-ui-tagItemWidget-fixed),
.mw-advancedSearch-namespacesPreview-previewPill {
  border-radius: 1rem/2rem;
}

#search
  .oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined {
  background-color: #070707;
  border: 1px solid var(--search-bd-color);
  width: auto;
}

#search .oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input {
  padding-left: 2.7em;
}

.oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox'] + span {
  width: auto;
  height: 1.2em;
  aspect-ratio: 1;
  align-self: center;
  vertical-align: middle;
}

.oo-ui-inputWidget:last-child {
  margin: 0;
}

.oo-ui-textInputWidget.oo-ui-widget-enabled
  .oo-ui-inputWidget-input::placeholder {
  opacity: 0.7;
}

.oo-ui-textInputWidget {
  max-width: 52em;
}

.oo-ui-menuOptionWidget.oo-ui-optionWidget-selected {
  box-shadow: -2px 0 3px -1.3px #000, 2px 1px 1.6px 0#000 inset,
    -0.8px -1px 0.4px 0#222 inset;
}

.mw-advancedSearch-namespace-border {
  border-color: #222 #000 #000;
}

.oo-ui-buttonInputWidget {
  display: flex;
}

.oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-input > .oo-ui-widget {
  display: flex;
  max-width: unset;
}

.mw-advancedSearch-ui-itemMenuOptionWidget-itemCheckbox {
  padding-left: 0;
}

.oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget {
  padding-left: 0.4em;
}

.page-Special_Search .oo-ui-defaultOverlay > .oo-ui-menuSelectWidget {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  transition: all 180ms ease;
  color: #fff;
  background-color: #111;
  border: 1px solid #78694d;
  box-shadow: -2px 1px 2px 0#000, 2px 1px 2px 0#000;
  border-radius: 0 0 2px 10px;
  border-top: 1px solid transparent;
}

.oo-ui-tagMultiselectWidget-handle {
  display: flex;
}

.mw-advancedSearch-namespaceFilter .oo-ui-tagMultiselectWidget-handle {
  background-color: #111;
  border: 1px solid #78694d;
  letter-spacing: 0.04em;
  border-radius: 2px 10px 2px 10px;
  transition: border-radius 80ms ease;
  padding-right: 0;
  display: flex;
  align-items: center;
  width: auto;
}

#search .oo-ui-widget.oo-ui-widget-enabled.mw-advancedSearch-namespacesPreview {
  justify-content: start;
}

#search
  .mw-advancedSearch-expandablePane-button
  .oo-ui-tagItemWidget.oo-ui-widget-enabled:not(.oo-ui-tagItemWidget-fixed) {
  border-radius: 2px 10px;
}

#search
  .oo-ui-widget-enabled.oo-ui-draggableElement.oo-ui-draggableElement-handle.oo-ui-tagItemWidget {
  line-height: 1;
  box-sizing: content-box;
  display: flex;
}

#search .oo-ui-tagMultiselectWidget-input {
  flex-direction: row;
  margin: 0;
  border: 0;
}

#search .oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0 0 0.1rem 0.7rem;
}

#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button[aria-expanded='false'],
#search
  .oo-ui-widget-enabled.oo-ui-buttonWidget
  > .oo-ui-buttonElement-button[aria-expanded='false']:hover {
  border-radius: 0.1rem 0.7rem;
}

#search .mw-advancedSearch-expandablePane-namespaces,
#search .mw-advancedSearch-expandablePane-options {
  border-radius: 0.1rem 0.7rem;
}

#search .oo-ui-tagItemWidget {
  padding: 0 0.5em;
}

#search .oo-ui-tagMultiselectWidget-handle .oo-ui-tagMultiselectWidget-group {
  margin: 0.1em 0 0.2em;
  padding-top: 0.2em;
  height: 100%;
  display: flex;
}

#search .oo-ui-tagMultiselectWidget-handle {
  margin: 0;
  border-radius: 0.1rem 0.7rem 0 0;
}

#search .oo-ui-tagMultiselectWidget-input {
  flex: auto;
  border-radius: 0.1rem 0.7rem;
  border-width: 0;
  align-self: stretch;
  justify-content: stretch;
}

.oo-ui-tagItemWidget {
  white-space: nowrap;
  width: auto;
  height: 1.57142857em;
}

.mw-widget-dateInputWidget-handle,
.oo-ui-tagMultiselectWidget,
.oo-ui-tagMultiselectWidget .oo-ui-tagMultiselectWidget-handle,
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled,
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled
  .oo-ui-tagMultiselectWidget-handle,
.oo-ui-textInputWidget .oo-ui-inputWidget-input {
  letter-spacing: 0.04em;
}

.mw-advancedSearch-expandablePane-namespaces,
.mw-advancedSearch-expandablePane-options {
  max-width: 50em;
  display: flex;
  flex-direction: column;
}

#search .oo-ui-tagMultiselectWidget-handle {
  width: 100%;
  padding: 0 0.3em;
}

.mw-advancedSearch-namespaceFilter .oo-ui-tagMultiselectWidget-handle {
  box-sizing: border-box;
  min-height: 32px;
}

#search
  .oo-ui-tagMultiselectWidget.oo-ui-widget-enabled.oo-ui-tagMultiselectWidget-outlined {
  border-radius: 0.1rem calc(0.8rem - 1px);
}

#search .mw-advancedSearch-expandablePane-namespaces .oo-ui-labelElement-label {
  font-size: 0.8rem;
}

#search
  .mw-advancedSearch-container
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button {
  font-size: 1rem;
  border-radius: 0.1rem 0.7rem;
  position: relative;
}

#search .oo-ui-tagMultiselectWidget .oo-ui-tagMultiselectWidget-handle,
#search
  .oo-ui-tagMultiselectWidget.oo-ui-widget-enabled
  .oo-ui-tagMultiselectWidget-handle,
#search .oo-ui-textInputWidget .oo-ui-inputWidget-input {
  border-radius: 0.1rem 0.6rem;
}

#search .oo-ui-tagMultiselectWidget {
  overflow: hidden;
}

#search
  .mw-advancedSearch-expandablePane-button
  .mw-advancedSearch-searchPreview-label {
  height: 100%;
}

#search .mw-advancedSearch-container .oo-ui-indicatorElement-indicator {
  bottom: unset;
}

#search .oo-ui-indicatorElement-indicator {
  min-width: 18px;
}

.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled {
  box-shadow: 0 0 2px 1px #000;
}

.oo-ui-indicator-down::after {
  text-align: center !important;
  position: relative;
  display: flex !important;
  height: 2rem !important;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 style=%22fill:%23fcb232;%22 height=%221em%22 viewBox=%220 0 512 512%22%3E%3Cpath d=%22M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z%22%3E%3C/path%3E%3C/svg%3E') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 1rem !important;
  content: '' !important;
  font-size: 1rem !important;
  width: 2rem !important;
  top: unset !important;
  right: unset !important;
  line-height: 1 !important;
  min-width: unset !important;
}

.mw-advancedSearch-searchPreview {
  font-size: 1rem;
  line-height: 1.2rem;
}

.oo-ui-indicatorElement-indicator.oo-ui-indicator-down {
  height: 100% !important;
}

#search .oo-ui-labelElement-label {
  line-height: 1.2rem;
}

#search
  .mw-advancedSearch-expandablePane-button.oo-ui-widget-enabled.oo-ui-buttonWidget
  > .oo-ui-buttonElement-button:hover {
  background-color: #855b0811;
}

.mw-advancedSearch-expandablePane-button {
  height: auto;
}

#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button[aria-expanded='false']
  .oo-ui-indicatorElement-indicator.oo-ui-indicator-down,
.oo-ui-buttonElement.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button
  > .oo-ui-indicatorElement-indicator.oo-ui-indicator-down {
  height: 2rem !important;
  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
}

#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button[aria-expanded='true']
  .oo-ui-indicatorElement-indicator.oo-ui-indicator-down {
  height: 2rem !important;
  transform: scale(1, -1) translateY(-2px);
  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
  transform-origin: center;
}

#search
  .mw-advancedSearch-expandablePane-button
  .mw-advancedSearch-searchPreview-label {
  padding: 0.3rem 0.8rem;
}

#search .oo-ui-widget.oo-ui-widget-enabled.mw-advancedSearch-namespacesPreview {
  padding: 0 6px 6px;
  row-gap: 0.6em;
}

#search
  .mw-advancedSearch-expandablePane-button.oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button {
  box-shadow: 0 0 1px 1px #000;
}

#search .mw-advancedSearch-expandablePane-namespaces .oo-ui-labelElement-label {
  font-size: 0.86em;
}

#search
  .mw-advancedSearch-container
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button {
  background-color: #855b0811;
}

.mw-advancedSearch-expandablePane-namespaces > * > * {
  border-bottom: none;
}

#search
  [aria-expanded='true']
  .oo-ui-widget.oo-ui-widget-enabled.mw-advancedSearch-namespacesPreview {
  padding-bottom: 0;
}

#search
  [aria-expanded='false']
  .oo-ui-widget.oo-ui-widget-enabled.mw-advancedSearch-namespacesPreview {
  padding-bottom: 6px;
}

#search
  .mw-advancedSearch-expandablePane-button
  .mw-advancedSearch-namespacesPreview
  .mw-advancedSearch-searchPreview-label {
  margin: 0-6px;
  width: calc(100% + 12px);
}

#search .oo-ui-dropdownWidget.oo-ui-widget-enabled > * {
  border-radius: 0.1rem 0.7rem;
  text-shadow: var(--text-outline-em-thin);
}

#search .mw-advancedSearch-searchPreview-label,
#search .oo-ui-dropdownWidget.oo-ui-widget-enabled {
  transition: all 180ms ease;
  background-color: #a7740b11;
  color: #fff7e5;
  letter-spacing: 0.02em;
  display: flex;
  margin: 0;
  outline: 0;
  border-radius: 0.1rem 0.7rem;
  font-family: monospace;
  font-size: 0.8rem;
}

#search
  .mw-advancedSearch-expandablePane-button
  .mw-advancedSearch-searchPreview-label,
#search .oo-ui-dropdownWidget,
#search .oo-ui-dropdownWidget-handle {
  filter: none;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: all 180ms ease;
  background-color: #0005;
}

#search .mw-advancedSearch-searchPreview-label:active,
#search .oo-ui-dropdownWidget.oo-ui-widget-enabled:active {
  text-shadow: var(--text-outline-em-thin);
  color: #1f160333;
  background-color: #ffaa0099;
  border-color: #a06600 #ffaf26 #b17d21 #6d4c13;
  border-width: 1px 2px 2px 1px;
  border-radius: 3px 10px;
  transition: all 80ms ease;
}

#search
  .mw-advancedSearch-expandablePane-button:hover
  .mw-advancedSearch-searchPreview-label,
#search .oo-ui-dropdownWidget-handle:hover,
#search
  .oo-ui-dropdownWidget.oo-ui-widget-enabled:hover
  .oo-ui-dropdownWidget-handle {
  text-shadow: var(--text-outline-em-thin), 0 0 2px #a7740b;
  box-shadow: 0 0 4px -2px #fcb23288;
  background-color: #0003;
  color: #fcb232;
}

#search .oo-ui-dropdownInputWidget {
  display: flex;
  flex-direction: row;
}

#search .oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input {
  border: 1px dashed var(--search-bd-color);
  border-width: 0 0 1px 1px;
  box-shadow: -0.4px -0.8px 0-0.4px #666;
}

#search
  .mw-advancedSearch-fieldContainer
  .oo-ui-labelElement
  > .oo-ui-fieldsetLayout-header
  > .oo-ui-labelElement-label {
  padding: 0 1em;
  box-shadow: 0 1px 1px 3px #000;
}

#search .oo-ui-fieldsetLayout-header {
  align-items: start;
  margin-bottom: 0;
  margin-top: -0.74em;
}

#search .oo-ui-fieldsetLayout:first-child {
  margin-top: 1em;
}

#search .oo-ui-fieldsetLayout-header > .oo-ui-labelElement-label {
  border-radius: 2em/30%;
}

#search
  .oo-ui-fieldLayout.oo-ui-labelElement
  > .oo-ui-fieldLayout-body
  > .oo-ui-fieldLayout-header {
  font-size: 0.8rem;
  margin-left: 0.2em;
  line-height: 1;
}

#search .oo-ui-dropdownInputWidget {
  border-radius: 0.1rem 0.7rem;
  width: 100%;
}

#search
  .mw-advancedSearch-expandablePane-button
  .mw-advancedSearch-searchPreview,
#search .mw-advancedSearch-searchPreview-label,
#search .oo-ui-dropdownWidget.oo-ui-widget-enabled {
  width: 100%;
}

#search .oo-ui-icon-info {
  filter: contrast(0.5) sepia(1) saturate(2.2) brightness(1.8);
  background-size: 42%;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.mw-ui-icon-info::before,
.oo-ui-icon-info {
  --bgimage-icon-info: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 320 512%22%3E%3Cpath d=%22M80 160c0-35.3 28.7-64 64-64h32c35.3 0 64 28.7 64 64v3.6c0 21.8-11.1 42.1-29.4 53.8l-42.2 27.1c-25.2 16.2-40.4 44.1-40.4 74V320c0 17.7 14.3 32 32 32s32-14.3 32-32v-1.4c0-8.2 4.2-15.8 11-20.2l42.2-27.1c36.6-23.6 58.8-64.1 58.8-107.7V160c0-70.7-57.3-128-128-128H144C73.3 32 16 89.3 16 160c0 17.7 14.3 32 32 32s32-14.3 32-32zm80 320a40 40 0 1 0 0-80 40 40 0 1 0 0 80z%22%3E%3C/path%3E%3C/svg%3E');
}

#search#search
  .oo-ui-buttonElement-frameless.oo-ui-iconElement
  > .oo-ui-buttonElement-button {
  padding: 2px 6px;
  display: flex;
  transition-property: background;
  transition-timing-function: ease;
  transition-duration: 120ms;
}

#search .oo-ui-fieldLayout-align-right .oo-ui-icon-info:hover,
#search .oo-ui-icon-info {
  opacity: 1;
  box-shadow: inset 0 0.1px 0.1px 0.2px #000;
  border-radius: 50%;
  transition-property: background;
  transition-timing-function: ease;
  transition-duration: 120ms;
}

#search .oo-ui-fieldLayout-align-right:hover .oo-ui-icon-info {
  filter: contrast(0.5) sepia(1) saturate(2.2) brightness(1.8);
  background-size: 46%;
}

#search .oo-ui-fieldLayout-align-right:hover .oo-ui-icon-info,
#search .oo-ui-fieldLayout-align-right:hover .oo-ui-icon-info:hover {
  opacity: 1;
  box-shadow: inset 0 0.1px 0.1px 0.2px #000;
  border-radius: 50%;
  transition-property: background;
  transition-timing-function: ease;
  transition-duration: 120ms;
}

#search .oo-ui-fieldLayout-align-right .oo-ui-icon-info:hover,
#search .oo-ui-fieldLayout-align-right:hover .oo-ui-icon-info:hover {
  filter: contrast(0.5) sepia(1) saturate(2.2) brightness(2.8);
  background-size: 56%;
}

.oo-ui-buttonInputWidget {
  flex: auto;
}

#mw-search-top-table .oo-ui-actionFieldLayout-button button {
  padding: 0 1em;
  width: auto;
  flex: 1 auto;
}

.oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-input > .oo-ui-widget {
  margin-right: 0;
}

#search .editCheckboxes,
#search .oo-ui-actionFieldLayout-button,
#search .oo-ui-actionFieldLayout-input,
#search .oo-ui-fieldLayout-body,
#search .oo-ui-fieldLayout-field,
#search .oo-ui-fieldsetLayout-group,
#search .oo-ui-fieldsetLayout-header,
#search
  .oo-ui-layout.oo-ui-fieldLayout.oo-ui-fieldLayout-align-top.oo-ui-actionFieldLayout {
  flex: 1 0 fit-content;
}

#search
  .mw-advancedSearch-expandablePane-button
  .mw-advancedSearch-searchPreview-label,
#search .oo-ui-dropdownWidget,
#search .oo-ui-dropdownWidget-handle {
  color: #fcb232;
  box-shadow: -2px 1px 2px 0#000, 2px 1px 2px 0#000;
}

#search .mw-advancedSearch-searchPreview-label,
#search .oo-ui-dropdownWidget.oo-ui-widget-enabled {
  border: 1px outset #a7740b;
}

.mw-advancedSearch-expandablePane-namespaces,
.mw-advancedSearch-expandablePane-options {
  padding-top: 0.4em;
}

#search
  .oo-ui-buttonElement-framed.oo-ui-widget-enabled
  > .oo-ui-buttonElement-button[aria-expanded='false']
  .oo-ui-indicatorElement-indicator.oo-ui-indicator-down {
  transform: rotate(-360deg) scale(1, 1);
}

#mw-search-top-table .oo-ui-actionFieldLayout-input {
  flex: 20;
}

#search .editCheckboxes,
#search .oo-ui-actionFieldLayout-button,
#search .oo-ui-actionFieldLayout-input,
#search .oo-ui-fieldLayout-body,
#search .oo-ui-fieldLayout-field,
#search .oo-ui-fieldsetLayout-group,
#search .oo-ui-fieldsetLayout-header,
#search
  .oo-ui-layout.oo-ui-fieldLayout.oo-ui-fieldLayout-align-top.oo-ui-actionFieldLayout {
  width: 100%;
}
