:root {
  text-shadow: unset;
  margin: 0 1em;
}
.labels {
  display: flex;
  flex-direction: column;
  row-gap: 0.5lh;
  line-height: normal;
  font-size: 20px;
  font-family: Menlo, monospace;
}
.labels > p {
  display: flex;
  margin: 0;
  column-gap: 2ch;
}
.labels b {
  font-weight: normal;
  margin: 0 0.5ch 0 0.5ch;
}
.labels label {
  display: flex;
  align-content: center;
  align-items: center;
  outline: 1px solid #f0f6;
  outline-offset: 0px;
  padding: 4px 0;
  color: #eee;
}
.labels input {
  accent-color: var(--accent);
  width: 1lh;
  height: 1lh;
  margin: 0;
  padding: 0;
}
.labels i {
  display: grid;
  grid-template: 1fr/1fr;
  place-items: center;
  place-content: center;
}
.labels i::after,
.labels i > * {
  grid-row: 1/-1;
  grid-column: 1/-1;
}
.labels i:has(> input)::after {
  content: attr(data-id);
  font-size: 1ch;
  line-height: 1lh;
  pointer-events: none;
  font-style: normal;
  display: flex;
  color: var(--accent);
}
.labels input:checked {
}
.labels input:checked + i {
  font-size: 1ch;
  text-shadow:
    0.5px 0 0 var(--accent),
    0.5px 0.5px 0 var(--accent),
    0 0.5px 0 var(--accent),
    -0.5px 0.5px 0 var(--accent),
    -0.5px 0 0 var(--accent),
    -0.5px -0.5px 0 var(--accent),
    0 -0.5px 0 var(--accent),
    0.5px -0.5px 0 var(--accent);
  color: var(--accent);
}
@property --accent {
  inherits: true;
  initial-value: #07f;
  syntax: '<color>';
}

.labels:has([id='tac1']:hover) [for='tac1'],
.labels:has([id='tac2']:hover) [for='tac2'],
.labels:has([id='tac3']:hover) [for='tac3'],
.labels:has([id='tac4']:hover) [for='tac4'],
.labels:has([id='tac5']:hover) [for='tac5'],
.labels:has([id='tac6']:hover) [for='tac6'] {
  outline: 1px dotted #606;
  color: #606;
}
/* .labels:has([id]:hover) [for]:not(:has(:hover)) */
.labels:has([id]:hover) [for]:not(:has([for])) {
  color: #eee;
  /*   outline: 0 solid #f0f6; */
}

.labels:has([for='tac1']:hover):not(:has([for='tac1']:hover [for]:hover))
  [id='tac1'],
.labels:has([for='tac2']:hover):not(:has([for='tac2']:hover [for]:hover))
  [id='tac2'],
.labels:has([for='tac3']:hover):not(:has([for='tac3']:hover [for]:hover))
  [id='tac3'],
.labels:has([for='tac4']:hover):not(:has([for='tac4']:hover [for]:hover))
  [id='tac4'],
.labels:has([for='tac5']:hover):not(:has([for='tac5']:hover [for]:hover))
  [id='tac5'],
.labels:has([for='tac6']:hover):not(:has([for='tac6']:hover [for]:hover))
  [id='tac6'] {
  /*   outline: 1px solid #f0f; */
}

.labels [for]:has(> [id='tac1']:hover),
.labels [for]:has(> [id='tac2']:hover),
.labels [for]:has(> [id='tac3']:hover),
.labels [for]:has(> [id='tac4']:hover),
.labels [for]:has(> [id='tac5']:hover),
.labels [for]:has(> [id='tac6']:hover) {
  outline: 1px dotted #600;
}

.labels [for='']:hover {
  box-shadow:
    inset 0 0 0 1px #000,
    inset 0 0 0 2px yellow;
}
.labels [for='']:hover > input:not([id]) {
  box-shadow:
    0 0 0 1px #000,
    0 0 0 2px yellow;
}
.labels i:has(> input:not([id])),
.labels i:has(> input[id='']) {
  --accent: yellow;
}
.labels i:has(> input[id]),
.labels label:not([for]),
.labels label[for=''] {
  --accent: pink;
}
.labels label:hover {
  box-shadow:
    inset 0 0 0 1px #000,
    inset 0 0 0 2px var(--accent);
}
.labels label:hover > i > input {
  box-shadow:
    0 0 0 1px #000,
    0 0 0 2px var(--accent);
}

.labels:has([for='tac0']:hover) [for='tac0'],
.labels:has([id='tac0']:hover) :where([id='tac0'], [for='tac0']) {
  /*   outline: 1px solid orangered; */
  box-shadow:
    0 0 0 1px #000,
    0 0 0 2px var(--accent);
}
