/*  */
/* Sat May 31 2025 17:52:45 GMT+0100 (British Summer Time) */

/*  */
/* Fri May 30 2025 23:14:23 GMT+0100 (British Summer Time) */

/*{{{1 @property */
@property --pixelw {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}
@property --pixelh {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}
@property --naturalw {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}
@property --naturalh {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}
@property --displayw {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}
@property --displayh {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;
}
/*}}}1*/

@media not print {
  :root {
    color: #eee;
    background: none;
    background-image: linear-gradient(#141414, #1a1a1a, #141414);
    contain: size;
    container: imgonlychild size;
    --naturalmax: max(var(--naturalw), var(--naturalh));
    --naturalmin: max(var(--naturalw), var(--naturalh));

    /* --pixelw: calc(50vmin / var(--naturalw)); */
    /* --pixelh: calc(50vmin / var(--naturalh)); */
    /*       --pixelh: calc(50vh / var(--naturalh)); */
    /* --displayw: 50vmin; */
    /* --displayh: 50vmin; */
    /* --displayw: min(50vw, var(--pixelw)); */
    --maxfitw: 0.7;
    --maxfith: 0.7;
    --h-if-fitw: calc(
      ((var(--maxfitw) * 100vw) / var(--naturalw)) * var(--naturalh)
    );
    --w-if-fith: calc(
      ((var(--maxfith) * 100vh) / var(--naturalh)) * var(--naturalw)
    );
    --w-if-fitw: calc(var(--maxfitw) * 100vw);
    --h-if-fith: calc(var(--maxfith) * 100vh);

    --displayw: min(var(--w-if-fitw), var(--w-if-fith));
    --displayh: min(var(--h-if-fitw), var(--h-if-fith));
    --pixelh: calc(var(--displayh) / var(--naturalh));
    --pixelw: calc(var(--displayw) / var(--naturalw));

    --imtop: calc(50vh - (var(--displayh) * 0.5));
    --imbottom: calc(50vh + (var(--displayh) * 0.5));
    --imleft: calc(50vw - (var(--displayw) * 0.5));
    --imright: calc(50vw + (var(--displayw) * 0.5));
  }
  :root:has(> .pixelgrid > .tiny)::after {
    opacity: 0;
  }

  .fitw,
  .fith {
    display: none;
    pointer-events: none;
  }
  :root:has(.toggle .debug:checked) :is(.fitw, .fith) {
    position: fixed;
    border-radius: 12px 2px 2px 2px;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    filter: drop-shadow(1px 1px 1px #000a);
  }
  .fith {
    border-width: 1px 3px 1px 3px;
    border-style: solid;
    color: #b00;
    width: var(--w-if-fith);
    height: var(--h-if-fith);
    box-sizing: border-box;
  }
  .fitw {
    border-width: 3px 1px 3px 1px;
    border-style: solid;
    width: var(--w-if-fitw);
    height: var(--h-if-fitw);
    color: #a48200;
    box-sizing: border-box;
  }
  .fitw::after,
  .fith::after {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid currentColor;
    background-color: #000;
    padding: 4px 6px;
    border-radius: 12px 0 14px 0;
    border-style: solid groove groove solid;
    font-family: monospace;
    font-size: 0.8rem;
    letter-spacing: -0.08ch;
  }
  .fitw::after {
    margin: -2px 0 0 -1px;
    border-width: 2px 1.5px 1.5px 1px;
    border-style: solid groove groove solid;
    content: 'fit w';
  }
  .fith::after {
    margin: -1px 0 0 -2px;
    border-width: 1px 1.5px 1.5px 2px;
    border-style: solid groove groove solid;
    content: 'fit h';
  }

  label.output {
    visibility: hidden;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    font-family: Menlo, monospace;
    color: var(--color);
    white-space: pre;
    text-align: center;
    line-height: 1.8;
    pointer-events: none;
    user-select: none;
  }
  label.output > .one::after {
    counter-reset: out var(--value);
    content: var(--prefix, '') counter(out) var(--suffix, '');
  }
  label.output > .two::after {
    counter-reset: outA var(--value) outB var(--value2);
    content: var(--prefix, '') counter(outA) var(--suffix, '')
      var(--prefix2, '') counter(outB) var(--suffix2, '');
  }

  /* labels for image width and height */
  label.output.width,
  label.output.height {
    --color: #888;
    --endlength: 0.5lh;
    --thickness: 2px;
    --suffix: 'px';
    --endlength: calc(var(--thickness) * 5);
  }
  label.output.width {
    --prefix: 'width ';
    --value: var(--naturalw);
    bottom: var(--imbottom);
    left: var(--imleft);
    width: var(--displayw);
    background-image:
      linear-gradient(to top, var(--color) 0 var(--thickness), #fff0 0),
      linear-gradient(
        to right,
        var(--color) 0 var(--thickness),
        #fff0 var(--thickness) 100%
      ),
      linear-gradient(
        to left,
        var(--color) 0 var(--thickness),
        #fff0 var(--thickness) 100%
      );
    background-position:
      center center,
      right center,
      left center;
    background-size:
      100% var(--thickness),
      100% calc(var(--endlength) - var(--thickness)),
      100% calc(var(--endlength) - var(--thickness));
    background-repeat: no-repeat;
    height: calc(var(--endlength) * 3);
    right: var(--imright);
    /*! width: auto; */
    overflow: visible;
  }
  label.output.height {
    --prefix: 'height\0a ';
    --value: var(--naturalh);
    --suffix: 'px';
    top: var(--imtop);
    right: var(--imright);
    height: var(--displayh);
    width: calc(var(--endlength) * 3);
    background-image:
      linear-gradient(to left, var(--color) 0 var(--thickness), #fff0 0),
      linear-gradient(to bottom, var(--color) 0 var(--thickness), #fff0 0),
      linear-gradient(to top, var(--color) 0 var(--thickness), #fff0 0);
    background-position: center center;
    background-size:
      var(--thickness) 100%,
      calc(var(--endlength) - var(--thickness)) 100%,
      calc(var(--endlength) - var(--thickness)) 100%;
    background-repeat: no-repeat;
    justify-content: end;
  }
  :root:has(.toggle.dimensions :checked)
    :where(label.output.width, label.output.height, label.output.client-size) {
    visibility: visible;
  }

  .output.height > output {
    margin-right: calc(var(--endlength) * 3);
  }
  .output.width > output {
    margin-bottom: calc(var(--endlength) * 3);
  }

  label.output.client-size {
    --color: #888;
    --endlength: 0.5lh;
    --thickness: 2px;
    --prefix: 'viewport:\0a ';
    --value: var(--screenw);
    --suffix: '×';
    --value2: var(--screenh);
    --suffix2: 'px';
    top: 4px;
    left: 4px;
  }

  img {
    text-align: center;
    position: absolute;
    inset: 0;
    margin: auto;
    /*     outline-offset: 1px; */
  }
  img.overflowingVertical {
    margin-top: 0;
  }
  img.transparent {
    background-color: #666;
  }
  .light > img.transparent {
    background-color: #666;
  }
  .hatch > img.transparent {
    background-image: repeating-conic-gradient(
      #1116 0 90deg,
      #0006 90deg 180deg
    );
    background-size: var(--pixelw) var(--pixelw);
    background-repeat: repeat;
    background-position: 0 0;
    border: 0;
    padding: 0;
  }
  .light.hatch > img.transparent {
    background-image: repeating-conic-gradient(
      #1116 0 90deg,
      #0006 90deg 180deg
    );
    background-size: var(--pixelw) var(--pixelw);
    background-repeat: repeat;
    background-position: 0 0;
    border: 0;
    padding: 0;
  }
  .outline.subtle img.transparent {
    outline: 1px dashed #888;
  }
  .outline img.transparent {
    outline: 1px dashed #aaa;
    /*     outline-offset: 1px; */
  }

  :root:has(> .bghatch) {
    color: #222;
    background-image: repeating-conic-gradient(
      from 0deg at 50% 50%,
      #777 0 90deg,
      #666 90deg 180deg
    );

    background-size: 40px 40px;
  }

  .completeRotation {
    transition: transform 0.3s ease 0s;
  }

  .tiny {
    width: var(--displayw);
    height: var(--displayh);
    image-rendering: pixelated;
  }

  :root:has(> .pixelgrid > .tiny) {
    background-image:
      linear-gradient(#1a1a1a44, #14141466, #1a1a1a66),
      repeating-conic-gradient(#444 0 90deg, #333 90deg 180deg);
    background-size:
      100vw 100vh,
      calc(var(--pixelw) * 2) calc(var(--pixelw) * 2);
    background-repeat: no-repeat, repeat;
    background-position:
      0 0,
      var(--imleft) var(--imtop);
  }
  :root:has(> .pixelgrid.light > .tiny) {
    background-image:
      linear-gradient(#1a1a1a44, #14141466, #1a1a1a66),
      repeating-conic-gradient(#555 0 90deg, #333 90deg 180deg);
    background-size:
      100vw 100vh,
      calc(var(--pixelw) * 2) calc(var(--pixelw) * 2);
    background-repeat: no-repeat, repeat;
    background-position:
      0 0,
      var(--imleft) var(--imtop);
  }
  :root:has(> .pixelgrid > .tiny)::after {
    pointer-events: none;
    content: '';
    display: block;
    position: fixed;
    top: var(--imtop);
    left: var(--imleft);
    width: var(--displayw);
    height: var(--displayh);
    box-sizing: content-box;
    --gridlinehalfthickness: 0.6px;
    --gridlinefadeover: 0.2px;

    --glt: var(--gridlinehalfthickness);
    --glf: var(--gridlinefadeover);
    background:
      repeating-linear-gradient(
        to bottom,
        /*blue*/ var(--gch2) 0 var(--glt),
        #0000 calc(var(--glt) + var(--glf)) var(--pixelw)
      ),
      repeating-linear-gradient(
        to bottom,
        /*red*/ var(--gch1) 0 var(--glt),
        #0000 calc(var(--glt) + var(--glf)) var(--pixelw)
      ),
      repeating-linear-gradient(
        to right,
        /*yellow*/ var(--gcv1) 0 var(--glt),
        #0000 calc(var(--glt) + var(--glf)) var(--pixelw)
      ),
      repeating-linear-gradient(
        to left,
        /*cyan*/ var(--gcv2) 0 var(--glt),
        #0000 calc(var(--glt) + var(--glf)) var(--pixelw)
      );
    background-position: 0 0;
    background-size: var(--pixelw) var(--pixelw);
    --gch1: var(--gridcolor);
    --gch2: var(--gridcolor);
    --gcv1: var(--gridcolor);
    --gcv2: var(--gridcolor);
  }
  :root:has(> .pixelgrid.light > .tiny)::after {
    --gridcolor: #3331;
  }
  :root:has(> .pixelgrid > .tiny)::after {
    --gridcolor: #3338;
    /*       --gch1: #f00a;
    --gch2: #00fa;
    --gcv1: #ff0a;
    --gcv2: #0ffa; */
  }
}

.toggle {
  background-color: #222;
}

.toggles {
  /*! outline: 1px solid yellow; */
  position: absolute;
  top: 0;
  left: 0;
  color: #eee;
  list-style-type: none;
  padding: 0;
  margin: 0 0;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  font-size: 0.9rem;
  transition: opacity 80ms ease 3000ms;
}
.toggles > .toggle {
  opacity: 0;
  pointer-events: none;
  margin: 0;
  transition: opacity 80ms ease 3000ms;
}
.toggles:hover > .toggle {
  opacity: 1;
  pointer-events: all;
  transition: opacity 80ms ease 100ms;
}
.toggles::before {
  content: '{…}';
  position: absolute;
  top: 0;
  left: 0;
  min-width: 10vw;
  min-height: 4vh;
  padding: 1ch 0.5ch;
  opacity: 0.7;
  transition: opacity 80ms ease 200ms;
}
.toggles:hover::before {
  content: '{…}';
  opacity: 0.1;
  transition: opacity 80ms ease 100ms;
}

.toggles {
  /*! outline: 1px solid yellow; */
  position: absolute;
  top: 0;
  left: 0;
  color: #eee;
  list-style-type: none;
  padding: 0;
  margin: 0 0;
  display: flex;
  flex-direction: row;
  column-gap: 1ch;
  font-family: monospace;
  font-size: 0.9rem;
  transition: opacity var(--long-duration) ease var(--long-delay);
  --long-delay: 2s;
  --short-delay: 100ms;
  --long-duration: 600ms;
  --short-duration: 80ms;
}
.toggles > .toggle {
  opacity: 0;
  pointer-events: none;
  margin: 0;
  transition: opacity var(--long-duration) ease var(--long-delay);
}
.toggles:hover > .toggle {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
  transition: opacity var(--short-duration) ease var(--short-delay);
}
.toggles::before {
  content: '{…}';
  position: absolute;
  top: 0;
  left: 0;
  min-width: 10vw;
  min-height: 4vh;
  padding: 1ch 0.5ch;
  opacity: 0.7;
  transition: opacity var(--short-duration) ease
    calc(var(--short-delay) + var(--long-delay));
}
.toggles:hover::before {
  content: '{…}';
  opacity: 0;
  transition: opacity var(--short-duration) ease var(--short-delay);
}
