@property --s-blur-reason {
  syntax: '<string>';
  inherits: true;
  initial-value: 'focus lost';
}

.bluronblur[open] {
  display: flex;
  transform: scale(1);
  background-image:
    repeating-conic-gradient(from 0deg, #0006 0 90deg, #0000 90deg 180deg),
    repeating-conic-gradient(from 45deg, #0006 0 90deg, #0000 90deg 180deg),
    repeating-conic-gradient(from 0deg, #0006 0 90deg, #0000 90deg 180deg);
  background-color: #0000;
  background-size:
    3vmax 3vmax,
    5vmin 5vmin,
    2vmax 2vmax;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  inset: 0;
  max-width: unset;
  max-height: unset;
  background-repeat: repeat;
  background-position: center;
  /*! filter: blur(0.2px); */
  justify-content: center;
  align-items: center;
}
.bluronblur[open]::after {
  content: var(--s-blur-reason, 'lost focus');
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  text-shadow:
    0 -1px var(--b) var(--c),
    0 1px var(--b) var(--c),
    1px 0 var(--b) var(--c),
    -1px 0 var(--b) var(--c),
    -1px -1px var(--b) var(--c),
    1px 1px var(--b) var(--c),
    1px -1px var(--b) var(--c),
    -1px 1px var(--b) var(--c);
  letter-spacing: 0.1ch;
  font-style: italic;
  color: #000;
  --c: #444;
  --b: 0px;
  border-radius: 0.5em;
  background-color: #0006;
  padding: 0 0.5ch;
  opacity: 0.7;
}
.bluronblur[open]::backdrop {
  display: flex;
  transform: scale(1);
  position: fixed;
  inset: 0 0 0 0;
  backdrop-filter: blur(20px);
  background-image:
    radial-gradient(circle at top left, #000c, #0000),
    radial-gradient(circle at bottom right, #000c, #0000);
}

.bluronblur fieldset {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: subgrid;
  place-items: center;
  padding: 10vh 1ch 1em 1ch;
  grid-row: -1;
}
.bluronblur button {
  appearance: none;
  background-color: #000;
  border: 1px solid currentColor;
  color: #666;
  padding: calc(1lh - var(--font-size)) 1ch;
  font-size: var(--font-size);
  --font-size: 1em;
  border-radius: 1ch / 1lh;
  display: flex;
  align-self: end;
  grid-column: 1;
  grid-row: 1;
  cursor: pointer;
  transition-delay: 0ms;
  transition-timing-function: ease;
  transition-property: opacity, color, background-color;
}
.bluronblur fieldset button {
  opacity: 0.6;
  transition-duration: 400ms;
}
.bluronblur fieldset:hover button {
  background-color: #111;
  color: #999;
  opacity: 1;
  transition-duration: 200ms;
}
.bluronblur fieldset button:hover {
  background-color: #222;
  color: #ccc;
  transition-duration: 200ms;
}
.bluronblur button:active {
  background-color: #666;
  color: #000;
  text-shadow:
    0 0 1px #000,
    -1px 1px 0.1px #ccc,
    1px -1px 0.1px #ccc,
    -1px -1px 0.1px #ccc,
    1px 1px 0.1px #ccc;
  transition-duration: 80ms;
}
.bluronblur[open] {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
}
.bluronblur::after {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
