/*!{{{1 File List (table) */
table {
  --row-h: 2.2rem;
  --row-pad: 1px;
  clear: unset;
  border-radius: 10px;
  min-width: 20em;
  max-width: unset;
  color: FieldText;
  display: block;
  width: auto;
  background-color: #1a1a1a;
  border: 0;
  border-collapse: collapse;
  padding: 3.4rem 2rem 1rem 1.4rem;
  grid-area: files;
  place-self: end auto;
}

thead > tr::before {
  content: 'Playback';
}

td:first-child > a {
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  grid-column: filename;
  inset: var(--inset-files);
  grid-row: span files-start;
  position: sticky;
}

td:first-child + td + td + td {
  display: none;
}

td:first-child + td {
  padding-inline-end: 0;
}

tbody > tr {
  --h: 90deg;
  --s: 40%;
  --l: 10%;
  --a: 0%;
  background-color: hsl(
    calc(var(--h) + var(--h±, 0deg)) calc(var(--s) * var(--s✕, 1))
      calc(var(--l) * var(--l✕, 1) / calc(var(--a) * var(--a✕, 1)))
  );
  padding: 0 0.5ch;
}

tbody > tr:hover {
  outline: 0;
  --s: 60%;
  --l: 30%;
  overflow: visible;
  box-shadow:
    inset 3px 1.2px 10px -2px #fff8,
    inset 2px -0.2px 5px -1.2px #000,
    1px 2px 0-1px #000;
  border-radius: 1lh;
}

tbody > ::before {
  content: var(--s-playerIdx);
  --bg: hsl(
    calc(360deg / var(--interleave-active-player-count) * var(--playerIdx)) 80%
      50% / 100%
  );
  --angle: calc(
    360deg / var(--interleave-active-player-count) * var(--playerIdx)
  );
  --h: calc(var(--angle), 90deg);
  --s: 60%;
  --l: 50%;
  --a: 20%;
  mask-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 512 512%22%3E\
    %3Cpath d=%22M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z%22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  mask-repeat: no-repeat;
  mask-composite: add;
  mask-position: center center;
  mask-size: contain;
  mask-origin: content-box;
  mask-clip: padding-box;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  line-height: calc(var(--row-h) * 0.5);
  white-space: preserve-spaces;
  width: calc(var(--row-h) * 0.5);
  height: calc(var(--row-h) * 0.5);
  color: #fff;
  padding: var(--row-pad);
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  grid-column: 2/3;
  inset: var(--inset-files);
  grid-row: span files-start;
  position: sticky;
}

tbody > :where(.playing, .paused) {
  --s✕: 0.4;
  --a: 100%;
}

table > tbody > :where(.playing, .paused)::before {
  mask-clip: no-clip;
  mask-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 512 512%22%3E\
    %3Cpath d=%22M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z%22%3E\
    %3C/path%3E\
    %3C/svg%3E');
  overflow: visible;
  background-size:
    50% 50%,
    contain,
    contain,
    contain;
  background-clip: content-box, content-box, content-box, content-box;
  background-origin: content-box, content-box, content-box, content-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: normal;
  background-image:
    var(--playback-status-icon),
    radial-gradient(
      circle at center,
      var(--c1),
      var(--c2) 50% 57%,
      #fffa 60% 62%,
      #000 65%
    ),
    radial-gradient(
      ellipse 60% 50%at 20% 10%,
      #fdd8 30%,
      #fff2 60% 70%,
      #00000050 120%,
      #0008 180%
    ),
    radial-gradient(
      ellipse 115% 110%at 80% 70%,
      #fff0 22%,
      #fff8 50% 56%,
      #fff4 58%
    ),
    radial-gradient(circle at center, #0001 55%, #0002 60%, #000 60%);
  --c1: hsl(from var(--bg) h s l / 100%);
  --c2: hsl(from var(--bg) h s calc(l * 0.66) / 100%);
}

table > tbody > .playing::before {
  --playback-status-icon: var(--playback-status-playing);
  background-size:
    45% 45%,
    contain,
    contain,
    contain;
  background-position:
    56% 50%,
    center center,
    center center,
    center center;
}

table > tbody > .paused::before {
  --playback-status-icon: var(--playback-status-paused);
}

table > tbody > .played::before,
table > tbody > .played.paused::before {
  --playback-status-icon: var(--playback-status-played);
}

table > tbody > tr > td {
  border-width: 0;
  margin: 0;
  padding: 0;
}

td:not(:first-child) {
  width: unset;
}

.file:has(> img) {
  margin: 0;
}

:where(.file, .dir) {
  font-family: Menlo, monospace;
  line-height: normal;
  align-items: center;
  color: #fff;
  width: 100%;
  letter-spacing: 0.02ch;
  font-size: 1.1rem;
  border-width: 0;
  /*! height: var(--row-h); */
  align-content: center;
  justify-content: start;
  display: flex;
  padding: 0 0.5ch;
  margin: 0;
}

:where(.file, .dir):hover {
  text-decoration: none;
}

:where(.file, .dir)::before {
  font-family: Menlo, monospace;
  line-height: normal;
  align-items: center;
  content: '';
  background: #eee;
  color: #000;
  font-weight: 700;
  border-radius: 6px/40px;
  letter-spacing: 0;
  width: 3.5ch;
  text-align: center;
  margin: 0 1ch 0 0;
  padding: 0.12em 0 0.06em 0.1ch;
  max-width: 3.5ch;
  font-size: 0.9em;
  text-transform: uppercase;
  justify-content: center;
  display: inline-flex;
  background-position: center center;
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: normal;
  background-attachment: scroll;
  background-image:
    linear-gradient(26deg, #0004 10%, #fff8 10% 70%, #0004 90%),
    var(--icon, linear-gradient(#0000 0 0));
  background-color: #eee9;
  opacity: 0.8;
  mix-blend-mode: plus-lighter;
}

:has(.file:hover) .file:not(:hover)::before {
  mix-blend-mode: soft-light;
}

.player.linear.paused,
[src^='moz-icon://'] {
  display: none;
}

.file:has(> [src='moz-icon://.mp4?size=16'])::before {
  content: 'mp4';
  --c-hint: #f0f;
  --icon: var(--icon-filetype-video);
}

.file:has(> [src='moz-icon://.png?size=16'])::before {
  content: 'png';
  --icon: var(--icon-filetype-image);
}

.file:has(> [src='moz-icon://.jpeg?size=16'])::before,
.file:has(> [src='moz-icon://.jpg?size=16'])::before {
  content: 'jpg';
  --icon: var(--icon-filetype-image);
}

.file:has(> [src='moz-icon://.gif?size=16'])::before {
  content: 'gif';
  --icon: var(--icon-filetype-image);
}

.file:has(> [src='moz-icon://.html?size=16'])::before {
  content: 'html';
}

.file:has(> [src='moz-icon://.css?size=16'])::before {
  content: 'css';
}

.file:has(> [src='moz-icon://.js?size=16'])::before {
  content: 'js';
}

.file:has(> [src='moz-icon://.ts?size=16'])::before {
  content: 'ts';
}

:root:not(:has([name='images'] :checked))
  body
  > table
  > :where(tbody, thead)
  > tr:has(
    [src='moz-icon://.jpeg?size=16'],
    [src='moz-icon://.jpg?size=16'],
    [src='moz-icon://.png?size=16']
  ),
:root:not(:has([name='video'] :checked))
  body
  > table
  > :where(tbody, thead)
  > tr:has([src='moz-icon://.mp4?size=16'], [src='moz-icon://.gif?size=16']),
:root:not(:has([name='other'] :checked))
  body
  > table
  > :where(tbody, thead)
  > tr:not(
    :has(
      [src='moz-icon://.jpeg?size=16'],
      [src='moz-icon://.jpg?size=16'],
      [src='moz-icon://.png?size=16'],
      [src='moz-icon://.mp4?size=16'],
      [src='moz-icon://.gif?size=16']
    )
  ) {
  display: none;
}

.dir::before {
  content: 'dir';
  --icon: var(--icon-filetype-folder);
}

/*{{{1 Grid Layout Override for file listing table */
body > * {
  grid-area: auto;
  max-height: unset;
}

body > table,
:where(tbody, thead),
:where(tbody, thead) > tr {
  display: contents;
}

body > table > :where(tbody, thead) > tr > :where(td, th) {
  position: sticky;
  top: 0;
  display: flex;
  height: fit-content;
}

body > table > :where(tbody, thead) > tr > td:nth-child(n + 2) {
  transition: transform 200ms ease 0ms;
  transform: scale(0.8);
  font-size: 1em;
}
body > table > :where(tbody, thead) > tr > td:nth-child(2) {
  text-align: end;
  justify-content: center;
  transform-origin: right;
}
body > table > :where(tbody, thead) > tr > td:nth-child(3) {
  justify-content: center;
  transform-origin: left;
}

body > table > :where(tbody, thead) > tr:hover > td:nth-child(n + 2) {
  transition: transform 120ms ease 0ms;
}
body > table > :where(tbody, thead) > tr:hover > td:nth-child(2) {
  transform: scale(1.08) translateX(4%);
}

body > table > :where(tbody, thead) > tr:hover > td:nth-child(3) {
  transform: scale(1.08) translateX(-4%);
}
body > table > tbody > tr > td[sortable-data] {
  white-space: nowrap;
  flex-wrap: nowrap;
}

/* body > table > tbody > tr >  td[sortable-data]::before { */
/*     content: attr(sortable-data); */
/*     justify-self: start; */
/* } */

:where(.file, .dir) {
  width: auto;
}

:where(.file, .dir)::before {
  display: inline-flex;
}

body > table > :where(tbody, thead) > tr > td:first-child,
body > table > :where(tbody, thead) > tr > th:first-child {
  grid-column: filename;
  inset: var(--inset-files);
  grid-row: span files-start;
  position: sticky;
  z-index: var(--z-files);
}

body > table[order] > thead > tr > th ::after {
  width: unset;
}

body > table,
body > table > :where(tbody, thead),
body > table > :where(tbody, thead) > tr {
  display: contents;
}

body > table > tbody > ::before {
  grid-column: 1/3;
}
body > table > thead > ::before {
  position: sticky;
  inset: var(--inset-files);
  z-index: var(--z-files);
  background-color: #222;
  width: 100%;
  grid-column: filestatus-start/span 1;
  grid-row: 1;
  place-self: center stretch;
}

body > table > tbody > tr > td > table > tbody > tr::before {
  grid-column: filestatus-start/filestatus-end;
  grid-row: 1;
  place-self: start end;
  z-index: 10;
}

body > table > :where(tbody, thead) > tr > :where(td, th) {
  background-color: --c-bg;
  position: sticky;
  inset: var(--inset-files);
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  z-index: 10;
}
body > table > :where(tbody, thead) > tr > :where(td, th):first-child {
  display: contents;
}

body
  > table
  > :where(tbody, thead)
  > tr
  > :where(td:first-child + td, th:first-child + th) {
  grid-row: span files-start;
  grid-column: -5/-4;
}
body
  > table
  > :where(tbody, thead)
  > tr
  > :where(td:first-child + td + td, th:first-child + th + th) {
  grid-row: span files-start;
  grid-column: -4/-1;
}
body > table > :where(tbody, thead) > tr > :where(td, th):last-child {
  grid-column: -4 / span -1;
}

body > table > thead > tr > th,
body > table > thead > tr::before {
  z-index: var(--z-files-header);
  grid-row: fhead !important;
  order: 1;
}

body > table > :where(tbody, thead) > tr > td:nth-child(n + 2) {
  transition: transform 200ms ease 0ms;
  transform: scale(1);
  font-size: 1em;
}

body > table > thead > tr::before {
  background-color: #222;
  position: sticky;
  inset: var(--inset-files);
  z-index: var(--z-files);
  width: auto;
  height: 100%;
  padding: 0.1em 0.5ch;
  letter-spacing: 0.05ch;
  text-align: center;
}

body > table > tbody > ::before {
  content: var(--s-playerIdx);
  --bg: hsl(
    calc(360deg / var(--interleave-active-player-count) * var(--playerIdx)) 80%
      50% / 100%
  );
  --angle: calc(
    360deg / var(--interleave-active-player-count) * var(--playerIdx)
  );
  --h: calc(var(--angle), 90deg);
  --s: 60deg;
  --l: 50%;
  --a: 20%;
  mask-composite: add;
  mask-position: center center;
  mask-size: contain;
  mask-origin: content-box;
  mask-clip: padding-box;
  background-position: center center;
  text-align: center;
  white-space: preserve-spaces;
  color: #fff0;
  padding: var(--row-pad);
  aspect-ratio: unset;
  display: flex;
  line-height: normal;
  height: 2em;
  grid-column: 1/2;
  width: auto;
  opacity: 1;
  visibility: visible;

  position: sticky;
  inset: var(--inset-files);

  background-color: var(--c-bg);
  background-image: radial-gradient(
    circle 0.1lh at center,
    #fff8,
    90%,
    #000 90% 96%,
    #f000 0
  );
  background-origin: content-box;
  background-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-image: linear-gradient(#ffff);
  z-index: var(--z-linear-current-playing);
}

body > table > tbody > :where(.playing, .paused, .played)::before {
  mask-clip: no-clip;
  overflow: visible;
  background-clip: content-box, content-box, content-box, content-box;
  background-origin: content-box, content-box, content-box, content-box;
  background-repeat: no-repeat;
  background-position:
    var(--playback-status-icon-position, center center),
    center center,
    center center,
    center center;
  background-blend-mode: normal;
  background-image:
    var(--playback-status-icon),
    radial-gradient(
      1.3lh circle at center,
      var(--c1),
      var(--c2) 50% 57%,
      #fffa 60% 62%,
      #000 65%,
      #0000 68%
    ),
    radial-gradient(
      ellipse 0.65lh 0.65lh at calc(50% - 0.5lh) 0.1lh,
      #fdd8 30%,
      #fff2 60% 70%,
      #00000050 120%,
      #0008 180%,
      #0000 0
    ),
    radial-gradient(
      ellipse 0.65lh 0.65lh at calc(50% - 0.5lh) 0.7lh,
      #fff0 22%,
      #fff8 50% 56%,
      #fff4 58%,
      #fff0 61%
    ),
    radial-gradient(
      1.3lh circle at center,
      #0001 55%,
      #0002 60%,
      #000 60%,
      #0000 63%
    );
  --c1: hsl(from var(--bg) h s l / 100%);
  --c2: hsl(from var(--bg) h s calc(l * 0.66) / 100%);
  background-size:
    var(--playback-status-icon-size, 0.5lh),
    100% 2lh,
    1.2lh 1.2lh,
    1lh 1lh;
}
body > table > tbody > :where(.played)::before {
  --playback-status-icon: var(--playback-status-played);
  --playback-status-icon-size: 0.9lh;
}
body > table > tbody > :where(.played):hover::before {
  --playback-status-icon: var(--playback-status-replay);
}
body > table > tbody > .playing::before {
  --playback-status-icon: var(--playback-status-playing);
  --playback-status-icon-size: 0.45lh;
  --playback-status-icon-position: calc(50% + 0.04lh) 0.5lh;
}

body > table > tbody > .paused::before {
  --playback-status-icon: var(--playback-status-paused);
}

body > table > thead > tr > th,
body > table > thead > tr::before {
  grid-row: fhead !important;
  order: 1;
  position: sticky;
  inset: var(--inset-files);
  z-index: var(--z-files);
  background-color: #141414;
  width: auto;
  height: 100%;
  padding: 0;
  letter-spacing: 0.05ch;
  text-align: center;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
/*!}}}1*/

/*!{{{1 Replace ellipsis table with text-overflow */
.ellipsis,
.ellipsis > *,
.ellipsis > * > * {
  padding: 0;
  display: contents;
}
.ellipsis > tbody > tr > td {
  padding: 0;
  margin: 0;
  border: 0;
  display: contents;
}
/*!}}}1*/

td:first-child > a {
  grid-column: 3/-5;
}
body
  > table
  > :where(tbody, thead)
  > tr
  > :where(td:first-child + td + td, th:first-child + th + th) {
  grid-column: filedate;
}
body
  > table
  > :where(tbody, thead)
  > tr
  > :where(td:first-child + td, th:first-child + th) {
  grid-column: filesize;
}

body > table > tbody > tr {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: 1fr;
  grid-column: files-start/files-end;
  align-content: stretch;
  align-items: stretch;
  inset: var(--inset-files);
  position: sticky;
}
body > table > tbody > tr:hover {
  outline: 1px solid #fff3;
  outline-offset: -4px;
}
td:first-child > a {
  grid-column: filename-start/filename-end;
}
body > table > tbody > tr::before {
  grid-column: filestatus;
  grid-row: 1;
  border-radius: 1lh;
  background-color: #0000;
  place-self: end stretch;
}
body > table > tbody > tr > td > table > tbody > tr::before {
  grid-column: filestatus-start/filestatus-end;
  grid-row: 1;
  inset: var(--inset-files);
  --bg: hsl(
    calc(360deg / var(--interleave-active-player-count) * var(--playerIdx)) 80%
      50% / 100%
  );
  --angle: calc(
    360deg / var(--interleave-active-player-count) * var(--playerIdx)
  );
  --h: calc(var(--angle), 90deg);
  --s: 60deg;
  --l: 50%;
  --a: 20%;
  mask-composite: add;
  mask-position: center center;
  mask-origin: content-box;
  mask-clip: content-box;
  text-align: center;
  color: #fff;
  align-content: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  line-height: normal;
  aspect-ratio: 1;
  width: auto;
  opacity: 1;
  visibility: visible;
  mask-repeat: no-repeat;
  z-index: 60;

  font-size: 1.4em;
  height: calc(var(--row-h) * 0.75);
  overflow: visible;
  background-clip: padding-box;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: normal;
  background-image:
    radial-gradient(
      farthest-corner circle at center,
      var(--c1),
      var(--c2) 50% 57%,
      #fffa 60% 62%,
      #000 65%,
      #0000 68%
    ),
    radial-gradient(
      farthest-side circle at center,
      #fdd8 30%,
      #fff2 60% 70%,
      #00000050 120%,
      #0008 180%,
      #0000 0
    ),
    radial-gradient(
      farthest-side circle at center,
      #fff0 22%,
      #fff8 50% 56%,
      #fff4 58%,
      #fff0 61%
    ),
    radial-gradient(
      farthest-corner circle at center,
      #0001 55%,
      #0002 60%,
      #000 60%,
      #0000 63%
    );
  --c1: hsl(from var(--bg) h s l / 100%);
  --c2: hsl(from var(--bg) h s calc(l * 0.66) / 100%);
  background-size: contain;

  font-family: SF Pro;

  --text-shadow:
    var(--tot－) var(--tot０) var(--tob) var(--toc-l),
    var(--tot＋) var(--tot０) var(--tob) var(--toc-r),
    var(--tot０) var(--tot＋) var(--tob) var(--toc-b),
    var(--tot０) var(--tot－) var(--tob) var(--toc-t),
    var(--tot－) var(--tot－) var(--tob) var(--toc-tl),
    var(--tot＋) var(--tot－) var(--tob) var(--toc-tr),
    var(--tot＋) var(--tot＋) var(--tob) var(--toc-br),
    var(--tot－) var(--tot＋) var(--tob) var(--toc-bl);
  text-shadow: var(--text-shadow);
  --tot＋: calc(var(--text-outline-thickness) * 0.5);
  --tot－: calc(var(--text-outline-thickness) * -0.5);
  --tot０: 0;
  --tob: 0.1px;
  --toc: var(--text-outline-color, #000);
  --toc-l: var(--toc);
  --toc-r: var(--toc);
  --toc-t: var(--toc);
  --toc-b: var(--toc);
  --toc-tl: var(--toc);
  --toc-tr: var(--toc);
  --toc-br: var(--toc);
  --toc-bl: var(--toc);

  --text-outline-color: #000a;
  --text-outline-thickness: 0.06em;
  --text-outline-blur: 0.5px;

  place-self: center start;
  mask-size: calc(1em + 1px);
  padding: 0;
  letter-spacing: 0.06ch;
}
