:root,
body,
img,
div,
.reset {
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent;
  position: relative;
}
:root {
  height: 100vh;
  width: 100vw;
  overflow: scroll-y hidden;
}
body {
  background-color: rgb(16, 16, 16);
  line-height: normal;
  display: grid;
  width: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  height: 100%;
  max-width: 100vw;
  overflow: visible;
  --n: calc(var(--r-l) + var(--r-m) + var(--r-r));
  --r-l: 2;
  --r-m: 8;
  --r-r: 4;
  --u: calc(100vw / var(--n));
  grid-template-columns:
    [l-start] repeat(var(--r-l), var(--u))
    [l-end m-start] repeat(var(--r-m), var(--u)) [m-end r-start] repeat(
      var(--r-r),
      var(--u)
    )
    [r-end];
  grid-template-rows: [t-start] repeat(auto-fill, var(--u)) [b-end];
  grid-auto-rows: var(--u);
}

.config,
.notify,
.source,
.title {
  display: block;
  color: #fff;
  --outline-color: #000;
  text-shadow:
    1px 0 0 var(--outline-color),
    -1px 0 2px var(--outline-color),
    0 -1px 2px var(--outline-color),
    0 1px 0 var(--outline-color);
  line-height: normal;
  position: fixed;
  margin: 0 !important;
  padding: 0 !important;
  top: unset;
  bottom: 2px;
  z-index: 10;
  font-size: 12px;
  letter-spacing: 0.1ch;
  word-spacing: -0.4ch;
}

.config::before {
  content: 'fit: ' var(--fit);
  right: 6px;
  left: unset;
}

.notify {
  font-weight: bold;
  left: 4px;
  right: unset;
  height: auto;
  width: auto;
}

:not(#u#n#i#m#p#o#r#t#a#n#t) .grecaptcha-badge {
  visibility: hidden;
}

body::after {
  content: '';
  display: flex;
  grid-column: l-start/m-end;
  grid-row: t-start/b-end;
  border-color: var(--c);
  width: 0;
  height: 80vh;
  z-index: 1;
  outline: var(--olw) dashed black;
  outline-offset: var(--olo);
  border-style: dotted;
  margin: calc(var(--ot) * -1) 0 calc(var(--ob) * -1) auto;
  --c: #0000;
  border-width: var(--v) var(--h) var(--v) var(--h);
  --v: 0;
  --h: calc(var(--olw) * 2);
  mask-clip: border-box;
  mask-image: linear-gradient(#fff 0 0);
  padding: var(--ot) 0 var(--ob) 0;
  --ot: calc(var(--olw) * 1);
  --ob: calc(var(--olw) * 1);
  --olw: 2px;
  --olo: calc(var(--olw) * -2);
  background-color: #0000;
}

body > * {
  max-height: min(100vh, 100%);
  max-width: min(100vw, 100%);
}
body > a {
  display: contents;
}
body > canvas.hidden {
  visibility: hidden;
  position: fixed;
  inset: -100%;
  width: 0;
  height: 0;
}

body > div:has(.preview) {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  display: contents;
  position: relative;
}

:root > body > img:first-of-type {
  margin: 0 !important;
  padding: 0 !important;
  display: block;
  border: none !important;
  line-height: 0;
  font-size: 0;
  grid-column: l-start/m-end;
  grid-row: t-start/b-end;
  align-self: center;
  justify-self: center;
  position: sticky;
  inset: 0 auto auto auto;
}

:root[data-fit='auto'] > body > img:first-of-type {
  max-height: min(100vh, 100%);
  max-width: min(100vw, 100%);
}
:root[data-fit='fitw'] > body > img:first-of-type {
  width: max(100vw, 100%);
  max-height: unset;
}
:root[data-fit='fith'] > body > img:first-of-type {
  max-width: unset;
  height: max(100vh, 100%);
}

:root > body > img,
:root > body > :where(a, label) > img,
:root > body > div:has(.preview) img {
  aspect-ratio: var(--natRatio);
  max-height: min(100vh, 100%);
  max-width: min(100vw, 100%);
  height: auto;
  width: auto;
}

body > :where(img:nth-of-type(n + 2), canvas),
body > :where(a, label) > img,
/* body > div:has(.preview), */
body > div:has(.preview) > label > img {
  grid-column: m-end/r-end;
  grid-row: auto/span round(up, var(--natRatio), var(--r-r));
}

label:has(> .preview, > [type='checkbox'], > [type='radio']) {
  display: contents;
}

label > :where([type='checkbox'], [type='radio'], ) {
  position: absolute;
  inset: 0;
  visibility: hidden;
  max-width: 0;
  max-height: 0;
}

label:has(> :checked) > img {
  box-shadow:
    0 0 0.5px 2px #000,
    0 0 0.5px 4px #a8a;
}
