:root,
body,
img,
div,
.reset {
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent;
  position: relative;
}
:root {
  height: 100vh;
  width: 100vw;
  overflow: scroll-y hidden;
}
body {
  background-color: rgb(16, 16, 16);
  line-height: normal;
  display: grid;
  width: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  height: 100%;
  max-width: 100vw;
  overflow: visible;
  --n: calc(var(--r-l) + var(--r-m) + var(--r-r));
  --r-l: 2;
  --r-m: 8;
  --r-r: 4;
  --u: calc(100vw / var(--n));
  grid-template-columns:
    [l-start] repeat(var(--r-l), var(--u))
    [l-end m-start] repeat(var(--r-m), var(--u)) [m-end r-start] repeat(
      var(--r-r),
      var(--u)
    )
    [r-end];
  grid-template-rows: [t-start] repeat(auto-fill, var(--u)) [b-end];
  grid-auto-rows: var(--u);
}

.config,
.notify,
.info {
  display: block;
  color: #fff;
  --outline-color: #000;
  text-shadow:
    1px 0 0 var(--outline-color),
    -1px 0 2px var(--outline-color),
    0 -1px 2px var(--outline-color),
    0 1px 0 var(--outline-color);
  line-height: normal;
  position: fixed;
  margin: 0 !important;
  padding: 0 !important;
  top: unset;
  bottom: 2px;
  z-index: 10;
  font-size: 12px;
  letter-spacing: 0.1ch;
  word-spacing: -0.4ch;
}

.config::before {
  content: 'fit: ' var(--fit);
  right: 6px;
  left: unset;
}

.notify {
  font-weight: bold;
  left: 4px;
  right: unset;
  height: auto;
  width: auto;
}

:not(#u#n#i#m#p#o#r#t#a#n#t) .grecaptcha-badge {
  visibility: hidden;
}

body::after {
  content: '';
  display: flex;
  grid-column: l-start/m-end;
  grid-row: t-start/b-end;
  border-color: var(--c);
  width: 0;
  height: 80vh;
  z-index: 1;
  outline: var(--olw) dashed black;
  outline-offset: var(--olo);
  border-style: dotted;
  margin: calc(var(--ot) * -1) 0 calc(var(--ob) * -1) auto;
  --c: #0000;
  border-width: var(--v) var(--h) var(--v) var(--h);
  --v: 0;
  --h: calc(var(--olw) * 2);
  mask-clip: border-box;
  mask-image: linear-gradient(#fff 0 0);
  padding: var(--ot) 0 var(--ob) 0;
  --ot: calc(var(--olw) * 1);
  --ob: calc(var(--olw) * 1);
  --olw: 2px;
  --olo: calc(var(--olw) * -2);
  background-color: #0000;
}

body > * {
  max-height: min(100vh, 100%);
  max-width: min(100vw, 100%);
}
body > a {
  display: contents;
}
body > canvas.hidden {
  visibility: hidden;
  position: fixed;
  inset: -100%;
  width: 0;
  height: 0;
}

body > div:has(.preview) {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  display: contents;
  position: relative;
}

:root > body > img:first-of-type {
  margin: 0 !important;
  padding: 0 !important;
  display: block;
  border: none !important;
  line-height: 0;
  font-size: 0;
  grid-column: l-start/m-end;
  grid-row: t-start/b-end;
  align-self: center;
  justify-self: center;
  position: sticky;
  inset: 0 auto auto auto;
}

:root[data-fit='auto'] > body > img:first-of-type {
  max-height: min(100vh, 100%);
  max-width: min(100vw, 100%);
}
:root[data-fit='fitw'] > body > img:first-of-type {
  width: max(100vw, 100%);
  max-height: unset;
}
:root[data-fit='fith'] > body > img:first-of-type {
  max-width: unset;
  height: max(100vh, 100%);
}

:root > body > img,
:root > body > :where(a, label) > img,
:root > body > div:has(.preview) img {
  aspect-ratio: var(--natRatio);
  max-height: min(100vh, 100%);
  max-width: min(100vw, 100%);
  height: auto;
  width: auto;
}

body > :where(img:nth-of-type(n + 2), canvas),
body > :where(a, label) > img,
/* body > div:has(.preview), */
body > div:has(.preview) > label > img {
  grid-column: m-end/r-end;
  grid-row: auto/span round(up, var(--natRatio), var(--r-r));
}

label:has(> .preview, > [type='checkbox'], > [type='radio']) {
  display: contents;
}

label > :where([type='checkbox'], [type='radio'], ) {
  position: absolute;
  inset: 0;
  visibility: hidden;
  max-width: 0;
  max-height: 0;
}

label:has(> :checked) > img {
  box-shadow:
    0 0 0.5px 2px #000,
    0 0 0.5px 4px #a8a;
}

a[download] {
  --icon-download-png: url('data:image/svg+xml,%3Csvg style=%22fill: %23ffffff;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 640 512%22%3E %3Cpath d=%22 M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9 c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160 c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96 c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6 C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128 H144zm79-167l80 80c9.4 9.4 24.6 9.4 33.9 0l80-80 c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-39 39V184 c0-13.3-10.7-24-24-24s-24 10.7-24 24V318.1l-39-39 c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9z%22%3E %3C/path%3E %3C%21--%21 Font Awesome Free 6.4.2 by @fontawesome --%3E %3C/svg%3E');
  background-image: var(--icon-download-png);
  background-repeat: no-repeat;
  white-space: nowrap;
  padding-right: 1lh;
  display: flex;
  box-sizing: content-box;
  grid-column: m-end/-1;
  width: auto;
  height: auto;
  background-size: var(--bgsize);
  background-position: right var(--pad) center;
  padding: 0.1em calc(var(--bgsize) + var(--pad) + var(--pad)) 0.2em var(--pad);
  font-size: 0.86em;
  --bgsize: 1.4em;
  --pad: 0.5ch;
  color: #eee;
  text-decoration: 0.5px solid underline;
  text-decoration-inset: 4ch;
  transition:
    text-decoration-inset 200ms ease-out 0ms,
    text-decoration-thickness 100ms ease-out 0ms;
}
a[download]:hover {
  text-decoration: 0.6px solid underline;
  text-decoration-inset: 0px;
  transition:
    text-decoration-inset 300ms ease-in 20ms,
    text-decoration-thickness 200ms ease-in 20ms;
}

.info {
  grid-row: 1;
  position: fixed;
  inset: 0 auto auto 0;
  padding: 0.3em 0.5ch 0.1em 0.5ch !important;
}
.config,
.notify,
.info {
  display: flex;
}
label[for^='check_selected_']:has(> :checked)::after {
  content: 'has checked';
}
label[for^='check_selected_']:not(:has(> :checked))::after {
  content: 'not checked';
}
}
body > div:has(.preview) {
  position: relative;
  display: contents;
  anchor-scope: --image-preview;
  }
:root > body > div:has(.preview) img {
  anchor-name: --image-preview;
}
label[for^="check_selected_"]::after {
  position: absolute;
  inset: auto anchor(right) anchor(bottom) auto;
  position-anchor: --image-preview;
    content: '';
  background-position: center center;
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: color;
  background-attachment: scroll;
  background-image: linear-gradient(-45deg, #fffa, #000a, #fffa);
  font-size: 0.8em;
  width: calc(anchor-size(height) * 0.15);
  height: calc(anchor-size(height) * 0.15);
  mask-position: center;
  mask-clip: content-box;
  mask-origin: content-box;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 448 512%22%3E%3Cpath d=%22M64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l320 0c8.8 0 16-7.2 16-16l0-320c0-8.8-7.2-16-16-16L64 80zM0 96C0 60.7 28.7 32 64 32l320 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z%22%3E%3C/path%3E%3C/svg%3E');
}
