:root {
  --icon-folder-opened: url('data:image/svg+xml,%3Csvg style=%22fill: %23eeeeee;stroke: %23000000;stroke-width: 1px;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 576 512%22%3E%3Cpath d=%22M88.7 223.8m27.6 16.1C122.1 230 132.6 224 144 224H544c11.5 0 22 6.1 27.7 16.1s5.7 22.2-.1 32.1l-112 192C453.9 474 443.4 480 432 480H32c-11.5 0-22-6.1-27.7-16.1s-5.7-22.2 .1-32.1l112-192z%22%3E%3C/path%3E%3C/svg%3E');
  --icon-folder-open-flap: url('data:image/svg+xml,%3Csvg style=%22fill: %23ffffff;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 576 512%22%3E%3Cpath d=%22M88.7 223.8m27.6 16.1C122.1 230 132.6 224 144 224H544c11.5 0 22 6.1 27.7 16.1s5.7 22.2-.1 32.1l-112 192C453.9 474 443.4 480 432 480H32c-11.5 0-22-6.1-27.7-16.1s-5.7-22.2 .1-32.1l112-192z%22%3E%3C/path%3E%3C/svg%3E');
  --icon-folder-open-bg: url('data:image/svg+xml,%3Csvg style=%22fill: %23ffffff;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 576 512%22%3E%3Cpath d=%22M88.7 223.8L0 375.8V96C0 60.7 28.7 32 64 32H181.5c17 0 33.3 6.7 45.3 18.7l26.5 26.5c12 12 28.3 18.7 45.3 18.7H416c35.3 0 64 28.7 64 64v32H144c-22.8 0-43.8 12.1-55.3 31.8z%22%3E%3C/path%3E%3C/svg%3E');
  --icon-folder-closed:
    var(--icon-folder-open-bg), var(--icon-folder-open-flap);
  --icon-lamda: url("data:image/svg+xml; utf8,<svg width='15' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3.5 14.4354H5.31622L7.30541 9.81311H7.43514L8.65315 13.0797C9.05676 14.1643 9.55405 14.5 10.7 14.5C11.0171 14.5 11.291 14.4677 11.5 14.4032V13.1572C11.3847 13.1766 11.2622 13.2024 11.1541 13.2024C10.6351 13.2024 10.3829 13.0281 10.1595 12.4664L8.02613 7.07586C7.21171 5.01646 6.54865 4.5 5.11441 4.5C4.83333 4.5 4.62432 4.53228 4.37207 4.59038V5.83635C4.56667 5.81052 4.66036 5.79761 4.77568 5.79761C5.64775 5.79761 5.9 6.0042 6.4045 7.19852L6.64234 7.77954L3.5 14.4354Z' fill='black'/><rect x='0.5' y='0.5' width='14' height='18' rx='2.5' stroke='black'/></svg>");
  --icon-directory: url('data:image/svg+xml,%3Csvg style=%22fill: %23ffffff;%22 xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 576 512%22%3E%3Cpath d=%22M64 32C64 14.3 49.7 0 32 0S0 14.3 0 32v96V384c0 35.3 28.7 64 64 64H256V384H64V160H256V96H64V32zM288 192c0 17.7 14.3 32 32 32H544c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32H445.3c-8.5 0-16.6-3.4-22.6-9.4L409.4 9.4c-6-6-14.1-9.4-22.6-9.4H320c-17.7 0-32 14.3-32 32V192zm0 288c0 17.7 14.3 32 32 32H544c17.7 0 32-14.3 32-32V352c0-17.7-14.3-32-32-32H445.3c-8.5 0-16.6-3.4-22.6-9.4l-13.3-13.3c-6-6-14.1-9.4-22.6-9.4H320c-17.7 0-32 14.3-32 32V480z%22%3E%3C/path%3E%3C/svg%3E');
  --icon-folder-closed: url('data:image/svg+xml,%3Csvg style=%22fill: %23ffffff;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 512 512%22%3E%3Cpath d=%22M64 480H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H288c-10.1 0-19.6-4.7-25.6-12.8L243.2 57.6C231.1 41.5 212.1 32 192 32H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64z%22%3E%3C/path%3E%3C/svg%3E');
  --icon-folder-open: url('data:image/svg+xml,%3Csvg style=%22fill: %23ffffff;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 576 512%22%3E%3Cpath d=%22M88.7 223.8L0 375.8V96C0 60.7 28.7 32 64 32H181.5c17 0 33.3 6.7 45.3 18.7l26.5 26.5c12 12 28.3 18.7 45.3 18.7H416c35.3 0 64 28.7 64 64v32H144c-22.8 0-43.8 12.1-55.3 31.8zm27.6 16.1C122.1 230 132.6 224 144 224H544c11.5 0 22 6.1 27.7 16.1s5.7 22.2-.1 32.1l-112 192C453.9 474 443.4 480 432 480H32c-11.5 0-22-6.1-27.7-16.1s-5.7-22.2 .1-32.1l112-192z%22%3E%3C/path%3E%3C/svg%3E');
  --icon-file-code: url('data:image/svg+xml,%3Csvg style=%22fill: %23ffffff;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 384 512%22%3E%3Cpath d=%22M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM153 289l-31 31 31 31c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L71 337c-9.4-9.4-9.4-24.6 0-33.9l48-48c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9zM265 255l48 48c9.4 9.4 9.4 24.6 0 33.9l-48 48c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l31-31-31-31c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0z%22%3E%3C/path%3E%3C/svg%3E');
  --icon-file-image: url('data:image/svg+xml,%3Csvg style=%22fill: %23ffffff;%22 xmlns=%22http://www.w3.org/2000/svg%22 height=%221em%22 viewBox=%220 0 512 512%22%3E%3Cpath d=%22M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z%22%3E%3C/path%3E%3C/svg%3E');
  --icon-file-text: url('data:image/svg+xml,<svg fill="%23ffffff" xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 384 512"><path d=%22M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM112 256H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z%22%3E%3C/path%3E%3C/svg%3E');
  --icon-file-font: url('data:image/svg+xml,<svg fill="white" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d=%22M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM112 256H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z%22%3E%3C/path%3E%3C/svg%3E');
  --icon-file-html: var(--icon-file-code);
  --icon-file-css: var(--icon-file-code);
  --icon-file-js: var(--icon-file-code);
  --icon-file-ttf: var(--icon-file-font);
  overscroll-behavior: none;

  font-size: 14px;
}
@media (min-width: 768px) {
  ul {
    display: unset;
    flex-wrap: unset;
  }
  ul li {
    width: unset;
    padding-right: unset;
  }
}
@media (min-width: 992px) {
  body {
    padding: unset;
  }
  h1,
  header h1 a {
    font-size: 1em;
  }
  ul li {
    font-size: 1em;
    box-sizing: initial;
    justify-content: unset;
  }
}
svg {
  height: 1em;
  /*   vertical-align: text-bottom; */
}

body {
  display: flex;
  margin: 0;
  padding: 0.5ch;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  letter-spacing: 0.01ch;
  line-height: normal;
  background: unset;
  background-color: #222;
  color: #eee;
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
  box-sizing: border-box;
  user-select: none;
}
main {
  max-width: unset;
  display: flex;
  flex-direction: column;
  width: 100%;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1ch 0.2em 0.5ch;
}
header h1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: #eee;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}
header h1 :is(a, i) {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  color: inherit;
  font-style: normal;
}

ul {
  color: inherit;
  margin: 0;
  padding: 0;
  column-width: clamp(220px, 24vw, 260px);
  /*   column-count: 3; */
  column-gap: 1ch;
  /*   display: inline flex; */
  flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  max-height: min(100vh, 100%);
  /*   max-height: 100vh; */
  height: auto;
  width: 100%;
  overflow-x: visible;
}
li {
  color: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
}
li:has(a:hover) {
  background-color: #000;
}
/*li:has(> .html) { order: -10; }
li:has(> .css) { order: -6; }
li:has(> .js) { order: -6; }
li:has(> .json) { order: -8; } */
li:has(> .folder) {
  order: -100;
}
li:has(> [title^='.']):not(li:has(> [title^='.']) ~ li) {
  outline: 1px solid #f0f;
  /*   opacity: 1; */
  /*   align-self:   end; */
  /*   margin-top: auto; */
  /*   flex:  100%; */
}
li:has(> [title^='.']) {
  order: 1;
  opacity: 0.2;
}
ul:has(li > [title^='.']:hover) > li:has([title^='.']) {
  opacity: 0.6;
}
ul:has(li > [title^='.']:hover) > li:has(> [title^='.']:hover) {
  opacity: 1;
}
li:has(> .html) {
  background-color: #00d;
  box-shadow: -1px -1px 0 0 #0aa;
}
li:has(> .html):hover
  ~ li:not(:has(> .html)):not(
    li:has(> .html):hover ~ li:has(> .html):not(:hover) ~ li
  ) {
  background-color: #008d;
  box-shadow: -1px -1px 0 0 #0aa8;
}
ul a,
header h1 a {
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  --icon-size: 1em;
  --icon-space: 1.2lh;
  --icon-position: left calc((var(--icon-space) - var(--icon-size)) * 0.5)
    center;
  --icon-default: var(--icon-file-text);
  display: flex;
  content: '';
  position: static;
  text-align: start;
  flex: 1 0 !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: var(--icon-size);
  background-position: var(--icon-position);
  background-image: var(--icon, var(--icon-default));
  margin: 0 0 0 0;
  padding: 0.2em 0 0.2em calc(var(--icon-space) + 0.5ch);
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
ul a:hover {
  text-decoration: underline;
}
ul a::before {
  display: none !important;
  content: none !important;
}

.file.html {
  --icon: var(--icon-file-html);
}

.folder {
  --icon: var(--icon-folder-closed);
  --icon-space: 1.2lh;
  --icon-size: 1lh;
}
.folder:hover,
header h1 a {
  --icon: var(--icon-folder-open);
  --icon-space: 1.2lh;
  --icon-size: 1.2lh;
  --icon-position: left 0.1lh center;
}

@media (min-width: 768px) {
  :root {
  }
  ul {
  }
  ul li {
  }
}
@media (min-width: 992px) {
  :root {
  }
  body {
  }
  h1,
  header h1 a {
  }
  ul li {
  }
}
