#result1 > div:nth-child(7) {
  display: none;
}
:root {
  --f-tinydots: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22%3E\
    %3Cfilter id=%22filter-pixelate%22 x=%220%22 y=%220%22 width=%22100%25%22 height=%22100%25%22%3E\
      %3CfeFlood x=%220.8px%22 y=%221px%22 height=%222%25%22 width=%222%25%22/%3E\
      %3CfeComposite x=%220.3%25%22 y=%22-0.2%25%22 width=%221%22 height=%222%22/%3E\
      %3CfeTile x=%220%25%22 y=%220%25%22 width=%22100%25%22 height=%22100%25%22 result=%22a%22/%3E\
      %3CfeComposite in=%22SourceGraphic%22 in2=%22a%22 operator=%22in%22/%3E\
    %3C/filter%3E\
    %3C/svg%3E#filter-pixelate');
  --f-smalldots: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22%3E\
    %3Cfilter id=%22filter-smalldots%22 x=%220%22 y=%220%22 width=%22100%25%22 height=%22100%25%22%3E\
      %3CfeFlood x=%222px%22 y=%222px%22 height=%22100%25%22 width=%22100%25%22/%3E\
      %3CfeComposite x=%220.5px%22 y=%220.5px%22 width=%224px%22 height=%224px%22/%3E\
      %3CfeTile x=%220%25%22 y=%220%25%22 width=%22100%25%22 height=%22100%25%22 result=%22a%22/%3E\
      %3CfeComposite in=%22SourceGraphic%22 in2=%22a%22 operator=%22in%22/%3E\
    %3C/filter%3E\
    %3C/svg%3E#filter-smalldots');
}

:root,
body,
header,
.inversed {
  background-color: #191919;
  color: #eee;
  --c-header: #3453a6;
  --img-times: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%22160%22 height=%22102%22 version=%221.0%22%3E%3Cpath fill=%22%233453a6%22 d=%22M62.5 1.9c-12.4 3.65-22.3 9.55-35.15 20.85-7.15 6.3-25.4 26-26.15 28.2-1.5 4.3 17.2 24.35 28 30.05 11.8 6.25 11.1 7.85-4.45 10.85C18 93.15 10.05 95.05 7 96l-5.5 1.8 5.05.1c7.5.15 45.25-5.15 60.7-8.55 5.35-1.15 2.55 1.2-7.3 6.15-8.4 4.25-13.1 7.5-8.7 6 .7-.2 6.2-1.35 12.25-2.5 14.4-2.7 54.8-11.45 69.9-15.05 6.55-1.6 15.25-4.45 19.25-6.35l7.35-3.5-.05-12.8-.05-12.8-25.4-16.8C91.85 3.4 77.55-2.5 62.5 1.9m29.65 9.25c5.15 2.5 16.2 9.1 24.6 14.7L132 35.95v15.2l-2.75-.55c-1.5-.3-13.45-2.85-26.5-5.6-13.1-2.75-27.25-5.4-31.5-5.9-7.75-.9-10.8-.85-40.75.35-14.75.65-15.85.55-14-.9 3.65-2.95 11.85-4.65 25.5-5.2 15.2-.6 22.45-2.2 26.9-5.9 3.15-2.65 10.45-13.8 9.9-15.15-.45-1.05-12.55-.45-24.2 1.25-11.9 1.75-12.4 1.55-4.8-1.9 16.35-7.3 28-7.45 42.35-.5M68.1 21c-6.5 5.95-8.6 6.65-21.85 7.5-11.6.75-12.15.3-5.5-4.2 7.45-5.1 17.5-7.95 28.25-8.15l4.5-.05zM43.5 44.95c3.2.15 3.6.35 2 1.05-2.45 1.05-28.05 1.25-31.5.25-5.05-1.5 10.95-2.2 29.5-1.3m46 2.15C115.2 51.35 133 57.05 133 61c0 .45-8.95.55-19.85.25-23.3-.65-23.2-.65-31.55 5.65l-6.45 4.9-1-2.65c-.5-1.45-2.8-7.75-5.05-14.05l-4.15-11.35 6.3.65c3.45.4 11.65 1.6 18.25 2.7m51.95-.65L147 48.9v9.8l-5.2.65c-2.85.3-5.25.5-5.35.4-.4-.55-1.25-15.75-.9-15.75.2 0 2.9 1.1 5.9 2.45m-79.8 4.9C62.7 52.4 72 75.3 71.6 75.75c-1.05 1.05-37.4.6-41.2-.55C22.6 72.9 3.15 53 7.25 51.5c2.95-1.1 53.35-1.25 54.4-.15m92.8.2c1.85 1.9 2.05 5.55.35 7.25-3.25 3.25-6.75-1.05-4.75-5.9 1.35-3.3 2.15-3.55 4.4-1.35M132 66.5c4.7.25 11.75.45 15.75.5 10.8 0 8.9 1.3-8 5.35C94.2 83.3 85.85 85.1 79.1 85.7c-8.5.7-8.45 1.25-.7-8.5 9.95-12.45 12.3-12.9 53.6-10.7M57.9 82.35c1.35 1.65.55 4.25-1.55 5.05-1.9.75-5.35-1.05-5.35-2.75 0-3.25 4.75-4.85 6.9-2.3%22/%3E%3C/svg%3E%0A');
}
:is(a, a:link, a:hover, a:visited, a:active) {
  color: #eee;
  text-decoration: none;
}
:is(a#home, a#home:link, a#home:visited, a#home:active, a#home:hover) {
  color: hsl(from var(--c-header) h s 60% / 80%);
}
header {
  background-image:
    linear-gradient(
      to right,
      hsl(from var(--c-header) h s l / 0%),
      hsl(from var(--c-header) h s l / 60%)
    ),
    var(--img-times);
  background-origin: padding-box, content-box;
  background-size:
    100vw 100%,
    contain;
  margin: 0 0 1em 0;
  border: 5px dashed #0004;
  border-width: calc(var(--ol) * 0.5) 5px calc(var(--ol) * 1.6) 5px;
  background-position:
    center left,
    bottom left;
  padding: 0.6em 2ch 1em 2ch;
  border-style: dotted solid;
  margin-bottom: 1em;
}
header > #credit,
header > #credit > a {
  color: hsl(from var(--c-header) h s 90% / 80%);
}
#footer {
  padding-bottom: 50vh;
}

#footer {
  padding-bottom: 50vh;
}
.results > li {
  display: grid;
  grid-auto-flow: column;
  grid-column: 1/-1;
}
.results > li > * {
  display: flex;
}
.results > li > strong {
  grid-area: times;
  display: grid;
  grid-template-columns: [originname-start origindep-start] 100fr [origindep-end sep-start] 10fr [originname-end destname-start] 10fr [sep-end destarr-start] 100fr [destarr-end destname-end];
  place-items: center;
  color: #ff6;
  grid-template-rows: [originname-start destname-start] 1fr [originname-end destname-end destarr-start origindep-start sep-start] 1fr [sep-end destarr-end origindep-end];
  column-gap: 1ch;
  overflow: hidden;
  background-image: linear-gradient(#000, #000);
  padding: 0.2em 0.5ch;
  letter-spacing: 0.04ch;
  background-origin: border-box;
}
.results > li > small {
  /*! display: contents; */
  grid-area: duration;
  word-spacing: 100vw;
  height: 1lh;
  overflow: clip;
}
.results > li > small > .ical {
  grid-area: ical;
  text-decoration: none;
  color: #fff;
  display: none;
}
.results > li > small > .change_link {
  grid-area: changes;
  text-decoration: none;
  color: #fff;
}
.results > li > small > .calling_link {
  background-color: #191919;
  color: #eee;
  display: none;
}
.results > li > small > .fares_link {
  grid-area: fares;
  display: none;
}
.results > li::before {
  grid-area: before;
  content: '';
  display: flex;
  background-image:
    linear-gradient(#0000 0 0),
    repeating-conic-gradient(
      from var(--st) at 50% 50%,
      hsl(from var(--c) h s calc(l * 1.2) / 100%) 0 var(--xa),
      hsl(from var(--c) h s calc(l * 0.6) / 100%) var(--xa) var(--x)
    ),
    repeating-conic-gradient(
      from var(--st) at 50% 50%,
      hsl(from var(--c) h s calc(l * 1.2) / 100%) 0 var(--xa),
      hsl(from var(--c) h s calc(l * 0.6) / 100%) var(--xa) var(--x)
    ),
    repeating-conic-gradient(
      from var(--st) at 50% 50%,
      hsl(from var(--c) h s calc(l * 0.6) / 100%) 0 var(--xa),
      hsl(from var(--c) h s calc(l * 1.2) / 100%) var(--xa) var(--x)
    ),
    linear-gradient(hsl(from var(--c) h 50% 6% / 80%));
  background-blend-mode: soft-light;
  background-size:
    100% 100%,
    calc(var(--b2) * var(--bs)) calc(var(--b2) * var(--bs)),
    var(--bs) var(--bs),
    calc(var(--b1) * var(--bs)) calc(var(--b1) * var(--bs)),
    100% 100%;
  background-attachment: local, local, fixed, local, local;
  --bs: 20px;
  --b1: 1.25;
  --b2: 0.5;
  --st: 160deg;
  --x: 222deg;
  --st: calc(var(--o) - (var(--xa) * 0.5));
  --o: 0deg;
  --x: 90deg;
  --a: 60;
  --xa: calc(var(--x) * var(--a) * 0.01);
  box-shadow:
    0 0 #0000,
    inset 0 calc(((var(--t, 0) * 0.5) + var(--f, 0)) * var(--u))
      calc(var(--f, 0) * var(--u))
      calc((var(--t, 0) + var(--b, 0) + var(--f)) * -1 * var(--u)) var(--c),
    inset 0px 0px 4px 10px hsl(from var(--c) h 50% 6% / 88%);
  outline-offset: 0px;
  padding: 14px;
  padding: calc((var(--t, 0) + (var(--f) * var(--s))) * var(--u))
    calc((var(--r, 0) + (var(--f) * var(--s))) * var(--u))
    calc((var(--b, 0) + (var(--f) * var(--s))) * var(--u))
    calc((var(--l, 0) + (var(--f) * var(--s))) * var(--u));
  --t: 4;
  --r: 10;
  --b: 4;
  --l: 30;
  --f: 14;
  --c: #0a0;
  --u: 1px;
  --s: 0.5;
}

#content {
  display: grid;
  padding: 0;
  max-width: unset;
  grid-template-columns: [fromto-start earlier-start results-start result-start] 10fr [earlier-end] 20fr [ livedep-start] 80fr [livedep-end] 20fr [later-start] 10fr [later-end results-end result-end fromto-end];
  grid-template-rows: [earlier-start later-start] 1fr [earlier-end later-end fromto-start] 1fr [fromto-end results-start] auto [results-end earlier-start later-start] 1fr [earlier-end later-end];
}
.earlierlater:has(~ .earlierlater) {
  float: unset;
  display: contents;
  width: auto;
  justify-content: space-between;
  margin-right: 0;
}
.earlierlater:has(~ .earlierlater) > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 1.5ch;
  margin: 0;
  margin: 0 0 1em 0;
  background-color: #222;
  border-radius: 0 1em 1em 0 / 0 3em 3em 0;
  box-shadow: inset -4px 0 0.5px 1px var(--c-header);
}
.earlierlater:has(~ .earlierlater) > a ~ a {
  border-radius: 1em 0 0 1em / 3em 0 0 3em;
  box-shadow: inset 4px 0 0.5px 1px var(--c-header);
}
.results-out {
  grid-area: results;
  display: contents;
}
.results {
  grid-area: results;
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-rows: auto;
}
.earlierlater {
  display: contents;
}
.earlierlater ~ .earlierlater {
  display: none;
}
[data-type='out-earlier'] {
  grid-area: earlier;
}
[data-type='out-later'] {
  grid-area: later;
}
#content > h2 {
  grid-area: fromto;
}
#livedep {
  display: grid;
  grid-area: livedep;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}
#livedep > li:nth-of-type(1) {
  grid-column: 1/-1;
  grid-row: auto;
}

#credit {
  float: unset;
  margin: 0;
  line-height: normal;
  display: flex;
  flex-wrap: nowrap;
  white-space-collapse: preserve-spaces;
}
header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}
#content > h2 {
  flex-direction:;
  grid-template-columns: auto 3fr auto 2fr 20fr;
  white-space: pre;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  display: inline-flex;
  column-count: 1;
}
[id='content'] > h2 > span {
  display: flex;
  width: auto;
  width: 100%;
  flex: 10 1 auto;
  break-before: avoid;
  break-after: always;
}
#content > h2 > span {
}

#content > h2:nth-of-type(1) {
  /*! display: none; */
}
h2 {
}
[data-text=','] {
  display: none;
}
[data-orig]:not([data-text]) {
  display: contents;
}
#expand_all {
  display: none;
}

.results > li {
  grid-template-areas: '. duration duration duration .   ' 'before platdep times    platarr ical' '. changes changes  changes .   ' '. stops   stops    stops   .   ' '. fares   fares    fares   .   ';
  grid-template-columns: 10fr 12fr 100fr 12fr 10fr;
}

.results > li > small {
  place-self: center;
  width: min-content;
  text-align: center;
}

.results > li::before {
  --bs: calc(var(--bsize) * var(--u));
  --t: 3;
  --r: 3;
  --b: 3;
  --l: 3;
  --f: 10;
  --u: 0.1em;
  --s: 2;
  --ei: 10;
  --ef: 8;
  --bi: 2;
  border-color: #444;
  border-width: calc(2 * var(--u)) calc(2 * var(--u)) calc(3 * var(--u))
    calc(3 * var(--u));
  border-style: ridge groove groove ridge;
  background-origin: content-box, border-box, padding-box, border-box;
  background-clip: padding-box, border-box, padding-box, padding-box;
  box-shadow:
    0 0 #0000,
    inset 0 calc(((var(--t, 0) * 0.5) + var(--f, 0)) * var(--u))
      calc(var(--f, 0) * var(--u))
      calc((var(--t, 0) + var(--b, 0) + var(--f)) * -1 * var(--u)) var(--c),
    inset 0px 0px calc(var(--ef) * var(--u)) calc(var(--ei) * var(--u))
      hsl(from var(--c) h 50% 6% / 88%),
    calc(-0.5 * var(--u)) calc(-1 * var(--u)) calc(0.2 * var(--u))
      calc(var(--bi) * var(-u)) #556;
  margin: auto 0 auto 8px;
  border-radius: 50% / 50% 52% 52% 50%;
  width: var(--w);
  height: auto;
  aspect-ratio: 1;
  --w: 2px;
  --bsize: 16;
  justify-self: center;
}

.results > li:nth-child(3)::before {
  --c: #b00;
}

.results > li:nth-child(4)::before {
  --c: #ffe600;
}

.platform {
  color: #eee;
  background-color: #222;
  font-size: 1.2em;
  font-family: Menlo, monospace;
  place-self: center;
  padding: 0.2em 0.5ch;
  height: fit-content;
  margin: 0.2em 0.2ch;
  line-height: normal;
}
.results > li > .platform {
  grid-area: platdep;
}
.results > li > .platform ~ .platform {
  grid-area: platarr;
}

.results > li {
  box-shadow:
    inset 0 2px 4px -2px #333,
    inset 0 -3px 4px -2px #111;
}

.js .slide,
.js .statusbox {
  max-height: unset;
  overflow-y: unset;
  display: unset;
  transition: unset;
}
.results > li > .nojs-changes {
  outline: 1px dashed #880;
  display: contents;
}
.alt {
  background-color:;
}
:root {
  --theme-button-color: #222;
  --theme-visited: #eee;
  --theme-background: #191919;
  --theme-foreground: #eee;
  --theme-link: #eee;
  --theme-link-inversed: #eee;
  --theme-link-header: hsl(from var(--theme-header) h s 60% / 80%);
  --theme-button: #eee;
  --theme-front-form: #dfe2fe;
  --theme-header: #3453a6;
}
#livedep > li {
  grid-area: livedep;
  grid-column: 1/-1;
  grid-row: auto;
}
.fares {
  grid-area: fares;
}
.results > li .changestext {
  grid-area: changes;
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-flow: column dense;
  grid-template-rows: repeat(
    auto-fit,
    [platdep-start times-start platarr-start] auto [ times-end stops-start] auto
      [platdep-end platarr-end stops-end]
  );
}
.innertable,
.innertable > :is(tbody, thead),
.innertable > :is(tbody, thead) > :is(tr),
.innertable > :is(tbody, thead) > :is(tr) > :is(td) {
  display: contents;
}
.innertable > :is(tbody, thead) > :is(tr) > :is(th) {
  display: none;
}
.innertable > :is(tbody, thead) > :is(tr) > :is(td):not(:has(> *)) {
  display: flex;
}
.innertable > :is(tbody, thead) > :is(tr) > :is(td.origin, td.destination) {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: repeat(
    auto-fit,
    [platdep-start times-start platarr-start] auto [ times-end stops-start] auto
      [platdep-end platarr-end stops-end]
  );
  place-self: center;
  place-items: center;
}
.changestext .origin {
  grid-column: platdep;
  grid-row: auto/span platdep-end;
}
.changestext .destination {
  grid-column: platarr;
  grid-row: auto/span platarr-end;
}
.changestext br {
  display: contents;
}
.changestext td:has(.times, .times ~ .faded) {
  grid-column: times;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.changestext .times {
  grid-column: 2;
}
.changestext .times ~ .faded {
  justify-self: end;
  grid-column: 1;
}
.changestext .calling_link_inner {
  grid-column: stops-start/stops-end;
  grid-row: auto/span stops-end;
  place-self: center;
}

.results > li :is(strong > span, strong::before, small) {
  filter: var(--f-tinydots);
}
.results > li > .platform {
  filter: var(--f-smalldots);
  font-size: 3em;
  place-self: center;
  justify-items: first baseline;
  height: auto;
  align-items: center;
  box-shadow:
    inset -3px -2px 0.5px 0 #333,
    inset 3px 2px 0.5px 0 #000;
}
.results > li > strong :is(.arr, .dep) {
  font-size: calc(var(--font-size-times, 1.7) * 1em);
  letter-spacing: calc(var(--letter-sp-times, 0.02) * 1ch);
}
.results > li > strong :is(.name) {
  font-size: calc(var(--font-size-names, 1.2) * 1em);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: '.';
  letter-spacing: calc(var(--letter-sp-names, 0.02) * 1ch);
  font-weight: 300;
  width: 100%;
}
.results > li > strong .origin.name {
  grid-area: originname;
  justify-self: start;
}
.results > li > strong .dest.name {
  grid-area: destname;
  justify-self: end;
  text-align: end;
}
.results > li > strong :is(.origin.dep, .dest.arr) {
  font-weight: 600;
}
.results > li > strong :is(.origin.dep) {
  grid-area: origindep;
  justify-self: start;
  text-align: start;
}
.results > li > strong :is(.dest.arr) {
  grid-area: destarr;
  justify-self: end;
  text-align: end;
}
.origin + .sep {
  grid-area: sep;
  justify-self: center;
  text-align: center;
}
.results > li > strong :is(span) {
  filter: var(--f-tinydots);
}
.results > li > strong::before {
  content: '';
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-image:
    linear-gradient(
      90deg,
      #4444 0 1px,
      #5558 2px,
      #4444,
      #5558 calc(100% - 1px),
      #4444 calc(100% - 1px) 100%
    ),
    linear-gradient(
      90deg,
      #4444 0 1px,
      #5558 2px,
      #4444,
      #5558 calc(100% - 1px),
      #4444 calc(100% - 1px) 100%
    );
  background-size:
    calc(
        (var(--font-size-names) * 1ch) +
          ((var(--font-size-names) * 1ch) * var(--letter-sp-names))
      )
      40%,
    calc(
        (var(--font-size-times) * 1ch) +
          ((var(--font-size-times) * 1ch) * var(--letter-sp-times))
      )
      40%;
  background-position:
    top 10% left calc(var(--letter-sp-names) * (var(--font-size-names) * -1ch)),
    bottom 10% left
      calc(var(--letter-sp-times) * (var(--font-size-times) * -1ch));
  background-repeat: repeat no-repeat;
  background-origin: border-box;
  grid-gap: 0;
  width: 100%;
  height: 100%;
  display: flex;
  filter: var(--f-tinydots);
}
.results > li > strong {
  --font-size-names: 1.2;
  --letter-sp-names: 0.02;
  --font-size-times: 1.7;
  --letter-sp-times: 0.02;
  font-family: Menlo, monospace;
}
.results > li > .platform > .sr-only {
  display: none;
}
