:root {
  --section-border-width: 0.44em;
  --section-border: var(--section-border-width) solid #262626;
  --section-border-radius: 1em;
  --item-size: 3rem;
  --item-gap: calc(var(--item-size) * 0.22);
  font-size: clamp(10px, max(2vh, 2vw), min(4vh, 4vw, 20px));
  line-height: 14px;
}

fieldset label {
  font-family: monospace;
}
fieldset datalist {
  place-items: center;
  grid-template-columns:
    [sm]repeat(9, calc(((100% - (var(--offset) * 2)) / 8)))
    [em];
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  --offset: 10px;
  --wmark: calc(((100% - (var(--offset) * 2)) / 8));
  top: -1.3em;
  width: 100%;
  font-size: 0.8em;
  line-height: 1.2em;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-sizing: border-box;
  z-index: -1;
  background-image: linear-gradient(to bottom, #0000, #000 20%, #0000 60%);
  display: flex;
  position: relative;
}
option:first-of-type {
  flex: 1 1 auto;
  align-items: start;
}
option {
  justify-content: center;
  left: 10px;
  flex-direction: column;
  width: auto;
  flex: 2 1 auto;
  border-radius: 0 0 0 80px/20px 50px;
  background-repeat: no-repeat;
  background-size:
    4em 3em,
    10em 3em;
  background-position: center;
  background-color: transparent;
  align-items: center;
  display: flex;
  position: relative;
}
option::after {
  content: attr(value);
  text-align: center;
  background-image:
    radial-gradient(
      circle at -60% -24%,
      #ffbb19de 34%,
      #fff0 50%,
      #fff0 90%,
      #a099 95%,
      #000d 98%
    ),
    radial-gradient(
      farthest-corner at 90% -70%,
      #0000,
      #0004 2%,
      red,
      #ffa700 61%,
      #be9f9f,
      #9e5050 90%,
      #3f0505 100%
    );
  height: 1.5em;
  line-height: 1.3em;
  padding-top: 0.4em;
  border-radius: 10% 70%/70% 10%;
  filter: drop-shadow(0 0 4px #000) grayscale(1);
}
option::after,
option::before {
  display: block;
  min-width: 20px;
  width: 2em;
  margin: 0 0.75em;
}
option::before {
  content: '|';
}
option::before {
  text-align: center;
}
fieldset:has(input[type='range']) {
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  display: grid;
  grid-row: auto;
  margin: 0;
  padding: 0.2em 0.5ch;
  border: var(--section-border);
  border-width: calc(var(--section-border-width) * 0.5)
    var(--section-border-width) calc(var(--section-border-width) * 0.5)
    var(--section-border-width);
  box-shadow:
    var(--j) var(--j) 0 var(--j) #044,
    var(--i) var(--j) 0 var(--j) #440,
    var(--i) var(--i) 0 var(--j) #404,
    var(--j) var(--i) 0 var(--j) #400,
    inset var(--j) var(--j) 0 var(--j) #606,
    inset var(--i) var(--j) 0 var(--j) #600,
    inset var(--i) var(--i) 0 var(--j) #066,
    inset var(--j) var(--i) 0 var(--j) #666c00,
    inset var(--j) var(--i－) 0 var(--j) #055,
    inset var(--j) var(--i) 2px var(--j) #550;
  --i: calc(var(--section-border-width) * 6);
  --j: calc(var(--i) * -1);
  border-radius: 10ch / 1ch;
  --j－: calc(var(--j) * 0.9);
  --j＋: calc(var(--j) * 1.1);
  --i－: calc(var(--i) * 0.9);
  --i＋: calc(var(--i) * 1.1);
}

input[type='range'] {
  position: relative;
  border-radius: 1em;
  background: transparent;
  cursor: pointer;
  width: calc(100% - 1.5em);
  margin: 0;
  padding: 0 0.75em;
}

input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-moz-range-track {
  background: repeating-linear-gradient(
    10deg,
    #222,
    #777 0.4em 0.6em,
    #222 1em
  );
  border-radius: 55px;
  border: 1px solid #6d6d6d;
  border-width: 3px 2px 3px 2px;
  border-color: #444 #666 #666 #333;
  border-style: ridge;
  box-shadow:
    0 0 2px 1px #000,
    0 0 1px 0 #000 inset;
}

input[type='range']::-webkit-slider-thumb,
input[type='range']::-moz-range-thumb {
  width: 0.6em;
  padding: 0.1em 0.3em;
  margin: 0;
  background:
    radial-gradient(
      circle at top left,
      #fcfcfc33 13%,
      #ffffff45 35%,
      #2e2e2e0f 62%,
      #fff4 84%,
      #fff3
    ),
    linear-gradient(70deg, red 0, blue 50% 59%, red);
  border-style: groove ridge ridge groove;
  box-shadow:
    0 0 2.4px 0 black,
    0 0 6px 0.4px black,
    0 0 2px 2px #0009 inset;
  border-radius: 0.4em;
  border-width: 1.6px;
  cursor: pointer;
}

input[type='range']:active,
input[type='range']:active::-webkit-slider-thumb,
input[type='range']:active::-moz-range-thumb {
  cursor: grabbing;
}

input[type='range']::-webkit-slider-progress,
input[type='range']::-moz-range-progress {
  border-radius: 0.4em;
  background-color: #009fff6e;
  border-width: 3px 2px 3px 2px;
  border-style: solid;
  border-color: transparent;
  background-clip: content-box;
  box-shadow: 0 0 1px 0 #ffffff82 inset;
}

input[type='range'] label::before,
input[type='range'] output {
  position: absolute;
  display: flex;
  left: calc(var(--bound-val-stroke-width, 0) * 1px);
  content: var(--bound-str-stroke-width);
  width: 2em;
  height: 2em;
}

input[type='range'].metal::-webkit-slider-thumb,
input[type='range'].metal::-moz-range-thumb {
  border-radius: 60px 4px 31px 31px / 10px 9px 75px 75px;
  background:
    linear-gradient(-45deg, #fff3, #0006, #0003),
    linear-gradient(70deg, red 0, blue 50% 59%, red),
    linear-gradient(-370deg, #ff7800 0, white 50% 59%, #2315d3);
  padding: 0.12em 0.14em;
  box-shadow:
    0 0 0.4px 1px black,
    0 0 4px 0.4px black,
    0.4px 0.4px 1px 0.4px #000d inset;
  border-style: double;
  border-width: 0.22em;
  border-color: #0000000d;
  background-clip: padding-box, padding-box, border-box;
  background-size:
    36% 15%,
    86% 70%,
    160% 160%;
  background-position:
    -300% 70%,
    30%,
    -90% -340%;
}

input[type='range'].glass::-webkit-slider-thumb,
input[type='range'].glass::-moz-range-thumb {
  background:
    linear-gradient(-45deg, #fff3, #0006, #0003),
    linear-gradient(70deg, red 0, blue 50% 59%, red),
    linear-gradient(10deg, #ff780022 0%, #fff7 54% 58%, #2315d333 68%);
  padding: 0.12em 0.14em;
  box-shadow:
    0 0 0.4px 1px black,
    0 0 4px 0.4px black,
    0.4px 0.4px 1px 0.4px #000d inset;
  border-radius: 60px 4px 31px 31px / 10px 9px 75px 75px;
  border-style: double;
  border-width: 0.24em;
  border-color: #0000000d;
  background-clip: padding-box, padding-box, border-box;
  background-size:
    36% 15%,
    86% 70%,
    160% 160%;
  background-position:
    -300% 70%,
    30%,
    0% -340%;
}
